#abuse_css {
  display: none;
}

#tab_custom {
  display: none;
}
#ab_bar {
  padding: 10px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
}
#ab_search_wrap {
  clear: left;
  padding: 0;
  position: relative;
}
#ab_search {
  margin: 0;
  padding: 5px 4px 4px 20px;
  width: 155px;
  height: 14px;
  line-height: 1.27em;
  background: #FFF url(/images/magglass.png) no-repeat 5px 6px;
}
#ab_summary_wrap {
  padding-top: 12px;
}
#ab_summary {
  padding-top: 4px;
}
#ab_progress {
  height: 21px;
  background-position: 50% 50%;
}

.ab_tab, .ab_tab_selected, .ab_tab_over {
  cursor: pointer;
  padding: 3px 0px 2px 5px;
  float: right;
}
.ab_tab2 {
  padding: 3px 6px 4px;
}
.ab_tab_over .ab_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
}
.ab_tab_selected .ab_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #597DA3;
}
.ab_tab3 {
  font-weight: bold;
  color: #45688E;
  padding-left: 2px;
  padding-right: 5px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ab_tab3_nav {
  padding-right: 2px;
}
.ab_tab_selected .ab_tab3 {
  color: #FFF;
}

.ab_tabx {
  margin-top: 2px;
  width: 11px;
  height: 11px;
}
.ab_tab .ab_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  filter: alpha(opacity=12);
}

.ab_tab_over .ab_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.ab_tab_selected .ab_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.ab_tab_selected .ab_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 1;
  filter: alpha(opacity=100);
}


#all_shown {
  margin-top: -1px;
  border-top: 1px solid #CAD1D9;
  color: #777;
  display: block;
  padding: 10px 0px;
  text-align: center;
}

#ab_empty {
  color: #777;
  font-size: 1.09em;
  line-height: 170%;
  padding: 50px;
  text-align: center;
}
#ab_more_link {
  margin-top: -1px;
  padding: 10px 0;
  margin: -1px 0 0;
  display: block;

  text-align: center;
  border-top: 1px solid #DAE1E8;
}
#ab_more_progress {
  margin: 0 auto;
  height: 13px;
}
#ab_more {
  height: 13px;
}
#ab_more_link:hover {
  text-decoration: none;
  background: #E9EDF1;
}


.ab_abuserow {
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid #D9E0E8;
}
td.ab_abuserow_photo {
  width: 120px;
  vertical-align: top;
}
td.ab_abuserow_info {
  vertical-align: top;
  line-height: 160%;
}
td.ab_abuserow_label {
  color: #777;
  width: 95px;
}
a.ab_abuserow_label_linked {
  color: #777;
}

td.ab_abuserow_labeled {
  vertical-align: top;
  padding-bottom: 4px;
}
div.ab_abuserow_labeled_text {
  width: 370px;
}
.ab_abuserow_label {
  vertical-align: top;
}
tr.ab_abuserow_abusers td.ab_abuserow_labeled,
tr.ab_abuserow_blockings td.ab_abuserow_labeled {
  color: #777;
}
.ab_abuserow_acitivities .ab_abuserow_label {
  color: #FFF;
}
.ab_abuserow_acitivities .ab_abuserow_labeled {
  padding-top: 15px;
}
.ab_abuserow_reason {
  color: #000;
  margin: 5px 0 2px 0px;
  border-left: 2px solid #C3D1E0;
  padding-left: 5px;
}
.ab_abuserow_activity {
  cursor: default;
  position: relative;
  padding: 0 4px 4px;
  margin-bottom: 13px;
}
.ab_abuserow_activity:last-child {
  margin-bottom: 0;
}
.ab_abuserow_activity_empty {
  color: #777;
  padding: 15px;
  text-align: center;
}
.ab_userow_activity_photo {
  position: absolute;
  padding-top: 2px;
}
img.ab_userow_activity_photo {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
div.ab_abuserow_activity_info {
  margin-left: 40px;
}
div.ab_abuserow_activity_label {
  color: #777;
}
div.ab_abuserow_activity_label a.mem_link {
  font-weight: bold;
}
div.ab_abuserow_activity_text {
  width: 300px;
}

/* Porn */
.ab_abuserow_cursection {
  font-weight: bold;
}
.ab_abuserow_activityheader {
  padding: 15px 0 10px;
}
.ab_owner_header_progress {
  float: right;
}
.ab_abuserow_acitivity .ab_abuserow_label {
  color: #FFF;
}
.ab_abuserow_activity_check {
  cursor: pointer;
  width: 21px;
  height: 21px;
  background: url(/images/icons/plus_icon1.gif?2) 0 -42px no-repeat;
  margin-top: 8px;
  visibility: hidden;
}
.ab_abuserow_activity_over .ab_abuserow_activity_check {
  visibility: visible;
}
.ab_abuserow_activity_on .ab_abuserow_activity_check {
  background-position: 0 -63px;
  visibility: visible;
}
.ab_abuserow_activity_on {
   background: #EDF1F5;
 }

.ab_video {
  padding-right: 5px;
}
.ab_video div.ab_duration {
  width: 77px;
  margin-top: 41px;
  position: absolute;
  font-size: 0.9em;
  z-index: 10;
}
.ab_video div.ab_duration span.bg {
  background: #000;
  color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.ab_video div.ab_duration span {
  color: #FFF;
  padding: 0px 2px 0px;
}
.ab_video img {
  width: 77px;
}
.ab_video:hover {
  text-decoration: none;
}
.ab_photo {
  display: block;
  width: 77px;
  padding-right: 5px;
}
.ab_photo img {
  width: 77px;
}

div.ab_private {
  width: 9px;
  height: 9px;
  padding: 3px;
  /*margin-top: 41px;*/
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
div.ab_private i {
  display: block;
  width: 9px;
  height: 9px;
  background: url(/images/icons/photo_icons.png?2) -1px -35px no-repeat;
}
tr.ab_abuserow_solveform .ab_abuserow_labeled {
  padding-top: 15px;
}
.ab_abuserow_solveform .ab_abuserow_label {
  color: #FFF;
}
.ab_unblock_btn {
  width: 105px;
  padding: 6px 4px 6px 4px;
  margin-left: 10px;
  text-align: center;
  display: block;
  line-height: 1.18em;
}
a.ab_unblock_btn:hover {
  text-decoration: none;
  background: #E1E7ED;
}
div.ab_admin_solve_progress {
  background-position: 50% 50%;
  display: block;
  width: 310px;
  height: 25px;
}
div.ab_abuserow_solveform_text {
  padding: 6px 4px 6px 4px;
  line-height: 1.18em;
}

div#ab_full_photo {
  position: absolute;
  z-index: 200;
}
img.ab_full_photo {
  width: 200px;
}
.ab_abuserow_activity_attachments .post_media .audio .title_wrap {
  width: 240px;
}
.ab_abuserow_activity_attachments .post_media .audio .title_wrap b {
  max-width: 170px;
}
.ab_abuserow_activity_text .ab_abuserow_activity_attachments .post_media {
  padding: 4px 0 0;
}

/* Reasons box */
div.abuse_reasons_box_wrap {
  overflow-y: auto;
  overflow-x: none;
  height: 280px;
  padding: 10px 12px;
  position: relative;
}
div.ab_reason_row {
  min-height: 32px;
  *height: 32px;
  margin-bottom: 10px;
}
div.ab_reason_row:last-child {
  margin-bottom: 0;
}
div.ab_reason_row_photo {
  position: absolute;
  padding-top: 2px;
  line-height: 0;
}
img.ab_reason_row_photo {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
div.ab_reason_row_info {
  margin-left: 40px;
  line-height: 160%;
}
div.ab_reason_row_label {
  color: #777;
}
div.ab_reason_row_label a.mem_link {
  font-weight: bold;
}

/* Moderators list */
#ab_admin_moderators {
  padding: 20px;
  width: auto;
}
.ab_admin_moderators_row {
  cursor: pointer;
}
/*.ab_admin_moderators_row:hover {
  background: #edf1f5;
}*/
#ab_admin_moderators .ab_admin_moderators_row:hover td {
  background: #dae1e8;
}

.ab_stats_wrap {
  padding: 10px;
}
.ab_stats_summary {
  padding: 5px 15px;
}
.ab_stats_period {
  padding: 11px;
  font-weight: bold;
}
#ab_stats_prev {
  padding: 11px 0px 10px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#ab_stats_cal {
  position: absolute;
  margin-top: 35px;
  display: none;
  z-index: 5;
}
#ab_stats_cal .day {
  color: #999;
}
#ab_stats_cal .past_day,
#ab_stats_cal .today,
#ab_stats_cal .sel {
  color: #000;
}
#ab_stats_prev.over {
  opacity: 1;
}
.ab_stats_arrow {
  background: url(/images/toplink.gif?3) no-repeat 50% -22px;
  height: 14px;
  width: 20px;
}

.abuse_reasons_item {
  padding: 5px 0px;
}
.abuse_reasons_result {
  line-height: 150%;
  padding: 6px 0px;
}
.abuse_reasons_list {
  color: #000000;
  padding-top: 6px;
  padding-bottom: 2px;
  text-align: left;
  width: 190px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}


