#admin_css {display: none;}

.adm_additem_page_wrap {
  background-color: #F9F9F9;
  padding: 20px;
}

.adm_additem_page_wrap .info_msg {
  background-color: #FFFFFF;
}

.adm_additem_page_wrap .info_msg_title {
  font-weight: bold;
  color: #4E6E90;
  padding-bottom: 5px;
}

.adm_additem_box_wrap {
  padding: 0 18px 18px;
}

.adm_additem_box_wrap .info_msg {
  padding: 15px 18px;
  margin: 0 -18px;
  border: 0;
}

.adm_additem_box_wrap .info_msg_title {
  font-weight: bold;
  color: #4E6E90;
  padding-bottom: 5px;
}

.adm_additem_result {
  padding-top: 16px;
}

.adm_additem_box_wrap .adm_additem_result {
  padding-top: 16px;
}

.adm_additem_progress {
  float: left;
  position: relative;
  top: 11px;
  left: 10px;
  display: none;
}

.adm_additem_inputs {
  padding: 16px 55px 0;
}

.adm_additem_box_wrap .adm_additem_inputs {
  padding: 16px 0 12px;
}

.adm_additem_row {
  padding: 0px;
  height: 38px;
}

.adm_additem_row .label {
  clear: both;
  width: 130px;
  padding: 8px 10px 0 0;
  color: #555;
}

.adm_additem_row .labled {
  width: 252px;
}

.adm_additem_text_input {
  width: 208px;
}

.adm_additem_school_type_row {
  margin-right: 8px;
}

.adm_additem_row_control_wrap {
  padding: 8px 0 0 140px;
}

.adm_additem_row_control_wrap .button_cancel {
  margin-left: 8px;
}

.adm_additem_tabs {
  padding: 16px 55px 0;
}

.adm_additem_box_wrap .adm_additem_tabs {
  padding: 18px 0 0;
}

.adm_additem_tabs_title {
  color: #4E6E90;
  font-size: 1.18em;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

.adm_additem_rows_title {
  color: #4E6E90;
  font-size: 1.18em;
  font-weight: bold;
  margin: 0 0 16px;
}

.adm_additem_tab {
  cursor: pointer;
  height: 60px;
  width: 233px;
  position: relative;
  border-radius: 2px;
}

.adm_additem_tab:hover {
  background-color: #E6E9ED;
}

.adm_additem_tab.selected {
  background-color: #6186AD;
}

.adm_additem_tab .adm_additem_tab_icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 44px;
  height: 36px;
  background: url(/images/add_item_db_icons.png?v2) no-repeat 0 0;
}

#adm_additem_tab_school .adm_additem_tab_icon {
  background-position: 0 0;
}

#adm_additem_tab_school.selected .adm_additem_tab_icon {
  background-position: 0 -36px;
}

#adm_additem_tab_uni .adm_additem_tab_icon {
  background-position: 0 -72px;
}

#adm_additem_tab_uni.selected .adm_additem_tab_icon {
  background-position: 0 -108px;
}

#adm_additem_tab_faculty .adm_additem_tab_icon {
  background-position: 0 -144px;
}

#adm_additem_tab_faculty.selected .adm_additem_tab_icon {
  background-position: 0 -180px;
}

#adm_additem_tab_chair .adm_additem_tab_icon {
  background-position: 0 -216px;
}

#adm_additem_tab_chair.selected .adm_additem_tab_icon {
  background-position: 0 -252px;
}

#adm_additem_tab_street .adm_additem_tab_icon {
  background-position: 0 -288px;
}

#adm_additem_tab_street.selected .adm_additem_tab_icon {
  background-position: 0 -324px;
}

.adm_additem_tab .adm_additem_tab_title {
  color: #4E6E90;
  font-size: 1.09em;
  font-weight: bold;
  padding-top: 23px;
  padding-left: 75px;
}

.adm_additem_tab.selected .adm_additem_tab_title {
  color: #FFFFFF;
}