#ads_css {
  display: none;
}
/* ------- */
/* General */
/* ------- */
ul.ads_listing {
  padding: 0 0 0 30px;
  margin: 0 0 15px 0;
}
ul.ads_listing li {
  list-style: square;
  color: #758EAC;
  line-height: 160%;
}
ul.ads_listing li span {
  color: #000000;
}
a .ads_sub_link:hover {
  text-decoration: underline;
}
.ads_h2_add {
  font-weight: normal;
  font-size: 11px;
  padding-top: 0.185em;
}
.font_medium .ads_h2_add {
  font-size: 12px;
  padding-top: 0.14em;
}
.ads_gradient_progress_wrap {
  height: 18px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
}
.ads_gradient_progress {
  height: 18px;
  background: #597da3 url(/images/progress_grad.gif) repeat;
  border: 1px solid #45688E;
  margin: -1px;
}
/* ---- */
/* Page */
/* ---- */
#ads_page_wrap2 {
  border: 1px solid #EBF0F4;
  border-top: 0;
  width: 791px;
  float: right;
}
#ads_page_wrap1 {
  border: 1px solid #DAE1E8;
  border-top: 0;
  width: 789px;
  overflow: hidden;
}
#ads_page {
  padding: 20px;
}
#ads_page.ads_page_no_padding {
  padding: 0;
}
#ads_page_top {
  padding-top: 10px;
}
.ads_page_extra_wide #ads_page_wrap2,
.ads_page_extra_wide #ads_page_wrap1 {
  width: auto;
}
.ads_page_extra_wide #ads_page_wrap2 {
  float: none;
}
#ads_page_bottom_info {
  border-top: 1px solid #DAE1E8;
  background-color: #F7F7F7;
  text-align: center;
  padding: 6px 20px;
  color: #777777;
}
.ads_page_small {
  padding: 0 60px;
}
/* ----- */
/* Title */
/* ----- */
#ads_page_title {
  background-color: #E9EDF1;
  padding: 7px 10px;
  margin: 0;
  font-weight: bold;
  color: #607387;
  line-height: 140%;
}
#ads_page_title h1 {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#ads_page_title h1 a {
  color: #2B587A;
}
#ads_page_title b {
  color: #AAB7C5;
  float: right;
}
/* --------------- */
/* Main navigation */
/* --------------- */
.ads_page_extra_wide #ads_navigation {
  display: none;
}
#ads_navigation {
  width: 150px;
  padding: 12px 0 12px 0;
  word-wrap: break-word;
}
#ads_navigation .edit_button_wrap {
  padding-bottom: 10px;
}
#ads_navigation.ads_nav .nav {
  max-width: 128px;
}
#ads_navigation a:hover {
  text-decoration: none;
}
/* ------------------------------ */
/* Main navigation - offices menu */
/* ------------------------------ */
#ads_navigation.ads_nav #ads_navigation_offices_menu.nav {
  padding-right: 2px;
  width: 137px;
  max-width: 137px;
}
#ads_navigation.ads_nav #ads_navigation_offices_menu.nav .dd_link {
  display: block;
}
#ads_navigation.ads_nav #ads_navigation_offices_menu.nav .dd_link #ads_navigation_offices_menu_text_wrap {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  /* Remove extra margin from inline-block */
}
#ads_navigation.ads_nav #ads_navigation_offices_menu.nav .dd_link #ads_navigation_offices_menu_text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
  /* Remove extra margin from inline-block */
}
.font_medium #ads_navigation.ads_nav #ads_navigation_offices_menu.nav .dd_link #ads_navigation_offices_menu_text {
  font-size: 12px;
}
.dd_menu.ads_navigation_dd_menu_header_wrap {
  margin: 4px 0 0 7px;
}
.dd_menu.ads_navigation_dd_menu_header_wrap .dd_menu_header {
  width: 148px;
}
.dd_menu.ads_navigation_dd_menu_header_wrap .dd_menu_header div {
  background-position: right -14px;
  *background-position: right -13px;
}
.dd_menu.ads_navigation_dd_menu_header_wrap .dd_menu_header div #ads_navigation_dd_menu_header_text {
  padding: 1px 0 1px 4px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.dd_menu.ads_navigation_dd_menu_header_wrap .dd_menu_body .ads_office_name_wrap {
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  vertical-align: top;
}
/* ---------------------- */
/* Main navigation - news */
/* ---------------------- */
.ads_naviagation_news {
  padding: 20px 0 5px 11px;
}
.ads_naviagation_news .news_title {
  font-weight: bold;
  color: #2B587A;
  padding-bottom: 10px;
}
.ads_naviagation_news ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #758EAC;
}
.ads_naviagation_news li {
  padding-bottom: 10px;
}
.ads_naviagation_news span {
  color: #666666;
  font-size: 0.91em;
}
#ads_navigation .ads_naviagation_news a:hover {
  text-decoration: underline;
}
/* ---------- */
/* Navigation */
/* ---------- */
.ads_nav .nav {
  padding: 6px 11px 7px 11px;
  display: block;
  overflow: hidden;
}
.ads_nav .nav:hover {
  background-color: #E1E7ED;
  text-decoration: none;
}
.ads_nav .nav_selected,
.ads_nav .nav_selected:hover {
  background-color: #6186AD;
  color: white;
}
.ads_nav .nav_separator {
  border-bottom: 1px solid #D3DBE1;
  height: 1px;
  overflow: hidden;
  margin: 7px 0px 8px 0;
}
.ads_nav .nav_wf {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.ads_nav .nav_label {
  padding: 6px 0 7px 0;
}
.ads_nav .nav_feature {
  margin: 3px -6px 0 0;
  padding: 3px 5px 4px;
  background-color: #E1E7ED;
  color: #65819E;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  vertical-align: top;
}
/* ---- */
/* Tabs */
/* ---- */
.ads_tabs_filters {
  background-color: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
  padding: 10px 10px 5px 10px;
  overflow: hidden;
}
.ads_tabs_filters.separate {
  border-top: 1px solid #DAE1E8;
}
.ads_tabs_filters.small_bottom {
  padding-bottom: 0;
}
.ads_round_tab_wrap {
  padding: 0 5px 5px 0;
  text-align: center;
}
.ads_round_tab_wrap .round_tab.disabled:hover,
.ads_round_tab_wrap .round_tab.label:hover {
  background-color: transparent;
  cursor: default;
}
.ads_round_tab_wrap .round_tab.label {
  color: #555555;
}
.ads_round_tab_wrap .round_tab .ads_round_tab_hider {
  display: inline-block;
  width: 13px;
  height: 8px;
  background: url(/images/tabs_hider.png) no-repeat;
  background-size: 13px auto;
  background-position: 0 -8px;
}
.ads_round_tab_wrap .round_tab .ads_round_tab_hider.hide {
  background-position: 0 0;
}
.is_2x .ads_round_tab_wrap .round_tab .ads_round_tab_hider {
  background-image: url(/images/tabs_hider_2x.png);
}
.ads_round_tabs_period_day .round_tab,
.ads_round_tabs_period_week .round_tab,
.ads_round_tabs_period_month .round_tab {
  white-space: nowrap;
}
.ads_round_tabs_period_day .round_tab {
  min-width: 110px;
}
.ads_round_tabs_period_week .round_tab {
  min-width: 180px;
}
.ads_round_tabs_period_month .round_tab {
  min-width: 110px;
}
/* ------------ */
/* Intro - main */
/* ------------ */
.ads_intro_page,
.ads_intro_section_title {
  line-height: 160%;
}
.ads_intro_title,
.ads_intro_section_title {
  color: #5c7b9b;
}
.ads_intro_subsection_title,
.ads_intro_news_title {
  color: #4d7199;
}
.ads_intro_title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 16px;
}
.ads_intro_section_title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 10px 0 10px;
}
.ads_intro_subsection_title {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 8px;
}
.ads_intro_news_title {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #dae1e8;
  display: block;
}
.ads_intro_news_title:hover {
  text-decoration: none;
}
.ads_intro_subsection_text {
  color: #808080;
}
.ads_intro_header_wrap2 {
  height: 380px;
}
.ads_intro_header_wrap1 {
  height: 280px;
  background-color: #edf1f5;
  border-bottom: 1px solid #e1e6eb;
  padding: 22px 40px 0 40px;
  position: relative;
}
.ads_intro_text {
  width: 440px;
}
.ads_intro_main_image {
  background-image: url(/images/ads_intro_main.png);
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 70px;
  top: 30px;
}
.is_2x .ads_intro_main_image {
  background-image: url(/images/ads_intro_main_2x.png);
}
.ads_intro_sections {
  margin-right: -100px;
  top: 190px;
  position: absolute;
}
.ads_intro_section_button {
  width: 188px;
  height: 162px;
  background-color: #f4f6f8;
  border: 1px solid #e1e6eb;
  border-bottom: 2px solid #dce1e6;
  display: inline-block;
  margin-right: 43px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  top: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.ads_intro_section_button:hover {
  text-decoration: none;
  top: -8px;
}
.ads_intro_section_image {
  width: 95px;
  height: 82px;
  background-size: 95px auto;
  background-image: url(/images/ads_intro_icons.png);
  display: inline-block;
  margin-top: 16px;
}
.is_2x .ads_intro_section_image {
  background-image: url(/images/ads_intro_icons_2x.png);
}
.ads_intro_section_button2 .ads_intro_section_image {
  background-position: 0 -82px;
}
.ads_intro_section_button3 .ads_intro_section_image {
  background-position: 0 -164px;
}
.ads_intro_section_label {
  width: 60px;
  height: 60px;
  background-size: 60px auto;
  position: absolute;
  left: -2px;
  top: -2px;
}
.ads_intro_section_label.label_ru {
  background-image: url(/images/ads_intro_label_new_ru.png);
}
.ads_intro_section_label.label_en {
  background-image: url(/images/ads_intro_label_new_en.png);
}
.ads_intro_section_label.label_ua {
  background-image: url(/images/ads_intro_label_new_ua.png);
}
.ads_intro_subsections {
  padding: 3px 25px 20px 20px;
  display: inline-block;
  vertical-align: top;
}
.ads_intro_subsection {
  padding: 15px 20px;
  display: block;
  width: 423px;
}
.ads_intro_subsection:hover {
  text-decoration: none;
  background: #f7f7f7;
}
.ads_intro_news {
  width: 200px;
  padding: 18px 0 20px 0;
  display: inline-block;
}
.ads_intro_news_widget_wrap {
  margin-left: -10px;
  padding-top: 8px;
  height: 240px;
  overflow: hidden;
}
.ads_intro_news_all {
  display: block;
  text-align: center;
  padding: 4px 0;
}
.ads_intro_news_all:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}
/* ----------- */
/* Intro - box */
/* ----------- */
.wk_ads_intro .wk_wiki_content {
  font-size: 1em;
  line-height: 100%;
}
.wk_ads_intro #wk_content {
  width: 564px;
}
.wk_ads_intro #wk_summary {
  width: 400px;
}
.ads_intro_box.ads_text,
.ads_intro_box .ads_text {
  line-height: 160%;
}
.ads_intro_box.ads_text_big {
  font-size: 1.09em;
}
.ads_intro_box h4 {
  margin-bottom: 10px;
}
.ads_intro_box .listing {
  margin-bottom: 30px;
}
.ads_intro_box_center {
  text-align: center;
}
.ads_intro_box_targeting_image,
.ads_intro_box_posts_image,
.ads_intro_box_offers_image {
  background-size: 160px 160px;
  width: 160px;
  height: 160px;
  display: inline-block;
  margin: 25px 0;
}
.ads_intro_box_targeting_image {
  margin-top: 0;
}
.ads_intro_box_targeting_image {
  background-image: url(/images/ads_intro_targeting.png);
}
.is_2x .ads_intro_box_targeting_image {
  background-image: url(/images/ads_intro_targeting_2x.png);
}
.ads_intro_box_posts_image {
  background-image: url(/images/join/ads_union.png);
}
.is_2x .ads_intro_box_posts_image {
  background-image: url(/images/join/ads_union_2x.png);
}
.ads_intro_box_offers_image {
  background-image: url(/images/ads_intro_offers.png);
}
.is_2x .ads_intro_box_offers_image {
  background-image: url(/images/ads_intro_offers_2x.png);
}
.ads_intro_box_targeting_office {
  margin-top: 10px;
  display: inline-block;
}
/* -------------- */
/* Intro - mobile */
/* -------------- */
.ads_mobile_intro {
  background-color: #edf1f5;
  padding: 22px 40px 0 40px;
  border-bottom: 1px solid #e1e6eb;
  max-height: 999999px;
  /* prevent font boosting */
}
.ads_mobile_intro_title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 14px;
  color: #5c7b9b;
}
.ads_mobile_intro_subtitle {
  font-size: 1em;
  font-weight: bold;
  color: #5c7b9b;
  margin-bottom: 5px;
}
.ads_mobile_intro_announce {
  line-height: 160%;
  margin-bottom: 12px;
}
.ads_mobile_intro_phone_wrap {
  width: 195px;
  height: 275px;
  overflow: hidden;
  display: inline-block;
  margin-right: 30px;
  background: url(/images/ads_mobile_intro.png) no-repeat;
  background-size: 195px auto;
}
.is_2x .ads_mobile_intro_phone_wrap {
  background-image: url(/images/ads_mobile_intro_2x.png);
}
.ads_mobile_intro_phone_box {
  margin-top: 30px;
}
.ads_mobile_intro_subscribe_box {
  height: 32px;
  padding: 6px;
}
.ads_mobile_intro_subscribe_box .button_blue {
  vertical-align: middle;
}
.ads_mobile_intro_subscribe_box input {
  padding: 5px 7px 6px 7px;
  width: 220px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
.ads_mobile_intro .listing {
  padding-left: 250px;
}
.ads_mobile_intro_thankyou {
  text-align: center;
}
#ads_mobile_intro_email {
  outline: none;
}
#ads_mobile_intro_email::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
#ads_mobile_intro_email::-moz-placeholder {
  opacity: 0.7;
}
#ads_mobile_intro_email:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
#ads_mobile_intro_email:focus::-moz-placeholder {
  opacity: 0.3;
}
/* ------ */
/* Office */
/* ------ */
.ads_create_button_office {
  float: right;
  position: relative;
  width: 0;
}
.ads_create_button_office .edit_button_wrap {
  position: absolute;
  right: 0;
}
/* Other */
/* --- */
/* OLD */
/* --- */
/* From rustyle.css */
/* Uses in paginated_table.js */
.ads_lite_cb {
  background: transparent url(/images/icons/check_lt.gif) 0px 0px no-repeat;
  line-height: 0.81em;
  vertical-align: baseline;
  padding: 0px 0px 1px 20px;
  cursor: pointer;
}
.ads_lite_cb:hover {
  background-position: 0px -32px;
  text-decoration: none;
}
.ads_lite_cb.on {
  background-position: 0px -16px;
}
.ads_lite_cb.on:hover {
  background-position: 0px -48px;
}
.ads_mass_act_container {
  text-align: right;
}
.ads_mass_act_container div {
  margin-right: 8px;
  margin-bottom: 5px;
}
.ads_mass_act_container button {
  height: 21px;
  line-height: 0.9em;
  padding: 4px 10px 4px;
}
.ads_search_cell {
  width: 140px;
}
.ads_search_cell div.pt_search_container {
  margin: 0px -3px 5px -3px;
}
div.ads_selecting_subclasses {
  margin-bottom: 4px;
}
.dd_menu_header.ads_dd_wide.ads_dd_header_popup div {
  background: url(/images/flydead.gif) no-repeat right 6px #ffffff;
  padding-right: 17px;
  border: 1px solid #FFFFFF;
  color: #2B587A;
  font-weight: normal;
  text-decoration: none;
}
.dd_menu_header.ads_dd_wide div {
  background: #5e82a8 url(/images/flydead.gif) no-repeat right -12px;
  width: 106px;
}
.dd_menu_body.ads_dd_wide .dd_menu_rows a {
  height: 20px;
}
.dd_menu_body.ads_dd_wide .dd_menu_rows a .ads_status_image_span {
  margin: 4px 5px -2px -1px;
}
.dd_menu_header.ads_dd_wide div .ads_status_image_span {
  margin: 4px 5px -1px -1px;
}
.dd_menu_header.ads_dd_wide div {
  line-height: 1.45em;
}
td.paginated_table_cell.column_status_view {
  padding-left: 10px;
}
.ads_status_selector_box {
  display: block;
  margin: 0px auto;
  width: 20px;
  height: 20px;
}
.ads_status_selector_box.pnt {
  cursor: pointer;
}
.ads_status_selector_box.pnt:hover {
  background-color: #E1E7ED;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
#ads_unions_content .table_label {
  min-width: 150px;
  max-width: 180px;
  color: #666666;
  padding: 0 10px 7px 0;
  vertical-align: top;
  word-wrap: break-word;
}
#ads_unions_content .table_label.small {
  max-width: 150px;
}
#ads_unions_content .table_value {
  padding: 0 0 7px 0;
  vertical-align: top;
  word-wrap: break-word;
}
#ads_unions_content.ad_help {
  padding: 0;
}
#ads_unions_content {
  vertical-align: top;
}
#ads_union_children,
#ads_unions_budget,
#ads_unions_budget_posts,
#ads_unions_budget_offers {
  padding-top: 20px;
}
#ads_union_children_graph {
  padding: 30px 0 15px 0;
}
#ads_union_children .row_div.control_label {
  padding-left: 0;
}
.ads_unions_box td.label {
  color: #777;
  padding: 5px 10px 5px 0px;
  text-align: right;
}
.ads_unions_box td.labeled {
  padding: 2px 0;
}
.ads_unions_box td.labeled_info {
  padding: 2px 0 2px 5px;
}
.ads_unions_box input {
  width: 150px;
}
.ads_unions_list table {
  border-collapse: collapse;
  border-left: 1px solid;
  border-right: 1px solid;
  width: 100%;
}
.ads_unions_list th,
.ads_unions_list td {
  height: 32px;
  vertical-align: middle;
}
.ads_unions_list .checkbox_container td {
  height: 20px;
}
.ads_unions_list th {
  text-align: right;
  background-color: #e3e9ee;
  border: 1px solid;
  padding: 0;
}
.ads_table_header th th,
.ads_table_header th th * {
  background-color: transparent !important;
}
.ads_unions_list th,
.ads_unions_list th * {
  color: #51677a;
}
.ads_unions_list td {
  text-align: right;
}
.ads_unions_list .column_date_view,
.ads_unions_list .column_date_view *,
.ads_unions_list .column_action_view,
.ads_unions_list .column_action_view *,
.ads_unions_list .column_access_view,
.ads_unions_list .column_access_view *,
.ads_unions_list .column_name_view,
.ads_unions_list .column_name_view *,
.ads_unions_list .column_name,
.ads_unions_list .column_name *,
.ads_unions_list .column_status,
.ads_unions_list .column_status * {
  text-align: left;
}
.ads_unions_list td.column_name_view {
  max-width: 160px;
}
.ads_unions_list .table_footer td {
  background-color: #f6f7f9;
  border-top: 1px solid #d3dbe1;
  border-bottom: 1px solid #d3dbe1;
}
.ads_unions_list table,
.ads_unions_list th,
.ads_unions_list td {
  border-color: #d3dbe1;
}
.ads_unions_list th * {
  border: 0;
  padding: 0;
  height: auto;
}
.ads_unions_list th table {
  height: 100%;
  border: 0;
}
.ads_unions_list tr.ads_table_header th th {
  border-left: 1px solid #eff2f5;
  white-space: nowrap;
}
.ads_unions_list tr.ads_table_header th.first_table_header,
.ads_unions_list tr.ads_table_header th.first_table_header * {
  border-left: 0 none;
}
.ads_unions_list th th,
.ads_unions_list td {
  padding: 0 8px;
}
.ads_unions_list th.first_table_header th,
.ads_unions_list td.first_table_column {
  padding-left: 10px;
}
.ads_unions_list th.last_table_header th,
.ads_unions_list td.last_table_column {
  padding-right: 10px;
}
.ads_unions_list td.even_row {
  background-color: #F0F2F4;
}
.ads_unions_table {
  margin-top: 7px;
}
.paginated_table .ads_unions_table {
  margin-top: 0px;
}
.ads_unions_list td.column_day_limit_view a,
.ads_unions_list td.column_all_limit_view a,
.ads_unions_list td.column_cost_per_click_view a {
  border-bottom: 1px dashed #2B587A;
  text-decoration: none;
}
tr.ads_union_empty_row td.ads_union_empty_cell {
  height: auto;
}
tr.ads_union_empty_row td.ads_union_empty_cell {
  text-align: center !important;
  color: #666666;
  line-height: 150%;
  background-color: #F7F7F7;
  padding: 15px 0;
}
.ads_unions_list_p .paginated_table_cell {
  text-align: right;
}
.ads_unions_list_p .paginated_table .paginated_table_cell.column_date_view,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_date_view *,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_action_view,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_action_view *,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_access_view,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_access_view *,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name_view,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name_view *,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name *,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_status,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_status * {
  text-align: left;
}
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name_view,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name_view *,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name,
.ads_unions_list_p .paginated_table .paginated_table_cell.column_name *,
.paginated_table .paginated_table_cell.column_client_name,
.paginated_table .paginated_table_cell.column_client_name *,
.paginated_table .paginated_table_cell.column_campaign_name,
.paginated_table .paginated_table_cell.column_campaign_name * {
  white-space: normal !important;
}
.ads_unions_list_p td.paginated_table_cell.column_name_view,
.ads_unions_list_p td.paginated_table_cell.column_name {
  max-width: 160px;
  overflow: visible;
}
.ads_unions_list_p td.paginated_table_cell.column_date_view {
  min-width: 20%;
}
.ads_unions_list_p .paginated_table td.paginated_table_cell.column_day_limit_view a,
.ads_unions_list_p .paginated_table td.paginated_table_cell.column_all_limit_view a,
.ads_unions_list_p .paginated_table td.paginated_table_cell.column_cost_per_click_view a {
  border-bottom: 1px dashed #2B587A;
  text-decoration: none;
}
.ads_unions_list_p .paginated_table td.column_video_views_count_view {
  width: 1px;
}
tr.ads_union_empty_row td.ads_union_empty_cell {
  height: auto;
}
tr.ads_union_empty_row td.ads_union_empty_cell {
  text-align: center !important;
  color: #666666;
  line-height: 150%;
  background-color: #F7F7F7;
  padding: 15px 0;
}
/* Some navigation - begin */
#ads_graph_navigation a.nav,
#ads_demography_navigation a.nav {
  padding: 6px 6px 7px 11px;
  display: block;
  overflow: hidden;
}
#ads_graph_navigation a.nav:hover,
#ads_demography_navigation a.nav:hover {
  background-color: #DAE1E8;
  text-decoration: none;
}
#ads_graph_navigation a.nav_selected,
#ads_graph_navigation a.nav_selected:hover,
#ads_demography_navigation a.nav_selected,
#ads_demography_navigation a.nav_selected:hover {
  background-color: #6186AD;
  color: white;
}
/* Some navigation - end */
a.ads_status_link,
a.ads_inline_dropdown {
  background: none !important;
  border-bottom: 1px dashed #2B587A;
  padding-right: 0 !important;
}
.ads_main_notice {
  background-color: #F6F7F9;
  border: 1px solid #D8DFEA;
  padding: 10px;
  margin-bottom: 15px;
  line-height: 160%;
}
.ads_notice_important {
  background-color: #FFEFE8;
  border-color: #E89B88;
}
.ads_warning {
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
  padding: 8px 11px;
  line-height: 160%;
}
.ads_warning_light {
  background-color: #FFFFFF;
  border: 1px solid #B9C4DA;
  padding: 8px 11px;
}
.ads_small_info {
  background: none repeat scroll 0 0 #F7F7F7;
  border: 1px solid #DAE1E8;
  font-size: 0.91em;
  margin-top: 10px;
  padding: 5px 10px;
  vertical-align: top;
}
#ads_change_budget_box .ads_warning {
  margin-top: 10px;
}
#ads_change_budget_box td {
  padding: 0px;
}
.ads_union_status_image {
  background: url("/images/icons/ad_status.gif?3") no-repeat scroll left top transparent;
  width: 5px;
  height: 5px;
  margin: 0 5px 1px 0;
  display: block;
  display: -moz-inline-stack;
  display: inline-block;
  _overflow: hidden;
  *zoom: 1;
  *display: inline;
}
.ads_union_status_image_on {
  background-position: left 0;
}
.ads_union_status_image_off {
  background-position: left -5px;
}
.ads_union_status_image_part_on {
  background-position: left -10px;
}
.ads_union_status_image_part_off {
  background-position: left -15px;
}
.ads_union_status_image_disapproved {
  background-position: left -20px;
}
.ads_union_status_image_deleted {
  background-position: left -25px;
}
.ads_status_image_span {
  background: url("/images/icons/ad_status_new.png") no-repeat scroll left top transparent;
  width: 11px;
  height: 11px;
  margin: 5px;
  display: block;
  display: -moz-inline-stack;
  display: inline-block;
  _overflow: hidden;
  *zoom: 1;
  *display: inline;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_on,
.ads_status_image_span.status_on {
  background-position: left 0px;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_off,
.ads_status_image_span.status_off {
  background-position: left -196px;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_paused,
.ads_status_image_span.status_paused {
  background-position: left -28px;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_pending,
.ads_status_image_span.status_pending {
  background-position: left -157px;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_off_red,
.ads_status_image_span.status_off_red {
  background-position: left -128px;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_deleted,
.ads_status_image_span.status_deleted {
  background-position: left -183px;
}
.dd_menu_header.ads_dd_header_popup .ads_status_image_span.status_cross,
.ads_status_image_span.status_cross {
  background-position: left -141px;
}
.dd_menu_header .ads_status_image_span.status_on {
  background-position: left -16px;
}
.dd_menu_header .ads_status_image_span.status_off {
  background-position: left -208px;
}
.dd_menu_header .ads_status_image_span.status_pending {
  background-position: left -69px;
}
.dd_menu_header .ads_status_image_span.status_off_red {
  background-position: left -29px;
}
.dd_menu_header .ads_status_image_span.status_deleted {
  background-position: left -41px;
}
.dd_menu_header .ads_status_image_span.status_cross {
  background-position: left -55px;
}
.dd_menu_body.ads_dd_wide .dd_menu_rows a .ads_status_image_span.status_on {
  background-position: left -85px;
}
.dd_menu_body.ads_dd_wide .dd_menu_rows a .ads_status_image_span.status_off {
  background-position: left -196px;
}
.dd_menu_body.ads_dd_wide .dd_menu_rows a .ads_status_image_span.status_deleted {
  background-position: left -111px;
}
.ads_unions_list tr.ads_table_header th.paginated_table td.paginated_table_cell.column_commit_date,
.ads_unions_list tr.ads_table_header th.paginated_table td.paginated_table_cell.column_commit_date * {
  border-left: 0 none;
}
#ads_unions_budget * {
  text-align: left;
}
#ads_general_info_status_selector {
  border-bottom: 1px dashed #2B587A;
}
table.ads_unions_content_label {
  border-collapse: collapse;
}
#ads_unions_content .ads_export_prefs .ads_export_date_row .table_label {
  padding-top: 4px;
}
.ads_export_prefs .table_value {
  width: 300px;
}
#ads_unions_content .export_prefs_web .summary td {
  padding-top: 10px !important;
}
.ads_export_stats .ads_unions_table th.paginated_table td.paginated_table_cell.column_checked {
  width: 34px;
}
.ads_unions_list .checkbox_container table {
  border: 0px;
}
.ads_unions_table .hovered_header,
.ads_unions_table .hovered_header_hover {
  cursor: pointer;
}
.ads_unions_table .hovered_header_hover {
  background-color: #EFF2F5;
}
.ads_inline_edit_remove_value {
  margin-left: 5px;
  white-space: nowrap;
}
.ads_inline_edit_table {
  border-collapse: collapse;
}
table.ads_inline_edit_table td {
  padding: 0;
}
.ads_inline_fast_error_row {
  display: none;
}
.ads_inline_fast_error {
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
  padding: 8px 11px;
  margin-top: 5px;
}
.ads_inline_recommended_cost_text {
  font-size: 0.91em;
  color: #777777;
  display: none;
}
.ads_moder_comment_rules_wrap ul {
  list-style: square outside none;
  color: #758EAC;
  margin: 11px 0 0 0;
}
.ads_moder_comment_rules_wrap span {
  color: black;
}
.ads_moder_comment_rules_separator {
  height: 11px;
}
#ads_admin_box_wrapper a:hover {
  text-decoration: underline;
}
.ads_admin_table_cell {
  border-bottom: 1px solid #DAE2E8;
}
.admin_table_cell_last {
  border-bottom: none;
}
.ads_admin_box_label {
  color: #777777;
  text-align: right;
  width: 125px;
  padding-right: 10px;
}
.ads_admin_box_labeled {
  width: 270px;
}
.ads_general_info_hidden {
  display: none;
}
.ads_general_info .table_large_text {
  width: 385px;
  max-width: 385px;
}
.ads_general_info .table_large_text_mobile {
  width: 280px;
  max-width: 280px;
}
#ads_unions_content h4 span {
  font-weight: bold;
}
.ads_users_stats_dark {
  background-color: #597DA3;
}
.ads_users_stats_light {
  background-color: #DAE1E8;
}
.ads_users_stats_bars_title {
  padding-bottom: 16px;
  color: #45688E;
  font-weight: bold;
}
.ads_users_stats_bar_label {
  height: 30px;
  text-align: right;
  padding-right: 16px;
  padding-top: 2px;
  vertical-align: top;
  color: #45688E;
  font-weight: bold;
}
.ads_users_stats_bar_wrap table {
  border: 0px;
  border-collapse: collapse;
}
.ads_users_stats_bar_wrap table td {
  padding: 0px;
}
.ads_users_stats_bar_wrap {
  height: 30px;
  vertical-align: top;
}
.ads_users_stats_bar_wrap table td.ads_users_stats_bar_value {
  padding-left: 11px;
}
.ads_users_stats_bar {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 17px;
}
#ads_demography_wrap .summary_right .summary_tab2 {
  background-color: transparent;
}
.ads_dropdown_menu_scrollbar {
  position: absolute;
  z-index: 1500;
  background-color: #000;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
}
.ads_dropdown_menu_scrollbar:hover,
.ads_dropdown_menu_scrollbar.hovered {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
}
#ads_admin_box_wrapper h2 {
  padding: 0;
  margin: 0;
  border: none;
}
#ads_reqs_edit td.ads_req_label {
  color: #666666;
  text-align: right;
  vertical-align: top;
  padding-top: 5px;
}
#ads_reqs_edit td.ads_req_right {
  width: 100px;
}
#ads_reqs_edit_form input.ads_req_edit,
#ads_reqs_edit_form textarea.ads_req_edit {
  margin: 0px;
  width: 250px;
}
#ads_legal_info_box div {
  padding: 8px 11px;
  border: 1px solid #C0CAD5;
}
/*
 *   About section
 */
.ads_help_section.section_wrap {
  padding: 20px 25px 25px 26px;
  line-height: 140%;
}
.ads_help_section h4 {
  margin-bottom: 10px;
}
.ads_help_section .header {
  font-size: 1.09em;
  margin: 0px 0px 20px 1px;
  border: none;
  color: #45688E;
  font-weight: bold;
}
.ads_help_section .par_divider {
  margin-bottom: 31px;
}
.ads_help_section .emph_link {
  margin-left: 26px;
}
#unions_navigation {
  vertical-align: top;
}
#unions_navigation {
  width: 150px;
  padding: 12px 12px 12px 0;
}
#unions_navigation .edit_button_wrap {
  padding-bottom: 10px;
}
#unions_navigation .nav_separator {
  border-bottom: 1px solid #d3dbe1;
  height: 1px;
  overflow: hidden;
  margin: 7px 0px 8px 0;
}
#unions_navigation a.nav {
  padding: 6px 6px 7px 11px;
  display: block;
  overflow: hidden;
  max-width: 133px;
  word-wrap: break-word;
}
#unions_navigation a.nav:hover {
  background-color: #E1E7ED;
  text-decoration: none;
}
#unions_navigation a.nav_selected,
#unions_navigation a.nav_selected:hover {
  background-color: #6186AD;
  color: white;
}
#unions_navigation.ads_unions_navigation_about {
  background-color: #F7F7F7;
  border-left: 1px solid #DAE1E8;
  padding: 14px 10px;
}
#unions_navigation.ads_unions_navigation_about .nav {
  border-color: #F7F7F7;
}
#unions_navigation.ads_unions_navigation_about .nav_selected {
  border-color: #517295;
}
.ads_unions_navigation_about .ad_box_preview {
  border: 1px solid #dce3e9;
}
#ads_contacts_form {
  margin: 20px 0 0 0;
}
#ads_contacts_form .label_slide {
  vertical-align: top;
}
#ads_contacts_form .label {
  width: 100px;
  color: #555;
  padding: 4px 10px 0 0;
  text-align: right;
  vertical-align: top;
}
#ads_contacts_form .labeled {
  padding-bottom: 10px;
}
#ads_contacts_form .row_checkbox .labeled {
  padding-bottom: 6px;
}
#ads_contacts_form .row_checkbox_prev .labeled {
  padding-bottom: 8px;
}
#ads_contacts_form .row_checkbox_last .labeled {
  padding-bottom: 8px;
}
#ads_contacts_form td.label_slide {
  overflow: hidden;
}
#ads_contacts_form div.label_slide {
  height: 0;
}
#ads_contacts_form .checkbox_wrap {
  margin: -5px 0;
}
#ads_contacts_form input.txt {
  width: 242px;
}
#ads_contacts_form textarea.txt {
  width: 242px;
  height: 40px;
}
#ads_contacts_form textarea.txt#message {
  height: 90px;
}
#ads_contacts_form .msg {
  background-color: #f9f6e7;
  border-color: #c3b988;
  font-weight: normal;
}
.ads_contacts_nonresident_message {
  padding: 7px 0 20px 0;
}
.wk_ads_intro #ads_contacts_form .label {
  width: 140px;
  padding-top: 9px;
}
.wk_ads_intro #ads_contacts_form input.txt,
.wk_ads_intro #ads_contacts_form textarea.txt {
  width: 254px;
  height: 17px;
  line-height: 17px;
  padding: 5px 6px 6px 10px;
}
@-moz-document url-prefix() {
  .wk_ads_intro #ads_contacts_form input.txt,
  .wk_ads_intro #ads_contacts_form textarea.txt {
    padding-left: 9px;
    width: 255px;
  }
}
.wk_ads_intro #ads_contacts_form textarea.txt {
  height: 52px;
}
.wk_ads_intro #ads_contacts_form textarea.txt#message {
  height: 90px;
}
/* Multi dropdown menu - begin */
a.ads_dd_menu_multi_item {
  padding-left: 22px !important;
  background-image: none !important;
  background-position: 4px 2px !important;
}
a.ads_dd_menu_multi_item.checkbox_on {
  background-image: url(/images/dropdead_check.gif) !important;
}
a.ads_dd_menu_multi_item.label,
a.ads_dd_menu_multi_item.label:hover {
  background-color: #f6f7f9 !important;
  cursor: default;
  font-weight: bold;
}
.ads_dd_menu_item_number {
  display: inline-block;
  min-width: 40px;
  font-weight: bold;
}
/* Multi dropdown menu - end */
.ads_paginated_table_name {
  overflow: hidden;
  white-space: nowrap;
}
.ad_new_user td.label {
  text-align: right;
  padding: 6px 15px 6px 0;
  width: 120px;
  color: gray;
}
.ad_new_user td.labeled input {
  width: 160px;
}
#ads_page_simple .ads_reg_row {
  height: 30px;
}
#ads_page_simple .ads_reg_label {
  width: 231px;
  float: left;
  text-align: right;
  color: #777777;
  padding: 4px 10px 0 0;
}
#ads_page_simple .ads_reg_labeled {
  float: left;
}
#ads_page_simple .ads_reg_labeled_input {
  margin: 0;
}
#ads_page_simple .ads_reg_labeled input#first_name,
#ads_page_simple .ads_reg_labeled input#last_name,
#ads_page_simple .ads_reg_labeled input#regemail,
#ads_page_simple .ads_reg_labeled input#regpass {
  width: 217px;
}
.box_body .ads_disapproved_message {
  line-height: 150%;
}
.ads_wiki_wrap {
  line-height: 160%;
}
.ads_wiki_bonus {
  padding-bottom: 10px;
}
#ads_bonus_activation_form .ads_unions_content_label td {
  padding: 0 0 4px 0;
}
#ads_unions_content .payments_systems_container {
  padding: 7px 102px 0 50px;
}
#ads_unions_content .payments_systems_container .ps_desc_short {
  padding-right: 120px;
}
#ads_unions_content .payments_systems_container .term_info {
  min-height: 24px;
}
#ads_unions_content .payments_landing div {
  margin-bottom: 20px;
}
#ads_retargeting_groups_table {
  margin-top: 15px;
}
#ads_retargeting_groups_table .column_action_view {
  width: 100px;
  white-space: nowrap;
}
.ads_retargeting_box {
  line-height: 160%;
  padding: 25px 20px;
  background-color: #F7F7F7;
}
.ads_retargeting_box_label {
  margin-bottom: 10px;
  color: #45668E;
  font-size: 1.18em;
  font-weight: bold;
}
.ads_retargeting_box_label_hint {
  color: #98A9B7;
  cursor: pointer;
}
.ads_retargeting_box_text {
  margin-top: 10px;
  color: #777;
}
.ads_retargeting_box input {
  width: 280px;
}
#ads_retargeting_box_error {
  margin-bottom: 10px;
  display: none;
}
.ads_retargeting_box .box_msg {
  margin-bottom: 10px;
  font-weight: normal;
}
.ads_retargeting_box_notice {
  font-size: 0.91em;
  color: #777;
}
.ads_retargeting_box_button {
  margin-top: 20px;
}
#ads_reatargeting_upload_notice {
  margin-top: 20px;
  text-align: center;
  color: #777;
}
#ads_retargeting_type {
  margin: 13px 0;
}
#ads_retargeting_type .radiobtn {
  margin-right: 25px;
}
#ads_retargeting_upload_doc {
  padding: 2px 0;
}
#ads_retargeting_upload_doc .button_blue button {
  background: none;
  background-color: #dfe5ed;
  color: #627485;
  border: none;
  text-shadow: none;
  padding-bottom: 7px;
}
#ads_retargeting_upload_doc .button_blue button:hover {
  background-color: #d8dfe8;
  color: #607282;
}
#ads_retargeting_upload_doc form {
  text-align: left!important;
}
#retargeting_group_pixel {
  padding: 5px 8px 6px;
  background-color: #FFF;
  height: 80px;
  width: 390px;
  line-height: 140%;
}
.ads_retargeting_box .input_back_content {
  padding: 0;
}
.ads_retargeting_box input:focus,
.ads_retargeting_box textarea:focus {
  outline: 0;
}
#ads_retargeting_domain_text {
  font-weight: bold;
}
#ads_retargeting_domain {
  margin-right: 5px;
  width: 200px;
}
#ads_retargeting_domain_link {
  padding: 6px 0 7px 0;
}
@-moz-document url-prefix() {
  #ads_retargeting_domain_link {
    padding: 7px 0;
  }
  #ads_retargeting_upload_doc {
    padding: 3px 0;
  }
}
.ads_retargeting_text {
  line-height: 150%;
}
#ads_retargeting_processing_msg {
  margin-bottom: 10px;
}
.ads_retargeting_param_saved {
  padding-left: 10px;
  color: #777;
  opacity: 0;
}
.ads_upload_progress_wrap {
  width: 200px;
  height: 18px;
  background: #FFF;
  border: 1px solid #CCC;
}
.ads_upload_progress {
  height: 18px;
  background: #597da3 url(/images/progress_grad.gif) repeat;
  border: 1px solid #45688E;
  margin: -1px;
}
.ads_settings_notifacations {
  margin: 10px 0 0 10px;
  border-collapse: collapse;
}
.ads_settings_notifacations th,
.ads_settings_notifacations td {
  padding: 0 5px;
  text-align: center;
}
td.ads_settings_notifacations_label {
  padding: 0 30px 0 0;
  text-align: left;
}
.ads_settings_notifacations .checkbox_container {
  margin: 0 auto;
}
#ad_preview_top {
  float: right;
  margin: 5px 0 0 0;
}
#ad_preview_top.no_border .ads_ad_box_border.app_in_news,
#ad_preview_top.no_border .ads_ad_box_border.apps_only,
#ad_preview_top.no_border .ads_ad_box_border.groups_only,
#ad_preview_top.no_border .ads_ad_box_border.mobile {
  border-style: none;
}
#ad_preview_top .ads_ad_box.app_in_news,
#ad_preview_top .ads_ad_box.groups_only,
#ad_preview_top .ads_ad_box.apps_only {
  padding-bottom: 5px;
}
#ad_preview_top .ads_ad_box.mobile {
  padding-bottom: 10px;
}
.ads_alt_table {
  border-collapse: collapse;
  width: 100%;
}
.ads_alt_table th {
  padding: 9px 8px 11px 5px;
  background-color: #e9edf0;
  color: #587183;
  font-weight: bold;
  white-space: nowrap;
  height: auto;
  border: none;
  text-align: left;
  font-size: 1.09em;
}
.ads_alt_table th:first-child {
  padding-left: 10px;
}
.ads_alt_table tr {
  border-left: 1px solid #e9edf0;
  border-right: 1px solid #e9edf0;
}
.ads_alt_table td.even_row {
  background-color: #f5f7f7;
}
.ads_alt_table tr:first-child {
  border-top: 1px solid #e9edf0;
}
.ads_alt_table tr:last-child {
  border-bottom: 1px solid #e9edf0;
}
.ads_alt_table td {
  padding: 10px 5px;
  text-align: left;
  vertical-align: top;
  line-height: 160%;
  height: auto;
}
.ads_alt_table td:first-child {
  padding-left: 10px !important;
}
.ads_alt_table td:last-child {
  padding-right: 10px;
}
.ads_alt_table td.not_found {
  padding: 0px !important;
}
.ads_alt_table .grey {
  color: #666666;
  display: inline-block;
  min-width: 40px;
  margin-right: 5px;
}
.ads_retargeting_menu a.ads_retargeting_menu_header,
.ads_retargeting_menu a.ads_retargeting_menu_header:hover {
  background-color: #EDF1F5;
  color: #2B587A;
}
.ads_retargeting_menu .dd_menu_body {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  border: 1px solid #B2BDCA;
}
.ads_retargeting_menu .dd_menu_header {
  border: none;
}
.ads_retargeting_menu .dd_menu_header div {
  display: none;
}
.ads_retargeting_menu .dd_menu_rows {
  border: none;
}
.ads_retargeting_menu .dd_menu_rows a {
  padding: 7px 8px 2px 8px;
}
.ads_retargeting_menu .dd_menu_shad_l,
.ads_retargeting_menu .dd_menu_shad_r,
.ads_retargeting_menu .dd_menu_shad_t,
.ads_retargeting_menu .dd_menu_shad_t2,
.ads_retargeting_menu .dd_menu_shad_b,
.ads_retargeting_menu .dd_menu_shad_b2 {
  display: none;
}
.ads_retargeting_tt table .tt_text {
  color: #000;
  line-height: 150%;
  padding: 10px;
  width: 295px;
}
.ads_retargeting_tt table.toup1 .bottom_pointer {
  margin-right: 0px;
  margin-left: 34px;
  display: block;
  background: url(/images/tooltip_arrow_white.gif) no-repeat;
}
.ads_retargeting_tt table.toup .top_pointer {
  margin-right: 0px;
  margin-left: 34px;
  display: block;
  bottom: -2px;
  background: url(/images/tooltip_arrow_up.gif) no-repeat;
}
.ads_edit_tt_pointer.ads_edit_tt_pointer_domain {
  top: 38px;
}
.ads_edit_tt_pointer.ads_edit_tt_pointer_expiration {
  top: 32px;
}
.ads_adblock_notice {
  position: relative;
  margin-bottom: 20px;
  display: none;
}
