#ads_moder_css {
  display: none;
}
/* ------- */
/* General */
/* ------- */
.ads_overflow_hidden_wrap1 {
  /*overflow: hidden;*/
}
.ads_overflow_hidden_wrap2 {
  overflow: visible;
  white-space: nowrap;
  width: 1px;
}
.ads_moder_tabs {
  padding-top: 0;
}
.ads_moder_tabs ul.t0 {
  width: auto;
}
/* -- */
/* Ad */
/* -- */
.ads_ad_char_hint {
  position: relative;
}
.ads_ad_char_hint_color {
  visibility: hidden;
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid red;
  overflow: hidden;
}
.ads_ad_box a:hover .ads_ad_char_hint_color {
  visibility: visible;
}
/* ------- */
/* Markers */
/* ------- */
.ads_marker_wrap_ad {
  position: relative;
}
.ads_marker_wrap {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 10;
}
.ads_marker {
  float: left;
  width: 5px;
  height: 5px;
  margin-right: 2px;
  border-radius: 1px;
}
.ads_marker_wrap_ad:hover .ads_marker {
  width: 7px;
  height: 7px;
  border-radius: 2px;
}
.ads_marker_target {
  background-color: #ff8000;
}
.ads_marker_clicked {
  background-color: #9966cc;
}
.ads_marker_closed {
  background-color: #00b2cc;
}
.ads_marker_viewed {
  background-color: #ff55aa;
}
.ads_marker_offensive {
  background-color: #5090ff;
}
.ads_marker_porno {
  background-color: #ff2213;
}
.ads_marker_cheaters {
  background-color: #a0522d;
}
.ads_marker_against {
  background-color: #008000;
}
.ads_marker_enabled {
  background-color: #00aa00;
}
.ads_marker_enabling {
  background-color: #CFB53B;
}
.ads_marker_approved {
  background-color: #0000dd;
}
.ads_marker_disapproved {
  background-color: #aa0000;
}
.ads_marker_archived {
  background-color: #333333;
}
.ads_marker_request_manual {
  background-color: #e0b080;
}
.ads_marker_request_wrong {
  background-color: #00d07f;
}
.ads_marker_target_tip {
  color: #ff8000;
}
.ads_marker_clicked_tip {
  color: #9966cc;
}
.ads_marker_closed_tip {
  color: #00b2cc;
}
.ads_marker_viewed_tip {
  color: #ff55aa;
}
.ads_marker_offensive_tip {
  color: #5090ff;
}
.ads_marker_porno_tip {
  color: #ff2213;
}
.ads_marker_cheaters_tip {
  color: #a0522d;
}
.ads_marker_against_tip {
  color: #008000;
}
.ads_marker_enabled_tip {
  color: #00aa00;
}
.ads_marker_enabling_tip {
  color: #CFB53B;
}
.ads_marker_approved_tip {
  color: #0000dd;
}
.ads_marker_disapproved_tip {
  color: #aa0000;
}
.ads_marker_archived_tip {
  color: #333333;
}
.ads_marker_request_manual_tip {
  color: #e0b080;
}
.ads_marker_request_wrong_tip {
  color: #00d07f;
}
.ads_marker_other_tip {
  color: #2b587a;
}
.ads_marker_grey_tip {
  color: grey;
}
/* #8B00ff */
/* 009090 */
.ads_info_marker {
  position: absolute;
  z-index: 20;
  top: 2px;
  right: 2px;
  background-color: #D5DDE5;
  border-radius: 3px;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 1px;
  opacity: 0.5;
  display: none;
}
.ads_marker_wrap_ad:hover .ads_info_marker {
  display: block;
  text-decoration: none;
}
.ads_marker_wrap_ad .ads_info_marker:hover {
  font-size: 11px;
  opacity: 1;
}
/* -------- */
/* Category */
/* -------- */
.ads_category_wrap {
  max-width: 118px;
  margin-top: 4px;
  display: inline-block;
  font-size: 0.91em;
  position: relative;
}
.ads_category_wrap .ads_category_parent {
  position: absolute;
  z-index: 10;
  display: none;
  white-space: nowrap;
  padding-left: 5px;
}
.ads_category_wrap .ads_subcategory {
  font-weight: bold;
}
.ads_category_wrap:hover .ads_subcategory,
.ads_category_wrap:hover .ads_category_parent {
  background-color: white;
}
.ads_category_wrap:hover .ads_category_parent {
  display: inline;
}
/* -------- */
/* Ads info */
/* -------- */
.ads_info_premoderation_request .ads_ad_box.app_in_news,
.ads_info_premoderation_request .ads_ad_box.groups_only,
.ads_info_premoderation_request .ads_ad_box.apps_only {
  padding: 10px;
}
.ads_info_premoderation_request .ads_ad_box.mobile {
  padding: 14px;
}
.ads_info_premoderation_request .ads_ad_box_border {
  border-width: 1px;
}
.ads_info_premoderation_request .label {
  color: grey;
  padding-right: 10px;
}
.ads_info_premoderation_request .info_msg {
  margin-top: 15px;
}
.ads_info_premoderation_request_info {
  line-height: 160%;
}
.ads_info_premoderation_request_info td {
  vertical-align: top;
  padding-bottom: 3px;
}
.ads_info_premoderation_request_ad_prev,
.ads_info_premoderation_request_ad_cur,
.ads_info_premoderation_request_arrow,
.ads_info_premoderation_request_info {
  padding-right: 15px;
}
.ads_info_premoderation_request_ad_prev,
.ads_info_premoderation_request_ad_cur,
.ads_info_premoderation_request_info {
  vertical-align: top;
}
.ads_info_premoderation_request_ad_prev,
.ads_info_premoderation_request_ad_cur {
  text-align: center;
}
.ads_info_premoderation_request_arrow {
  font-size: 30px;
}
/* ------- */
/* All ads */
/* ------- */
.ads_all_navigation_page {
  display: block;
  float: left;
  text-decoration: none !important;
  padding: 5px;
  margin: 0 3px 3px 0;
  border: 1px solid #DAE1E8;
  min-width: 45px;
}
.ads_all_navigation_page.current {
  font-weight: bold;
}
.ads_all_ads_box {
  float: left;
  height: 300px;
  margin: 0 7px;
}
.ads_all_ads_box.news {
  height: 200px;
  margin: 0 23px;
}
.ads_all_ads_box.news.last {
  margin-left: 27px;
}
.ads_all_ads_box.apps_only,
.ads_all_ads_box.groups_only {
  height: 240px;
  margin: 0 21px;
}
.ads_all_ads_box.apps_only.last,
.ads_all_ads_box.groups_only.last {
  margin-left: 23px;
}
.ads_all_ads_box.mobile {
  height: 380px;
  margin: 0 20px;
}
.ads_all_ads_box.first {
  margin-left: 0;
}
.ads_all_ads_box.last {
  margin-right: 0;
}
.ads_all_ads_box .ads_ad_box.app_in_news,
.ads_all_ads_box .ads_ad_box.groups_only,
.ads_all_ads_box .ads_ad_box.apps_only {
  padding: 10px;
}
.ads_all_ads_box .ads_ad_box.mobile {
  padding: 14px;
}
.ads_all_ads_box .ads_ad_box_border {
  border-width: 1px;
}
/* ------------- */
/* Premoderation */
/* ------------- */
.ads_premoderation_requests {
  margin-right: -30px;
}
.ads_premoderation_request_wrap {
  float: left;
  height: 480px;
  margin: 10px 30px 0 0;
}
.ads_premoderation_request_wrap.first_of_3 {
  margin-right: 31px;
}
.ads_premoderation_request_wrap.mobile {
  height: 580px;
}
.ads_premoderation_requests .ads_ad_box.app_in_news,
.ads_premoderation_requests .ads_ad_box.groups_only,
.ads_premoderation_requests .ads_ad_box.apps_only {
  padding: 10px;
}
.ads_premoderation_requests .ads_ad_box.mobile {
  padding: 14px;
}
.ads_premoderation_requests .ads_ad_box_border {
  border-width: 1px;
}
.ads_premoderation_requests_office .label {
  padding-right: 10px;
  vertical-align: top;
}
.ads_premoderation_requests_office_columns {
  width: 100%;
}
.ads_premoderation_requests_office_column {
  vertical-align: top;
}
.ads_premoderation_requests_office_column_domains {
  text-align: right;
}
.ads_premoderation_requests_office_domains {
  display: inline-block;
}
.ads_premoderation_requests_office_domains .labeled {
  text-align: left;
}
.ads_premoderation_requests_office_domain_similar {
  color: #aa0000;
}
.ads_premoderation_request {
  border: 1px solid #D3DBE1;
  padding: 3px;
  width: 283px;
  overflow: hidden;
}
.ads_premoderation_request.app_in_news,
.ads_premoderation_request.groups_only,
.ads_premoderation_request.apps_only {
  width: 440px;
}
.ads_premoderation_request.mobile {
  width: 910px;
}
.ads_premoderation_request_ad_wrap {
  vertical-align: top;
  text-align: center;
  padding-top: 5px;
}
.ads_premoderation_request_ad_wrap2 {
  display: inline-block;
}
.ads_premoderation_request_ad_page_link_wrap {
  font-size: 30px;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
}
a.ads_premoderation_request_ad_page_link {
  text-decoration: none;
}
.ads_premoderation_request_ad_link_url_wrap {
  padding: 5px 3px 0 3px;
}
.ads_premoderation_request_ad_warn_wrap {
  padding: 5px 3px 0 3px;
  color: #cc8c3b;
}
.ads_premoderation_request_notes_wrap {
  padding: 5px 3px 0 3px;
}
.ads_premoderation_request_ad_templates_wrap {
  padding: 5px 3px 0 3px;
}
.ads_premoderation_request_comment_wrap {
  padding-top: 3px;
}
.ads_premoderation_request_comment_wrap2 {
  margin-right: 8px;
}
.ads_premoderation_request_comment {
  width: 100%;
  margin: 0;
}
.ads_premoderation_request_actions_wrap {
  padding-top: 8px;
}
.ads_premoderation_request_actions_wrap2 {
  width: 100%;
  border-collapse: collapse;
}
.ads_premoderation_request_reasons_wrap2 {
  position: relative;
}
.ads_premoderation_request_result_wrap {
  height: 20px;
  padding: 5px 3px 3px 3px;
}
.ads_premoderation_request_result {
  color: grey;
}
.ads_premoderation_request_link_domain {
  text-align: left;
}
.ads_premoderation_request_link_domain.approved {
  color: #008000;
}
.ads_premoderation_request_link_domain.approved.show_background {
  background-color: #eeffee;
}
.ads_premoderation_request_link_domain.declined {
  color: #800000;
}
.ads_premoderation_request_link_domain.declined.show_background {
  background-color: #ffeeee;
}
.ads_moder_template_actions {
  color: #2B587A;
}
span.ads_moder_template_inactive {
  color: #999;
}
body .idd_popup .idd_items_wrap {
  max-height: none;
}
.ads_moder_template_recently_updated {
  color: #995d3e;
}
#ads_template_title_edit {
  width: 100%;
  display: block;
}
.ads_premoderation_template_title {
  width: 100%;
  margin-bottom: 5px;
}
.ads_premoderation_domain_info {
  margin-top: 5px;
  font-size: 0.9em;
  color: #888;
}
.ads_premoderation_categories_edit_box .info_msg {
  margin-bottom: 15px;
}
.ads_premoderation_categories_edit_box .label {
  padding-top: 4px;
  color: grey;
  width: 150px;
  text-align: right;
}
.ads_premoderation_categories_edit_box .labeled {
  padding-bottom: 10px;
}
.ads_premoderation_mass_progress_wrap2,
.ads_premoderation_mass_result {
  padding-top: 10px;
}
.ads_premoderation_mass_progress_wrap1 {
  width: 250px;
}
.ads_premoderation_stat_moder_name_wrap {
  visibility: hidden;
  position: relative;
}
.ads_premoderation_stat_moder_name {
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.ads_premoderation_stat_value_hint,
.ads_premoderation_stat_value_hint a {
  color: gray;
}
/* ---- */
/* Logs */
/* ---- */
table.ads_logs_users {
  border-collapse: collapse;
}
table.ads_logs_users td,
table.ads_logs_users th {
  padding: 2px 5px;
}
table.ads_logs_info {
  border-collapse: collapse;
}
table.ads_logs_info td,
table.ads_logs_info th {
  padding: 1px 10px;
}
/* ----------- */
/* Mobile apps */
/* ----------- */
.ads_mobile_apps_filter {
  float: left;
  padding: 5px;
  margin: 0 5px 5px 5px;
}
.ads_mobile_apps_type_icon {
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(/images/profile_icons.gif?13);
  background-size: 13px auto;
  background-position: 0 -198px;
}
.is_2x .ads_mobile_apps_type_icon {
  background-image: url(/images/profile_icons_2x.png?13);
}
.ads_mobile_apps_type_icon.android {
  background-position: 0 -174px;
}
.ads_mobile_apps_type_icon.iphone {
  background-position: 0 -186px;
}
.ads_mobile_apps_type_icon.wphone {
  background-position: 0 -220px;
}
.ads_mobile_apps_rating_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: -2px;
  background-image: url(/images/icons/im_actions_iconset2.png?9);
  background-size: 20px auto;
  background-position: 0 -238px;
}
.is_2x .ads_mobile_apps_rating_icon {
  background-image: url(/images/icons/im_actions_iconset2_2x.png?9);
}
.ads_mobile_apps_photo_icon {
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(/images/profile_icons.gif?13);
  background-size: 13px auto;
  margin: 4px 0 0 8px;
}
.is_2x .ads_mobile_apps_photo_icon {
  background-image: url(/images/profile_icons_2x.png?13);
}
.ads_mobile_apps_photos_wrap {
  display: block;
  position: relative;
  height: 28px;
  width: 28px;
}
.ads_mobile_apps_photo_preview {
  height: 28px;
}
.ads_mobile_apps_photos {
  display: none;
  position: absolute;
  left: 28px;
  top: 0;
}
.ads_mobile_apps_photos_wrap:hover .ads_mobile_apps_photos {
  display: block;
}
.ads_mobile_apps_photo_wrap {
  display: block;
  background-color: white;
  white-space: nowrap;
}
.ads_mobile_apps_photo {
  vertical-align: middle;
}
.ads_mobile_apps_photo_info {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
/* ------------ */
/* Stat summary */
/* ------------ */
.ads_moder_stat_summary_range_wrap {
  margin-top: -2px;
}
@-moz-document url-prefix() {
  .ads_moder_stat_summary_range_wrap {
    margin-top: -1px;
  }
}
.ads_moder_stat_summary_range_part {
  padding-left: 8px;
}
.ads_moder_stat_summary_range_label {
  padding-top: 5px;
}
@-moz-document url-prefix() {
  .ads_moder_stat_summary_range_label {
    padding-top: 4px;
  }
}
#ads_moder_stat_summary_range_link {
  opacity: 0.5;
  display: block;
  padding: 1px;
}
#ads_moder_stat_summary_range_link:hover {
  opacity: 1;
}
#ads_moder_stat_summary_range_link img {
  display: block;
}
#ads_moder_stat_summary_filter_properties {
  margin-bottom: -1px;
}
.ads_moder_stat_summary_filter_property {
  padding-top: 10px;
}
.ads_moder_stat_summary_filter_property_separator {
  border-bottom: 1px solid #DEE0E0;
  margin: 0 8px;
  padding-top: 5px;
}
.ads_moder_stat_summary_filter_property_separator.first {
  margin: 0 -10px;
}
#ads_moder_stat_summary_filter_properties_shower {
  display: block;
  padding: 8px;
}
.ads_stat_summary_graph_link {
  height: 11px;
  overflow: visible;
}
.ads_stat_summary_graph_image {
  display: block;
  margin-top: -1px;
}
/* ------- */
/* History */
/* ------- */
.ads_moder_history .ads_ad_box.app_in_news,
.ads_moder_history .ads_ad_box.groups_only,
.ads_moder_history .ads_ad_box.apps_only {
  padding: 10px;
}
.ads_moder_history .ads_ad_box.mobile {
  padding: 14px;
}
.ads_moder_history .ads_ad_box_border {
  border-width: 1px;
}
/* ----- */
/* Other */
/* ----- */
.ads_navigation_link.current {
  font-weight: bold;
}
.ads_note {
  padding-bottom: 5px;
}
.ads_note_object {
  font-weight: bold;
}
.ads_note_info {
  color: #999999;
  font-size: 0.91em;
}
.ads_note_info_user,
.ads_note_info_edit_link {
  color: #999999;
}
.ads_note_edit_link {
  display: block;
}
.ads_note_edit_wrap {
  margin-right: 8px;
}
#ads_note_edit,
#ads_domain_comment_edit,
#ads_template_text_edit {
  width: 100%;
  height: 100px;
}
.ads_moder_all_notes_note {
  padding: 4px 0;
}
.ads_moder_all_notes_header {
  position: relative;
}
.ads_moder_all_notes_header .ads_tabs_filters {
  background-color: #fff;
  padding-left: 0;
  padding-top: 0;
}
.ads_moder_all_notes_top_pagination {
  position: absolute;
  bottom: 0;
  right: 0;
}
.ads_moder_all_notes_domains {
  margin-top: 10px;
}
.ads_moder_ban,
.ads_moder_stop,
.ads_moder_cancel {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(/images/moder_actions_icons_10.png);
  background-size: 10px auto;
}
.is_2x .ads_moder_ban {
  background-image: url(/images/moder_actions_icons_10_2x.png);
}
.ads_moder_stop {
  background-position: 0 -10px;
}
.ads_moder_cancel {
  background-position: 0 -20px;
}
.ads_moder_server_ok {
  color: #008800;
}
.ads_moder_server_error {
  color: #ff0000;
}
/* --- */
/* OLD */
/* --- */
#ads_unions_bonuses * {
  text-align: left;
}
#ads_unions_queue .ads_unions_list td,
#ads_unions_queue .ads_unions_list th {
  text-align: left;
}
#ads_premoderation_stat .ads_unions_list th.column_moder *,
#ads_premoderation_stat .ads_unions_list td.column_moder,
#ads_premoderation_stat .ads_unions_list th.column_period *,
#ads_premoderation_stat .ads_unions_list td.column_period {
  text-align: left;
}
/* Distribution chart */
.ads_moder_chart_table_wrap {
  position: relative;
}
.ads_moder_chart_table {
  background-color: #F3F5F7;
  border: 0 none;
  margin-bottom: 10px;
  vertical-align: bottom;
  margin: 0 auto;
}
.ads_moder_chart_table td.ads_moder_total_chart_row {
  background-color: #FFFFFF;
  color: #45688E;
  border: 0 none;
  padding-top: 10px;
  padding-bottom: 30px;
  vertical-align: bottom;
}
.ads_moder_chart_column {
  background-color: #B0C1CF;
  vertical-align: bottom;
  cursor: pointer;
}
.ads_moder_chart_column.even {
  background-color: #C7D3DD;
}
.ads_moder_chart_table td {
  vertical-align: bottom;
}
.ads_moder_chart_table td.ads_moder_chart_under_num {
  background-color: #EAEEF2;
  height: 15px;
  padding-bottom: 3px;
}
.ads_moder_chart_table td.ads_moder_chart_under_num.even {
  background-color: #FFFFFF;
}
.ads_moder_chart_date {
  font-size: 9px;
  height: 10px;
  padding-top: 4px;
  text-align: center;
}
.ads_moder_chart_max_label {
  background-color: #FFFFFF;
  color: #000000;
  display: none;
  font-size: 9px;
  padding: 2px 4px;
  position: absolute;
  z-index: 100;
}
.ads_moder_chart_max_label_out {
  background-color: #2B587A;
  display: none;
  opacity: 0.2;
  position: absolute;
  z-index: 90;
}
.ads_moder_chart_max_label_out2 {
  background-color: #2B587A;
  display: none;
  opacity: 0.1;
  position: absolute;
  z-index: 90;
}
#ads_moder_domain_search {
  padding: 6px 6px 5px 6px;
  width: 300px;
  margin-bottom: 10px;
}
