#apps_edit_css {
  display: none;
}
.apps_edit_nav_header {
  padding: 15px 23px;
  background-color: #f7f8fa;
  border-bottom: 1px solid #eef0f3;
  margin-bottom: 14px;
}
.apps_edit_nav_img_wrap,
.apps_edit_nav_img {
  width: 34px;
  height: 34px;
}
.apps_edit_nav_label {
  padding-left: 13px;
  color: #4b4b4b;
  width: 122px;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 34px;
}
#app_edit,
.apps_edit_managed_apps {
  width: 725px;
}
.app_edit_main {
  line-height: 140%;
}
.app_edit_main h5 {
  color: #45688E;
  font-size: 1.18em;
  margin: 24px 0 12px;
}
#apps_edit_progress {
  margin: 9px 0px 0px 580px;
  position: absolute;
  display: none;
}
#app_edit_error {
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
  line-height: 160%;
}
.apps_edit_dld {
  border: 1px solid #CCCCCC;
  background-color: #F7F7F7;
  padding: 8px 11px;
}
#app_edit_error_wrap {
  padding: 0px 0px 20px;
  display: none;
}
#app_edit_cont {
  position: relative;
}
#app_edit_cont.white {
  background: #FFFFFF;
}
.apps_edit_table {
  width: 100%;
  border-spacing: 0px;
}
.apps_edit_table.app_type {
  margin-bottom: 15px;
}
.apps_edit_table td {
  padding: 7px 5px;
  vertical-align: top;
}
td.apps_edit_info_r {
  padding: 0px;
}
td.apps_edit_wide {
  padding-left: 0px;
}
.apps_edit_table .apps_edit_t {
  padding-top: 11px;
}
.apps_edit_table .apps_edit_i {
  padding: 11px 26px 15px;
  background-repeat: no-repeat;
  background-position: 5px 12px;
}
.apps_edit_table .apps_edit_r {
  padding-top: 12px;
  padding-bottom: 20px;
}
.apps_edit_table .apps_edit_rs {
  padding-top: 12px;
  padding-bottom: 0px;
}
.apps_edit_table .text {
  width: 258px;
}
.apps_edit_table .text::-webkit-input-placeholder {
  color: #8c8e91;
}
.apps_edit_table .text:-moz-placeholder {
  color: #8c8e91;
}
.apps_edit_table .text:-ms-input-placeholder {
  color: #8c8e91;
}
.apps_edit_table textarea {
  height: 60px;
  padding: 5px 9px 7px;
}
.app_edit_admins {
  padding-bottom: 12px;
}
.app_admin_label {
  text-align: right;
  vertical-align: top;
  width: 159px;
  padding: 3px 10px;
  color: #666666;
}
.app_admin_row {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DAE1E8;
  margin: 0 0 3px 0;
  padding: 7px 7px 5px;
  width: 294px;
}
.app_admin_row .img {
  padding: 0px;
}
.app_admin_row .info {
  padding: 0px 0px 0px 7px;
}
.app_admin_row .actions {
  color: #777777;
  font-size: 0.81em;
}
.app_admin_row img {
  width: 25px;
  height: 25px;
}
.app_admin_input {
  width: 304px;
  height: 13px;
}
.app_edit_photo {
  position: absolute;
  margin: 14px 0px 0px 478px;
  width: 110px;
  text-align: center;
}
.apps_edit_img_opts {
  margin-bottom: 5px;
}
.app_edit_photo img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
div.apps_edit_header {
  padding: 20px 0px 6px 175px;
  font-weight: bold;
  color: #2b2f33;
}
div.apps_edit_header.no_padd {
  padding-top: 0px;
}
td.apps_edit_header {
  padding: 20px 5px 6px;
  font-weight: bold;
  color: #2b2f33;
}
.apps_edit_create {
  padding: 25px 30px 23px;
  width: 665px;
}
.app_policy {
  margin: 15px;
}
#apps_edit_tabs_small {
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid #DAE1E8;
  background: #F7F7F7;
  line-height: 140%;
}
.app_edit_tabs {
  line-height: 140%;
}
.app_tab,
.app_tab_selected,
.app_tab_over {
  cursor: pointer;
  padding: 3px 0px 2px 5px;
  float: left;
}
.app_tab2 {
  padding: 3px 6px 4px;
}
.app_tab_over .app_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
}
.app_tab_selected .app_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #597DA3;
}
.app_tab3 {
  font-weight: bold;
  color: #45688E;
  padding-left: 2px;
  padding-right: 5px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.app_tab3_nav {
  padding-right: 2px;
}
.app_tab_selected .app_tab3 {
  color: #FFF;
}
.app_stat_head {
  border-bottom: 1px solid #DAE1E8;
  color: #2b2f33;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 20px 0 2px;
}
.app_stat_head.no_padd {
  padding-top: 5px;
}
.app_stat_head.big_padd {
  padding-top: 30px;
}
.app_stat_head.payments {
  border-bottom: none;
  padding-left: 175px;
  padding-right: 175px;
  margin-bottom: 5px;
}
.app_stat_menu_items {
  float: right;
  margin-right: 14px;
  margin-top: 10px;
}
.app_stat_menu_items .active {
  font-weight: bold;
}
.app_flash_wrap {
  margin: 20px 30px;
}
.app_l_arr,
.app_r_arr {
  margin-left: 3px;
  margin-top: 6px;
  margin-right: 1px;
  *margin-top: 0px;
  *margin-bottom: 3px;
  font-size: 1.27em;
  display: inline;
  float: right;
}
.app_l_arr a,
.app_r_arr a {
  border: 1px solid #DAE2E8;
  border-width: 1px 1px 1px 1px;
  background-color: #fff;
  padding: 0px 5px 3px 5px;
  *line-height: 2.27em;
}
.app_l_arr a:hover,
.app_r_arr a:hover {
  text-decoration: none;
  border: 1px solid #45688E;
}
.app_time_label {
  display: inline;
  float: left;
  margin-bottom: 6px;
  margin-top: 8px;
}
.app_no_payments {
  color: #777777;
  line-height: 200%;
  margin: 0 0 6px 40px;
  padding: 30px 0;
  text-align: center;
  width: 517px;
}
.apps_payments_table {
  margin: 20px 30px;
}
.apps_payments_pages {
  border-top: 1px solid #e6e8eb;
  padding: 0px 30px;
  line-height: 50px;
}
.apps_payments_pages a {
  display: block;
  margin-left: 10px;
}
.apps_payments_info {
  color: #777777;
}
.app_payments_row {
  margin-top: 10px;
  line-height: 32px;
}
.app_payments_row.header {
  font-weight: bold;
  margin-top: 0px;
  line-height: 20px;
}
.app_pay_link {
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header .app_pay_link {
  width: 362px;
}
.app_pay_votes {
  width: 110px;
}
.app_pay_image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: block;
}
.app_pay_image.bonus {
  background: #dfe4eb url(/images/icons/payments_s.png?1) no-repeat 1px -67px;
}
.app_pay_image img {
  width: 32px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.apps_edit_logs_box .wikiTable {
  margin: 0px;
  width: 100%;
}
.app_pay_filter.text {
  margin-top: 17px;
  width: 180px;
  padding: 6px 25px 7px;
  background: #ffffff url(/images/head_magglass.png) no-repeat 0px -28px;
}
.app_status_msg,
.app_info_msg,
.app_error_msg {
  line-height: 160%;
}
.app_status_msg .icon,
.app_info_msg .icon,
.app_error_msg .icon {
  width: 26px;
  height: 26px;
  margin: 0 30px 0 4px;
  background: url(/images/icons/app_status.png?2) no-repeat 0px 0px;
}
.app_info_msg .icon {
  background-position: 0px -26px;
}
.app_error_msg .icon {
  background-position: 0px -52px;
}
.app_status_msg .text,
.app_info_msg .text,
.app_error_msg .text {
  width: 605px;
  padding-top: 3px;
}
.app_pay_label {
  height: 25px;
  width: 130px;
}
.app_coins_neg {
  color: #990000;
}
.app_cur_status {
  line-height: 160%;
  margin-bottom: -5px;
}
.app_comment {
  padding: 15px 0;
  border-bottom: 1px solid #f0f3f6;
}
.app_comment:last-child {
  border-bottom: 0px;
}
.app_comment .image,
.app_comment .image a,
.app_comment .image img {
  width: 40px;
  height: 40px;
}
.app_comment .image img {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.app_comment .image {
  vertical-align: top;
}
.app_comment .image a {
  overflow: hidden;
  display: block;
}
.app_comment .icon {
  width: 40px;
  padding-top: 7px;
  vertical-align: top;
}
.app_comment .subicon {
  height: 16px;
  background: transparent url(/images/icons/dev_status_icons.png) 0 0 no-repeat;
}
.app_comment.decline .subicon {
  background-position: center 0px;
}
.app_comment.sent .subicon {
  background-position: center -16px;
}
.app_comment.trust .subicon {
  background-position: center -32px;
}
.app_comment.pay_unblock .subicon {
  background-position: center -48px;
}
.app_comment.pay_block .subicon {
  background-position: center -64px;
}
.app_comment.unblock .subicon {
  background-position: center -80px;
}
.app_comment.block .subicon {
  background-position: center -96px;
}
.app_comment.delete .subicon {
  background-position: center -112px;
}
.app_comment .info {
  padding-left: 15px;
  vertical-align: top;
  width: 470px;
}
.app_comment .status {
  padding-left: 15px;
  color: #54595e;
  vertical-align: top;
  line-height: 30px;
}
.app_comment .date {
  color: #939699;
  font-size: 0.92em;
  line-height: 30px;
  max-width: 130px;
}
.app_comment.txt .date {
  line-height: 40px;
}
.app_comment_link {
  padding-top: 5px;
}
body.dev .app_author {
  font-weight: bold;
  color: #56789d;
  font-size: 0.92em;
}
#apps_page_progress {
  margin: 3px 5px;
  display: none;
}
.apps_edit_table .text_small {
  width: 50px;
}
.apps_edit_table .apps_edit_desc {
  color: #777777;
}
.apps_edit_table .apps_edit_desc_abs {
  position: absolute;
  color: #777777;
  margin-left: 20px;
}
.apps_edit_setup {
  display: block;
  padding-top: 8px;
}
.apps_edit_iframe_res {
  color: #777777;
  padding: 2px;
}
.apps_edit_delete_btn {
  margin-top: 20px;
}
.apps_edit_table .text.app_pay_input {
  width: 40px;
  margin-right: 10px;
}
#apps_check_history div.block,
#apps_check_history div.trust,
#apps_check_history div.request,
#apps_check_history div.verify,
#apps_check_history div.decline {
  margin-top: 5px;
  padding: 10px;
}
#apps_check_history div.block {
  border: 1px solid #E4D4CA;
  background-color: #F5E9E2;
}
#apps_check_history div.decline {
  border: 1px solid #E8E0C3;
  background-color: #FAF3D8;
}
#apps_check_history div.request {
  border: 1px solid #E0E0E0;
  background-color: #FCFCFC;
}
#apps_check_history div.verify {
  border: 1px solid #CDD1E1;
  background-color: #E4E7F2;
}
#apps_check_history div.trust {
  border: 1px solid #CFDEBF;
  background-color: #E8F2DC;
}
#apps_check_history #check_history {
  padding: 0px 10px 10px;
}
#flash_api_external_cont {
  height: 1px;
  position: absolute;
}
.apps_admin_info {
  color: #BBBBBB;
  font-weight: bold;
  padding: 0px 5px;
  cursor: default;
}
#apps_edit_upload_notice {
  border: 1px solid #DADFE8;
  background-color: #F5F6F7;
  padding: 8px 11px;
  margin: 0px 0px 10px 0px;
}
#apps_edit_upload_error {
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
  margin: 0px 0px 10px 0px;
  display: none;
}
#apps_addr_table {
  background: #FFF;
  border: 1px solid #C0CAD5;
  width: 278px;
}
#apps_addr_table td {
  padding: 0px;
  margin: 0px;
}
#apps_addr_table .apps_edit_addr_label {
  color: #777;
  padding: 5px 0px 3px 5px;
  line-height: 160%;
}
#app_edit_cont #app_domain {
  border: 0;
  padding: 7px 3px 8px 0;
  width: 146px;
  background: transparent;
  border: none;
}
#app_edit_cont .apps_addr_field {
  width: 100%;
}
#app_edit_cont #apps_addr_result {
  position: absolute;
  color: #777;
  margin: 5px 0px 0px 288px;
}
#apps_edit_box {
  padding: 20px;
}
.apps_edit_box .apps_restrictions {
  color: #36638E;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.apps_edit_box .listing {
  margin-bottom: 0px;
}
.apps_edit_right_link {
  padding-top: 5px;
}
#app_edit .app_tabs.t_bar {
  background: none repeat scroll 0 0 white;
  padding: 11px 10px 0px 10px;
}
.apps_edit_swf_row {
  margin-left: 157px;
}
.apps_edit_swf_row .apps_edit_name {
  width: 250px;
}
.apps_edit_swf_row .apps_edit_size {
  width: 45px;
}
.apps_edit_delete_row {
  background: #ffffff url(/images/pics/statusx.gif) no-repeat;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
.apps_edit_success {
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
  font-size: 1em;
  line-height: 160%;
  padding: 8px 11px;
  margin-bottom: 17px;
  display: none;
}
.apps_edit_side_tt_pointer {
  background: url(/images/dev_ddtooltip.png?1) 0 0 no-repeat;
  width: 6px;
  height: 11px;
  position: absolute;
  left: -5px;
  top: 40px;
  overflow: hidden;
}
.apps_edit_bottom_tt_pointer {
  background: url(/images/dev_ddtooltip.png?1) 0 -5px no-repeat;
  width: 12px;
  height: 6px;
  position: absolute;
  left: 22px;
  bottom: -5px;
  overflow: hidden;
}
.toup .apps_edit_bottom_tt_pointer {
  top: -5px;
  bottom: auto;
  background-position: 0px 0px;
}
.apps_edit_side_email_tt table .tt_text {
  line-height: 150%;
  color: #000;
  padding: 10px;
  width: 200px;
}
.apps_edit_up_tt table .tt_text {
  line-height: 150%;
  color: #000;
  padding: 10px;
  width: 300px;
}
.apps_edit_up_tt table.toup1 .bottom_pointer {
  background: url(/images/tooltip_arrow_white.gif) no-repeat;
  margin-right: 0px;
  margin-left: 64px;
  display: block;
}
.apps_edit_hint {
  width: 258px;
}
.apps_edit_blockquote {
  padding: 10px;
  border-left: 9px solid #C9D8DF;
  border-bottom: 2px solid #EBEFF2;
  background-color: #F5F7F8;
  margin: 10px 0px 0px 0px;
  line-height: 150%;
}
.apps_edit_create_btn {
  margin-top: 4px;
}
.apps_edit_summary {
  color: #9aa6b1;
  padding: 0px 5px;
  margin: 23px 10px 0px;
  font-size: 0.843em;
  height: 20px;
  line-height: 20px;
}
#apps_edit_create_cont #app_edit_error_wrap {
  padding: 30px 30px 0px;
}
.apps_create_type_select {
  padding-bottom: 10px;
}
.apps_edit_table .apps_edit_agree {
  padding-top: 7px;
}
#apps_edit_create_cont .apps_create_desc {
  padding: 20px 20px 0px 20px;
}
#apps_edit_create_cont .apps_create_desc div {
  background: #FFFFFF;
  border: 1px solid #C0CAD5;
  padding: 10px;
}
#apps_edit_upload_cont_big,
#apps_edit_upload_cont {
  margin: 12px 0 0;
  text-align: center;
}
.apps_upload_progress_wrap {
  width: 200px;
  height: 18px;
  margin: auto;
  background: #FFF;
  border: 1px solid #CCC;
}
.apps_upload_progress {
  height: 18px;
  background: #597da3 url(/images/progress_grad.gif) repeat;
  border: 1px solid #45688E;
  margin: -1px;
}
.apps_info_row_tt {
  margin-bottom: 10px;
}
.apps_info_title_tt {
  width: 70px;
  color: #777777;
}
.apps_info_text_tt {
  width: 130px;
}
.apps_edit_secure_text {
  width: 372px;
}
.apps_edit_cat {
  padding: 5px 24px 0px 0px;
}
.apps_edit_upload_row {
  vertical-align: top;
}
.apps_edit_img_cont {
  padding: 3px;
  background: #FFFFFF;
  display: inline-block;
  zoom: 1;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0px 1px 3px #ced2d8;
  -moz-box-shadow: 0px 1px 3px #ced2d8;
  -webkit-box-shadow: 0px 1px 3px #ced2d8;
}
.apps_edit_img_wrap {
  background: #edf2f5;
  text-align: center;
  width: 128px;
  height: 103px;
  padding: 25px 0px 0px;
  margin: 0 auto;
}
.apps_edit_img_box_wrap {
  background: #edf2f5;
  text-align: center;
  width: 275px;
  padding: 22px 0px 23px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 auto;
}
.apps_edit_old_wrap {
  background: #edf2f5;
  text-align: center;
  width: 196px;
  height: 116px;
  padding: 2px 0px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 auto;
}
#apps_edit_upload_cont_img {
  text-align: center;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.apps_edit_restrictions {
  padding: 8px 0px 0px 0px;
}
.apps_edit_ss_restrictions {
  padding: 0px 0px 10px;
}
.apps_edit_upload {
  text-align: center;
  padding: 8px;
}
td.apps_edit_info_narrow {
  padding: 9px 10px 8px 0px;
  width: 110px;
  text-align: center;
}
.apps_edit_img_small {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.apps_edit_img_block {
  padding: 3px;
  background: white;
  display: inline-block;
  zoom: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 1px 3px #ced2d8;
  -moz-box-shadow: 0px 1px 3px #ced2d8;
  -webkit-box-shadow: 0px 1px 3px #ced2d8;
}
td.apps_edit_label,
.apps_edit_table .label {
  color: #666666;
  width: 160px;
  padding: 11px 10px 0px 0px;
  white-space: nowrap;
}
#apps_edit_upload_small {
  padding: 10px 0px;
}
.apps_edit_banner {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.apps_edit_banner_cont {
  text-align: center;
  width: 260px;
}
#apps_edit_full_banner {
  width: 448px;
  height: 276px;
  display: inline-block;
}
.apps_edit_imgs_l {
  text-align: center;
  padding: 0px;
}
.apps_edit_imgs_r {
  padding: 0px 25px;
}
.apps_edit_imgs_info {
  width: 260px;
}
#app_edit_wrap .apps_edit_info_restrictions {
  padding: 5px 0px 0px 0px;
  margin-bottom: 10px;
  width: 380px;
}
#app_edit_wrap .dev_page_block {
  padding: 0px;
}
.apps_edit_info_wrap {
  padding: 25px 30px 30px;
}
.app_edit_block_header {
  background-color: #f7f8fa;
  border-bottom: 1px solid #eef0f3;
  padding: 0px 30px;
  position: relative;
}
#app_edit_nav_mark {
  position: absolute;
  bottom: -1px;
  left: 30px;
  width: 20px;
  height: 2px;
  background: #6286ae;
  display: none;
}
.app_edit_block_header.anim #app_edit_nav_mark {
  display: block;
}
.app_edit_block_header .label {
  line-height: 64px;
  font-size: 1.46em;
  color: #2b2f33;
}
.app_edit_block_header button {
  margin-top: 17px;
}
.dev .app_edit_block_header .app_edit_dev_header {
  margin-right: 25px;
  margin-left: -5px;
  color: #65686c;
  font-size: 1.15em;
  padding: 0px 5px;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
.dev .app_edit_block_header .app_edit_dev_header:hover {
  text-decoration: none;
  border-bottom: 2px solid #cad2db;
  margin-bottom: -1px;
  height: 63px;
}
.dev .app_edit_block_header .app_edit_dev_header.subheader_sel {
  color: #2b2f33;
  border-bottom: 2px solid #6286ae;
  margin-bottom: -1px;
  height: 63px;
}
.dev .app_edit_block_header.anim .app_edit_dev_header.subheader_sel {
  border-bottom: none;
  margin-bottom: 0px;
  height: 64px;
}
#apps_edit_upload_banner {
  padding: 0px 0px;
}
.apps_edit_imgs {
  padding: 20px 30px 30px;
}
td.apps_edit_info_save {
  padding: 13px 5px 0px;
}
.apps_info_progress_wrap {
  width: 110px;
  height: 18px;
  background: white;
  border: 1px solid #CCC;
  border-image: initial;
}
.apps_edit_screenshot_cont table {
  border-collapse: collapse;
}
.apps_edit_banner_no_upload {
  padding-top: 1px;
}
.apps_edit_screenshot_new {
  width: 507px;
  height: 250px;
  background: #edf2f5;
  text-align: center;
  padding: 30px 50px;
  margin: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.apps_edit_screen_restr {
  padding: 8px 0px 0px 14px;
  margin: 0px 0px 15px 140px;
  width: 280px;
}
.apps_edit_screen_restr .listing {
  padding-left: 14px;
}
.apps_edit_restr_title {
  color: #45688E;
  font-weight: bold;
  font-size: 1.08em;
  padding: 0px 0px 4px 0px;
  text-align: center;
}
.apps_edit_imgs_row {
  margin-bottom: 20px;
  margin-top: 10px;
  border-collapse: collapse;
}
.apps_edit_imgs_row:last-child {
  margin-bottom: 0px;
}
.apps_edit_screen_l {
  padding: 0px 0px 5px;
}
.apps_edit_screen {
  margin: 0px 6px 4px 0px;
  cursor: pointer;
  position: relative;
  width: 147px;
  height: 100px;
  overflow: hidden;
}
.apps_edit_screen img {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.apps_edit_screen_r {
  padding: 0px 0px 0px;
}
.apps_edit_screen_line {
  border-top: 1px solid #eef0f3;
  margin: 20px -30px 5px;
  padding: 26px 30px 0px;
  color: #2b2f33;
  font-weight: bold;
}
.apps_edit_screen_close {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 3px;
  cursor: pointer;
  background: url(/images/delete.png) no-repeat 0 0;
  background-position: center;
  background-color: #000000;
  width: 9px;
  height: 9px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.apps_edit_upload_screenshot {
  margin-bottom: 20px;
}
.apps_edit_screenshot_img_text {
  position: absolute;
  width: 147px;
  margin-top: 69px;
  text-align: center;
  color: #738392;
}
.apps_edit_cert_info {
  padding: 18px 0px 0px 0px;
}
.apps_edit_cert_info .listing {
  padding-left: 20px;
  padding-top: 8px;
}
#admin_app_option {
  margin-top: 8px;
  color: #000000;
}
.apps_edit_tt table .tt_text {
  line-height: 150%;
  color: #000;
  padding: 10px;
  width: 280px;
}
.apps_edit_tt.user table .tt_text {
  width: 185px;
}
.apps_edit_to_new_btn {
  padding: 14px 0px 4px;
}
.apps_edit_start_label {
  padding: 3px 10px 0px 0px;
}
.is_rtl1 .apps_edit_start_label {
  padding: 3px 0px 0px 10px;
}
.app_ads_stat_head {
  border-bottom: 1px solid #DAE1E8;
  color: #45688E;
  font-size: 1.08em;
  font-weight: bold;
  margin: 0px 0px 10px;
  padding: 20px 0 2px;
}
#apps_edit_ads_form {
  padding: 0px 10px;
}
.apps_ads_label {
  color: #555555;
  width: 140px;
  height: 2.0em;
  padding-top: 3px;
}
.apps_ads_label.dd {
  padding-top: 4px;
}
.apps_ads_value.dd.text {
  padding-top: 0px;
}
.apps_ads_checkbox {
  color: #555555;
  height: 2.0em;
  padding-top: 5px;
}
#apps_edit_ads_stats {
  padding: 0 10px;
}
#apps_edit_ads_stats .apps_ads_label {
  color: #666;
}
.apps_ads_value.text {
  padding: 3px 0 0 5px;
}
a.apps_ads_status {
  border-bottom: 1px dashed #2B587A;
}
a.apps_ads_status:hover {
  text-decoration: none;
}
.apps_status_progress {
  background: url('/images/upload.gif') 50% 50% no-repeat;
  display: block;
  width: 32px;
  height: 18px;
  display: none;
}
#apps_edit_ads_balance {
  padding: 15px 20px 0px;
}
#apps_edit_ads_balance .apps_ads_label {
  width: 190px;
}
.apps_ads_saved {
  padding-left: 15px;
  color: #777;
  opacity: 0;
}
.apps_ads_min_votes {
  padding-left: 8px;
  color: #777;
}
.apps_edit_dd_loading {
  display: none;
  position: absolute;
  background: url('/images/upload.gif') no-repeat;
  width: 32px;
  height: 8px;
  margin: 8px 0px 0px 205px;
}
#app_name_notice {
  display: block;
  padding: 3px 0 0 2px;
  color: #777;
  font-size: 10px;
}
.font_medium #app_name_notice {
  font-size: 11px;
}
input.apps_edit_input_readonly {
  background-color: #E1E7ED;
}
.apps_ads_range_sep {
  padding: 4px 3px 0 3px;
}
#apps_ads_age_from,
#apps_ads_age_to {
  width: 62px;
}
#ads_age_saved {
  padding-top: 4px;
}
.apps_edit_list .apps_edit_editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.apps_edit_editor_wrap {
  position: relative;
  height: 122px;
}
.apps_edit_button_light {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 10px 0px;
  margin: 0px 0px 0px 5px;
  font-weight: normal;
  height: 20px;
  text-align: center;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.apps_edit_button_light:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.apps_edit_rows_empty {
  color: #777777;
  padding: 24px 0px 23px;
  font-size: 1.08em;
  text-align: center;
}
.apps_edit_left {
  color: #666666;
  width: 165px;
  padding: 5px;
  margin-top: 5px;
}
.apps_edit_short {
  width: 110px;
}
.apps_edit_right {
  padding: 5px 5px;
  width: 400px;
  margin-top: 5px;
}
.apps_edit_content {
  display: none;
}
.apps_edit_cont_name_c {
  color: #54657d;
  background: #eef1f6;
  padding: 10px 11px;
  font-size: 1em;
  line-height: 16px;
  display: block;
  cursor: pointer;
}
input.apps_edit_cont_name {
  border: none;
  color: #54657d;
  background: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 1px;
  margin: 0px;
  width: 150px;
  font-size: 1em !important;
  cursor: pointer;
}
.apps_edit_rows_review {
  padding: 32px 0px 5px;
  line-height: 160%;
  color: #4b4b4b;
}
.apps_edit_funcs_create {
  margin-top: 16px;
}
.apps_edit_cont_row {
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
.apps_edit_cont_row:last-child {
  margin-bottom: 0px;
}
.apps_edit_requests_data {
  background-color: #f7f8fa;
  border: 1px solid #dfe4ed;
  border-top: 0px;
  padding: 21px 11px 20px;
}
.apps_edit_request_info {
  padding: 5px;
}
.apps_edit_request_field {
  width: 135px;
  color: #666666;
  padding: 4px 15px 0px 0px;
}
.apps_edit_input_block {
  margin: -1px 0px;
  border: 1px solid #C3CBD4;
  background-color: #ffffff;
  cursor: text;
}
.apps_edit_input_block.disabled {
  color: #8C8E91;
  -webkit-text-fill-color: #8C8E91;
  -webkit-opacity: 1;
  background-color: #F5F6F7;
  border-color: #C9CDD1;
  cursor: default;
}
.apps_edit_input_block input.apps_edit_input {
  border: 0px;
  margin: 0px;
  padding-left: 0px;
  background: none;
}
.apps_edit_requests_review {
  padding: 12px 0px 5px;
  line-height: 160%;
  color: #4b4b4b;
}
.apps_edit_requests_block {
  padding-bottom: 20px;
}
.apps_edit_request_user {
  width: 48px;
  padding: 4px 0px 6px 9px;
  height: 18px;
  color: #777777;
}
.apps_edit_requests_data input {
  width: 399px;
}
.apps_edit_requests_data input.accept {
  width: 447px;
}
.apps_edit_row_acts {
  padding: 10px 0;
}
.apps_edit_row_save_button {
  padding: 5px 0 0 20px;
}
.apps_edit_save_info {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 10px 0px;
  margin: 0px 0px 0px 5px;
  font-weight: normal;
  height: 10px;
  text-align: center;
  vertical-align: top;
  color: #777777;
}
.apps_edit_save_info .save_error {
  color: #BB5555;
}
.apps_edit_err_info {
  font-weight: bold;
  color: #BB5555;
  padding: 5px 5px;
  width: 593px;
  margin-top: 5px;
}
.apps_edit_box_row {
  margin-bottom: 5px;
}
.apps_edit_box_label {
  padding: 3px 10px 0px;
  color: #666;
  width: 150px;
  text-align: right;
}
.apps_edit_box_labeled {
  width: 193px;
}
.apps_edit_box_labeled input {
  width: 193px;
}
#apps_currency_box h2 {
  padding-top: 15px;
}
#apps_currency_box .info_msg {
  padding: 16px 20px;
  border: none;
  background-color: #EEF0F2;
}
.apps_currency_box_text {
  margin-bottom: 15px;
}
#apps_currency_box .apps_currency_box_cont {
  padding: 10px 20px 20px;
}
#apps_currency_box #currency_rate {
  width: 70px;
}
.app_edit_top_msg {
  padding: 15px 20px;
  background-color: #e8f2dc;
  border-bottom: 1px solid #cfdebf;
}
.app_edit_top_msg .hide_button {
  cursor: pointer;
  position: relative;
  z-index: 5;
  margin: -7px -10px 0 0;
  background: url(/images/close.gif) no-repeat;
  height: 19px;
  width: 15px;
  line-height: 150%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.app_edit_top_msg .hide_button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#apps_edit_search_btn {
  width: 190px;
}
.app_search.manage {
  padding: 0px;
  background: none;
}
#apps_edit_reset_search {
  margin: 13px 0px 0px 678px;
  display: none;
  cursor: pointer;
  background: transparent url(/images/icons/clear_search.png) 5px 5px no-repeat;
  padding: 2px;
  width: 19px;
  height: 19px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  z-index: 95;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#apps_edit_reset_search:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#apps_edit_admins {
  background-color: #FFF;
  padding-bottom: 10px;
}
.apps_edit_user_link_wrap {
  padding: 20px;
  background-color: #f7f7f7;
}
.apps_edit_user_link {
  color: #45668E;
  font-size: 1.08em;
  font-weight: bold;
  margin-bottom: 10px;
}
#apps_edit_add_user_error {
  margin-bottom: 20px;
  display: none;
}
.apps_edit_user_progress {
  margin: 7px -42px;
  display: none;
}
.loading .apps_edit_user_progress {
  display: block;
}
input.apps_edit_add_user_inp {
  padding: 5px 9px 7px;
  width: 390px;
  margin-bottom: 6px;
}
#apps_edit_user_info {
  display: none;
  padding: 20px;
}
#apps_edit_users_rows {
  margin: -15px 0px;
}
#apps_edit_users_more {
  display: block;
  padding: 10px 0px;
  margin: 0px 10px 10px;
  border-top: 1px solid #EDEDED;
  text-align: center;
}
#apps_edit_users_more:hover {
  background: #E1E7ED;
  border-color: #DAE1E8;
  text-decoration: none;
}
.apps_edit_targ_link {
  margin: 13px 0 0px;
  display: inline-block;
}
.app_edit_ads .apps_edit_other {
  padding: 0px 30px 20px;
}
.apps_edit_user {
  border-top: 1px solid #f0f3f6;
  padding: 15px 0px;
}
.apps_edit_user:first-child {
  border-top: 0px;
}
.apps_edit_user_thumb_wrap {
  width: 55px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.apps_edit_user_thumb {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
}
.apps_edit_user_img {
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.apps_edit_user_info,
.apps_edit_user_actions {
  line-height: 40px;
  height: 40px;
}
.apps_edit_user_name {
  font-weight: bold;
  font-size: 0.92em;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.apps_edit_user_type {
  padding: 0px 10px;
  color: rgba(75, 75, 75, 0.65);
}
.apps_edit_user_type .main {
  color: #4b4b4b;
}
.apps_edit_user_actions {
  color: #777;
}
.apps_edit_search_focused .apps_edit_user_highlight {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  padding: 0px 1px 0px;
  margin: 0px -1px;
  *padding: 0px;
  *margin: 0px;
}
.apps_edit_users_none {
  font-size: 13px;
  text-align: center;
  color: #777;
  padding: 100px 20px;
}
.apps_edit_admin_image {
  text-align: center;
  width: 100px;
  overflow: hidden;
}
.apps_edit_admin_name {
  width: 300px;
  margin: 0px -100px;
}
.apps_edit_admin_rights {
  margin-left: 20px;
  width: 290px;
}
.apps_edit_admin_rights h2 {
  border-bottom: none;
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 1.08em;
}
.apps_edit_admin_rights .radiobtn {
  margin-bottom: 10px;
}
.apps_admin_level_desc {
  line-height: 20px;
  color: #777;
}
#apps_edit_admin_rights {
  padding-left: 20px;
}
#apps_edit_admin_rights .checkbox {
  margin-bottom: 12px;
}
.apps_edit_empty {
  padding: 100px 0;
  color: #777;
  text-align: center;
  font-size: 1.18em;
}
.apps_no_border {
  border: none;
}
.apps_edit_box_side_tt table .tt_text {
  line-height: 150%;
  color: #000;
  padding: 10px;
  width: 180px;
}
.apps_edit_box_right_tt_pointer {
  background: url(/images/ddtooltip.png) -8px 0 no-repeat;
  width: 8px;
  height: 11px;
  position: absolute;
  left: 201px;
  top: 12px;
  overflow: hidden;
  z-index: 10;
}
.apps_edit_desc .tdd_control {
  border-color: #C0CAD5;
}
input.apps_edit_input {
  padding: 5px 9px 7px;
  margin-top: -1px;
}
.apps_edit_dd,
.apps_edit_table textarea {
  margin-top: -1px;
}
div.apps_edit_dd .selector_container td.selector_dropdown {
  background-position: center 1px;
}
.apps_edit_small_banner_panel {
  display: inline-block;
  width: 146px;
  height: 276px;
}
.apps_edit_small_banner {
  width: 146px;
  height: 90px;
  display: block;
  margin-bottom: 3px;
}
.apps_edit_full_wrap {
  height: 276px;
  margin-top: 20px;
}
.apps_edit_img_text,
.apps_edit_banner_text {
  position: absolute;
  width: 597px;
  margin-top: 120px;
  text-align: center;
  color: #738392;
}
.apps_edit_banner_text {
  width: 448px;
  margin-top: 176px;
}
.apps_edit_progress .apps_edit_img_text {
  display: none;
}
#apps_full_banner_error,
#apps_banner_error,
#apps_photo_error,
#apps_old_banner_error,
#apps_catalog_image_error,
#apps_screenshot_error {
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
  line-height: 160%;
  margin: 15px 0px;
  display: none;
}
.apps_edit_btn_wrap {
  display: none;
  position: absolute;
  width: 606px;
}
.apps_edit_remove_banner_btn {
  width: 448px;
}
.apps_edit_btn_close {
  cursor: pointer;
  margin-left: 101px;
  background: url(/images/delete.png) no-repeat 0 0;
  background-position: center;
  background-color: #000000;
  padding: 3px;
  width: 9px;
  margin: 6px;
  height: 9px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.apps_edit_btn_close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.apps_edit_img_loaded .apps_info_progress_wrap {
  display: none;
}
.apps_edit_img_loaded .apps_info_prg_cont {
  display: none;
}
.apps_edit_img_loaded .lite_upload {
  display: none;
}
.apps_edit_img_loaded .apps_edit_img_text {
  display: none;
}
.apps_edit_img_loaded .apps_edit_banner_text {
  display: none;
}
.apps_edit_thumb_header {
  color: #2b2f33;
  font-weight: bold;
}
.apps_edit_thumb_deprecated {
  color: #808080;
  margin-top: -5px;
  margin-bottom: 10px;
}
.apps_edit_retina_info {
  background: #F7F7F7;
  padding: 10px;
  text-align: center;
  color: #777777;
}
.apps_edit_check_link {
  padding-top: 10px;
}
.apps_edit_check_link a {
  font-weight: bold;
  color: #4a7099;
  font-size: 0.923em;
}
.apps_edit_history {
  padding: 15px 30px;
}
.apps_edit_new_wrap {
  line-height: 160%;
}
.apps_edit_new_feature {
  color: #888;
  font-weight: normal;
}
.apps_edit_more {
  display: block;
  background: #EFF1F3;
  padding: 10px;
  text-align: center;
  color: #738392;
  margin-bottom: 15px;
}
.apps_edit_more:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.apps_edit_more_prg {
  margin: 0px auto;
}
.apps_edit_sms_wrap {
  padding-top: 26px;
}
#apps_sms_saved {
  color: #777;
  opacity: 0;
}
.app_text {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 530px;
  line-height: 160%;
  color: #54595e;
}
.apps_edit_table .apps_edit_is_mobile {
  padding-top: 10px;
}
.apps_edit_photo_standalone {
  padding-bottom: 14px;
  padding-top: 3px;
}
.apps_edit_error_text {
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
  line-height: 160%;
  margin: 0px 10px 10px 10px;
}
.apps_edit_subtab {
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  color: #2B587A;
  padding: 3px 6px 4px;
}
.apps_edit_subtab.hidden {
  display: none;
}
.apps_edit_subtab:hover {
  background-color: #E1E7ED;
}
.apps_edit_subtab.active {
  background-color: #597DA3;
  color: white;
  cursor: default;
}
.apps_edit_subtab_panel {
  padding: 0 0 10px 0;
}
.apps_edit_run_panel {
  width: 118px;
  padding: 13px;
  background-color: #ebeef2;
  border-right: 1px solid #dfe4ed;
}
.apps_edit_code_panel {
  border: 1px solid #dfe4ed;
  border-top: 0;
}
.execute_field_name {
  line-height: 160%;
  padding-bottom: 3px;
  width: 118px;
}
input.execute_field_input {
  width: 100%;
  padding: 5px 9px 7px;
  box-sizing: border-box;
}
.flat_button.apps_edit_run_button {
  margin-top: 10px;
}
.apps_edit_cont_icon {
  width: 22px;
  height: 22px;
  background: url(/images/icons/status_request.png) no-repeat 0px 0px;
  display: none;
}
.apps_edit_cont_row.review .apps_edit_cont_icon {
  background-position: 0px 0px;
  display: block;
}
.apps_edit_cont_row.declined .apps_edit_cont_icon {
  background-position: 0px -24px;
  display: block;
}
.apps_edit_cont_row.accepted .apps_edit_cont_icon {
  background-position: 0px -48px;
  display: block;
}
.apps_edit_cont_row.active > .apps_edit_cont_name_c > input {
  background: #edf0f6;
  color: #414751;
  padding: 3px;
  margin: 0 0 0 2px;
  cursor: text;
}
.apps_edit_cont_row.request.active > .apps_edit_cont_name_c > input {
  margin: 0 0 0 -2px;
}
.apps_edit_cont_name_c:hover {
  background: #e9edf1;
  text-decoration: none;
}
.apps_edit_cont_row.active > .apps_edit_cont_name_c {
  background: #d6dce6;
  color: #414751;
}
.apps_edit_cont_row .ace-tm .ace_gutter-active-line {
  background-color: #e8ebed;
}
.apps_edit_cont_row .ace-tm .ace_gutter {
  background-color: #f5f5f5;
}
.apps_edit_cont_row .ace-tm .ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.0429);
}
.apps_edit_cont_row .ace_editor {
  font-size: 12px;
}
.fake_gutter {
  display: none;
}
.apps_edit_list_no_found {
  line-height: 200%;
  color: #777777;
  font-size: 1.08em;
  text-align: center;
  padding: 20px;
}
.apps_edit_cancel_button {
  padding: 6px 16px 7px 16px;
  *padding: 6px 17px 7px 17px;
  margin-left: 10px;
  line-height: 13px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
}
.apps_edit_cancel_button:hover {
  background: #E1E7ED;
  text-decoration: none;
}
#apps_edit_cashout_summary {
  background-color: #F7F7F7;
  padding: 16px 20px;
  text-align: center;
  color: #565E66;
}
#apps_edit_cashout_methods {
  padding: 18px 20px 25px 20px;
}
.apps_edit_cashout_method {
  padding: 10px 13px;
  color: #777;
  display: block;
}
.apps_edit_cashout_method:hover {
  padding: 10px 13px;
  text-decoration: none;
  background-color: #EDF0F2;
  color: #6A7989;
}
.apps_edit_cashout_method_img {
  margin-right: 12px;
  width: 45px;
  height: 45px;
  background: url(/images/icons/apps_cashout.png) no-repeat 0 0;
}
.apps_edit_cashout_method_purse {
  background-position: 0 0;
}
.apps_edit_cashout_method_contract {
  background-position: 0 -94px;
}
.apps_edit_cashout_method h2 {
  margin: 0;
  padding: 0;
  color: #36638E;
  font-size: 1.18em;
  font-weight: bold;
  border: none;
}
.apps_edit_cashout_method_cost {
  padding: 3px 0;
  color: #000;
}
.apps_edit_cashout_method_disabled h2 {
  color: #A6A6A6;
}
.apps_edit_cashout_method_disabled:hover {
  background-color: #FFF;
  cursor: default;
  color: #777;
}
.apps_edit_cashout_method_disabled .apps_edit_cashout_method_cost,
.apps_edit_cashout_method_disabled:hover .apps_edit_cashout_method_cost {
  color: #777;
}
.apps_edit_cashout_method_disabled .apps_edit_cashout_method_purse {
  background-position: 0 -47px;
}
.apps_edit_clone_funcs_dialog {
  padding: 10px 5px;
}
.apps_edit_clone_funcs_input_wrap {
  display: inline-block;
}
#apps_edit_clone_button {
  margin-left: 10px;
  margin-top: 2px;
}
.apps_edit_clone_func_header {
  color: #45688E;
  font-weight: bold;
  font-size: 1.08em;
  padding: 0px 4px 2px;
  margin-top: 6px;
}
.app_edit_api_counter_wrap {
  padding: 0px;
  width: 240px;
  display: inline-block;
  border-bottom: 1px solid #eef3fa;
}
.app_edit_api_counter_wrap_center {
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-color: #eef3fa;
  border-style: solid;
}
.app_edit_api_counter_text {
  color: #5580ae;
}
.app_edit_api_error_text {
  color: #c95959;
}
.app_edit_api_duration_text {
  color: #59ac5c;
}
.apps_info_small3_wrap {
  text-align: left;
  padding-bottom: 15px;
  padding-left: 30px;
}
.app_edit_api_small_graph {
  padding: 0px;
  width: 356px;
  display: inline-block;
}
.app_edit_api_error_graph {
  margin-right: 10px;
}
.app_edit_api_duration_graph {
  border-width: 0px;
  border-color: #eef3fa;
  border-style: solid;
  border-left-width: 1px;
}
#app_edit_api_bottom_graphs_wrap .apps_edit_info_wrap {
  padding: 0px;
}
.app_edit_api_info_small {
  font-size: 1.813em;
  margin-top: 20px;
}
.apps_info_small_secondary {
  padding-top: 5px;
  color: green;
}
.apps_edit_api_setting_line {
  padding-top: 10px;
}
.apps_edit_api_setting_name {
  padding-left: 70px;
  text-align: right;
  width: 130px;
  padding-top: 5px;
  padding-right: 10px;
  color: #909090;
}
.apps_edit_api_block_selectors .round_tab {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  color: #45688E;
  font-weight: bold;
  padding: 3px 8px 5px;
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
.apps_edit_api_block_selectors .round_tab.selected {
  color: #FFFFFF;
}
.apps_edit_stat_graph_wrap .stats_flash_wrap {
  margin-bottom: -30px;
}
.apps_edit_stat_graph_wrap .summary {
  color: #2b2f33;
  padding: 3px 30px 4px;
}
.apps_edit_stat_graph_wrap .summary_wrap {
  border: 0;
}
.apps_edit_stat_graph_wrap .graph_date_line {
  display: none;
}
.apps_edit_api_method_select {
  margin-left: 0px;
}
#apps_edit_stats_api .dev_page_block {
  padding: 0px;
  margin-left: 0px;
  margin-right: 1px;
}
#apps_edit_stats_api .apps_edit_stats_interval {
  padding: 15px;
  text-align: center;
}
.apps_edit_api_block_selectors {
  padding: 5px 30px;
  width: 665px;
  height: 138px;
}
.apps_edit_api_prg {
  margin-top: 10px;
  display: inline-block;
}
.apps_edit_api_info_wrap {
  padding: 0px 30px 30px;
}
.apps_edit_api_setting_name_methods {
  padding-top: 8px;
}
.apps_edit_api_setting_name_interval {
  padding-top: 3px;
}
#app_edit_api_first_block {
  padding: 0px;
}
.app_edit_stat_use_trackvisitor {
  padding-bottom: 30px;
  padding-top: 12px;
}
.app_edit_stat_use_trackvisitor_label {
  padding-top: 1px;
}
#app_stat_api_counters_wrap .label {
  font-size: 13px;
}
.app_edit_api_info_secondary {
  font-size: 13px;
  color: #909090;
  padding-top: 9px;
}
#app_edit_api_bottom_graphs_wrap {
  margin-top: 18px;
  border-top: 1px solid #eef3fa;
}
#app_edit_api_bottom_graphs_wrap .apps_edit_stat_graph_wrap {
  padding-top: 10px;
}
