#bugs_css {
  display: none;
}
.bugs_page_wrap {
  width: 725px;
}
#bugs_content #summary {
  border-bottom: 1px solid #e9eef3;
  padding: 0px 0px 8px;
  color: #65686c;
  font-size: 0.846em;
}
.firefox #bugs_content .button_blue button,
.firefox #bugs_content .button_gray button {
  padding: 5px 16px;
}
#bugs_bottom_pages {
  color: #65686c;
  font-size: 0.846em;
}
#bugs_progress {
  display: none;
  padding: 6px 0px 0px 0px;
}
.bugs_summary {
  font-weight: bold;
}
.bugs_summary_extra {
  margin: -3px 0 -4px;
}
.bugs_pages_loading {
  padding: 3px 5px;
  width: 32px;
  height: 13px;
  background: url(/images/upload.gif) no-repeat scroll center center transparent;
}
#bugs_pages_top,
#bugs_pages_bottom {
  display: none;
}
.bugs_search_progress {
  background: url(/images/upload.gif) no-repeat scroll center center transparent;
  display: none;
  height: 23px;
  margin-left: -60px;
  margin-top: 12px;
  position: relative;
  width: 32px;
  z-index: 95;
}
.bugs_search_reset {
  cursor: pointer;
  display: none;
  background: transparent url(/images/icons/clear_search.png) 5px 5px no-repeat;
  padding: 2px;
  width: 19px;
  height: 19px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  position: relative;
  z-index: 100;
  margin-left: -47px;
  margin-top: 13px;
}
.bugs_search_reset:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#bugs_search.loading .bugs_search_progress,
#bugs_search .bugs_search_reset.shown {
  display: block;
}
#bugs_search.loading .bugs_search_reset.shown {
  display: none;
}
.bugs_list {
  padding: 25px 30px;
}
.bugs_filters {
  position: relative;
  width: 158px;
  padding: 15px;
  background-color: #f0f2f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bugs_table {
  width: 457px;
  position: relative;
}
.bugs_filter_label {
  color: #2b2f33;
  font-weight: bold;
  padding-bottom: 3px;
  font-size: 0.923em;
}
.bugs_filter_tag {
  padding: 2px 0px;
}
.bugs_view_tags {
  font-size: 0.923em;
}
.bugs_tag {
  background-color: #dde4eb;
  padding: 1px 7px 3px;
  margin-right: 8px;
  margin-top: 7px;
  border-radius: 2px;
  cursor: pointer;
  color: #41658c;
}
.is_rtl1 .bugs_tag {
  margin-right: 0px;
  margin-left: 8px;
}
.bugs_table .bugs_tag.over {
  background-color: #ced4d9;
}
.bugs_row {
  border-bottom: 1px solid #e9eef3;
  padding: 10px 0px 15px;
  font-size: 0.923em;
}
.bugs_row:last-child {
  border-bottom: none;
}
.bugs_row_left {
  max-width: 397px;
}
.bugs_row_right {
  width: 130px;
}
.bugs_row_title {
  line-height: 160%;
}
.bugs_row_title a {
  font-weight: bold;
  color: #4b7197;
}
.bugs_row_status_wrap,
.bugs_row_status_wrap .bugs_row_updated a {
  color: #65686c;
  padding-top: 8px;
}
.bugs_row_updated {
  width: 200px;
}
.bugs_tag_count {
  color: #7c7f82;
  padding: 3px 3px 0px;
}
.summary_tab_sel .bugs_tag_count,
.summary_tab.inactive .bugs_tag_count {
  display: none;
}
.bugs_tags {
  padding: 4px 0px 0px;
  font-size: 0.846em;
}
#selected_tags_wrap .bugs_tags {
  padding: 4px 0px 8px;
}
.bugs_tags .summary_tab_sel,
.bugs_tags .summary_tab {
  font-weight: normal;
}
.bugs_tags .summary_tab_x {
  display: none;
  background: url(/images/icons/tag_delete.png) 0 0;
  width: 8px;
  height: 8px;
}
.bugs_tags .summary_tab_sel .summary_tab_x {
  display: block;
  margin-right: 0px;
}
.bugs_tags .summary_tab2 {
  cursor: pointer;
  padding: 3px 6px 4px;
}
.bugs_tags .summary_tab2:hover {
  color: #dde4eb;
}
.bugs_tags .summary_tab3 {
  color: #4a7099;
}
.bugs_tags .summary_tab_sel .summary_tab3 {
  color: #ffffff;
}
.bugs_tags .summary_tab_sel .summary_tab2,
.bugs_tags .summary_tab_sel .summary_tab2:hover {
  background: #6786ab;
}
.bugs_tags .summary_tab_sel .summary_tab2,
.bugs_tags .summary_tab.inactive .summary_tab2 {
  cursor: default;
  padding: 3px 6px 4px;
}
.bugs_tags .summary_tab.inactive .summary_tab2:hover {
  background: #e1e2e3;
}
.bugs_tags .summary_tab.inactive .summary_tab3 {
  color: #7c7f82;
}
.bugs_view {
  padding: 25px 30px;
}
.bugs_view_data {
  width: 188px;
  margin-top: -1px;
  font-size: 0.923em;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.bugs_view_subscribe,
.bugs_view_author,
.bugs_view_actions {
  padding: 15px;
  background-color: #edf0f2;
  margin-top: 1px;
}
body.dev #page_wrap .bugs_view_data .flat_button {
  font-size: 0.923em;
}
.bugs_subscribe_show {
  text-align: center;
  padding-top: 10px;
}
.bugs_info_rows {
  padding-top: 10px;
}
.bugs_info_row {
  padding: 3px 0px;
  color: #65686c;
  font-size: 0.917em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bugs_info_value {
  font-weight: bold;
}
.bugs_author_photo img {
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.bugs_author_name {
  padding-left: 8px;
  max-width: 112px;
  margin-right: -5px;
  white-space: nowrap;
  overflow: hidden;
}
.bugs_author_link {
  font-weight: bold;
  padding-top: 3px;
  font-size: 0.917em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bugs_author_link a {
  color: #4a7099;
}
.bugs_created_info {
  color: #7c7f82;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bugs_view_title {
  font-size: 1.46em;
  color: #2b2f33;
  padding-bottom: 7px;
  line-height: 140%;
}
.bugs_view_text {
  padding-bottom: 12px;
  line-height: 160%;
}
.bugs_view_tags .bugs_tag {
  cursor: default;
}
#bugs_view_description {
  width: 457px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
#bugs_view_comments {
  padding-top: 20px;
}
.bugs_updates {
  background-color: #f0f2f5;
  margin-top: 20px;
  padding: 15px 15px 0;
  width: 430px;
}
.bugs_update_row {
  padding: 10px 0 15px;
  border-top: 1px solid #E1E7ED;
}
.bugs_update_row:first-child {
  border-top: none;
}
.bugs_updates_title_wrap {
  padding-bottom: 2px;
}
.bugs_updates_title {
  font-weight: bold;
  font-size: 0.923em;
  color: #2b2f33;
}
.bug_edit_update {
  padding: 0px 2px;
  line-height: 140%;
  outline: none;
}
.bugs_memphoto {
  width: 55px;
  height: 40px;
}
.bugs_memphoto a,
.bugs_memphoto img {
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.bugs_meminfo {
  line-height: 140%;
  color: #65686c;
  font-size: 0.923em;
}
.bugs_meminfo a.mem_link {
  font-weight: bold;
}
.bugs_status_label {
  font-weight: bold;
}
.bugs_update_data {
  max-width: 375px;
}
.bugs_update_text {
  padding-top: 2px;
  line-height: 140%;
  max-width: 387px;
  overflow: hidden;
}
.bugs_update_info {
  color: #777;
  font-size: 0.923em;
  padding-top: 5px;
}
#bugs_updates_old {
  display: none;
}
#bugs_updates_old .bugs_update_row:first-child {
  border-top: 1px solid #E1E7ED;
}
.bugs_updates_toggle {
  font-size: 0.9em;
  font-weight: normal;
  color: #000;
  padding-left: 5px;
}
.bugs_not_found {
  color: #777;
  font-size: 1.09em;
  line-height: 200%;
  margin: 20px 20px 15px;
  padding: 100px 0;
  text-align: center;
}
.box_body .bugs_not_found {
  margin: 0px;
}
#bugs_new_title_wrap {
  background: #597BA5;
  padding: 10px 10px 11px;
  position: relative;
  overflow: hidden;
}
.bugs_box_close {
  padding: 7px 16px;
  color: #C7D7E9;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
.bugs_box_close:hover {
  color: #FFF;
  text-decoration: none;
}
#bugs_box_topic {
  color: white;
  padding: 7px 16px;
  font-weight: bold;
  font-size: 1.09em;
}
.bugs_new_cont {
  position: relative;
  padding: 26px;
  background: #F7F7F7;
}
.bugs_new_header {
  font-weight: bold;
  font-size: 1.09em;
  color: #45688E;
  padding-bottom: 10px;
}
#bugs_new_title {
  width: 434px;
  height: 14px;
  padding: 6px;
  outline: 0px;
  margin: 0px 0px 10px;
}
.bugs_new_submit {
  padding-top: 20px;
}
#bugs_new_text_wrap {
  display: none;
  padding: 10px 0px 0px;
}
.bugs_new_cont.edit #bugs_new_text_wrap,
.bugs_new_cont.status #bugs_new_text_wrap {
  display: block;
}
.bugs_new_cont.status #bugs_screens_wrap,
.bugs_new_cont.status #bugs_tags_wrap {
  display: none;
}
.bugs_new_cont.edit .bugs_new_text_toggle,
.bugs_new_cont.status .bugs_new_text_toggle {
  display: none;
}
.bugs_new_cont.status .selector_container td.selector input {
  padding: 3px 3px 5px 6px!important;
  padding: 4px 3px 4px 7px;
}
.bugs_new_cont.status .selector_container td.selector_dropdown {
  width: 21px;
  overflow: hidden;
  cursor: pointer;
  background: #ffffff url(/images/wide_dd.gif) no-repeat -2px 1px;
}
.bugs_new_cont.status .selector_focused.selector_container td.selector_dropdown {
  border-left: none;
}
.bugs_new_cont.status .result_list {
  border: 1px solid #96AABE;
  border-top: 1px solid #C0CAD5;
}
.bugs_new_cont.status .selector_container .result_list ul li {
  border-width: 1px 0px;
  border-color: #EDEDED;
  padding: 8px 1px;
  margin: -1px 5px 0px;
}
.bugs_new_cont.status .selector_container .result_list ul li.active {
  background: #F1F5F9;
  border-color: #E1E7ED;
  color: #000;
  padding: 8px 6px;
  margin: -1px 0px 0px;
}
.bugs_new_cont.status .selector_container .result_list ul li.last {
  border-bottom: none;
}
.bugs_new_cont.status .bugs_new_input {
  margin-bottom: 10px;
}
.bugs_new_text_toggle {
  margin-bottom: 20px;
}
#bugs_new_text {
  width: 434px;
  padding: 6px;
  margin-bottom: 5px;
}
#bugs_text_warn {
  color: #777;
}
.bugs_new_cont .wddi_data {
  min-height: 20px;
  _height: 20px;
}
.bugs_new_cont .wddi_sub {
  display: none;
}
#bugs_new_tags {
  width: 409px;
}
#bugs_new_tags.wdd_text {
  padding: 5px 6px;
}
.bugs_new_cont .wdd_add3 {
  line-height: 120%;
}
.bas_box {
  position: relative;
  padding: 14px 16px;
}
.bas_box .dropbox_label {
  line-height: 3.27em;
}
#bas_add_data {
  margin: 15px auto;
  text-align: center;
  height: 25px;
}
#bas_cancel_lnk {
  margin-left: 10px;
  display: block;
  padding: 6px 14px 0px;
  font-weight: normal;
  height: 19px;
  text-align: center;
}
#bas_cancel_lnk:hover {
  background: #E1E7ED;
  text-decoration: none;
}
#bas_upload {
  visibility: hidden;
  height: 0px;
}
#bugs_msg,
#bugs_error {
  margin: 25px 30px 0px;
}
.bugs_list #bugs_msg,
.bugs_list #bugs_error {
  margin: 0px 0px 25px;
}
.bugs_attachs {
  margin: 0px -5px;
  padding: 0px 0px 12px;
}
.bugs_attach {
  margin: 0px 5px;
  height: 57px;
  overflow: hidden;
}
.bugs_att_img,
#bugs_screens_wrap .page_preview_doc_photo,
#bugs_screens_wrap .page_preview_doc_photo img {
  width: 75px;
}
#bugs_attachs .media_desc {
  padding: 8px 0px 0px 4px;
  clear: both;
}
#bugs_attachs .lnk {
  color: #777;
  cursor: pointer;
}
#bugs_attachs .media_desc b.doc {
  background: url(/images/icons/mono_iconset.png?1) no-repeat 0 -280px;
  width: 15px;
  height: 11px;
  margin-top: 2px;
}
#bugs_attachs .media_desc .a {
  color: #2B587A;
}
#bugs_attachs .media_desc .lnk:hover {
  text-decoration: none;
}
#bugs_attachs .media_desc .lnk:hover .a {
  text-decoration: underline;
}
.bugs_doc_photo_hint {
  width: 65px;
  text-align: center;
  color: white;
  background: black;
  padding: 2px 10px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  padding: 1px 5px;
  font-size: 0.81em;
}
#bugs_screens_wrap .page_preview_doc_wrap {
  height: 57px;
}
#bugs_screens_wrap .page_preview_doc_photo_hint {
  width: 69px;
  padding: 1px 3px;
  line-height: normal;
  margin-top: -16px;
}
.font_medium #bugs_screens_wrap .page_preview_doc_photo_hint span.fl_r {
  display: none;
}
.bugs_action {
  padding: 5px 10px;
  overflow: hidden;
  cursor: pointer;
  color: #2B587A;
}
.bugs_action.over {
  background-color: #DAE2E8;
}
.bugs_filter_checkboxes {
  padding: 2px 0px 8px;
}
.bugs_filter_checkboxes .checkbox {
  padding: 5px 0px;
}
#bugs_subscribers {
  position: relative;
  overflow: hidden;
  padding: 20px 10px 1px;
}
#bugs_attach {
  padding: 3px 6px 0px 0px;
}
#bug_photo_input,
#bug_doc_input {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
#bugs_doc_dropbox.dropbox.over {
  display: block;
}
.bugs_progress_wrap {
  width: 250px;
  height: 18px;
  margin: auto;
  background: #FFF;
  border: 1px solid #CCC;
}
.bugs_progress {
  height: 18px;
  background: #597da3 url(/images/progress_grad.gif) repeat;
  border: 1px solid #45688E;
  margin: -1px;
}
.bugs_box_cancel {
  padding: 5px 15px 0px;
}
.bugs_subscriber_row {
  width: 120px;
  overflow: hidden;
  height: 133px;
}
.bugs_subscriber_ph {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: block;
  margin: 0px auto;
}
.bugs_subscriber_row img {
  vertical-align: top;
  width: 100px;
}
.bugs_subscriber_name {
  padding-top: 4px;
  line-height: 120%;
  text-align: center;
}
.bugs_subscribers_more {
  display: block;
  background: #EEF0F2;
  text-align: center;
  padding: 16px;
  color: #738392;
}
.bugs_subscribers_more:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.bugs_subscribers_prg {
  display: none;
  height: 15px;
  background: #eef0f2 url(/images/upload.gif) no-repeat 50% 50%;
  padding: 16px;
  color: #738392;
}
.bugs_status_filter {
  padding: 5px 0px;
}
