#call_css {
  display: none;
}
.call_invitation_wrap {
  background: url('/images/mv_bg.png');
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 22px 9px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.call_invitation_wrap .call_title {
  -moz-text-shadow: 0 1px 2px #111;
  -webkit-text-shadow: 0 1px 2px #111;
  text-shadow: 0 1px 2px #111;
  padding: 0px 0px 6px 0px;
  font-size: 1.09em;
  font-weight: bold;
}
.call_invitation_wrap .call_text a {
  color: #FFFFFF;
  font-weight: bold;
}
.call_invitation_wrap .call_text {
  -moz-text-shadow: 0 1px 2px #111;
  -webkit-text-shadow: 0 1px 2px #111;
  text-shadow: 0 1px 2px #111;
  padding: 0px 0px 16px 0px;
}
.call_invitation_wrap .call_user_pic {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #111;
  -webkit-box-shadow: 0 1px 2px #111;
  box-shadow: 0 1px 2px #111;
  line-height: 0;
  margin-bottom: 14px;
  max-height: 200px;
  overflow-y: hidden;
}
.call_invitation_wrap .call_buttons {
  margin: 1px;
}
.calls_rb {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.calls_rb #fc_ctabs_cont {
  border: none;
}
.call_wrap {
  background: #000000;
}
.call_wrap .call_cancel {
  margin-top: 11px;
  margin-bottom: 3px;
}
.call_wrap .call_cancel .button_red {
  margin: auto;
}
.call_wrap .flash_needed {
  text-align: center;
  color: white;
}
.call_wrap .flash_needed a {
  font-weight: bold;
  color: #B1DAFF;
}
.call_wrap .flash_needed .button_blue {
  margin: 15px auto 0px;
  width: 150px;
}
.call_wrap .flash_needed .button_blue button {
  width: 100%;
}
.button_green,
.button_red {
  text-align: center;
  margin-top: 3px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  zoom: 1;
  width: 192px;
}
.button_green button,
.button_red button {
  border: 1px solid;
  border-radius: 4px;
  background: none;
  font-size: 1em;
  margin: 0px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 6px 14px 7px;
  *padding: 7px 15px 6px;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-weight: bold;
  overflow: visible;
  width: 192px;
  color: #FFF;
  height: 28px;
}
@-moz-document url-prefix() {
  .button_green button,
  .button_red button {
    height: 29px;
  }
}
.button_green button::-moz-focus-inner,
.button_red button::-moz-focus-inner {
  border: 0;
}
.button_green button {
  border-top-color: #84B164;
  border-bottom-color: #66984f;
  border-left-color: #79a75c;
  border-right-color: #77a65b;
  *border: 0;
  background: url(/images/button_calls.png?1) #67954c repeat-x top;
  background-position: 0px -26px;
  *background-position: 0px -26px;
}
.button_green button:hover,
.button_green button.hover {
  background-position: 0px 0px;
}
.button_green button:active,
.button_green button.active {
  background: #5a8943;
  border: 1px solid #5a8943;
  position: relative;
}
.button_red button {
  border-top-color: #dc6463;
  border-bottom-color: #b14147;
  border-left-color: #c95557;
  border-right-color: #c95557;
  *border: 0;
  background: url(/images/button_calls.png?1) #bc4548 repeat-x top;
  background-position: 0px -78px;
  *background-position: 0px -78px;
}
.button_red button:hover {
  background-position: 0px -52px;
}
.button_red button:active,
.button_red button.active {
  background: #a9373d;
  border: 1px solid #a9373d;
  position: relative;
}
.hover_button {
  border: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: none;
  font-size: 1em;
  margin: 3px 0px 0px 0px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 10px 0px 11px;
  *padding: 9px 0px 10px;
  font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
  text-shadow: 0 1px 0 #191919;
  overflow: visible;
  width: 198px;
  color: #FFF;
}
.hover_button:hover,
.hover_button:active,
.hover_button.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.hover_button img {
  margin: 0 10px -2px 0;
}
#chat_toggle_btn {
  text-align: center;
}
.hover_button .call_chat_toggle_img {
  margin: -6px 7px -1px 0px;
}
.call_open_chat {
  width: 100px;
  margin: 11px 0px 0px 0px;
  *margin: 0px;
  padding: 9px 14px 9px;
}
.call_only_icon #call_chat_toggle {
  display: none;
}
#call_chat_toggle {
  display: inline-block;
  padding-top: 1px;
  *display: inline;
  *zoom: 1;
}
.call_camera_btn {
  background: url('/images/icons/videocall_s.png') no-repeat 0px 0px;
  width: 18px;
  height: 10px;
  margin: 0px 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* apps */
.call_apps_header {
  width: 136px;
  padding-left: 10px;
  text-align: left;
}
.call_apps_wrap {
  background: url('/images/mv_bg.png');
  background: rgba(0, 0, 0, 0.8);
  padding: 12px 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.call_apps_user_photo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px #111;
  -webkit-box-shadow: 0 1px 2px #111;
  box-shadow: 0 1px 2px #111;
}
.call_apps_user_name {
  padding-bottom: 5px;
}
.call_apps_banner {
  padding-top: 10px;
  padding-bottom: 0px;
}
.call_apps_banner_img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.call_button_green {
  margin-top: 10px;
  background: #47A857;
}
.call_button_green:hover {
  background: #5DB66C;
}
.call_button_red {
  margin-top: 10px;
  background: #EA4C4F;
}
.call_button_red:hover {
  background: #F0575A;
}
