#developers_css {
  display: none;
}
#sideBar {
  display: none;
}
#pageBody {
  width: 760px;
}
#wrapH {
  display: none;
  /*border: none;*/
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}
#wrapHI {
  /*display: none;*/
  /*border: none;*/
  border-left: 1px solid #E5EEF6;
  border-right: 1px solid #E5EEF6;
  border-bottom: 1px solid #E5EEF6;
}
#pageHeader #pageHeaderRight {
  /*  background:url("/images/xhead_al.gif") no-repeat scroll left top #32608A;
  height:45px;
  position:absolute;
  width:791px;*/
}
#pageHeader1 {
  /*  background-image:url("/images/xheadblank_al.gif");*/
}
#pageBody #wrap2 {
  border: none;
}
#pageBody #wrap2 #wrap1 {
  border: none;
}
#dev_content {
  border: none;
  background: none;
  padding: 10px 5px 10px 8px;
}
.mainPage {
  float: left;
  width: 520px;
  padding: 0px 20px 20px 0px;
}
h3 {
  border-bottom: 1px solid #B9C4DA;
  font-size: 1.09em;
  color: #45688E;
  margin-bottom: 0px;
  font-weight: bold;
  padding-bottom: 2px;
}
.rightNav {
  float: left;
  width: 197px;
  padding-left: 10px;
  padding-bottom: 10px;
}
#dev_steps {
  height: 48px;
}
#dev_steps {
  background-color: #F7F7F7;
  border-color: #DAE2E8;
  border-style: solid;
  border-width: 1px 0;
  width: 520px;
}
#dev_steps_c {
  width: 520px;
}
#dev_steps .dev_step.first,
#dev_steps .dev_step.first div {
  border-color: #F7F7F7;
}
.dev_step div {
  float: left;
  height: 41px;
  padding: 7px 0 0 22px;
  width: 120px;
  font-size: 0.9em;
}
#dev_steps .dev_step div {
  border-left: 1px solid #EAEAEA;
  padding: 7px 0 0 20px;
}
.dev_step div b {
  font-size: 1em;
  line-height: 1.63em;
}
.dev_step.last div {
  width: 200px;
}
#dev_steps .dev_step {
  border-left: 1px solid #FFFFFF;
  cursor: pointer;
  float: left;
}
.reg_step b {
  display: block;
  padding: 0 0 7px;
}
.rightNav .wikiVkLink {
  float: left;
}
.rightNav .devHeader {
  font-weight: bold;
  padding: 3px 0px 5px 25px;
}
.rightNav .news {
  padding: 5px 0px 5px 25px;
  background: url("/images/note.gif") no-repeat scroll 0px 7px;
  color: #a3a3a3;
  font-size: 0.81em;
  border-bottom: 1px solid #eeeeee;
}
.rightNav .news a {
  color: #2b587a;
  font-size: 1em;
}
.rightNav .rightLinks {
  padding: 5px 0px 0px 25px;
}
.rightNav ul {
  list-style: none;
  padding-left: 0px;
}
.rightNav center {
  margin-bottom: 5px;
}
.rightNav .listing span {
  color: #45688E;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.09em;
  list-style: none;
}
.rightNav .listing span b {
  border-bottom: 1px solid #DAE1E8;
  display: block;
}
.rightNav .listing {
  padding-left: 14px;
}
.rightNav .listing li {
  list-style: square outside none;
}
.rightNav .listing span {
  font-size: 1em;
  font-weight: normal;
}
.dev_steps_c {
  width: 520px;
  margin-top: 25px;
  overflow: hidden;
  border: 1px solid #FFFFFF;
}
.dev_steps_c .content {
  width: 1700px;
}
.step {
  width: 520px;
  margin-right: 20px;
  height: 500px;
  float: left;
}
#dev_steps_s {
  border: 1px solid #517295;
  margin-left: 152px;
  margin-top: -1px;
  padding-right: 2px;
  width: 141px;
  position: absolute;
  color: #ffffff;
  text-shadow: 0 1px 1px #35587E;
}
#dev_steps_s .dev_step,
#dev_steps_s .dev_step.first {
  border: none;
}
#dev_steps_s .borders {
  background-color: #5e82a8;
  border-color: #7E9CBC #5C82AB #5C82AB;
  border-right: 1px solid #5C82AB;
  border-style: solid;
  border-width: 1px;
  height: 48px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.introPage .info {
  display: block;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0px 20px 70px;
  height: 80px;
  color: #333333;
}
.introPage .info:focus {
  outline: none;
}
.introPage .info.first {
  padding: 0px 0px 20px 70px;
}
.introPage .info:hover {
  text-decoration: none;
}
.introPage .info .header {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
  color: #2B587A;
}
.introPage .info .more {
  display: block;
  margin-top: 6px;
  color: #2B587A;
}
.introPage .info.apps {
  background: url('/images/pics/dev_apps.png') 0px 6px no-repeat;
}
.introPage .info.sites {
  background: url('/images/pics/dev_sites.png') 0px 21px no-repeat;
  border-bottom: none;
}
.introPage .info.mobile {
  background: url('/images/pics/dev_mobile.png') 0px 21px no-repeat;
}
.introPage .info.shops {
  background: url('/images/pics/dev_shops.png') 0px 21px no-repeat;
  border-bottom: none;
}
.introPage .listing {
  padding-left: 14px;
}
.breadCrumbs {
  background: #f7f7f7;
  border-top: 1px solid #dae2e8;
  border-bottom: 1px solid #dae2e8;
  padding: 3px 12px 4px 12px;
  margin-bottom: 8px;
  font-weight: bold;
}
.wikiPage {
  padding: 8px 12px 0px 12px;
  line-height: 150%;
}
.opener {
  display: block;
  background: #F7F7F7;
  border-top: 1px solid #DAE2E8;
  border-bottom: 1px solid #DAE2E8;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 2px;
}
.inside {
  display: none;
}
.inside.current {
  display: block;
}
.inside a {
  display: block;
  padding-left: 10px;
}
.apiDocBlock {
  margin-bottom: 8px;
}
a.opener:hover {
  text-decoration: none;
}
.rightNav .button_blue {
  margin-bottom: 8px;
}
blockquote {
  word-wrap: break-word;
}
#dev_health_table {
  margin: 0 0 10px;
}
.dev_status_okay {
  color: #2b2f33;
}
.dev_status_troubles {
  color: #ecb02f;
  font-weight: bold;
}
.dev_status_down {
  color: #ed6056;
  font-weight: bold;
}
.dev_head {
  border-bottom: 1px solid #DAE1E8;
  color: #45688E;
  font-size: 1.09em;
  font-weight: bold;
  margin: 0 10px 13px;
  padding: 10px 0 2px;
  text-align: left;
}
