#invite_css {
  display: none;
}

.invite_box {
  background: #F7F7F7;
  padding: 20px;
  border-bottom: 1px solid #DAE1e8;
}
.invite_box .about {
  border: 1px solid #DAE1E8;
  background: #FFF;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 150%;
}
.invite_box .about_no {
  border: 1px solid #DAE1E8;
  background: #FFF;
  font-size: 1.09em;
  color: #777;
  padding: 50px 10px;
  text-align: center;
  line-height: 160%;
}
.invite_box .row {
  height: 40px;
}
.invite_box .label, .invite_box .hlabel {
  width: 210px;
  text-align: right;
  padding: 8px 10px 0 0;
  color: #555;
}
.invite_box .hlabel {
  padding-top: 5px;
}
.invite_box .labeled {
  padding-right: 6px;
}
.invite_box .labeled .text,
.invite_box .labeled .dark {
  width: 200px;
}
.invite_box h2 {
  border-bottom: 0px;
}
.invite_box .labeled small {
  display: block;
  padding: 5px 0px 10px;
  width: 220px;
  line-height: 150%;
  color: #777;
}
#inv_lang_row, #inv_sex_row {
  display: none;
}
#invite_progress {
  margin: 15px 10px;
}
.invite_box .labeled .button_blue {
  margin: 10px 0px 20px;
}

.info_block_link {
  padding: 10px 0px 10px 220px;
}
.info_block {
  padding-top: 20px;
  display: none;
}

.invited_box {
  padding: 0px 10px;
  background: #FFF;
}
.invited_box .no_invited {
  padding: 20px 0px 20px 220px;
  font-size: 1.09em;
  color: #777;
}
.invited_box .user {
  padding: 10px 0px;
  border-top: 1px solid #DAE1E8;
}
.invited_box div.first {
  border-top: 0px;
}
.invited_box .thumb {
  width: 60px;
  height: 60px;
}
.invited_box .actions {
  width: 135px;
  text-align: center;
}
.invited_box .actions a {
  display: block;
  padding: 4px 5px;
}
.invited_box .actions a:hover {
  text-decoration: none;
  background: #E1E7ED;
}
.invited_box .info {
  padding: 0 10px 0 18px;
  width: 300px;
}
.invited_box .info .label {
  margin-bottom: 3px;
  width: 85px;
  color: #777;
}
.invited_box .info .labeled {
  margin-bottom: 3px;
  width: 220px;
}
.invited_box .info .accepted_for_contest {
  width: 100%;
  margin-top: 6px;
}
.invite_block .error {
  margin: 10px 30px;
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
  display: none;
}
.inv_about_resend {
  line-height: 150%;
}
.invited_box .summary_wrap {
  padding: 10px 0 0 0;
  border: none;
}

#invite_popup_box {
  padding: 20px 25px 10px 25px;
  background-color: #FFF;
  border-bottom: none;
}
.invite_box_text {
  margin-bottom: 20px;
  line-height: 150%;
}
#invite_popup_box .label,
#invite_popup_box .hlabel {
  width: 170px;
  color: #777;
}
#invite_popup_box .labeled small {
  padding-bottom: 0;
}
#invite_popup_box .info_block_link {
  padding-left: 180px;
}
#invite_popup_box .error {
  margin: 0 0 20px 0;
}
#invited_popup_box {
  padding: 0;
}
#invited_popup_box .info {
  padding-top: 4px;
  width: 280px;
}
#invited_popup_box .info .labeled {
  width: 190px;
}
#invited_invites_sent_wrap {
  padding: 0 25px 0 25px;
}
#invites_invites_wrap {
  padding: 0 25px 15px 25px;
}
#invited_invites_show {
  margin: 0;
  color: #71869B;
  background: #E9EDF1;
  cursor: pointer;
  padding: 12px 0;
  text-align: center;
}
#invited_invites_show:hover {
  background: #EEF2F6;
}
#invite_popup_box .about_no {
  border: none;
  margin: 0;
}

#invite_popup_box .invite_box_contest_top {
  margin-left: -25px;
  width: 560px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
#invite_popup_box .invite_box_contest_top * {
  box-sizing: border-box;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_toggle {
  color: #71869B;
  background: #E9EDF1;
  cursor: pointer;
  padding: 12px 0;
  text-align: center;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_toggle:hover {
  background: #EEF2F6;
}
#invite_popup_box .invite_box_contest_top #contest_top {
  max-height: 0px;
  overflow: hidden;
}
#invite_popup_box .invite_box_contest_top .contest_top_body_wrap {
  padding: 17px 45px;
  background-color: #F7F7F7;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_header {
  color: #45668E;
  font-size: 1.05em;
  font-weight: bold;
  margin: 0 0 15px;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_header #participants {
  display: inline-block;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_header #regs {
  display: inline-block;
  float: right;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_row {
  padding: 3px 0;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_row .mem {
  display: inline-block;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_row .mem_photo {
  display: inline-block;
  width: 35px;
  border-radius: 2px;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_row .mem_name {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  margin-left: 5px;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_row .mem_top_rating  {
  color: #555;
  margin: 0 5px;
}
#invite_popup_box .invite_box_contest_top .invite_box_contest_top_row .mem_achievement {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  float: right;
}
