#jobs_css {
  display: none;
}
.jobs_head {
  padding: 20px 10px 20px 40px;
  background: #edf1f5;
  line-height: 160%;
}
.jobs_head_title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 16px;
  color: #5C7B9B;
}
.jobs_head_title_links {
  display: none;
  font-weight: normal;
  padding-left: 8px;
}
.jobs_head_title:hover .jobs_head_title_links {
  display: inline;
}
.jobs_head_title_links, .jobs_head_title_links a {
  color: #5C7B9B;
}
.jobs_head_image {
  width: 148px;
  height: 148px;
  background: url(/images/jobs_intro.png);
  float: right;
  margin: 12px 25px 0 0;
}
.is_rtl1 .jobs_head_image {
  float: left;
}
.jobs_head_intro_text {
  width: 480px;
}
.is_2x .jobs_head_image {
  background: url(/images/jobs_intro_2x.png) !important;
  background-size: 148px 148px !important;
}

.jobs_list {
  padding: 20px 20px;
}
.jobs_job {
  line-height: 160%;
  padding: 15px 15px;
}
.jobs_job:hover {
  background: #f4f5f6;
  text-decoration: none;
}
.jobs_job_icon {
  width: 70px;
  height: 70px;
  background-image: url(/images/jobs_icons.png?1);
  float: left;
  margin-top: 3px;
}
.is_2x .jobs_job_icon {
  background-image: url(/images/jobs_icons_2x.png?1) !important;
  background-size: 70px 670px !important;
}

.jobs_job_icon_web_dev {
  background-position: 0px 0px;
}
.jobs_job_icon_ios_dev {
  background-position: 0px -75px;
}
.jobs_job_icon_android_dev {
  background-position: 0px -150px;
}
.jobs_job_icon_analytics_dev {
  background-position: 0px -225px;
}
.jobs_job_icon_sysadmin {
  background-position: 0px -300px;
}
.jobs_job_icon_tester {
  background-position: 0px -375px;
}
.jobs_job_icon_designer {
  background-position: 0px -450px;
}
.jobs_job_icon_product_manager {
  background-position: 0px -525px;
}
.jobs_job_support_agent {
  background-position: 0px -600px;
}

.jobs_job .jobs_job_info {
  margin-left: 70px;
  padding: 0 0 0 30px;
}
.jobs_job .jobs_job_title {
  font-size: 13px;
  font-weight: bold;
  color: #45688e;
  margin-bottom: 8px;
}
.jobs_job .jobs_job_about {
  color: #000;
}

.jobs_empty {
  padding: 80px 20px;
  font-size: 13px;
  text-align: center;
  color: #888;
}

.wk_jobs_view .wk_wiki_content {
  padding: 0;
}

.jobs_view {}
.jobs_view_padding {
  padding: 12px 22px 18px;
}
.jobs_view_about {
  font-size: 12px;
  line-height: 160%;
  /* padding-bottom: 12px; */
}
.jobs_view_about .wikiSubHeader {
  font-size: 12px;
}
.jobs_expand_button {
  background: #EFF1F3;
  color: #6f7f8f;
  font-size: 12px;
  text-align: center;
  padding: 16px 0;
  display: block;
}
.jobs_expand_button:hover {
  background: #E9EDF1;
  cursor: pointer;
  text-decoration: none;
}

/** apply form **/

.jobs_form_wrap {
  /* padding-top: 20px; */
}
.jobs_form {}
.jobs_apply_form table {
  width: 500px;
  margin: 0 auto;
  padding: 6px 0 10px;
}
.jobs_apply_form h2 {
  margin-top: 20px;
}
.jobs_form_header {
  color: #36638E;
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0 10px;
}
.jobs_form_header.first {
  margin-top: 0;
}
.jobs_form input[type="text"],
.jobs_form textarea {
  padding: 6px;
}
.jobs_form textarea {
  height: 100px;
  resize: none;
}
.jobs_apply_form textarea {
  width: 320px;
}
.jobs_apply_form input[type="text"] {
  width: 320px;
}
.jobs_apply_submit_wrap {
  padding-top: 0;
}
.jobs_apply_test {
  width: 380px;
  margin: 0 auto;
  padding: 5px 0 5px;
}
.jobs_apply_test_title {
  padding: 2px 0 8px;
  line-height: 160%;
}
.jobs_apply_test textarea {
  width: 380px;
  height: 80px;
}
.jobs_text_warn {
  padding: 4px 0 0;
  color: #888;
}

.jobs_apply_form #jobs_apply_upload_cont .button_blue button {
  background: none;
  background-color: #dfe5ed;
  color: #627485;
  border: none;
  text-shadow: none;
  padding-bottom: 7px;
}
.jobs_apply_form #jobs_apply_upload_cont .button_blue button:hover {
  background-color: #d8dfe8;
  color: #607282;
}
.jobs_apply_error_wrap {
  margin-bottom: 10px;
}

/** doc **/

td.labeled.jobs_apply_doc {
  height: 26px;
}
.jobs_apply_doc_wrap {
  padding: 1px 22px 0 0;
  position: relative;
  display: inline-block;
}
.jobs_apply_doc_x_wrap {
  cursor: pointer;
  margin: 3px 5px 0px;
  background: url(/images/pics/statusx_op.gif) no-repeat;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 11px;
  width: 11px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  position: absolute;
  right: 0;
  top: 0;
}
.jobs_apply_doc_x_wrap:hover {
  opacity: 1;
}
.jobs_apply_doc_icon {
  padding-left: 15px;
  background: url(/images/icons/mono_iconset.png?1) no-repeat;
  background-position: 0 -278px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.jobs_apply_doc_link .fl_l {
  float: none;
}
.jobs_apply_doc_link .fl_r {
  display: none;
}
.jobs_apply_uploading_progress_wrap {
  width: 110px;
  height: 8px;
  margin: auto;
  margin-bottom: 2px;
  background: #FFF;
  border: 1px solid #CCC;
}
.jobs_apply_uploading_progress {
  height: 8px;
  background: #597DA3 url(/images/progress_grad.gif) repeat;
  border: 1px solid #45688E;
  margin: -1px;
}
.jobs_apply_uploading_attach_label {
  color: #777777;
  margin: 1px 0 0 6px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}
.jobs_apply_uploading_progress_x {
  cursor: pointer;
  margin: 3px 5px 0px;
  background: url(/images/hide_to.gif) no-repeat -2px -2px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 10px;
  width: 10px;
}
.jobs_apply_widget {
}

/** add form **/

.jobs_add_form {
  width: 510px;
  margin: 0 auto;
  display: block;
}
.jobs_add_form table.form_table {
  padding: 5px 0;
}
.jobs_form .label {
  color: #777;
  padding-right: 10px;
  vertical-align: top;
  padding-top: 5px;
  text-align: right;
  width: 110px;
  line-height: 150%;
}
.is_rtl1 .jobs_form .label {
  text-align: left;
  padding-left: 10px;
  padding-right: 0;
}
.jobs_form .label.test {
  color: #000;
}
.jobs_form .label,
.jobs_form .labeled {
  padding-bottom: 10px;
}
.jobs_form .labeled h2 {
  border: none;
  margin: 0;
}
.jobs_form .labeled h2.not_first {
  margin-top: 10px;
}
.jobs_form .label.last,
.jobs_form .labeled.last {
  padding-bottom: 0;
}
.jobs_add_form input[type="text"],
.jobs_add_form textarea {
  width: 376px;
}
.jobs_add_test_wrap {
  padding-bottom: 6px;
}
textarea.jobs_add_test {
  height: 60px;
}
.jobs_add_test_add {
  padding-top: 5px;
}

.jobs_admin_vacancy {
  padding: 0 0 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px #E7EAED solid;
}
.jobs_admin_vacancy.last {
  border-bottom: none;
}
.jobs_admin_vacancy h2 {
  border-bottom: 0;
  font-size: 13px;
  margin-bottom: 4px;
}
.jobs_admin_vacancy h2.disabled {
  color: #888;
}
.jobs_admin_vacancy h2 span.jobs_job_id {
  font-weight: normal;
  color: #888;
}
.jobs_admin_vacancy .jobs_admin_vacancy_text {
  font-size: 11px;
  line-height: 160%;
}
.jobs_admin_vacancy .upload {
  width: 32px;
  height: 8px;
  background: url(/images/upload.gif);
  display: none;
  margin: 1px 5px 0 0;
}
.is_2x .jobs_admin_vacancy .upload {
  background: url(/images/upload_2x.gif) !important;
  background-size: 32px 8px !important;
}
.jobs_vacancies_page_content {
  padding: 15px 15px;
}
.jobs_vacancies_page_content .jobs_expand_button {
  padding: 12px 0;
  position: relative;
  margin-top: -1px;
}

.jobs_applications {
  padding: 0 10px 10px;
}
.jobs_application {
  padding: 10px 0;
  border-bottom: 1px #E7EAED solid;
}
.jobs_application img {
  float: left;
  width: 50px;
  height: 50px;
}
.jobs_application .jobs_application_member {
  margin-left: 60px;
}
.jobs_application .jobs_application_member_name {
}
.jobs_application .jobs_application_member_name a {
  font-weight: bold;
}
.jobs_application .jobs_application_member_date,
.jobs_application .jobs_application_member_date a {
  color: #888;
}
.jobs_application .jobs_application_text {
  line-height: 150%;
  padding: 6px 0;
}
.jobs_application .jobs_application_label_wrap {
  padding: 3px 0;
  overflow: hidden;
}
.jobs_application .jobs_application_verdict {
  padding: 0 0 10px;
  line-height: 160%;
}
.jobs_application .jobs_application_verdict span {
  color: #888;
}
.jobs_application .jobs_application_verdict.declined {
  color: #bc1919;
}
.jobs_application .jobs_application_verdict.accepted {
  color: #077e07;
}
.jobs_application .jobs_application_verdict.commented {
  color: #888;
}
.jobs_application .jobs_application_label {
  font-weight: bold;
}
.jobs_application .resume_download_link {
  display: inline-block;
  background-color: #dfe5ed;
  color: #627485;
  border: none;
  text-shadow: none;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 3px 0 6px;
}
.jobs_application .resume_download_link:hover {
  background-color: #d8dfe8;
  color: #607282;
  text-decoration: none;
}
.jobs_application span.sep {
  color: #999;
}
.jobs_application .jobs_application_tests {
  background: #f0f0f0;
  padding: 5px 9px;
  margin: 5px 0;
}
.jobs_application .jobs_application_tests .jobs_application_label {
  font-weight: normal;
  color: #777;
}

.jobs_decline_box {
  padding: 20px;
  background: #f7f7f7;
  line-height: 160%;
}
.jobs_decline_box textarea {
  width: 346px;
  height: 50px;
}

.jobs_decline_box.jobs_decline_custom_box textarea {
  width: 497px;
}

.jobs_decline_box.jobs_decline_custom_box textarea.jobs_mem_reason {
  height: 100px;
}

.jobs_decline_box .button_blue {
  margin-top: 10px;
}

/** other **/
.summary_wrap .summary .jobs_applications_filters {
  font-weight: normal;  
}
.jobs_summary_progress_inline {
  margin: 3px 7px 0 0;  
}
.jobs_application_progress_inline {
  position: relative;
  top: 1px;
  right: 5px;
}
