#lite_css {
  display: none;
}
html {
  height: 100%;
}
body {
  background: #fff;
  margin: 0px;
  padding: 0px;
  direction: ltr;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  height: 100%;
}
body.font_medium {
  font-size: 12px;
}
body.nofixed {
  width: 100%;
  overflow: hidden;
}
body.nofixed #page_wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.fixed {
  position: fixed;
}
body.nofixed .fixed {
  position: absolute;
}
body.firefox #page_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* in 'rtl' left and ltr too -- disabling content jumping when scrollbar changes */
.scroll_fix_wrap {
  text-align: left;
  direction: ltr;
  height: 100%;
}
a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0px;
}
form {
  margin: 0px;
  padding: 0px;
}
small {
  font-size: 0.9em;
}
.font_medium small {
  font-size: 1em;
}
textarea.ashelper {
  overflow: hidden;
}
.summary_wrap {
  color: #45688E;
  padding: 11px 10px 0px;
  background: #FFF;
  border-bottom: 1px solid #DAE1E8;
}
.summary_wrap .summary {
  font-weight: bold;
  padding: 3px 0px 4px;
}
.summary_wrap .summary span {
  font-weight: normal;
}
.png {
  behavior: url(/js/iepngfix.htc);
}
.progress {
  display: none;
  width: 32px;
  height: 13px;
  background: url(/images/upload.gif) no-repeat 50% 50%;
}
.progress_inline {
  display: inline-block;
  vertical-align: bottom;
  width: 32px;
  height: 13px;
  background: url(/images/upload.gif) no-repeat 50% 50%;
}
.checkbox {
  cursor: pointer;
  line-height: 1.27em;
}
.checkbox.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.checkbox div {
  float: left;
  width: 15px;
  margin-right: 5px;
  height: 14px;
  background: url(/images/icons/check.gif) 0px 0px no-repeat;
}
.checkbox:hover div {
  background-position: 0px -28px;
}
.checkbox.disabled:hover div {
  background-position: 0px 0px;
}
.checkbox.on div {
  background-position: 0px -14px;
}
.checkbox.on:hover div {
  background-position: 0px -42px;
}
.checkbox.disabled.on:hover div {
  background-position: 0px -14px;
}
.radiobtn {
  cursor: pointer;
  line-height: 1.27em;
}
.radiobtn div {
  float: left;
  width: 15px;
  margin-right: 5px;
  height: 14px;
  background: url(/images/icons/radio.gif) 0px 0px no-repeat;
}
.radiobtn:hover div {
  background-position: 0px -28px;
}
.radiobtn.on div {
  background-position: 0px -14px;
}
.radiobtn.on:hover div {
  background-position: 0px -42px;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.ta_l {
  text-align: left;
}
.ta_r {
  text-align: right;
}
.inl_bl {
  display: -moz-inline-stack;
  display: inline-block;
  _overflow: hidden;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.upload_frame {
  position: absolute;
  visibility: hidden;
  width: 20px;
  height: 20px;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* Inputs */
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="search"],
input[type="password"],
input[type~="text"],
input[type~="search"],
input[type~="password"],
input[type~="email"] {
  font-size: 1em;
  font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}
input.text,
input.search,
textarea {
  background: #FFF;
  border: 1px solid #C0CAD5;
  font-family: tahoma, tahoma, verdana, arial, sans-serif, Lucida Sans;
  font-size: 1em;
  padding: 3px;
  margin: 0px;
}
input.search {
  background: #ffffff url(/images/magglass.png) no-repeat 3px 4px;
  padding-left: 17px;
}
input.file {
  font-size: 1em;
  margin: 0px;
}
.font_medium input,
.font_medium textarea {
  font-size: 1.09em;
}
/* Headers */
h2 {
  border-bottom: 1px solid #DAE1E8;
  color: #45668E;
  font-size: 1.18em;
  padding: 0px 0px 3px;
  margin: 0px 0px 10px;
}
h4 {
  border-bottom: 1px solid #E8EBEE;
  color: #45688E;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 0px 0px 3px;
}
.font_medium h2 {
  font-size: 1.27em;
}
.font_medium h2 {
  font-size: 1.09em;
}
h4 .fl_r,
h4 span {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
.head_nav a.top_nav_link,
.module_header .header_top,
.box_title,
.tb_title,
.summary_tab2,
.im_tab2,
.search_subtab2,
.tickets_subtab2,
.video_length,
.choose_header,
.photos_choose_header_title,
.docs_choose_header_title,
.wcomments_head,
.wcomments_tab,
.wcomments_tab_selected,
#wk_summary .summary,
.ttb_cont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Layout */
div#utils {
  top: -30px;
  position: absolute;
  height: 20px;
  overflow: hidden;
}
#page_layout {
  padding: 0px;
  margin: 0px auto;
  position: relative;
  width: 791px;
}
/* Clear */
.clear_fix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clear_fix {
  height: 1%;
}
.clear_fix {
  display: block;
}
.clear {
  float: none;
  clear: both;
}
.scroll_fix {
  position: relative;
}
.divide {
  color: gray;
  font-weight: normal;
  padding: 0px 4px;
}
small.divide {
  padding: 0px 2px;
}
.sdivide {
  color: #ADB8C3;
  padding: 0px 4px;
  font-size: 0.9em;
}
.wrapped {
  overflow: hidden;
  word-wrap: break-word;
}
wbr {
  width: 0px;
  display: inline-block;
  overflow: hidden;
}
/* MessageBox */
.popup_box_container {
  margin: 0px auto;
  z-index: 1002;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}
#box_loader {
  position: absolute;
  left: 50%;
  margin: 0px auto 0px -50px;
  z-index: 1002;
  width: 100px;
  display: none;
}
#box_loader .back {
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  height: 50px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}
#box_loader .loader {
  background: url(/images/upload_inv_mono.gif) no-repeat 50% 50%;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.box_title_wrap {
  background-color: #597DA3;
  padding: 0px;
  color: #fff;
  font-size: 1.18em;
  font-weight: bold;
}
.box_title {
  padding: 6px 10px 9px 10px;
}
.box_x_button {
  float: right;
  width: 17px;
  height: 17px;
  margin: 5px 5px 0px;
  cursor: pointer;
  padding: 0;
  background: #9db7d4 url(/images/icons/boxicons.gif) -23px -2px;
}
.box_body {
  background-color: #fff;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  padding: 16px 14px;
  aline-height: 1.27em;
}
.box_no_title {
  border-top: 1px solid #AAA;
}
.box_controls_wrap {
  border: 1px solid #AAA;
  border-top: 0px;
}
.box_controls_text {
  padding: 8px 8px 0px;
}
.box_controls {
  padding: 5px;
  height: 30px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
}
.box_controls .progress {
  position: relative;
  margin: 7px 10px 0px;
}
.controls_wrap {
  padding: 7px 0px 0px 5px;
}
/*
 New input buttons with gradient
*/
.flat_button {
  padding: 6px 16px 7px 16px;
  *padding: 6px 17px 7px 17px;
  margin: 0;
  font-size: 11px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  vertical-align: top;
  overflow: visible;
  line-height: 13px;
  text-decoration: none;
  background: none;
  background-color: #6383a8;
  color: #FFF;
  border: 0;
  *border: 0;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 100ms ease-in-out;
  -khtml-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}
.font_medium.flat_button {
  font-size: 12px;
  line-height: 14px;
}
.flat_button::-moz-focus-inner {
  border: 0;
}
.flat_button:hover {
  background-color: #6d8cb0;
  text-decoration: none;
}
.flat_button:active,
.flat_button.active,
.is_2x .flat_button:active,
.is_2x .flat_button.active {
  background: #5c7ca1;
  padding-top: 7px;
  padding-bottom: 6px;
}
.flat_button.secondary {
  font-weight: normal;
  background-color: #dfe5ed;
  color: #627485;
}
.flat_button.secondary:hover {
  background-color: #d8dfe8;
  color: #607282;
}
.flat_button.secondary:active {
  background-color: #d8dfe8;
}
.flat_btn_lock {
  background-image: url('/images/upload_inv.gif');
  background-position: center;
  background-repeat: no-repeat;
}
.secondary.flat_btn_lock {
  background-image: url('/images/upload.gif');
}
.flat_btn_h {
  visibility: hidden;
}
.flat_button.button_disabled:hover,
.flat_button.button_disabled:active {
  background-color: #6383a8;
  cursor: default;
}
.flat_button.secondary.button_disabled:hover,
.flat_button.secondary.button_disabled:active {
  background-color: #dfe5ed;
  cursor: default;
}
.flat_button.button_disabled {
  pointer-events: none;
}
.button_blue,
.button_gray {
  border: 0;
  display: inline-block;
  *display: inline;
  position: relative;
  line-height: normal;
  zoom: 1;
}
.box_controls .button_blue,
.box_controls .button_gray {
  margin: 2px 5px;
}
.button_blue button,
.button_gray button {
  border: 0;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: none;
  font-size: 11px;
  margin: 0px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  vertical-align: top;
  overflow: visible;
  line-height: 13px;
}
.font_medium .button_blue button,
.font_medium .button_gray button {
  font-size: 12px;
  line-height: 14px;
}
.button_wide {
  display: block;
  text-align: center;
}
.button_wide button {
  width: 100%;
}
.button_blue button::-moz-focus-inner,
.button_gray button::-moz-focus-inner {
  border: 0;
}
.button_blue button,
.button_blue.button_disabled button:active,
.button_blue.button_disabled button.active,
.button_blue.button_disabled button:hover,
.button_blue.button_disabled button.hover {
  padding: 6px 16px;
  *padding: 6px 17px;
  border: 0;
  border-bottom: 1px solid #496b93;
  text-shadow: 0 1px 0 #5578A0;
  background: #658ab0 url(/images/button_bgf.png?1) repeat-x top;
  background-position: 0px -12px;
  *border: 0;
  color: #FFF;
}
.button_blue button:hover,
.button_blue button.hover {
  background-position: 0px -5px;
  border-bottom-color: #4e7199;
}
.button_blue button:active,
.button_blue button.active,
.is_2x .button_blue button:active,
.is_2x .button_blue button.active {
  background: #5e80a5;
  border-bottom-color: #51749c;
  position: relative;
}
.button_big.button_blue button {
  padding: 7px 16px;
  *padding: 7px 17px;
}
.button_gray button,
.button_gray.button_disabled button:active,
.button_gray.button_disabled button.active,
.button_gray.button_disabled button:hover,
.button_gray.button_disabled button.hover {
  padding: 5px 15px 6px;
  *padding: 5px 16px 6px;
  border: 1px solid;
  border-top-color: #D3D3D3;
  border-bottom-color: #AEAEAE;
  border-left-color: #C7C7C7;
  border-right-color: #C7C7C7;
  color: #555;
  text-shadow: 0 1px 0 #F6F6F6;
  *border: 0;
  background: #e9e9e9 url(/images/button_bgf.png?1) repeat-x top;
  background-position: 0px -59px;
}
.button_gray button:hover,
.button_gray button.hover {
  background-position: 0px -53px;
  border-top-color: #D7D7D7;
  border-bottom-color: #B7B7B7;
  border-left-color: #CBCBCB;
  border-right-color: #CBCBCB;
}
.button_gray button:active,
.button_gray button.active,
.is_2x .button_gray button:active,
.is_2x .button_gray button.active {
  background: #DCDCDC;
  border-top-color: #BEBEBE;
  border-bottom-color: #B6B6B6;
  border-left-color: #BDBDBD;
  border-right-color: #BDBDBD;
  position: relative;
}
.button_big.button_gray button {
  padding: 6px 15px 7px;
  *padding: 6px 16px 7px;
}
.button_lock {
  background: url('/images/upload_inv.gif') center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.button_gray .button_lock {
  background: url('/images/upload.gif') center no-repeat;
}
a.button_link:hover,
a.button_blue:hover,
a.button_gray:hover {
  text-decoration: none;
}
.button_disabled {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* Pages */
.page_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page_list li {
  float: left;
  display: inline;
}
.page_list a {
  border-bottom: 2px solid #FFF;
  display: block;
  padding: 3px 3px 2px;
}
.page_list a:hover {
  background: #45668E;
  border-color: #DAE2E8;
  border-bottom: 1px solid #45668E;
  color: #FFF;
  text-decoration: none;
}
.page_list .current {
  background: #FFF;
  border-color: #45668E;
  border-bottom: 2px solid #45668E;
  color: #45668E;
  font-weight: bold;
  padding: 3px 2px 2px;
}
.pages_bottom .page_list .current {
  padding-top: 1px;
  border-bottom-color: white;
  border-top: 2px solid #45668E;
}
.flat_tabs {
  border-bottom: 1px solid #DAE1E8;
  height: 24px;
  list-style-type: none;
  margin: 0pt;
  padding: 0px 7px;
  vertical-align: bottom;
}
.flat_tab_on {
  background-color: #FFF;
  border: 1px solid #C3CAD2;
  border-bottom: 0px;
  float: left;
  height: 24px;
  margin: 0px 3px -1px;
  text-align: center;
  position: relative;
}
.flat_tab_on a {
  float: left;
  padding: 5px 10px;
  text-decoration: none;
}
.flat_tab {
  background-color: #F5F7FA;
  border: 1px solid #C3CAD2;
  border-bottom: 0px;
  float: left;
  height: 23px;
  margin: 0px 3px;
  text-align: center;
}
.flat_tab a {
  border-bottom: 2px solid #EEF0F3;
  float: left;
  padding: 5px 10px 3px;
  text-decoration: none;
}
.flat_tab a:hover {
  background-color: #FFF;
  text-decoration: none;
}
.flat_tab a:hover {
  background-color: #FFF;
  border-bottom: 2px solid #F5F9FC;
  text-decoration: none;
}
div.audio td {
  border: 0px;
  vertical-align: top;
}
.audio {
  position: relative;
  clear: both;
}
.audio .area {
  cursor: pointer;
  margin-bottom: 10px;
  line-height: normal;
}
.audio.over .area {
  background-color: #EDF1F5;
}
.audio .play {
  cursor: pointer;
  width: 20px;
  height: 17px;
  background: url(/images/play.gif) no-repeat 0px 0px;
}
.audio .info {
  width: 100%;
  position: relative;
}
.audio .title_wrap {
  padding: 7px 0 6px;
  width: 260px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.audio .title_wrap b {
  padding: 0px;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  max-width: 180px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.audio .duration {
  color: #777;
  font-size: 0.9em;
  padding: 8px 7px 7px 0px;
  max-width: 35px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.audio.over .duration {
  color: #8795A5;
}
.audio .player {
  height: 10px;
  padding: 0px 6px;
  display: none;
}
.audio.current .area {
  margin-bottom: 0px;
}
.audio.current .player {
  display: block;
}
.audio .playline {
  padding-top: 5px;
}
.audio .playline div {
  border-top: 1px dashed #D8DFEA;
  height: 9px;
}
.audio .area .actions {
  position: absolute;
  top: 0px;
  right: 0px;
}
.error,
.info_msg {
  background: #FFEFE8;
  border: 1px solid #E89B88;
  padding: 8px 11px;
  text-align: justify;
}
.info_msg {
  background: #F6F7F9;
  border: 1px solid #DBE0EA;
}
.msg {
  padding: 8px 11px;
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
}
.box_msg {
  padding: 8px 11px;
  margin: 0px;
  font-weight: bold;
  background-color: #F9F6E7;
  border: 1px solid #D4BC4C;
}
#system_msg {
  z-index: 5000;
  left: 0px;
  top: 0px;
  display: none;
  -moz-border-radius: 0px 0px 6px;
  border-radius: 0px 0px 6px;
  padding: 7px 10px;
}
.tabs {
  background: #F7F7F7;
  padding: 8px;
}
.tabs .tab a {
  display: inline-block;
}
.tabs .tab a:hover {
  text-decoration: none;
}
.tabs .tab {
  display: inline-block;
  margin-right: 12px;
  padding: 2px;
}
.tabs .tab.selected {
  border-bottom: 1px solid #FFFFFF;
  padding: 0px;
}
.tabs .tab b {
  padding: 2px 5px 2px 5px;
  display: inline-block;
}
.tabs .tab.selected a {
  border-top: 1px solid #395676;
  border-right: 1px solid #517295;
  border-bottom: 1px solid #4a73a0;
  border-left: 1px solid #517295;
  color: #FFFFFF;
}
.tabs .tab.selected b {
  border: 1px solid #5C82AB;
  background: #5e82a8;
}
.no_select {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}
.select_fix {
  user-select: text;
  -o-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
}
.input_back_wrap {
  position: relative;
  z-index: 90;
  cursor: text;
}
.input_back {
  position: absolute;
  color: #8C8E91;
  z-index: 90;
}
.choose_box .input_back {
  margin: 9px 4px 0px;
}
.input_back_content {
  padding: 0px 2px;
  white-space: nowrap;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sort_blank {
  border: 1px dashed #D8DFEA;
}
.divider {
  color: #777;
  font-weight: normal;
  padding: 0px 5px;
}
small.divider {
  padding: 0px 2px;
}
.unshown {
  display: none;
}
.hidden {
  visibility: hidden;
}
#global_prg {
  position: absolute;
  z-index: 400;
}
/* Tabs */
.tabs.t_bar {
  background: #FFF;
}
.t_bar {
  padding: 11px 10px 0px;
  border-bottom: solid 1px #597DA3;
}
ul.t0 {
  width: 605px;
}
ul.t0,
ul.t0 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.t0 li {
  float: left;
  text-align: center;
}
ul.t0 li.active_link a,
ul.t0 li.active_link a:hover {
  background: #597DA3;
  color: #FFFFFF;
}
ul.t0 li a:hover {
  background: #E1E7ED;
  color: #2B587A;
  text-decoration: none;
}
ul.t0 a {
  float: left;
  padding: 0 0 5px 0;
  margin-right: 5px;
  text-decoration: none;
  background-color: #FFF;
}
ul.t0 .tab_word {
  margin: 5px 10px 0px 10px;
  font-weight: normal;
}
ul.t0 .t_r {
  float: right;
  padding: 5px 0 0;
}
ul.t0 .t_r a {
  margin: 0;
}
ul.t0 .t_r a:hover {
  text-decoration: underline;
  background: #FFFFFF;
}
.tl1,
.tl2 {
  display: block;
  height: 1px;
  background-color: #FFF;
  overflow: hidden;
  margin: 0px;
  border: 1px solid #FFF;
  border-width: 0px 2px;
}
.tl2 {
  margin-bottom: 3px;
  border-width: 0px 1px;
}
ul.t0 li a:hover b.tl1,
ul.t0 li a:hover b.tl2 {
  background-color: #E1E7ED;
}
ul.t0 li.active_link a b.tl1,
ul.t0 li.active_link a:hover b.tl1 {
  background-color: #597DA3;
  border-width: 0px 1px;
}
ul.t0 li.active_link a b.tl1 b,
ul.t0 li.active_link a:hover b.tl1 b {
  display: block;
  height: 1px;
  background: #597DA3;
  overflow: hidden;
  margin: 0px;
  border: 1px solid #9AB1C6;
  border-width: 0px 1px;
}
ul.t0 li.active_link a b.tl2,
ul.t0 li.active_link a:hover b.tl2 {
  background-color: #597DA3;
  border-color: #9AB1C6;
}
#flash_audio {
  height: 0px;
  top: 5px;
}
.audio .play_btn_wrap {
  padding: 6px;
}
.audio .play_new {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url(/images/playpause.gif) no-repeat 0px 0px;
}
.audio .play_new.playing {
  background-position: 0px -16px;
}
/* Animated counters */
.counter_anim_wrap {
  position: relative;
  height: 1.2em;
  line-height: normal;
  overflow: hidden;
}
.counter_anim {
  position: absolute;
  right: 0;
  text-align: right;
  white-space: nowrap;
}
.counter_css_anim_wrap {
  -webkit-transition: width 100ms linear;
  -moz-transition: width 100ms linear;
  -o-transition: width 100ms linear;
  transition: width 100ms linear;
}
.counter_css_anim_wrap .counter_anim {
  -webkit-transition: margin-top 300ms ease-out;
  -moz-transition: margin-top 300ms ease-out;
  -o-transition: margin-top 300ms ease-out;
  transition: margin-top 300ms ease-out;
}
/* Box notify */
.top_result_baloon_wrap {
  padding-top: 50px;
  z-index: 1200;
  font-size: 1.09em;
}
.top_result_baloon {
  color: #FFF;
  cursor: pointer;
  background: url('/images/mv_bg.png');
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 15px #888;
  -moz-box-shadow: 0 2px 15px #888;
  box-shadow: 0 2px 15px #888;
  padding: 15px 15px;
  width: 380px;
  text-shadow: 0px 1px 0px #262626;
  line-height: 160%;
}
div.top_result_header {
  font-weight: bold;
  font-size: 1.09em;
  padding-bottom: 5px;
}
div.top_result_baloon a {
  color: #B1DAFF;
  font-weight: bold;
}
.widgets_box {
  background: transparent;
}
/* Layers */
#layer_stl {
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  display: none;
  overflow: hidden;
}
#layer_stl_bg {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  background: #000;
  opacity: 0;
  filter: alpha(opacity=15);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#layer_stl_cl {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#layer_stl_text {
  top: 13px;
  left: 0px;
  background: url(/images/toplinkw.gif) no-repeat left 3px;
  height: 14px;
  display: block;
  padding: 0px 20px;
  margin: 0 31px 0 15px;
  font-weight: bold;
  color: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#layer_stl_text.down {
  background-position: left -9px;
}
#layer_stl:hover #layer_stl_text {
  opacity: 1;
}
#layer_stl:hover #layer_stl_bg {
  opacity: 0.15;
}
#box_layer {
  padding: 1px 0px 80px;
}
#layer_bg,
#box_layer_bg,
#layer_wrap,
#box_layer_wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow: hidden;
  display: none;
}
#box_layer_bg,
#box_layer_wrap {
  z-index: 1000;
}
#layer_wrap,
#box_layer_wrap {
  overflow: auto;
}
#layer_wrap {
  overflow-x: hidden;
  overflow-y: auto;
}
#box_layer_bg {
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
#box_layer_bg.bg_medium {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#box_layer_bg.bg_dark {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
@-moz-document url-prefix() {
  #box_layer_bg {
    background: url(/images/layer_bg_lite.png);
    opacity: 1 !important;
  }
  #box_layer_bg.bg_medium {
    background: url(/images/layer_bg_medium.png);
  }
  #box_layer_bg.bg_dark {
    background: url(/images/layer_bg_black.png);
  }
}
.box_dark .box_title_wrap {
  border: none;
  font-size: 1em;
  font-weight: normal;
}
.box_dark .box_x_button {
  background: none;
  margin: 0px;
  padding: 17px 20px 18px;
  color: #C7D7E9;
  width: auto;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
.box_dark .box_x_button:hover {
  color: #FFF;
  text-decoration: none;
  background: none;
}
.box_dark .box_body {
  border: none;
}
.box_dark .box_controls_wrap {
  border: none;
}
.box_dark .box_controls {
  border: none;
  padding: 16px 15px 15px 20px;
  background-color: #EEF0F2;
}
.box_dark .box_controls_text {
  padding: 8px 0 0 0;
}
.box_dark .box_title {
  border: none;
  color: #FFFFFF;
  background: #597BA5;
  font-weight: bold;
  padding: 17px 20px 18px;
  font-size: 1.09em;
}
.captcha {
  padding: 5px 0;
  text-align: center;
  height: 80px;
}
.captcha img {
  width: 130px;
  height: 50px;
  background: url(/images/vklogo.gif);
  cursor: pointer;
}
.captcha input.text {
  width: 120px;
  margin: 10px 0px 0px;
}
.captcha .progress {
  width: 120px;
  margin: 13px auto 0px;
}
.summary_tabs {
  font-size: 11px;
  padding: 5px 5px;
  border-bottom: 1px solid #DAE1E8;
  background: #F7F7F7;
}
.font_medium .summary_tabs {
  font-size: 12px;
}
.summary_right {
  padding: 8px 5px;
}
.summary_tab,
.summary_tab_sel {
  font-weight: bold;
  padding: 8px 5px 7px;
}
.summary_tab2 {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 8px 4px;
  display: block;
}
.summary_tab2:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.summary_tab_sel .summary_tab2,
.summary_tab_sel .summary_tab2:hover {
  padding: 3px 8px 4px;
  background: #597DA3;
}
.summary_tab3 {
  max-width: 230px;
  *display: inline;
  height: 13px;
  overflow: hidden;
  font-weight: bold;
  color: #45688E;
  padding: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 120%;
}
.summary_tab_sel .summary_tab3 {
  color: #FFF;
}
.summary_tab_x {
  width: 11px;
  height: 11px;
  margin: 2px 1px 0px;
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  cursor: pointer;
  filter: alpha(opacity=12);
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.summary_tab_x:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.summary_tab_sel .summary_tab_x {
  background-position: 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin-left: 4px;
  margin-right: -3px;
}
.is_rtl1 .summary_tab_sel .summary_tab_x {
  margin-right: 4px;
  margin-left: -3px;
}
.summary_tab_sel .summary_tab_x:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.trnp {
  background-color: transparent;
}
.emoji,
.emoji_css {
  width: 16px;
  height: 16px;
  *height: 17px;
  border: none;
  vertical-align: top;
  margin: 0px 1px;
}
.emoji_css {
  background: url('/images/im_emoji.png?9') no-repeat;
}
.light_cry_dog {
  background: url('/images/icons/cry_dog.png');
  background-size: 152px 152px;
  width: 152px;
  height: 152px;
}
.is_2x .light_cry_dog {
  background-image: url('/images/icons/cry_dog_2x.png');
}
