html, body {
  margin: 0px;
  padding: 0px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  text-align: center;
  height: 100%;
}
body {
  background: #FFFFFF;
}
.container {
  width: 100%;
  height: 100%;
}
.head {
  width: 100%;
  vertical-align: top;
  border: none;
  color: #FFFFFF;
  background: #597BA5;
  font-weight: bold;
  padding: 17px 20px 18px;
  font-size: 1.09em;
  height: 24px;
}

.logo {
  position: absolute;
  width: 132px;
  height: 24px;
  background: url(/images/logo.png) 0px 0px no-repeat;
  background-size: 132px 24px;
  display: block;
}
.is_2x .logo {
  background-image: url(/images/logo_2x.png);
}
.VK1.is_2x .logo {
  background-image: url(/images/logo_vk_2x.png);
}

.VK1 .logo {
  position: absolute;
  width: 40px;
  height: 23px;
  background: url(/images/logo_vk.png) 0px 0px no-repeat;
  background-size: 40px 23px;
  display: block;
}

.box {
  /*border: 1px solid #ADBBCA;*/
  padding: 16px;
  margin: 0px auto 0px auto;
  width: 580px;
  text-align: left;
  min-height: 85px;
  /*box-shadow: 0px 1px 0px 0px #DDDDDD;*/
}

.box_login {
  width: 450px;
  padding-bottom: 40px;
}

.box h1 {
  color: #36638E;
  font-size: 12px;
  margin: 0px 10px;
  padding: 6px 0px 3px 0px;
}

.info {
  padding: 0px 0px 0px 0px;
  margin: 15px 10px 0px 10px;
}

.permissions_info {
  margin-top: 20px;
}

.box_login .info {
  width: 158px;
  padding: 0px 135px;
}
#expire_checkbox {
  padding-top: 12px;
}

.items {
  padding: 0px 0px 0px 0px;
  width: 326px;
  margin-left: 118px;
}

.apps_access_height {
  height: 50px;
  width: 1px;
}

.apps_access_profile {
  background-image: url("/images/pics/access_profile.png");
}
.apps_access_media {
  background-image: url("/images/pics/access_media.png");
}
.apps_access_activity {
  background-image: url("/images/pics/access_activity.png");
}
.apps_access_wall {
  background-image: url("/images/pics/access_wall.png");
}

.bottom_buttons {
  height: 29px;
  padding: 16px 15px 15px 20px;
  background-color: #EEF0F2;
}

.bottom_buttons div {
  margin-left: 10px;
}

.app_info {
  position: absolute;
  margin-left: 25px;
}

.footer {
  color: #444444;
}
.login {
  margin: 10px 0px 20px 0px;
}
.login td {
  padding: 4px 4px;
}
.label {
  width: 120px;
  text-align: right;
  color: gray;
}
input {
  border: 1px solid #C0CAD5;
  padding: 4px;
  width: 200px;
}
.auth_items {
  padding: 5px 0px 0px;
  color: #E8EFF7;
}
.auth_items a {
  height: 11px;
  margin: 0px;
  font-size: 11px;
  color: #E8EFF7;
  font-weight: normal;
}
.auth_items a.head_name {
  font-size: 11px;
  color: #FFFFFF;
  font-weight: bold;
}
.info_line {
  padding: 19px 10px;
  background: #eff1f3;
  height: 14px
}
#login_submit {
  height: 100%;
}
#allow_notifications {
  text-align: left;
  padding: 6px 0px 0px 0px;
}

.apps_access_item {
  margin-top: 16px;
  margin-bottom: 20px;
  color: #000;
  background-position: 0px 2px;
  background-repeat: no-repeat;
}
.apps_access_item b {
  display: block;
  padding-bottom: 3px;
  color: #416389;
}
.apps_access_icon {
  position: absolute;
  height: 33px;
  width: 33px;
  margin-right: 20px;
  background: url('/images/app_settings_icons.png?4') 0px 0px no-repeat;
}
.apps_access_photos {
  background-position: 0px -74px;
}
.apps_access_media {
  background-position: 0px -111px;
}
.apps_access_docs {
  background-position: 0px -185px;
}
.apps_access_messages {
  background-position: 0px -259px;
}
.apps_access_wall {
  background-position: 0px -222px;
}
.apps_access_offline {
  background-position: 0px -407px;
}
.apps_access_friends {
  background-position: 0px -148px;
}
.apps_access_groups {
  background-position: 0px -37px;
}
.apps_access_stats {
  background-position: 0px -296px;
}
.apps_access_email {
  background-position: 0px -518px;
}
.apps_deny_email {
  background-position: 0px -555px;
}
.apps_sett_access_list {
  padding: 5px 0px 15px;
}
.apps_sett_line {
  border-bottom: 1px solid #E8EBEE;
  margin: 0px 0px 14px 0px;
}
.apps_access_item_info {
  padding-left: 48px;
  line-height: 140%;
}
.form_header {
  color: #45688E;
  padding: 18px 0px 8px;
  font-weight: bold;
  font-size: 12px;
}
.form_input {
  width: 150px;
  height: 19px;
}
.box_login {
  margin-top: 0px;
  padding-top: 0;
}
.popup_login_btn {
  margin-top: 20px;
  width: 160px;
}
#quick_forgot {
  display: block;
  width: 160px;
  text-align: center;
  padding: 12px 0px 0px;
}
#install_cancel {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 10px 7px;
  vertical-align: top;
  margin: 0px 0px 0px 12px;
}

#install_cancel:hover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
  text-decoration: none;
}
.oauth_error {
  font-weight: bold;
  margin: 20px 0px 0px;
  color: #c56851;
  background-color: #FFEFE8;
  padding: 13px 11px;
  margin-bottom: 4px;
}
.apps_access_one_item {
  padding: 19px 0px;
}
.is_2x .apps_access_icon {
  background-image: url(/images/app_settings_icons_2x.png);
  background-size: 33px 551px;
}
#install_allow {
  margin: 0;
}

#sub_cont {
  height: 100%;
}
.oauth_page {
  text-align: center;
  background: #4E4E4E;
}
.oauth_page .container {
  width: 656px;
  margin: 0px auto;
  height: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}
.oauth_page #sub_cont {
  height: auto;
}

.head_photo {
  width: 32px;
  height: 32px;
  margin: -12px 10px;
}

.grant_access_title {
  font-size: 12px;
}

.denied {
  color: #888;
}

b.denied  {
  color: #888;
}