#page_help_css {
  display: none;
}
.tb_focus {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: -1000px;
}
.tb_title {
  font-size: 1.09em;
  color: #FFF;
  background: #597BA5;
  font-weight: bold;
  padding: 17px 20px 18px;
  line-height: 120%;
}
.tb_close {
  padding: 17px 20px 18px;
  color: #C7D7E9;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
  line-height: 120%;
}
.tb_close:hover {
  color: #FFF;
  text-decoration: none;
}
.tb_tabs {
  background: #EFF1F3;
  padding: 2px 15px 3px;
}
.tb_tabs .summary_tab2,
.tb_tabs .summary_tab2:hover {
  padding: 4px 6px 5px;
}
div.tb_prg {
  display: block;
  margin: 12px 5px 0px;
  visibility: hidden;
}
.tb_tabs_sh {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  display: none;
  margin-top: -1px;
}
.tb_fixed {
  position: fixed;
  top: 0px;
  z-index: 200;
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.tb_fixed .tb_tabs_sh {
  display: block;
}
.fans_rows {
  padding: 16px 10px 1px;
}
.fans_idol_row {
  width: 280px;
  padding: 0px 10px 20px;
}
.fans_idol_ph {
  display: block;
  height: 100px;
}
.fans_idol_img {
  width: 100px;
}
.fans_idol_info {
  width: 170px;
  line-height: 155%;
}
.fans_idol_name {
  white-space: nowrap;
  width: 170px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-weight: bold;
  padding: 3px 0px;
}
.fans_idol_lnk {
  color: #45688E;
}
.fans_idol_status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*  min-height: 34px;*/
}
.fans_idol_size {
  padding-top: 4px;
  color: #777;
}
.fans_idol_plhl {
  /*  color: #777;*/
}
.fans_idol_sub {
  margin-top: 12px;
}
.fans_idol_unsub {
  color: #777;
  margin-top: 0px;
}
.fans_idol_space {
  padding-top: 0px;
  height: 14px;
  padding-bottom: 2px;
}
.fans_more_link {
  display: block;
  background: #EEF0F2;
  text-align: center;
  padding: 16px;
  color: #738392;
}
.fans_more_prg {
  display: none;
  height: 15px;
  background: #eef0f2 url(/images/upload.gif) no-repeat 50% 50%;
  padding: 16px;
  color: #738392;
}
.fans_more_link:hover {
  text-decoration: none;
  background: #E9EDF1;
}
span.fans_idol_unsub_p {
  height: 17px;
}
.fans_fan_row {
  width: 120px;
  overflow: hidden;
  height: 133px;
}
.fans_fan_ph {
  height: 100px;
  display: block;
}
.fans_fan_img {
  vertical-align: top;
  width: 100px;
}
.fans_fan_name {
  padding-top: 4px;
  line-height: 120%;
  text-align: center;
}
.fans_no_rows {
  padding: 200px 20px;
  overflow: hidden;
  color: #777;
  background-color: #FFF;
  padding: 140px 20px;
  text-align: center;
  font-size: 1.21em;
}
.fans_fan_bl_wrap {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 0px;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
a:hover .fans_fan_bl_wrap {
  opacity: 1;
  filter: alpha(opacity=100);
}
.fans_fan_bl {
  background: url(/images/notifier_close.gif) no-repeat;
  width: 7px;
  height: 7px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.fans_fan_bl_wrap:hover .fans_fan_bl {
  opacity: 1;
  filter: alpha(opacity=100);
}
.fans_fan_block {
  line-height: 160%;
}
.fans_fanph_wrap,
.fans_idolph_wrap {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  overflow: hidden;
}
.fans_idolph_wrap {
  width: 110px;
}
.fans_fanph {
  position: absolute;
  color: #FFF;
  margin-top: 100px;
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 15px;
  line-height: 15px;
  padding: 4px 0px 6px 0px;
  text-align: center;
  filter: alpha(opacity=75);
}
@media all and (min-width: 0) {
  /* IE9-10 */
  .fans_fanph {
    filter: none;
  }
}
.fans_fanph:hover {
  text-decoration: none;
}
.fans_fanph_label {
  opacity: 0.75;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  padding: 0px 0px 1px 20px;
  background: url(/images/icons/photo_icons.png?2) no-repeat left -62px;
}
.is_rtl1 .fans_fanph_label {
  padding: 0px 20px 1px 0px;
  background-position: right -62px;
}
.fans_fanph:hover .fans_fanph_label {
  opacity: 1;
}
#fans_idol_search {
  margin: 7px -48px 6px;
}
#fans_idol_search_inp {
  padding: 4px 20px 5px;
  width: 70px;
  background: url(/images/magglass.png) no-repeat scroll 5px 6px #ffffff;
  height: 13px;
  outline: none;
}
#fans_idol_search_inp::-ms-clear {
  display: none;
}
.fans_search_focused .fans_row_highlight {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  padding: 0px 1px 0px;
  margin: 0px -1px;
  *padding: 0px;
  *margin: 0px;
}
#fans_reset_search {
  margin: 1px 0px 0px 89px;
  display: none;
  cursor: pointer;
  background: transparent url(/images/icons/input_clear.gif) 6px 6px no-repeat;
  padding: 2px;
  width: 19px;
  height: 19px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  z-index: 95;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#fans_reset_search:hover {
  opacity: 1;
}
.fans_count {
  padding-left: 4px;
  color: #a6b5c6;
}
.summary_tab_sel .fans_count {
  color: #dce1e6;
}
.fans_search_link {
  position: absolute;
  padding-top: 11px;
  right: 15px;
}
.is_rtl1 .fans_search_link {
  left: 15px;
  right: auto;
}
