#pages_css {
  display: none;
}
.pages_cont {
  padding: 10px;
  line-height: 160%;
}
.pages_empty {
  padding: 80px 10px;
  background: #F7F7F7;
  border: 1px solid #CCC;
  margin: 5px 5px;
  text-align: center;
  font-size: 1.09em;
  color: #777;
  line-height: 200%;
}
#pages_progress {
  margin: 9px 0px 0px 575px;
  position: absolute;
  display: none;
}
.pages_right_link {
  padding-top: 5px;
}
#pages_error {
  border: 1px solid #E89B88;
  background-color: #FFEFE8;
  padding: 8px 11px;
}
#pages_error_wrap {
  padding: 10px;
  padding-bottom: 0px;
  display: none;
  background: #F7F7F7;
}
.pages_main {
  padding: 11px 10px;
  background: #F7F7F7;
}
.pages_section_view .pages_main,
.pages_section_edit .pages_main {
  padding: 0px;
  background: #FFFFFF;
}
.pages_section_history .pages_main {
  padding: 0px;
  background: #FFFFFF;
}
.pages_body {
  width: 598px;
  height: 410px;
  border: 1px solid #C0CAD5;
  padding: 3px;
  font-size: 1em;
  font-family: tahoma, ubuntu, arial, verdana;
}
#pages_html {
  width: 598px;
  height: 350px;
}
.pages_buttons {
  background: #F1F1F1;
  padding: 10px;
  width: 607px;
}
#pages_buttons_cont {
  height: 45px;
}
.pages_wysiwyg {
  padding-bottom: 3px;
}
.pages_acts {
  padding: 5px 4px 0px 0px;
}
.pages_access_options .radiobtn {
  display: block;
  margin: 10px 0px;
}
#pages_edit_title {
  width: 598px;
  margin: 0px;
  line-height: 160%;
}
.pages_edit_title_cont {
  background: #F1F1F1;
  padding: 10px 10px 6px 10px;
}
.pages_save_info {
  padding: 6px 10px 0px 10px;
  color: #777777;
}
#pages_preview {
  /*border-top: 1px solid #C0CAD5;*/
  padding: 10px;
  line-height: 160%;
}
.pages_info_line {
  background: #F1F1F1;
  padding: 0px 0px 10px 0px;
  line-height: 140%;
}
.pages_section_view .pages_info_line {
  padding: 11px 10px;
}
.pages_section_edit .pages_info_line {
  padding: 11px 10px 0px 10px;
}
.pages_info_header {
  background: #F1F1F1;
  padding: 0px 0px 10px 0px;
  line-height: 140%;
  padding: 8px 10px;
  width: 607px;
}
.pages_content {
  padding-top: 10px;
}
.pages_actions {
  padding: 2px 5px 0px 5px;
  font-size: 11px;
  font-weight: normal;
}
.font_medium .pages_actions {
  font-size: 12px;
}
.pages_header {
  color: #45688E;
  font-size: 1.18em;
  font-weight: bold;
  border-bottom: 1px solid #DAE1E8;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
.pages_edit_history {
  padding: 5px 10px 20px 10px;
  width: 607px;
}
.pages_history_header {
  width: 100%;
}
.pages_history_table {
  width: 100%;
  border-bottom: 1px dashed #CCCCCC;
}
.pages_history_header td {
  padding: 0px 10px;
  font-weight: normal;
}
.pages_history_table td {
  padding: 8px 10px;
}
.pages_info_header h4 {
  border: none;
}
.pages_select_version {
  background: #FFFFFF;
  border: 1px solid #C0CAD5;
  margin: 2px 0px 8px 0px;
}
.pages_not_selected {
  padding: 8px 8px;
  color: #777777;
}
#pages_compare_cont {
  padding: 0px 0px 20px 0px;
  display: none;
}
#pages_compare_disabler {
  position: absolute;
  background: #FFFFFF;
  opacity: 0.4;
  z-index: 10;
}
.pages_select_version .pages_history_table {
  border-bottom: none;
}
.pages_edit_history .pages_compare {
  background: #F7F7F7;
}
.pages_edit_empty {
  text-align: center;
  padding: 70px 30px 70px 30px;
}
.pages_summary {
  border-bottom: 1px solid #E7EAED;
  color: #47688D;
  padding: 14px 10px 4px;
  font-weight: bold;
}
.pages_notifications {
  padding: 0px 10px 10px 10px;
}
.pages_notify_row {
  border-top: 1px solid #DAE2E8;
  padding: 20px 10px;
}
.pages_notify_first {
  border-top: none;
  margin-top: 5px;
}
.pages_notify_unread {
  background: #F5F9FB;
}
.pages_notify_unread.pages_notify_first {
  margin-top: 10px;
}
.pages_notify_date {
  color: #777777;
  padding-top: 4px;
}
.pages_delete_row {
  margin-top: -2px;
  margin-right: -6px;
  background: url("/images/pics/statusx_op.gif") no-repeat scroll 3px 3px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  height: 17px;
  width: 17px;
}
.pages_notify_deleted {
  color: #777777;
  padding: 4px 0px;
}
.pages_notifications_empty {
  padding: 130px 10px;
  background: #F7F7F7;
  border: 1px solid #CCC;
  margin: 15px 5px;
  text-align: center;
  font-size: 1.09em;
  color: #777;
}
.pages_bl_row {
  padding: 10px;
  height: 25px;
  overflow: hidden;
  border-bottom: 1px solid #DAE2E8;
}
img.pages_bl_photo {
  width: 25px;
  height: 25px;
}
.pages_bl_name {
  padding: 5px 0 0 10px;
  font-weight: bold;
}
.pages_bl_action {
  padding-top: 5px;
}
.pages_row_info {
  padding: 5px 0px 0px 0px;
}
.pages_user_form {
  background: #F7F7F7;
  padding: 10px;
  border-bottom: 1px solid #DAE1E8;
}
input.pages_user_field {
  margin: 0;
  padding: 5px 4px 4px 20px;
  width: 402px;
  height: 14px;
  line-height: 1.27em;
  background: #ffffff url('/images/magglass.png') no-repeat 5px 6px;
}
.pages_help {
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  padding: 20px;
}
#pages_preview_source_link,
#pages_preview_edit_link {
  position: absolute;
  padding: 6px 12px 0px;
}
#pages_bottom_preview {
  display: none;
  background: #FFFFFF;
  border-top: 1px solid #DAE1E8;
  padding-top: 2px;
}
.pages_draft_info {
  width: 607px;
  padding: 12px 10px 4px;
  background: #F1F1F1;
}
.pages_title_enabled {
  margin-top: 0px;
}
.pages_draft_text {
  padding: 6px 2px;
}
.pages_draft_btn {
  margin-left: 10px;
  margin-right: 1px;
}
.pages_notify_diff {
  border-left: 2px solid #C3D1E0;
  padding-left: 10px;
  margin: 8px 0px;
  max-height: 200px;
  overflow-y: auto;
}
.pages_notify_changes {
  color: #777;
  margin-top: 6px;
}
.pages_global_controls {
  padding: 8px 0px 0px 0px;
}
.pages_report_info {
  padding: 10px 0px;
}
.pages_wiki_text {
  width: 100%;
  height: 600px;
  width: 607px;
  padding: 10px;
  border: none;
}
.pages_wiki_content {
  padding: 10px;
  line-height: 160%;
}
.pages_buttons_cont {
  height: 32px;
}
.pages_buttons_panel_shadow {
  position: absolute;
  width: 627px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  margin-top: -13px;
  margin-left: -10px;
  display: none;
}
.pages_panel_fixed .pages_buttons_panel_shadow {
  display: block;
}
#pages_buttons_panel.pages_panel_fixed {
  background: #F1F1F1;
  border-top: 1px solid #DAE1E8;
}
.pages_panel_fixed .pages_pages_acts {
  padding: 4px 0px 0px 0px;
}
.pages_top_fixed .editor_toolbar {
  padding-left: 25px;
  padding-right: 25px;
  width: 604px;
}
.pages_top_fixed .editor_toolbar {
  position: fixed;
  top: 0px;
}
.pages_top_fixed #wke_buttons {
  position: fixed;
  top: 0px;
  width: 627px;
  height: 32px;
}
#pages_top_toolbox_shadow {
  position: fixed;
  width: 627px;
  top: 31px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  display: none;
}
.pages_top_fixed #pages_top_toolbox_shadow {
  display: block;
}
.pages_top_hidden #wke_buttons {
  display: none;
}
.pages_top_hidden #pages_top_toolbox_shadow {
  display: none;
}
.pages_wiki_text {
  overflow: hidden;
}
.pages_access_tt_pointer {
  behavior: url(/js/iepngfix.htc);
  background: url(/images/ddtooltip.png) -8px 0 no-repeat;
  width: 8px;
  height: 11px;
  position: absolute;
  right: -7px;
  overflow: hidden;
  z-index: 10;
  bottom: 32px;
}
div.pages_access_tt table .tt_text {
  line-height: 160%;
  color: #000;
  padding: 10px;
  width: 220px;
}
.pages_cont .audio .actions {
  visibility: hidden;
}
.pages_cont .audio .actions a {
  float: right;
  padding: 6px;
}
.pages_cont .audio.over .actions {
  visibility: visible;
  background-color: #EDF1F5;
}
