#pe_css {
  display: none;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(//vk.com/images/filters/fonts/lobster.ttf) format('truetype');
}

@font-face {
  font-family: 'ImpactPE';
  src: url(//vk.com/images/filters/fonts/impact_pe.ttf) format('truetype');
}

.pe_tabs_panel {
  background: #F1F1F1;
  padding: 14px 19px;
  overflow: hidden;
  display: none;
  opacity: 0.0;
}

.pe_type_chooser {
  padding: 6px 0 6px 2px;
}
.pe_type_chooser_item {
  display: inline-block;
  padding: 3px 8px 4px;
  border-radius: 2px;
  color: #45688e;
  cursor: pointer;
  margin-right: 4px;
  font-weight: bold;
}
.pe_type_chooser_item:hover {
  background-color: #dadee3;
}
.pe_type_chooser_item.selected {
  color: white;
  background-color: #587CA5;
}
.pe_type_chooser_item:hover.selected {
  background-color: none;
}


.pe_filter_buttons {
  padding: 20px 27px;
  text-align: center;
}
.pe_change_setting {
  vertical-align: bottom;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
}
.pe_other_settings_rows {
  padding-top: 4px;
}
.pe_filter_bg {
  position: fixed;
  z-index: 2000;
  left: 0px;
  top: 0px;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.pe_filtered_msg {
  background: #F1F1F1;
  padding: 14px 19px;
  margin-top: 12px;
  margin-bottom: 16px;
  text-align: center;
}
.pe_filter_pointer {
  cursor: crosshair;
}
.pe_blur_switch {
  background-position: 0px -43px;
  margin: -1px 87px;
  padding: 0px;
  position: absolute;
  width: 14px;
  height: 9px;
}
.is_rtl1 .pe_blur_switch {
  margin: -1px 90px;
}
.pe_filter_level {
  position: absolute;
  display: none;
  overflow: hidden;
  height: 1px;
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 4px;
  width: 68px;
  margin-top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  border-radius: 0 0 2px 2px;
}
.pe_filter_level .pe_blur_back {
  margin: 5px 0px;
  width: 68px;
}
.pe_filter_level_txt {
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
}
.pe_filter_level:hover .pe_blur_slider, .pe_filter_down .pe_blur_slider {
  width: 9px;
  height: 9px;
  top: -2px;
  right: -4px;
}
.is_rtl1 .pe_filter_level:hover .pe_blur_slider, .is_rtl1 .pe_filter_down .pe_blur_slider {
  left: -4px;
  right: auto;
}

#pe_desc .match {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  margin: 0px;
  padding: 0px 1px;
}
#pe_vtagged_wrap {
  width: 660px;
}
#pva_video_tags {
  padding: 14px 0px 0px 27px;
}

div.pe_composer_dd .wdd_lwrap {
  top: -10px;
}
#pe_add_media {
  padding: 6px 9px 0px;
}
.wall_module div.pe_commdata div.pe_review_like {
  margin: 0px 1px;
}
div.pe_commdata i.no_like_hide {
  visibility: visible;
}
.wall_module .pe_comment .like_wrap {
  margin: 4px 1px 0px;
}
.pe_filter_font {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 8px 7px 4px 4px;
}
.pe_filter_font:active {
  padding: 9px 7px 3px 4px;
}
.pe_filter_font_icon {
  background: url('/images/icons/switch_fonts.png') 0px 0px no-repeat;
  width: 17px;
  height: 13px;
}
.pe_filter_font0 .pe_filter_font_icon {
  background-position: 0px -14px;
}
.pe_report_blocked {
  color: #777777;
  padding: 4px 5px;
}
div.pe_report_upload {
  display: none;
}
.pe_report_blocked .pe_report_upload {
  display: block;
}
.pe_report_blocked .pe_act_text {
  display: none;
}


#pe_filter_type_parameters_tab {
  padding: 0 7px;
}


.pe_params_slider_wrap {
  width: 200px;
  display: inline-block;
  margin: 6px 30px 5px;
}
.pe_params_slider_label {
  color: #4d6e91;
  cursor: default;
}

.pe_params_slider {
  padding: 10px 0;
}

.pe_params_back {
  background-color: #D3D9E0;
  border-radius: 3px;
  height: 5px;
  width: 100%;
  cursor: pointer;
}
.pe_params_amount {
  background-color: #5F81A8;
  border-radius: 3px;
  height: 5px;
  width: 50%;
  cursor: pointer;
}


.pe_params_amount_handle {
  background-color: #5F81A8;
  border-radius: 50%;
  height: 0px;
  width: 0px;
  position: relative;
  cursor: pointer;
  display: block;

  opacity: 0.0;

  -webkit-transition: opacity 150ms ease-in, width 100ms linear, top 100ms linear;
  -moz-transition: opacity 150ms ease-in, width 100ms linear, top 100ms linear;
  -o-transition: opacity 150ms ease-in, width 100ms linear, top 100ms linear;
  transition: opacity 150ms ease-in, width 100ms linear, height 100ms linear, top 100ms linear, margin-left 100ms linear, margin-top 100ms linear;

  margin-left: 7px;
  margin-top: -2px;
}
.pe_params_slider:hover .pe_params_amount_handle, .pe_params_amount_handle.active {
  height: 13px;
  width: 13px;
  margin-left: 0;
  margin-top: -9px;
  opacity: 1.0;
}

.pe_handler_helper {
  position: fixed;
  background-color: rgb(88, 124, 165);
  padding: 4px 7px;
  opacity: 0.8;
  border-radius: 2px;
  color: white;
  display: none;
}
.pe_handler_helper:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(88, 124, 165, 0);
  border-top-color: rgb(88, 124, 165);
  border-width: 5px;
  margin-left: -5px;
}
.slider .pe_params_slider_back {
  height: 5px;
}

.pe_actions {
  background-color: #dae0e5;
  opacity: 1;
  position: absolute;
  bottom: 3px;
  left: 13px;
  padding: 7px;
  border-radius: 2px;
  opacity: 0;
  transition: all 100ms linear;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pe_actions:hover, .pe_actions.active {
  opacity: 1;
}
.pe_actions .pe_action {
  padding: 5px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 100ms linear;
  position: relative;
}
.pe_actions .pe_action > div {
  width: 20px;
  height: 20px;
  background-image: url(/images/icons/filter_tools_pe.png?7);
}
.pe_actions .pe_action.enabled {
  opacity: 1.0;
}
.pe_actions .pe_action#pe_text > div {
  background-position: 0px -40px;
}
.pe_actions .pe_action#pe_crop > div {
  background-position: 0px 0px;
}
.pe_actions .pe_action#pe_blur > div {
  background-position: 0px -21px;
}
.pe_actions .pe_action#pe_rotate > div {
  background-position: 1px -60px;
}
.pe_actions .pe_action#pe_auto > div {
  background-position: 0px -120px;
}
.pe_actions .pe_action:hover {
  opacity: 1.0;
}
.pe_actions .pe_action:active {
  top: 1px;
}

.pe_wrap {
  text-align: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pe_canvas_wrap {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-height: 300px;
}
.pe_canvas_wrap * {
  box-sizing: inherit;
}
.pe_canvas_wrap > canvas {
  display: block;
}

.pe_text_input, .pe_blur_input {
  position: absolute;
  background-color: #dae0e5;
  opacity: 0;
  padding: 7px 10px;
  border-radius: 2px;
  margin-left: -5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pe_blur_input {
  padding: 8px 15px;
  width: 120px;
  margin-top: 2px;
}
.pe_text_input {
  width: 180px;
  z-index: 99999;
}
.pe_text_input textarea {
  color: #4a6480;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  width: 155px;
  resize: none;
  padding: 0;
  height: 18px;
  display: block;
  line-height: 1.7em;
  overflow: hidden;
}
.pe_text_input .pe_text_font_changer {
  background-image: url(/images/icons/switch_fonts_pe.png?2);
  width: 17px;
  height: 13px;
  cursor: pointer;
  opacity: 0.8;
  background-position: 0px 0px;
  position: absolute;
  top: 10px;
  right: 11px;
  transition: all 80ms linear;
}
.pe_text_input .pe_text_font_changer:hover {
  opacity: 1.0;
}
.pe_text_input .pe_text_font_changer:active {
  top: 11px;
}
.pe_text_input .pe_text_font_changer.impact {
  background-position: 0px -13px;
}

.pe_blur_input .pe_slider {
  width: 100px;
  height: 4px;
  position: relative;
  cursor: pointer;
}
.pe_blur_input .pe_slider .pe_slider_amount {
  width: 20px;
  height: 4px;
  background-color: #7F8FA5;
  border-radius: 2px;
  opacity: 0.9;
}
.pe_blur_input .pe_slider .pe_slider_handle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -3px;
  background-color: #7F8FA5;
  cursor: pointer;
  opacity: 0.1;
  transition: width 100ms linear, height 100ms linear, top 100ms linear, left 100ms linear;
}
.pe_blur_input .pe_slider:hover .pe_slider_handle, .pe_blur_input .pe_slider.active .pe_slider_handle {
  width: 10px;
  height: 10px;
  top: -3px;
  left: -6px;
  opacity: 0.9;
}
.pe_blur_input .pe_blurtype_changer {
  background-image: url(/images/icons/filter_tools_pe.png?7);
  width: 15px;
  height: 15px;
  background-position: -2px -82px;
  right: 10px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  transition: all 80ms linear;
}
.pe_blur_input .pe_blurtype_changer:hover {
  opacity: 1.0;
}
.pe_blur_input .pe_blurtype_changer:active {
  top: 6px;
}
.pe_blur_input .pe_blurtype_changer.linear {
  background-position: -2px -102px;
}

.pe_canvas_wrap .pe_crop_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.49);
  border-style: solid;
  border-width: 0;
  transition: opacity 100ms linear;
  opacity: 0;
  cursor: move;
}
.pe_canvas_wrap .pe_crop_area.visible {
  opacity: 1;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.4;
  position: absolute;
  transition: opacity 100ms linear;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle:hover, .pe_canvas_wrap .pe_crop_area.active .pe_side_handle {
  opacity: 0.9;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_top {
  margin-top: -5px;
  margin-left: -5px;
  left: 50%;
  cursor: n-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_bottom {
  margin-left: -5px;
  margin-top: -5px;
  left: 50%;
  top: 100%;
  cursor: s-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_left {
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
  cursor: w-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_right {
  top: 50%;
  left: 100%;
  margin-left: -5px;
  margin-top: -5px;
  cursor: e-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_top_right {
  margin-top: -5px;
  margin-left: -5px;
  left: 100%;
  cursor: ne-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_top_left {
  margin-top: -5px;
  margin-left: -5px;
  cursor: nw-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_bottom_left {
  margin-top: -5px;
  margin-left: -5px;
  top: 100%;
  cursor: sw-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_side_handle#pe_crop_side_handle_bottom_right {
  margin-top: -5px;
  margin-left: -5px;
  top: 100%;
  left: 100%;
  cursor: se-resize;
}
.pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap {
  padding: 4px 10px 2px;
  background-color: black;
  position: absolute;
  border-radius: 2px;
  opacity: 0.6;
  transition: opacity 100ms linear;
  bottom: 8px;
  right: 8px;
}
.pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap:hover {
  opacity: 0.8;
}
.pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap .pe_crop_apply_button {
  background-image: url(/images/icons/filter_tools_pe.png?7);
  width: 27px;
  height: 26px;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms linear;
}
.pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap .pe_crop_apply_button:hover {
  opacity: 1;
}
.pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap .pe_crop_apply_button#crop_apply {
  background-position: -20px -1px;
}
.pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap .pe_crop_apply_button#crop_reset {
  background-position: -20px -27px;
}
.pe_canvas_wrap .pe_crop_area.no_actions .pe_crop_apply_wrap {
  opacity: 0;
}

.pe_canvas_wrap.blur_pos {
  cursor: crosshair;
}


.pe_filter_thumb {
  display: inline-block;
  padding: 6px;
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 1px;
  border-radius: 2px;
}
.pe_filter_thumb.pe_filter_selected {
  border-radius: 2px;
  background-color: #d7dade;
}
.pe_filter_thumb > img {
  display: block;
  width: 88px;
}
.pe_filter_thumb .pe_thumb_filter_name {
  position: absolute;
  bottom: 6px;
  background-color: black;
  opacity: 0;
  color: white;
  text-align: center;
  height: 21px;
  line-height: 20px;
  border-radius: 0px 0px 2px 2px;
}

.pe_filter_thumb .pe_filter_amount_slider {
  position: absolute;
  bottom: 6px;
  background-color: black;
  height: 21px;
  opacity: 0.7;
  border-radius: 0px 0px 2px 2px;
  width: 88px;
}
.pe_filter_thumb .pe_filter_amount_slider .slider {
  margin: 6px 0 0 10px;
}

.pe_filters_array {
  margin-left: -4px;
  width: 110%;
}

.pe_filter_type_tabs {
  margin-top: 5px;
}
.pe_filter_type_tabs > div {
  display: none;
}

.pe_loader {
  background: url(/images/upload_2x.gif) no-repeat 50% 50%;
  width: 64px;
  height: 100px;
  margin: 0 auto;
}

.pe_filter_buttons {
  display: none;
}

.pe_restore_link {
  margin-top: 6px;
  display: inline-block;
  margin-left: 20px;
}

.pe_ff_test {
  font-size: 40px;
  display: inline-block;
  visibility: hidden;
}
.pe_ff_test.lobster {
  font-family: 'Lobster';
}

.pe_white_fade {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
}

.pe_undo_wrap {
  float: right;
  margin-right: 4px;
  margin-top: 3px;
}
.pe_undo_wrap #pe_undo {
  color: #2B587A;
  opacity: 0.0;
  transition: opacity 100ms linear;
}
.pe_undo_wrap #pe_undo:hover {
  text-decoration: underline;
}
.pe_undo_wrap #pe_undo.enabled {
  opacity: 1.0;
  cursor: pointer;
}

.pe_text_input_tester {
  border: none;
  width: 155px;
  padding: 0;
  display: block;
  line-height: 1.7em;
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
  word-wrap: break-word;
  text-align: left;
  opacity: 0.0;
}

.pe_pointer_events_wrap {
  pointer-events: none;
}
