#public_css {
  display: none;
}

#public {
  padding: 10px 10px 0px;
}

.public_info {
  line-height: 150%;
  padding: 7px 6px 5px;
}
.info_table .no_label {
  clear: both;
  padding:5px;
}

.info_table .label,
.info_table .label_short {
  color: #777;
  padding:3px 0px 0px;
  clear: both;
}

.info_table .ta_r.label,
.info_table .ta_r.label_short {
  padding:3px 10px 5px;
}

.info_table .labeled {
  overflow: hidden;
  padding-bottom:7px;
}

.info_table .labeled_text {
  overflow: hidden;
  padding:3px 0px 0px;
}

.info_table .info_tab .labeled_text {
  width: 265px;
}

.info_table .ta_r.labeled_text {
  padding:3px 0px 5px;
}

.info_table .labeled_link {
  overflow: hidden;
  padding:3px 0px 10px;
}

.public_info .label,
.public_add_event_box .label {
  width: 120px;
}

.public_info .labeled,
.public_add_event_box .labeled {
  width: 265px;
}

.public_info .block {
  padding-top: 10px;
}

.public_avatar.no_avatar {
  padding: 175px 10px 25px;
  text-align: center;
  background: #EEF2F6 url(/images/community_200.gif) no-repeat 0 0;
}
.public_be_first {
  padding-bottom: 2px;
  text-align: center;
  color: #777;
}
#public .like_module {
  margin: 0px 0px 10px;
  background: #F1F1F1;
  line-height: 160%;
}
/*#public_like_button {
  padding: 1px 0 0;
}*/
#content {
  padding:0px;
}

.new_public_page {
  background: #F7F7F7;
  padding: 0 30px 30px;
}

.new_public_header {
  background: url(/images/pics/public.png) no-repeat 20px 20px;
  padding: 30px 0 30px 90px;
}

.new_public_page .header {
  color:#2B587A;
  font-weight:bold;
  font-size: 1.09em;
  margin-bottom:10px;
}

.new_public_header .header {
  margin-bottom: 5px;
}

.new_public_page .tip {
  color: #888888;
}

.new_public_type .tip {
  padding: 0 23px;
}

.new_public_name, .new_public_type {
  margin-bottom:20px;
}

.new_public_page .option {
  padding-bottom: 5px;
}

.new_public_body {
  border: 1px solid #C0CAC5;
  background: #FFFFFF;
  padding: 30px 90px;
}

.new_public_submit {
  border-top: 1px solid #C0CAD5;
  padding-top: 10px;
}

.new_public_page .button_blue {
  margin: 0;
}

.new_public_submit .checkbox {
  vertical-align: top;
}

.new_public_submit .checkbox_container table {
  margin: 0;
}

#new_public_name {
  width:379px;
  margin-bottom:3px;
}

.type_box {
  padding: 0 8px 5px;
  display:none;
}

.type_box .type {
  padding: 0 15px;
}

#public h4.simple .top_header {
  width: 395px;
  height: 1.23em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-overflow: ellipsis-word;
}

#edit_module_tab,
#list_module_tab,
#extra_module_tab {
  background: #F7F7F7;
  border-bottom: 1px solid #CCD3DA;
}

#info_module_header {
  overflow: hidden;
}

#info_module_cont {
  background: #FFFFFF;
}

#info_module_cont .info_edit_pad {
  padding: 10px;
}

#edit_public_list_header {
  display:none;
  /*padding-top: 1px;*/
}


#info_module_cont .info_tabs.no_edit {
  width: 397px;
}

.info_edit_pad .label {
  width: 100px;
}

.info_edit_pad .label_short {
  width: 93px;
}


.info_edit_pad .labeled,
.info_edit_pad .labeled_link
 {
  width: 257px;
}

.info_table .info_tab .info_edit_pad .labeled_text {
  width: 255px;
}

.info_tab .text {
  width: 240px;
}

.info_edit_pad textarea {
  width: 240px;
  height: 60px;
}

#new_public_error_wrap {
  display: none;
  padding-top: 20px;
}

#public_edit_submit_box {
  padding: 10px 0 0;
}

#public_edit_submit_box .button_gray {
  margin: 0 10px;
}

#public_like_button .like_dived_full .checked .like_right {
  display:block;
}

.top_right_link {
  padding-top: 2px;
}

.hour_period_from {
  padding: 4px 2px;
}

.hour_period_to {
  padding: 4px 5px;
}

.hour_period_start {
  padding: 0 4px;
}

#info_module_cont #public_edit_search_member {
  width: 249px;
}

#info_module_cont .mem_row {
  background: #FFFFFF;
  border:1px solid #DAE2E8;
  margin:0 0 3px 0;
  padding:8px 8px 6px;
}

#info_module_cont .mem_row .mem_photo {
  width:25px;
  height:25px;
  overflow:hidden;
}

#info_module_cont .mem_row .mem_photo img {
  width:25px;
}

#info_module_cont .mem_row .mem_info {
  padding: 0 10px;
}

#public_edit_list_bottom {
  padding-top: 10px;
}

#public_edit_add_apps_link,
#public_edit_add_admins_link,
#public_edit_add_contacts_link,
#public_edit_add_links_link,
#public_edit_add_blacklist {
  padding: 3px 0 10px;
}

.public_edit_list_top {
  padding: 0 0 5px;
}

#public_followers .module_header .header_bottom {
  /*display: none;*/
}

#public .narrow_column .module_body {
border-left:1px solid #E9EDF1;
}

#public .narrow_column .audios_module .module_body {
padding: 8px 0px 8px 8px;
}


#public .narrow_column .header_top {
border-left:1px solid #DEE3E9;
}

#public .narrow_column .header_bottom {
border-left:1px solid #E9EDF1;
}

#public_position_info {
  padding-top: 10px;
}

#public_position_info .labeled {
  padding-top: 5px;
}


.summary_bar {
  border-bottom: 1px solid #DAE2E8;
  clear: both;
  padding: 5px 10px 0;
}

.summary_bar .summary {
  color: #45688E;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 8px;
}

#public_list {
  background:#F7F7F7;
  border-bottom:1px solid #DAE2E8;
  padding:10px 0 5px;
}

#public_list .public_row {
  background:white;
  border:1px solid #CCCCCC;
  margin:0 10px 5px;
  padding:5px;
  width:594px;
}

#public_list .public_row .image {
  vertical-align:top;
  width:110px;
  height: 100px;
}

#public_list_search_wrap {
  padding: 0 0 5px;
}

#public_list .public_row .info {
  width:360px;
}

#public_list .public_row .info .label {
  width:60px;
  padding: 3px 5px;
}

#public_list .public_row .info .labeled {
  width:290px;
  padding: 3px 0px;
}

#public_list .public_row .actions {
  width:120px;
}

#public_list .public_row .actions li {
  border-bottom:1px solid #FFFFFF;
  font-size:1em;
}

#public_list .public_row .actions li a {
  background: white;
  border-top: #FFFFFF;
  border-style:solid none none;
  border-width:1px 0 0;
  display:block;
  padding:3px 6px 3px;
}

#public_list .public_row .actions li a:hover {
  background: #DAE1E8;
  color:#36638E;
  border-top: 1px solid #CAD1D9;
  text-decoration:none;
}

#public_list .public_row .actions ul {
  list-style:none outside none;
  margin:0;
  padding:0;
}

#edit_public_list .sort_blank {
  margin: 0 0 3px;
}

.public_avatar {
  text-align: center;
  margin-bottom: 10px;
}

.public_contacts_list {
  padding: 10px;
  overflow-x: hidden;
  height: 315px;
  position: relative;
}

.public_contacts_list_header {
  border-bottom: 1px solid rgb(218, 225, 232);
  margin: 0pt 5px 4px;
  padding: 5px 0pt 2px;
  width: 430px;
}

.public_contacts_list .row {
  padding: 10px 0px;
  width: 50px;
  overflow: hidden;
}

.public_contacts_list .info {
  padding: 10px;
  width: 220px;
  overflow: hidden;
}
.public_contacts_list .info_wide {
  padding: 10px;
  overflow: hidden;
  width: 340px;
}

.public_contacts_list .actions,
.public_contacts_list .edit_actions {
  width: 120px;
  padding: 10px 0;
  overflow: hidden;
}
.public_contacts_list .actions a,
.public_contacts_list .edit_actions a {
  display: block;
  padding: 4px 6px;
  margin: 0px 0px 2px;
}
.public_contacts_list .actions a:hover,
.public_contacts_list .edit_actions a:hover {
  text-decoration: none;
  background: #E1E7ED;
}

.public_contacts_list .name a {
  font-size: 1.09em;
  color: #2B587A;
  font-weight: bold;
  padding-bottom: 5px;
}

.public_contacts_list .name span {
  font-weight: bold;
  font-size: 1.09em;
  padding-bottom: 5px;
  color: #777777;
}

.public_contacts_list .image {
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.public_contacts_list .image a {
  display: block
}

.public_contacts_list h2 {
  border:0;
}

.public_contacts_list .cell_wrap {
  padding: 0px 10px;
}
.public_contacts_list .cell {
  border-bottom: 1px solid #E6EAED;
}
.public_contacts_list .cell_wrap:last-child .cell {
  border-bottom: none;
}
.public_contacts_list .cell_wrap.sort_taken {
  background: #FFFFFF;
  opacity: 0.9;
  z-index: 400;
  border-bottom: none;
}

.public_contacts_list .desc {
  padding:4px 1px 0;
}
#public_events_list.public_contacts_list .desc {
  padding: 4px 0 0;
}

.public_contacts_list .extra_info {
  padding:4px 1px 0;
  color: #777777;
  line-height: 150%;
}

.public_contacts_list .extra_info a {
  color: #777777;
}

.public_contacts_list .extra_info span {
  background: url(/images/icons/info_icons.gif) no-repeat 0 0;
  padding: 0 8px 0 13px;
}

.public_contacts_list .extra_info .info_phone {
  background-position: 0 -18px;
  padding-left: 9px;
}

.public_no_contacts {
  padding: 120px 5px 5px;
  height: 140px;
  text-align: center;
  font-size: 1.09em;
  color:gray;
}

.back_link, .fwd_link {
  cursor: pointer;
  color: #2B587A;
}
a.fwd_link:hover {
  background-color: #DAE1E8;
  text-decoration: none;
}

.back_link {
  background: url(/images/icons/back_fwd.gif?1) no-repeat 0 7px;
  padding: 3px 7px 5px 17px;
}

.back_link.over, .fwd_link.over {
  background-color: #DAE1E8;
}

.fwd_link {
  background: url(/images/icons/back_fwd.gif?1) no-repeat right -13px;
  padding: 3px 17px 5px 7px;
}

#info_module_cont .public_edit_add_member .text {
  width: 369px;
}

#public_edit_list_links .sort_blank {
  margin: 0 0 3px;
  background: #FFFFFF;
}

#public_add_event_short_info {
  width: 370px;
}

#public_add_event_short_info_wrap {
  padding: 5px 0 0;
}

.public_add_event_box .labeled {
  width: 260px;
}

.public_add_event_box .labeled .text,
.public_add_event_box .labeled .textarea {
  width: 250px;
  display: block;
}

.public_edit_contact_info h2 {
  margin: 0 0 10px 10px;
  border-bottom: none;
}

.public_edit_contact_info .label {
  padding: 3px 10px 2px;
  width: 70px;
}

.public_edit_contact_info .labeled_text {
  padding: 3px 0px 10px;
  width: 190px;
}

.public_edit_contact_info .labeled {
  padding: 0px 0px 5px;
  width: 190px;
}

.public_edit_contact_info .labeled .text {
  width: 182px;
}

.public_edit_info h2 {
  margin: 0 0 10px 10px;
  width: 270px;
  overflow: hidden;
}

.public_edit_info .label {
  padding: 3px 10px 2px;
  width: 70px;
}

.public_edit_info .labeled_text {
  padding: 3px 0px 10px;
  width: 270px;
}

.public_edit_info .labeled {
  padding: 0px 0px 5px;
  width: 270px;
}

.public_edit_info .labeled .text {
  width: 262px;
}


.public_link_edit_box .info_table {
  width: 280px;
}

.public_link_edit_position .label,
.public_link_edit_tip {
  padding: 0 10px 10px;
}

.public_edit_modules_tip {
  color: #777777;
  padding: 0px 0 10px 15px;
}


.public_link_edit_position .labeled input {
  width: 155px;
}

.settings_block {
  /*padding: 10px 0 0;*/
}

.settings_block.closed .body {
  display:none;
}

.info_edit_pad .separator {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #FFFFFF;
  margin: 5px 0 5px;
}

.settings_block .header {
  color: #666;
  cursor: pointer;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0px 14px 4px;
  background: transparent url(/images/filterset_on.gif) no-repeat scroll 1px 4px;
  border-bottom: 1px solid #DDDDDD;
}

.settings_block.closed .header {
  background: transparent url(/images/filterset_off.gif) no-repeat scroll 2px 3px;
}

.settings_block .checkbox_item {
  padding: 3px 0;
}

.info_edit_pad .checkbox_container table {
  margin: 0;
}

.info_edit_pad .checkbox_container {
  padding: 2px 0;
}

.public_edit_links_tip {
  font-size: 0.9em;
  color: #777;
  padding: 3px 0 0;
}

.box_body .public_edit_box .shadow div {
  width: 465px;
}

.box_body .public_edit_box .search {
  width: 330px;
  height: 14px;
}

/*
.box_body .public_edit_box .search_bar {
  height: 23px;
}
*/

.box_body .public_edit_box .public_edit_search {
  width: 55px;
  padding:2px 10px;
}

.public_edit_search_results .image {
  padding: 8px 4px 0;
}

.public_edit_search_results .button {
  padding: 11px 4px 0;
}

.public_edit_search_results .name {
  padding: 16px 4px 0;
}

.public_edit_search_results .image img {
  width: 32px;
}

.module.empty .module_body {
  padding: 10px 8px;
}

.public_edit_address_field {
  padding: 15px 0 10px;
}

.public_edit_address_field .field {
  padding: 0 2px;
}

#public_edit_address_check {
  padding: 0 5px;
}

#public_edit_address_error {
  padding-bottom: 10px;
  display:none;
}
#public_like_module {
  overflow: hidden;
  position: relative;
}
#public #subscribe,
#public #unsubscribe,
#public #unshare {
  background: #F1F1F1;
  padding: 10px;
  width: 180px;
  top: 0px;
}
#public_like_module .like_link_state .subscribe_button {
  margin-bottom: 13px;
}
#public_like_module #subscribe {
  text-align: center;
}
#public_like_module .like_link_state .desc {
  padding-bottom: 6px;
}

.search_bar .no_results {
  padding: 5px 5px 0;
  color: #777777;
}

.help_step_desc {
  color: #777777;
}

#public_links_name .labeled {
  padding-left: 22px;
  width: 235px;
}

#public_links_name .text {
  width: 218px;
}

#public_contact_memlink_tip {
  color: #777777;
  padding: 3px 0;
  font-size: 0.9em;
}

#public_events_list .desc {
  color: #777777;
}
.box_body .public_edit_info #public_app_error_msg {
  color: #888888;
  padding-top: 4px;
}
.box_body .public_edit_image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.box_body .public_edit_info .app_info {
  padding-bottom: 10px;
}
.box_body .public_edit_info .app_info span {
  color: #777777;

}
#info_module_cont .open_link {
  display: none;
}
#info_module_cont .close_link {
  display: inline;
}
#info_module_cont .closed .open_link {
  display: inline;
}
#info_module_cont .closed .close_link {
  display: none;
}
#info_module_cont .closed a.toggle_link {
  color: #777;
}
#info_module_cont a.toggle_link {
  outline: none;
}

#public .help_steps_module {
  /*padding-bottom: 10px;*/
}

#public .help_steps_module.closed .module_body {
  display: none;
}

#public .help_steps_module.closed .hide_help_steps_link,
#public .help_steps_module .show_help_steps_link {
  display: none;
}

#public .help_steps_module .hide_help_steps_link,
#public .help_steps_module.closed .show_help_steps_link {
  display: block;
}

#public .help_steps_module .help_steps_link {
  border-top: 1px solid #FFFFFF;
  padding: 8px 0 8px 127px;
}

#public .help_steps_module .help_steps_link:hover {
  text-decoration: none;
  background: #E9EDF1;
  border-top: 1px solid #DAE1E8;
}

#public .wall_module {
  padding-top: 10px;
}
#public .wall_fixed .wall_module {
  padding: 0px;
}

.info_edit_pad .page_list .current {
  background: #F7F7F7;
}

.public_places_list {
  padding: 10px 20px;
  overflow-x: hidden;
  height: 285px;
}
.public_places_list .cell {
  padding: 10px 0;
  border-bottom: 1px solid #E6EAED;
}
.public_places_list .cell:last-child {
  border-bottom: none;
}
.public_places_list .info {
  width: 280px;
}
.public_places_list .title a {
  font-weight: bold;
}
.public_places_list .title span.type {
  color: #777;
  margin-left: 8px;
}
.public_places_list .address {
  padding: 4px 0 0;
}
.public_places_list .actions,
.public_places_list .edit_actions {
  width: 125px;
}
.public_places_list .actions a,
.public_places_list .edit_actions a {
  display: block;
  padding: 4px 6px;
  margin: 0px 0px 2px;
}
.public_places_list .actions a:hover,
.public_places_list .edit_actions a:hover {
  text-decoration: none;
  background: #E1E7ED;
}

.info_tab h4 {
  border-bottom: 1px solid #E8EBEE;
  font-size: 1.18em;
}

.info_tab .tip {
  padding: 10px 0;
}

.back_button {
  padding: 10px 0;
}

.group_block_module {
  margin: 10px 0px 0px;
  padding: 11px 10px 10px;
  background: #F1F1F1;
  line-height: 160%;
}

.page_actions a.group_block_mem {
  display: inline;
  padding: 0px;
  background: none;
}
.page_actions a.group_block_mem:hover {
  text-decoration: underline;
  background: none;
}

.public_share_club {
  text-decoration: none;
  width: 11px;
  height: 13px;
  background: url(/images/icons/mono_iconset.png?1) no-repeat 0px -192px;
  cursor: pointer;
  margin: 3px 5px 0px;
}
#unshare_page_progress, #share_page_progress {
  height: 17px;
}
#page_avatar.public_no_avatar {
  padding: 175px 10px 25px;
  text-align: center;
  background: #EEF2F6 url(/images/community_200.gif) no-repeat 0 0;
}

div.gtop_message {
  margin: 0 0 10px 0;
  padding: 8px 13px;
  border: none;
  background-color: #F0F2F5;
}
.gtop_mesage_buttons {
  padding: 10px 0px 3px;
}
.gtop_mesage_buttons a {
  margin: 6px 0 0 20px;
}
