#retina_css {
  display: none;
}
.is_2x #page_header .back,
.is_2x #page_header .left,
.is_2x #page_header .right,
.is_2x #top_logo_down {
  background-image: url(/images/hatf_2x.gif?1);
  background-size: 145px 84px;
}
.is_2x #page_header.p_head1 .right,
.is_2x #page_header.p_head1 .left,
.is_2x #page_header.p_head1 .back,
.is_2x #page_header.p_head1 #top_logo_down {
  background-image: url(/images/hatf_vk_2x.gif?1);
  background-size: 145px 84px;
}
.is_rtl1.is_2x #page_header.p_head1 #top_logo_down,
.is_rtl1.is_2x #page_header.p_head1 .right {
  background-image: url(/images/hatf_vk_rtl_2x.gif?1);
  background-size: 145px 84px;
}
body.dev.is_2x #page_header .back,
body.dev.is_2x #page_header.p_head1 .back {
  background-image: none;
}
body.dev.is_2x .tdd_x_c,
body.dev.is_2x #page_wrap .selector_container td.selector .token span.x,
body.dev.is_2x #page_wrap .selector_container td.selector .token span.x_hover {
  background-image: url(/images/dev_hide_tag_2x.png?1);
  background-size: 8px 32px;
}
.is_2x .feedback_answer_tail,
.is_2x .feedback_row_clickable_over .feedback_answer_tail,
.is_2x .feedback_reply_tail,
.is_2x .feedback_grouped_row .feedback_row_icon,
.is_2x .wall_module .feedback_like_wrap .like_wrap div,
.is_2x .reply_field_tail,
.is_2x .mv_reply_field_tail,
.is_2x .pad_msga_arrow,
.is_2x .pad_nwsa_arrow {
  background-image: url(/images/icons/feedback_iconset_2x.gif?1);
  background-size: 15px 181px;
}
.is_2x .feedback_expand {
  background-image: url(/images/fbgr_arrow_2x.png);
  background-size: 11px 12px;
}
.is_2x #top_back_link {
  background-image: url(/images/backlink_2x.png);
  background-size: 20px 150px;
}
.is_2x #stl_text,
.is_2x .replies_side_icon {
  background-image: url(/images/toplink_2x.png);
  background-size: 14px 65px;
}
.is_2x input.search,
.is_2x #friends #s_search,
.is_rtl1.is_2x #friends #s_search,
.is_2x .video_search #v_search,
.is_2x .audio_search .s_search,
.is_2x .app_search .s_search,
.is_2x .apps_search_wrap .s_search,
.is_2x .app_search .s_search_small,
.is_2x #apps_input,
.is_2x #pad_audio_search input.pad_search,
.is_2x #pd_apps_search,
.is_2x #feed_search,
.is_2x #im_filter,
.is_2x #groups_list_search,
.is_2x .tdd_search .tdd_control,
.is_2x #search_query,
.is_2x .tdd_search .tdd_control,
.is_2x .choose_search_cont input,
.is_2x #exchange_comm_search_filters #exchange_search_input,
.is_2x #flist_search,
.is_2x input.olist_filter,
.is_2x #settings_bl_search,
.is_2x #gedit_users_search_inp,
.is_2x #group_bl_search,
.is_2x #group_l_search,
.is_2x #fave_search,
.is_2x #fans_idol_search_inp,
.is_2x #board_q,
.is_2x #wall_search,
.is_2x #places_filter,
.is_2x #ads_user_link,
.is_2x #pt_1_search_default_container {
  background-image: url(/images/magglass_2x.png);
  background-size: 11px 11px;
}
.is_2x .audio_friends_search_btn {
  background-image: url(/images/magglass_audio_blue_2x.png);
  background-size: 11px 11px;
}
.is_2x .audio_friends_search_input.text {
  background-image: url(/images/magglass_audio_2x.png);
  background-size: 11px 11px;
}
.is_2x #pad_audio_search .pad_reset,
.is_2x .video_search .video_reset_search,
.is_2x .audio_search .search_reset,
.is_2x .docs_reset,
.is_2x #search_query_reset,
.is_2x #friends_reset_search,
.is_2x #im_filter_reset,
.is_2x .apps_search_wrap .search_reset,
.is_2x .app_search .search_reset {
  background-image: url(/images/icons/input_clear_2x.gif);
  background-size: 11px 11px;
}
.is_2x .app_search.manage .search_reset,
.is_2x .bugs_search_reset,
.is_2x #apps_edit_reset_search {
  background-image: url(/images/icons/clear_search_2x.png);
  background-size: 12px 12px;
}
.is_2x .audio_friends_search_inp_wrap .reset {
  background-image: url(/images/clear_audio_2x.png);
  background-size: 9px 9px;
}
.is_2x #ts_input {
  background-image: url(/images/search_icon_d_2x.png);
  background-size: 11px 27px;
}
.is_2x .audio_add,
.is_2x .audio_remove,
.is_2x #audio.new .audio_remove,
.is_2x .audio_filter div.icon,
.is_2x #ac_play,
.is_2x #ac .ctrl,
.is_2x #audio.new .audio.current .play_new,
.is_2x #audio.new .audio_edit,
.is_2x #audio.new .audio_add,
.is_2x #audio_tip_arrow,
.is_2x #pad_playlist .audio_add,
.is_2x #pad_playlist .audio.current .play_new,
.is_2x #pd_play,
.is_2x #pd .ctrl,
.is_2x #head_play_btn,
.is_2x #gp_play,
.is_2x .page_gif_add_icon,
.is_2x .current_audio .label,
.is_2x .current_audio_cnt .label,
.is_2x .video_row_icon_add .video_row_icon,
.is_2x .docs_add_row,
.is_2x .medadd_aud_play {
  background-image: url(/images/icons/audio_icons_2x.png?6);
  background-size: 257px 63px;
}
.is_2x #head_play_btn {
  background-image: url(/images/icons/audio_iconsf_2x.png);
}
.is_2x .wall_module .like_wrap i,
.is_2x .fw_reply .like_wrap i,
.is_2x .wall_module .post_like_icon,
.is_2x #mv_like_wrap i,
.is_2x #pv_like_wrap i,
.is_2x .fw_like_icon,
.is_2x .wall_module .post_share_icon {
  background-image: url(/images/icons/like_2x.png?2);
  background-size: 10px 32px;
}
.is_2x #summary_tab_x,
.is_2x .im_tab .im_tabx,
.is_2x .im_tab_over .im_tabx_over,
.is_2x .im_tab_selected .im_tabx,
.is_2x .im_tab_selected .im_tabx_over,
.is_2x .summary_tab_x,
.is_2x .tdd_x_c {
  background-image: url(/images/pics/im_tabx_2x.png);
  background-size: 11px 24px;
}
.is_2x .bugs_tags .summary_tab_x {
  background-image: url(/images/icons/tag_delete_2x.png);
  background-size: 8px 8px;
}
.is_2x .audio .play_new,
.is_2x #audio.new .wall_module .audio.current .play_new {
  background-image: url(/images/playpause_2x.gif);
  background-size: 16px 32px;
}
.is_2x .im_log_check,
.is_2x .im_log_context {
  background-image: url(/images/icons/plus_icon1_2x.png);
  background-size: 21px 105px;
}
.is_2x .media_preview .x,
.is_2x .page_docs_preview .page_media_x_wrap,
.is_2x #im_docs_preview .im_media_x,
.is_2x #im_sdocs_preview .im_media_x,
.is_2x .wall_module .delete_post div,
.is_2x .dialogs_del,
.is_2x .im_chatbox_mem_kick,
.is_2x .feedback_del_icon,
.is_2x .wall_module .reply_delete_button,
.is_2x .fave_delete_link,
.is_2x #intr_hide,
.is_2x .wall_module .post_delete_button,
.is_2x .top_info_wrap .hide_button,
.is_2x .docs_delete_row,
.is_2x .app_delete_row,
.is_2x .jobs_apply_doc_x_wrap,
.is_2x .feed_top_info_hide_button {
  background-image: url(/images/pics/statusx_op_2x.gif);
  background-size: 11px 11px;
}
.is_2x #friends .delete_row div {
  background-image: url(/images/pics/statusx_2x.png);
  background-size: 17px 17px;
}
.is_2x .im_to_end {
  background-image: url(/images/im_toend_2x.gif);
  background-size: 15px 13px;
}
.is_2x #im_log_fav_btn i,
.is_2x .im_important_toggler,
.is_2x .im_important_icon {
  background-image: url(/images/icons/im_actions_iconset2_2x.png?9);
  background-size: 20px 344px;
}
.is_2x .places_module .icon,
.is_2x .wall_signed_by,
.is_2x .media_audio_icon,
.is_2x .media_doc_icon,
.is_2x .wall_module .media_preview .share b,
.is_2x .wall_module .media_preview .poll b,
.is_2x .wall_module .media_desc b,
.is_2x .wall_module .media_desc b.topic,
.is_2x .wall_module .media_desc b.group,
.is_2x .wall_module .media_desc b.doc,
.is_2x .current_app,
.is_2x .profile_rate_warning .warning_row .img,
.is_2x .im_attach_photo,
.is_2x .im_attach_video,
.is_2x .im_attach_doc,
.is_2x .im_attach_gift,
.is_2x .im_attach_mail,
.is_2x .im_attach_audio,
.is_2x .im_attach_geo,
.is_2x .im_attach_wall,
.is_2x .im_attach_link,
.is_2x .im_attach_sticker,
.is_2x .docs_add_new span,
.is_2x b.feed_gr_icon,
.is_2x b.feed_ev_icon,
.is_2x b.feed_tp_icon,
.is_2x b.feed_nt_icon,
.is_2x .fc_msg_att_icon_photo,
.is_2x .fc_msg_att_icon_video,
.is_2x .fc_msg_att_icon_doc,
.is_2x .fc_msg_att_icon_mail,
.is_2x .fc_msg_att_icon_audio,
.is_2x .fc_msg_att_icon_wall,
.is_2x .feed_filter_icon,
.is_2x .media_mail_icon,
.is_2x .tickets_media_icon,
.is_2x .medadd_h,
.is_2x .group_share_club,
.is_2x .public_share_club,
.is_2x .group_ad_post_stats,
.is_2x .group_ad_post_link,
.is_2x .exchange_ad_post_stats,
.is_2x .exchange_ad_post_link,
.is_2x .exchange_ad_post_club_commment,
.is_2x .friends_tt_msg,
.is_2x .friends_tt_add,
.is_2x .friends_tt_gift,
.is_2x .jobs_apply_doc_icon {
  background-image: url(/images/icons/mono_iconset_2x.png?3);
  background-size: 12px 374px;
}
.is_2x .public_contacts_list .extra_info span {
  background-image: url(/images/icons/info_icons_2x.png);
  background-size: 9px 34px;
}
.is_2x .page_photos_upload_label,
.is_2x .page_audios_upload_label,
.is_2x .page_links_upload_label,
.is_2x .page_videos_30pxad_label,
.is_2x .page_topics_upload_label,
.is_2x .page_docs_upload_label,
.is_2x .page_events_upload_label,
.is_2x .page_places_upload_label,
.is_2x .page_contacts_upload_label {
  background-image: url(/images/icons/group_icons_2x.png);
  background-size: 24px 216px;
}
.is_2x .ge_ad_box_fields {
  background-image: url(/images/join/adspost_2x.png);
  background-size: 160px 160px;
}
.is_2x .exchange_new_union_img {
  background-image: url(/images/join/ads_union_2x.png);
  background-size: 160px 160px;
}
.is_2x .wall_module .media_desc .audio .title_wrap b {
  background: none;
}
.is_2x .feed_tab_add_icon,
.is_2x .feed_filter_tabs_icon,
.is_2x .feed_filter_tabs_check {
  background-image: url(/images/icons/news_iconset_2x.png?2);
  background-size: 16px 176px;
}
.is_2x .feed_filter_lists_row .feed_filter_tabs_icon,
.is_2x .feed_icon_newlist {
  background: none;
}
.is_2x .gifts_list_module a span.thumb,
.is_2x .counts_module div a span.thumb,
.is_2x .page_verified,
.is_2x .gifts_list_module a span.thumb,
.is_2x .counts_module div a span.thumb,
.is_2x .video_add_new span,
.is_2x .search_verified,
.is_2x .wall_post_source_icon,
.is_2x .profile_gift_send .send_thumb,
.is_2x .page_fronly {
  background-image: url(/images/profile_icons_2x.png?13);
  background-size: 13px 275px;
}
.is_2x #pv_actions .left,
.is_2x #pv_actions .right {
  background-image: url(/images/photorot_2x.png);
  background-size: 40px 40px;
}
.is_2x .pvs_hh_fg,
.is_2x .pvs_fs_fg {
  background-image: url(/images/icons/post_hh_2x.png?3);
  background-size: 38px 154px;
}
.is_2x .progress,
.is_2x .progress_inv,
.is_2x .progress_inv_img,
.is_2x .progress_inline,
.is_2x .button_yes.locked .lock,
.is_2x .button_no.locked .lock,
.is_2x .button_gray .button_lock,
.is_2x .app_module .app_container,
.is_2x .wall_module .page_poll_radio .progress_inline,
.is_2x .video_list .load_more,
.is_2x .video_search .video_loading,
.is_2x .audio_search .search_progress,
.is_2x .audio_list .actions .loading,
.is_2x #pad_cont.pad_loading,
.is_2x div.pad_btn_prg,
.is_2x #pad_audio_search .pad_progress,
.is_2x #pd_apps_search_progress,
.is_2x .app_search .search_progress,
.is_2x .apps_search_wrap .search_progress,
.is_2x .apps_load_bar,
.is_2x #apps_summary_progress,
.is_2x #apps_recent_progress,
.is_2x .im_more_progress,
.is_2x #friends .main_panel .load_more,
.is_2x #friends_loading,
.is_2x #friends_fltr_progress,
.is_2x #search_query_wrap.wide #search_query_progress,
.is_2x .docs_search_bar .docs_loading_bar,
.is_2x .apps_cancel_request.loading,
.is_2x .bugs_pages_loading,
.is_2x .bugs_search_progress,
.is_2x .bugs_subscribers_prg,
.is_2x .tickets_search_progress,
.is_2x .fc_msg_attachments_loading {
  background-image: url(/images/upload_2x.gif);
  background-size: 32px 8px;
}
.is_2x .emoji_smile_icon_on,
.is_2x .emoji_smile_icon,
.is_2x .mbe_smile_icon_on,
.is_2x .mbe_smile_icon {
  background-image: url(/images/im_smile_cross_2x.png);
  background-size: 23px 48px;
}
.is_2x .mob_onl {
  background-image: url(/images/mobile_online_2x.png);
  background-size: 40px 13px;
}
.is_2x .like_tt table.toup1 .bottom_pointer,
.is_2x .mention_tt table.toup1 .bottom_pointer,
.is_2x .like_tt table.toup .top_pointer,
.is_2x .mention_tt table.toup .top_pointer,
.is_2x .like_tt .like_tt_clubs,
.is_2x .like_tt .bottom .checkbox div,
.is_2x .like_tt .bottom .on div,
.is_2x .ttb.rich .bottom_pointer,
.is_2x .emoji_pointer,
.is_2x .chat_tab_info_p,
.is_2x .like_tt table.toup1 .bottom_pointer,
.is_2x .like_tt .bottom .checkbox div {
  background-image: url(/images/icons/like_icons_bl_2x.png?5);
  background-size: 17px 97px;
}
.is_2x #pv_share_text,
.is_2x .page_actions a span.other,
.is_2x #profile_actions a span.other,
.is_2x .mv_dd_text,
.is_2x .pv_act_text {
  background-image: url(/images/darr_on_2x.gif);
  background-size: 7px 4px;
}
.is_2x .publishedBy,
.is_2x .fw_published_by,
.is_2x .wall_module .published_by {
  background-image: url(/images/icons/published_2x.png);
  background-size: 9px 9px;
}
.is_2x #friends .wide_loading,
.is_2x #video_rows .wide_loading,
.is_2x #photo_default_check,
.is_2x .join_fb_progress {
  background-image: url(/images/progress7_2x.gif);
  background-size: 149px 8px;
}
.is_2x #wpost_post .post_like_icon,
.is_2x #wpost_post .post_share_icon,
.is_2x #wpost_post .post_comments_icon,
.is_2x .wpost_post_subscribe span,
.is_2x .wpost_post_subscribed span,
.is_2x .mv_subscribed .mv_subscribed_icon {
  background-image: url(/images/icons/post_widget_2x.png);
  background-size: 18px 64px;
}
.is_2x .pv_left,
.is_2x .pv_close,
.is_2x .wk_left,
.is_2x .wk_close,
.is_2x #pv_fs_close_btn {
  background-image: url(/images/photonav_2x.png);
  background-size: 17px 74px;
}
.is_2x #pv_fs_left,
.is_2x #pv_fs_right,
.is_2x #pv_fs_slide_check {
  background-image: url(/images/fscontrols_2x.png);
  background-size: 47px 188px;
}
.is_2x .wk_post_stats .wk_posts_stats_info_row .like .img,
.is_2x .wk_post_stats .wk_posts_stats_info_row .share .img,
.is_2x .wk_post_stats .wk_posts_stats_info_row .comment .img {
  background-image: url(/images/icons/exchange_stats_icons_2x.png);
  background-size: 22px 66px;
}
.is_2x .post_upload_wrap div.post_upload,
.is_2x .im_upload_wrap div.im_upload {
  background-image: url(/images/icons/attach_photo_2x.png);
  background-size: 16px 13px;
}
.is_2x .im_tab_selected.muted .im_tab_muted_span,
.is_2x .im_tab.muted .im_tab_muted_span,
.is_2x .dialogs_new_msg .dialogs_push_muted,
.is_2x .dialogs_row_over .dialogs_push_muted,
.is_2x .dialogs_push_muted {
  background-image: url(/images/muted_2x.png);
  background-size: 10px 52px;
}
.is_2x .dialogs_typing_box .dialogs_typing_icon {
  background-image: url('/images/typing_dialogs_2x.gif');
  background-size: 15px 11px;
}
.is_2x .abutton_wrap .arrow,
.is_2x .dd_menu_stype_act .arrow,
.is_2x .pvs_header_text,
.is_2x .other_acts .header span,
.is_2x .mvs_header_text,
.is_2x .olist_dd_over {
  background-image: url(/images/darr_dd_over_2x.gif);
  background-size: 7px 4px;
}
.is_2x .olist_item_wrap_on .olist_checkbox,
.is_2x .olist_item_wrap_over .olist_checkbox {
  background-image: url(/images/icons/check_follow_2x.png);
  background-size: 18px 32px;
}
.is_2x #pv_tags .delete,
.is_2x #mv_tags .delete {
  background-image: url(/images/small_delete_2x.png);
  background-size: 14px 14px;
}
.is_2x .fc_tab_online .fc_tab_online_icon,
.is_2x .fc_tab_mobile .fc_tab_online_icon,
.is_2x .fc_contact_online .fc_contact_status,
.is_2x .fc_contact_mobile .fc_contact_statusi,
.is_2x .fc_contact_over:hover .fc_contact_status,
.is_2x .fc_clist_online,
.is_2x .ts_contact_online .ts_contact_status,
.is_2x .ts_contact_mobile .ts_contact_status,
.is_2x .ts_contact.active.write .ts_contact_status,
.is_2x .ts_search_link .ts_contact_status,
.is_2x .fc_contact_online .fc_contact_status,
.is_2x .fc_contact_mobile .fc_contact_status {
  background-image: url(/images/icons/rbox_full2_2x.png?3);
  background-size: 11px 176px;
}
.is_2x .fmenu_icon {
  background-image: url(/images/fixedmenu_2x.png);
  background-size: 11px 322px;
}
.is_2x .feed_filter_check,
.is_2x .filter_check {
  background-image: url(/images/icons/check_balanced_2x.png);
  background-size: 14px 15px;
}
.is_2x #invite_hint_close,
.is_2x .left_hide,
.is_2x .left_hide_button,
.is_2x .ad_box_new .left_hide_new,
.is_2x .tasks_unsubscribe div,
.is_2x .tasks_ticket_unbind,
.is_2x .faq_ticket_unbind {
  background-image: url(/images/hide_left_2x.gif);
  background-size: 14px 14px;
}
.is_2x .notifier_close,
.is_2x .page_pics_preview .page_media_x,
.is_2x .wk_likes_bl,
.is_2x .fave_u_bl,
.is_2x .profile_photo_hide,
.is_2x .fans_fan_bl,
.is_2x #im_media_preview .im_x,
.is_2x #im_media_dpreview .im_x,
.is_2x #im_media_mpreview .im_x,
.is_2x .owner_photo_bubble_delete,
.is_2x .app_delete_el,
.is_2x .editable_thumbs .thumb_wrap .thumb_x_button .thumb_x,
.is_2x .chat_tab_close {
  background-image: url(/images/notifier_close_2x.png);
  background-size: 7px 7px;
}
.is_2x .profile_photos_upload_label,
.is_2x .photos_upload_area_img,
.is_2x #photos_choose_upload_area_label {
  background-image: url(/images/camera_2x.png);
  background-size: 24px 20px;
}
.is_2x #docs_choose_upload_area_label {
  background-image: url(/images/doc_2x.png);
  background-size: 18px 21px;
}
.is_2x .ttb .toup1 .bottom_pointer,
.is_2x .ttb .toup .top_pointer,
.is_2x #places_photo_pointer,
.is_2x .wke_tt_b,
.is_2x .wke_tt_bottom .wke_tt_tb,
.is_2x .dev_side_tt_arr {
  background-image: url(/images/blacktip_2x.gif?2);
  background-size: 9px 10px;
}
.is_2x .settings_about_tt table.toup .top_pointer,
.is_2x .mi_payment_status_tt table.toup .top_pointer,
.is_2x .settings_https_tt table.toup .top_pointer,
.is_2x .payments_terminal_tt table.toup .top_pointer,
.is_2x .payments_office_tt table.toup .top_pointer,
.is_2x .wall_tt .toup .top_pointer,
.is_2x .mobile_tt .toup .top_pointer,
.is_2x .gifts_tt .toup .top_pointer,
.is_2x .im_stickers_gift_tt .toup .top_pointer,
.is_2x .board_tt .toup .top_pointer,
.is_2x .invite_tt table.toup .top_pointer,
.is_2x .preq_tt .top_pointer,
.is_2x .feedback_ownreply_tt table.toup .top_pointer,
.is_2x .search_adult_tt table.toup .top_pointer,
.is_2x .search_adult_tt table.toup .top_pointer,
.is_2x .exchange_table_tt table.toup .top_pointer,
.is_2x .payments_tt table.toup .top_pointer,
.is_2x .wall_error_tt table.toup .top_pointer {
  background-image: url(/images/tooltip_arrow_up_2x.gif);
  background-size: 11px 8px;
}
.is_2x .exchange_table_tt table.toup1 .bottom_pointer,
.is_2x .payments_tt table.toup1 .bottom_pointer,
.is_2x .wall_error_tt table.toup1 .bottom_pointer {
  background-image: url(/images/tooltip_arrow_white_2x.gif);
  background-size: 11px 8px;
}
.is_2x .exchange_request_comment .exchange_hint_tt .tail {
  background-image: url(/images/adcomment_arrow_2x.png);
  background-size: 11px 6px;
}
.is_2x .places_mapped_point {
  background-image: url(/images/photo_pin_2x.png);
  background-size: 28px 28px;
}
.is_2x .apps_feed_arrow,
.is_2x .apps_feed_arrow_n {
  background-image: url(/images/apps_feed_arrow_2x.gif);
  background-size: 10px 22px;
}
.is_2x .page_post_video_play_inline,
.is_2x .wall_module .page_media_video .video div.video_play_inline,
.is_2x .wall_module .page_media_full_video .video div.video_play_inline,
.is_2x a.wk_inline_video div.video_play_inline,
.is_2x .pad_vid_play,
.is_2x .video_row_info_play {
  background-image: url(/images/inline_video_play_2x.png);
  background-size: 100%;
}
.video_module .video div.page_video_play_icon {
  background-image: url(/images/module_inline_video_play_2x.png);
  background-size: 100%;
}
.is_2x .apps_i_run_box,
.is_2x .wall_module .video div.page_video_play_live {
  background-image: url(/images/inline_video_small_play_2x.png);
  background-size: 46px 46px;
}
.is_2x .video_row_icon {
  background-image: url(/images/icons/video_controls_2x.png);
  background-size: 13px 41px;
}
.is_2x .video_empty_album_icon {
  background-image: url(/images/icons/playlist_folder_2x.png?1);
  background-size: 67px 60px;
}
.is_2x .video_row_img {
  background-image: url(/images/icons/playlist_2x.png?1);
  background-size: 48px 42px;
}
.is_2x #video_no_albums_wrap .video_no_albums_placeholder {
  background-image: url(/images/icons/empty_playlist_2x.png?1);
  background-size: 51px 51px;
}
.is_2x #search_content .video_row .video_play_btn,
.is_2x #video_content .video_row .video_play_btn {
  background-image: url(/images/icons/video_play_2x.png);
  background-size: 14px 18px;
}
.is_2x .video_compact_view #choose_video_rows .video_play_btn,
.is_2x .video_compact_view #video_rows .video_play_btn,
.is_2x .video_compact_view #video_search_rows .video_play_btn,
.is_2x .video_compact_view .search_media_rows.video_type .video_play_btn {
  background-image: url(/images/icons/video_play_compact_2x.png);
  background-size: 17px 22px;
}
.is_2x .video_album_private_icon {
  background-image: url(/images/icons/video_actions_2x.png?1);
  background-size: 12px 67px;
}
.is_2x .flist_tt_tail,
.is_2x .login_blocked_tt_pointer,
.is_2x .settings_side_tt_pointer,
.is_2x #intr_tt_pointer,
.is_2x #intr_tt_pointer_head,
.is_2x.is_rtl1 #intr_tt_pointer_head,
.is_2x #intr_tt_pointer_top,
.is_2x #intr_tt_pointer_left,
.is_2x #intr_tt_pointer_lb,
.is_2x .im_submit_tail,
.is_2x .im_switch_notify_pointer,
.is_2x .im_submit_tail,
.is_2x .feed_side_tt_pointer,
.is_2x .join_finish_tt_pointer,
.is_2x .validation_tt_pointer,
.is_2x .vcall_tt_pointer,
.is_2x .pedit_side_tt_pointer,
.is_2x .audio_status_tt .tail,
.is_2x .tickets_side_tt .tail,
.is_2x .tickets_side_tt.mobile .tail,
.is_2x .tickets_side_tt.time .tail,
.is_2x .apps_edit_side_tt_pointer,
.is_2x .ge_ad_hint_tt .tail,
.is_2x .app_rate_tt .tail,
.is_2x .exchange_hint_tt .tail,
.is_2x #gift_tt_pointer {
  background-image: url(/images/ddtooltip_2x.png);
  background-size: 16px 11px;
}
.is_2x .apps_access_icon {
  background-image: url(/images/app_settings_icons_2x.png);
  background-size: 33px 588px;
}
.is_2x .radiobtn div,
.is_2x .radiobtn_container table td .radiobtn_on div,
.is_2x .radiobtn_container table td .radiobtn_off div,
.is_2x .radiobtn_container table td .radiobtn_on_over div,
.is_2x .radiobtn_container table td .radiobtn_off_over div {
  background-image: url(/images/icons/radio_2x.gif);
  background-size: 14px 56px;
}
body.dev.is_2x #page_wrap div.radiobtn div,
body.dev.is_2x #page_wrap .radiobtn_container table td .radiobtn_on div,
body.dev.is_2x #page_wrap .radiobtn_container table td .radiobtn_off div,
body.dev.is_2x #page_wrap .radiobtn_container table td .radiobtn_on_over div,
body.dev.is_2x #page_wrap .radiobtn_container table td .radiobtn_off_over div {
  background-image: url(/images/icons/dev_radio_2x.png?1);
  background-size: 14px 70px;
}
body.dev.is_2x #page_wrap .checkbox div {
  background-image: url(/images/icons/dev_check_2x.png?2);
  background-size: 15px 75px;
}
.is_2x .app_comment .subicon {
  background-image: url(/images/icons/dev_status_icons_2x.png);
  background-size: 16px 128px;
}
.is_2x .app_status_msg .icon,
.is_2x .app_info_msg .icon,
.is_2x .app_error_msg .icon {
  background-image: url(/images/icons/app_status_2x.png?2);
  background-size: 26px 78px;
}
.is_2x .apps_edit_cont_icon {
  background-image: url(/images/icons/status_request_2x.png);
  background-size: 22px 70px;
}
.is_2x .share_dd .dd_menu_header div {
  background-image: none;
}
.is_2x #privacy_dropdown .header div,
.is_2x #privacy_dropdown .item_sel_plus,
.is_2x #privacy_dropdown .l_header div,
.is_2x .dd_menu_header.ads_dd_wide.ads_dd_header_popup div,
.is_2x .dd_menu_header.ads_dd_wide div,
.is_2x #friends .lists_header div,
.is_2x #friends .friends_header_up div,
.is_2x #apps .lists_header div,
.is_2x #tickets_content th.paginated_table_cell span.sorted,
.is_2x .editor_switch_mode,
.is_2x .editor_switch_mode_back,
.is_2x .apps_lists_header div,
.is_2x a.dd_link,
.is_2x .pageBody a.dd_link,
.is_2x .dd_menu_header div,
.is_2x .dd_menu_header.leftArrow div,
.is_2x #ddreq_item_lists {
  /*.is_2x .dd_header_hover div { // share bug*/
  background-image: url(/images/flydead_2x.png);
  background-size: 14px 90px;
}
body.dev.is_2x #tickets_search_reset {
  background-image: url(/images/icons/dev_clear_2x.png);
  background-size: 10px 10px;
}
body.dev.is_2x .paginated_table_header th.paginated_table_cell.sort_asc span.table_header_upper_span,
body.dev.is_2x .paginated_table_header th.paginated_table_cell.sort_desc span.table_header_upper_span {
  background-image: url(/images/icons/dev_sort_table_2x.png);
  background-size: 8px 14px;
}
.is_2x .dd_menu_stype_act .dd_menu_header div {
  background-image: none;
}
.is_2x .checkbox div,
.is_2x #mail_rows .mail_check div,
.is_2x .tickets_check div,
.is_2x .checkbox_container table td .checkbox_on,
.is_2x .checkbox_container table td .checkbox_off,
.is_2x .checkbox_container table td .checkbox_on_over,
.is_2x .checkbox_container table td .checkbox_off_over {
  background-image: url(/images/icons/check_2x.gif);
  background-size: 15px 56px;
}
.is_2x .audio_filter.loading,
.is_2x .audio_filter.selected.loading,
.is_2x .module_inverted_loading #gifts_module_header,
.is_2x .gifts_inverted_loading .profile_gifts_send,
.is_2x .video_layout .side_panel .loading,
.is_2x #friends .sections_block .loading,
.is_2x .side_filter.loading,
.is_2x .progress_inv_mini {
  background-image: url(/images/upload_inv_mini_2x.gif);
  background-size: 16px 4px;
}
.is_2x .profile_calls_btn {
  background-image: url(/images/icons/videocall_s_2x.png);
  background-size: 18px 12px;
}
.is_2x .box_x_button {
  background-image: url(/images/boxicon_vk_2x.png);
  background-size: 84px 21px;
}
.is_2x .box_dark .box_x_button {
  background: none;
}
.is_2x #box_loader .loader {
  background-image: url(/images/upload_inv_mono_2x.gif);
  background-size: 64px 16px;
}
.is_2x #filters_td .filter_open div.arrow_back,
.is_2x #filters_td .filter_shut div.arrow_back {
  background-image: url(/images/gray_corner_2x.gif);
  background-size: 7px 10px;
}
.is_2x .im_typing {
  background-image: url(/images/typing_2x.gif?1);
  background-size: 15px 11px;
}
.is_2x .fc_tab_typing {
  background-image: url(/images/icons/typing_blue_2x.gif?1);
  background-size: 15px 11px;
}
.is_2x .apps_featured_icon {
  background-image: url(/images/icons/apps_featured_arrow_2x.png);
  background-size: 26px 21px;
}
.is_2x .page_doc_icon,
.is_2x .docs_item_icon,
.is_2x .docs_choose_def_icon,
.is_2x .docs_choose_over_row .docs_choose_def_icon {
  background-image: url(/images/darr_2x.gif);
  background-size: 7px 8px;
}
.is_2x #pad_arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiCAYAAABFlhkzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZJJREFUeNqsl0tOwzAQQO0pRazYsmOBxAkKB+BzAD7nRFwAcQHECZC6YMeWFWqbDJ7Kg4bIY48dWxqladP3Ys/YcTwiOmoA4CqaD7EQQW2geHp529LJ/fWKrnEHrq3RnyHCJQOnF7YKWMIied5FIOFefOd6CHwi1AYz7pwTDDkRNMA5sct4XDA8VNBPrKDqIZJwAh/G4BLFAP+ewq090OB/PQjwrxTcItDgLCD4pwYvCSzwdQ6eE1jgHyW4lmQT3Icr7q5WxQRC651b4JpA1nnTsGgCOUuXAtwMT+WABXIphv2Y07BUwquWCmxcdiHBGWPQE2pHnx9vL8/px+fX91kCFAJ67G3ikWJolaR6wHfOks0cSUrAEin4J/FhllkloOQzK3m4uTD3BDJFU+yJRQKFyixJzkoSMJR/SXKak4BxjqUk21htJDnRJFAxkTXJECfjcUpSs6vAxDzZxfP9ShIkR1NJ7caLlyReSuTODnvt7DARVY/MGskoBNhj66hJWITe9+sB58GJF5CR3me8sPwKMAD4TtFV6vxgnQAAAABJRU5ErkJggg==);
  background-size: 12px 17px;
}
.is_2x #pad_arrow.blue {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiCAYAAABFlhkzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXlJREFUeNqsl0tuwjAQQJ3hI1Ysadl0gcRFOAtXQD0DV6h6lKoXQWLBpsCSFQLC1FN5qpHlcRzblkYh4LyXie2JaRDRUAMA06M1NgYiqLUUq/X2TidfHxvqY4Ymr9HF4OCSgX7HXAFLWCTPqwgkvBHfmRqCJhBqg4I75wGGmAgy4DywI3ccMNzOoCsdZ6/z3o9Iwgk8dsFTFC384sNTM9Dg/xlY+CkETxFocBYQ/KDBuwQp8H0MHhOkwHddcE1QDR4SVIVrAjnPi+C+QK7SkQBnw7UMwCvFkAvPqUXFAnphPF3QG+pBn78/35f04/n4UyRAIaDX3s0dKdpcSSgDvnOW3EokIQFLpCBbEhrkqhJtFlWTxKZpimTRJelaBymSt5gkZaFpkrubbSR50SSpKzkmad1inIYkfUoFBtbJw53/bRmtZOJL+m68eO/JpUTu7LBKsbOVFUU2MkyVraN9DH7dwlgGJbtrKTFaJsMCOI+DEX9Ann7HXwEGALHk0VLqg+SjAAAAAElFTkSuQmCC);
  background-size: 12px 17px;
}
.is_2x #pad_arrow.head {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAYCAYAAACfpi8JAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ1JREFUeNrs1usNgjAQAOC2anwQ13ABdQCNGzinTuBjAHEBpvABiUal9kghRU9ppWp/cAmhAXr5uIOmlHNOXAhGHIkKUkEqiGlQEWXme5BDjmFBiv5RkQQxW2yOcEiQ92tIhiBSUBZDTZd4xlgOMR70kusrP0jO08mwC22K4zj6WkVeIdRxWhn5rH1Iipgv/SeEDYxWa95VAov1NiCQ1qRNTAPRUd6yEAEx6ucqk+X4GCIStGXCUBeBtClUcxm3RkxsykQnU4Qayt/UgrNo01kbIhB1ibiUQSCYhsRcsSWeKst0FgJxs4FAMDXkNoffkQMF65AtxCMG/RSgIL9AFOWku/3BiW28M/uRuwADAHAZg8/ia13UAAAAAElFTkSuQmCC);
  background-size: 17px 12px;
}
.is_2x #pad_arrow.head.no_data {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAMCAYAAACEJVa/AAAAsElEQVR42pWR0QrCMAxFy8rY6F5mFeYURUHw4/UDBJ/34j+VLpGkhNDqVjiUlZtDlhiTP1bdq44l6gKLBBhsAQd0AidE1S9JLYp7YCvo6b2hnC110FDQAyNwAs7P9yfSt1eirMRR8AhcgBsKQgiRRAclqrRECq7AnQWMErViPl8Z/8Ie25cdaEiEuQ3V8TaTZOAZ5ARK5MXGUic4/d0/gRJ1ae2P1xSZJQJG1pk1hSVmRScMrgyoQyAAAAAASUVORK5CYII%3D);
}
.is_2x #pad_arrow.right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiCAYAAABFlhkzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARNJREFUeNrcltsJwjAUhpNapPgkCI7gBLqAuIFz6gRqB7BdQDcQBPVBxEviSWmld5P0L4IHwmlD8n1N2iTlp/NFMgo/3DMpJZvPJn26vVJ5MIMQQpTWO8mFgnMeXbrp+qaRAUnJ4OGwluMnAlXXQck/kOl4FOXFanug5FHpIiQZQEpypNRDSAqd0ZLSjkhJZSeUpLYDQvK1cSJZrgMriVZDJVF7lc1ItJ/EdrqM5tNGYvxV5CRevK1gNztu0NY1hW+CXZTp5BtQulF5wUaQg6tj9a5OS4jABq4t8EM7uNY7sH1yrRE0hdcKEPBKAQpeKkDCCwI0PCNIwYfxCm0Mr3oHIl7+jeH/++vYuuCJmn8VbwEGAGvuiUVvn8vPAAAAAElFTkSuQmCC);
  background-size: 12px 17px;
}
.is_2x #pad_arrow.left {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiCAYAAABFlhkzAAAAsUlEQVR42u2XQQ5AMBBFG4kQG0Lc/wZ6Ak7AXXCBmrEQEWGm7UwsNPnb9xqaP60x8VYKKbt+dHaY3LyseyLyTQZp7DA6lIgJEP4L7lYCKSCthADhOaS+wmMIHuGhgld4iIAE9xWQ4T4CFpwrOODYNRQ4R8DeOUfgDacIguAUAXZ85QtnCayQQPwTif9klWN6K8HZG1sgXhUqZadS1yoDR2Vkqgx9lWvLf3X8juB4gJwFG+W12jVqcG4VAAAAAElFTkSuQmCC);
  background-size: 12px 17px;
}
.is_2x .sort_rev_icon,
.is_2x .sort_not_rev_icon,
.is_2x .photo_rev_icon,
.is_2x .photo_not_rev_icon,
.is_2x div.wl_replies_header_toggler_icon {
  background-image: url(/images/photoorder_2x.gif);
  background-size: 15px 25px;
}
.is_2x .pva_camera,
.is_2x .page_album_camera,
.is_2x .wall_album_count,
.is_2x .photos_choose_album_camera,
.is_2x #photos_albums .photo_album_title div.camera {
  background-image: url(/images/camera_white_2x.png);
  background-size: 11px 9px;
}
.is_2x .friends_bigph_label,
.is_2x .fans_fanph_label,
.is_2x #photos_albums .photo_album_title div.ge_album_privacy,
.is_2x #photos_albums_container .photo_row .photo_album_info_cont,
.is_2x div.ab_private i,
.is_2x .page_post_video_duration_icon,
.is_2x .feed_since_ownerph_label,
.is_2x .fave_uph_label,
.is_2x .wk_likes_likerph_label,
.is_2x .search_bigph_label,
.is_2x .video_is_private_wrap .video_is_private {
  background-image: url(/images/icons/photo_icons_2x.png?4);
  background-size: 14px 111px;
}
.is_2x .topics_module .icon,
.is_2x .rightNav .news {
  background-image: url(/images/note_2x.png);
  background-size: 16px 17px;
}
.is_2x .topics_module .icon,
.is_2x .rightNav .news {
  background-image: url(/images/note_2x.png);
  background-size: 16px 17px;
}
.is_2x .help_faq_fixed {
  background-image: url(/images/faq_fixed_2x.gif);
  background-size: 32px 32px;
}
.is_2x .olist_ignored .olist_item_wrap_on.olist_item_loading .olist_item,
.is_2x .pv_load_near,
.is_2x .progress_inv,
.is_2x .progress_inv_img,
.is_2x .button_lock,
.is_2x .flat_btn_lock {
  background-image: url(/images/upload_inv_2x.gif);
  background-size: 32px 8px;
}
.is_2x .tl1,
.is_2x .tl2 {
  display: none;
}
.is_2x ul.t0 a {
  padding-top: 4px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.is_2x ul.t0 .t_r a {
  padding: 0;
}
.is_2x .emoji_css {
  background-image: url('/images/im_emoji_2x.png?8');
  background-size: 16px 544px;
}
.is_2x #mail_media_preview .mail_media_x,
.is_2x .tis_x,
.is_2x .fis_x {
  background-image: url('/images/im_attach_cross_2x.png');
  background-size: 15px 15px;
}
.is_2x .apps_edit_screen_close,
.is_2x .apps_edit_btn_close,
.is_2x .apps_cat_row .app_delete_row {
  background-image: url('/images/delete_2x.png');
  background-size: 9px 9px;
}
.is_2x .bd_arrow,
.is_2x .calendar_header .arrow,
.is_2x .fwd_link,
.is_2x .back_link,
.is_2x .fwd_link,
.is_2x .back_link,
.is_2x .cal_table .month_arr .arr {
  background-image: url('/images/icons/back_fwd_2x.gif');
  background-size: 15px 67px;
}
.is_2x .wke_b {
  background-image: url('/images/wke_icons_2x.png');
  background-size: 20px 380px;
}
.is_2x .help_steps_module .help_step_image {
  background-image: url('/images/icons/iconset_2x.png');
  background-size: 13px 281px;
}
.is_2x .fave_photo_inner {
  background-size: 130px auto;
}
.is_2x .counts_module .fans .thumb {
  background-position: center -23px;
}
.is_2x .tt.rich .side_sh {
  display: none;
}
.is_2x .help_steps_module .help_step_image {
  background-image: url('/images/icons/iconset_2x.png');
  background-size: 13px 281px;
}
.is_2x .wall_module .photo img {
  max-height: 120px;
}
.is_2x .pv_filter_icon {
  background-image: url('/images/icons/filter_tools_2x.png?7');
  background-size: 44px 76px;
}
.is_2x #mv_min_layer .mv_mini_control .mv_max_control,
.is_2x #mv_min_layer .mv_mini_control .mv_close_control {
  background-image: url('/images/icons/viewer_min_controls_2x.png');
  background-size: 13px 23px;
}
.is_2x .mv_views_count .mv_views_icon,
.is_2x .mv_small_close_icon,
.is_2x .mv_minimize_icon {
  background-image: url(/images/icons/video_icon_2x.png);
  background-size: 14px 34px;
}
.is_2x .video_playlist_icon_rows,
.is_2x .video_playlist_icon_items {
  background-image: url(/images/icons/tab_view_2x.png);
  background-size: 10px 55px;
}
.is_2x .mv_share_button .mv_share_icon,
.is_2x .mv_add_button .mv_add_icon,
.is_2x .mv_edit_button .mv_edit_icon {
  background-image: url(/images/icons/video_actions_2x.png?3);
  background-size: 12px 67px;
}
.is_2x #mv_pl_tt .mv_tt_add_playlist .mv_tt_plus_icon {
  background-image: url(/images/icons/video_actions_2x.png?1);
  background-size: 12px 67px;
}
.is_2x .top_info_wrap .hide_butto {
  background-image: url('/images/close_2x.png');
  background-size: 15px 19px;
}
.is_2x .other_acts a span.fl_l,
.is_2x #menu_edit_photo_cont div.rows a {
  background-image: url('/images/edit_photo_icons_2x.png');
  background-size: 16px 88px;
}
.is_2x #owner_photo_rotate_c3,
.is_2x #owner_photo_rotate_c1 {
  background-image: url(/images/rotate_white_2x.png?2);
  background-size: 40px 20px;
}
.is_2x #owner_photo_bubble_in {
  background-image: url(/images/arrow_up_white_2x.gif);
  background-size: 16px 16px;
}
.is_2x .wall_module #wall_postponed_link .wall_postponed_link_arrow,
.is_2x .im_stickers_gift_tt_content .tt_link_arrow,
.is_2x .gift_tt_link_arrow,
.is_2x .gifts_link_arrow {
  background-image: url(/images/icons/wall_more_arrows_2x.gif);
  background-size: 12px 48px;
}
.is_2x #profile_photos tr.photos a img {
  max-width: 75px;
}
.is_2x #page_avatar img {
  max-width: 200px;
}
.is_2x .friends_import_icon,
.is_2x .join_import_icon {
  background-image: url(/images/icons/import_contacts_2x.png?6);
  background-size: 40px 240px;
}
.is_2x .friends_import_icon_big {
  background-image: url(/images/icons/import_contacts_big_2x.png?5);
  background-size: 50px 200px;
}
.is_2x .wall_module .reply_edit_button,
.is_2x .wall_module .post_edit_button,
.is_2x .docs_edit_row {
  background-image: url(/images/pics/statusedit_2x.gif);
  background-size: 11px 11px;
}
.is_2x .payments_getvotes_method_img {
  background-image: url(/images/icons/payments_n_2x.png);
  background-size: 41px 206px;
}
.is_2x .payments_box_wide .payments_getvotes_method_img {
  background-image: url(/images/icons/payments_w_2x.png);
  background-size: 41px 164px;
}
.is_2x .payments_logo_cards {
  background-image: url(/images/pics/cards_2x.png);
  background-size: 222px 52px;
}
.is_2x .payments_logo_webmoney {
  background-image: url(/images/ps/webmoney_2x.png);
  background-size: 126px 40px;
}
.is_2x .payments_logo_kiwipurse {
  background-image: url(/images/ps/qiwiwallet_2x.png);
  background-size: 110px 40px;
}
.is_2x .payments_logo_yandexmoney {
  background-image: url(/images/ps/yandexmoney_2x.png);
  background-size: 106px 45px;
}
.is_2x .payments_logo_checkout {
  background-image: url(/images/ps/googlewallet_2x.png);
  background-size: 190px 40px;
}
.is_2x .payments_logo_mailmoney {
  background-image: url(/images/ps/mailmoney_2x.png);
  background-size: 124px 40px;
}
.is_2x #stats_good_browsers a {
  background-size: 80px 80px;
}
.is_2x #layer_stl_text {
  background-image: url(/images/toplinkw_2x.gif);
  background-size: 14px 20px;
}
.is_2x #status_export.checkbox_pic,
.is_2x #facebook_export.checkbox_pic,
.is_2x #own_status_export.checkbox_pic,
.is_2x #own_facebook_export.checkbox_pic,
.is_2x .checkbox_status_export,
.is_2x .checkbox_facebook_export {
  background-image: url(/images/icons/wall_export_2x.gif);
  background-size: 14px 112px;
}
.is_2x .flist_item_action,
.is_2x #flist_sel_list .flist_item_action {
  background-image: url(/images/icons/lite_acts_12x12_2x.png);
  background-size: 12px 24px;
}
.is_2x .wdd_add_plus {
  background-image: url(/images/pics/im_plus_2x.gif);
  background-size: 11px 11px;
}
.is_2x #html5_player .play_button,
.is_2x #html5_player .pause_button,
.is_2x #html5_player .big_play,
.is_2x #html5_player .volume_button,
.is_2x #html5_player .quality_button .quality_val,
.is_2x #html5_player .quality_button #quality_label,
.is_2x #html5_player #video_actions .add,
.is_2x #html5_player #video_actions .rotate,
.is_2x #html5_player #video_actions .logo,
.is_2x #html5_player .vid_like_fg,
.is_2x #html5_player .vid_share_fg,
.is_2x #html5_player .vid_link_fg {
  background-image: url(/images/video/iconset_2x.png?2);
  background-size: 380px 54px;
}
.is_2x .wall_album_nocover,
.is_2x .pva_no_photos,
.is_2x #photos_albums_container .photo_row .img_link.no_photo,
.is_2x .photos_choose_album_link.no_photo {
  background-image: url(/images/camera_big_2x.png);
  background-size: 64px 48px;
}
.is_2x .dropbox,
.is_2x .dropbox.choose {
  background-image: url(/images/dropbox_arrow_2x.png);
  background-size: 63px 44px;
}
.is_2x .owner_photo_bubble_action_in {
  background-image: url(/images/edit_photo_icons_white_2x.png);
  background-size: 16px 88px;
}
.is_2x .owner_photo_bubble_action_in {
  background-image: url(/images/edit_photo_icons_white_2x.png);
  background-size: 16px 88px;
}
.is_2x #privacy_custom_box .minus_friends {
  background-image: url(/images/minus_2x.png);
  background-size: 16px 16px;
}
.is_2x #privacy_custom_box .plus_friends {
  background-image: url(/images/plus_2x.png);
  background-size: 15px 19px;
}
.is_2x .index_fb_logo {
  background-image: url(/images/icons/facebook_btn_icon_2x.png);
  background-size: 8px 16px;
}
.is_2x .photos_choose_row_add .icon {
  background-image: url(/images/icons/check_white_2x.png);
  background-size: 14px 13px;
}
.is_2x .wdd_arr,
.is_2x .big.selector_container td.selector_dropdown,
.is_2x .big.disabled.selector_container td.selector_dropdown {
  background-image: url(/images/wide_dd_2x.png);
  background-size: 21px 24px;
}
body.dev.is_2x #page_wrap .big.selector_container td.selector_dropdown,
body.dev.is_2x #page_wrap .big.disabled.selector_container td.selector_dropdown {
  background-image: url(/images/dev_wide_dd_2x.png);
  background-size: 22px 24px;
}
.is_2x .selector_container td.selector .token span.x,
.is_2x .selector_container td.selector .token span.x_hover {
  background-image: url(/images/tag_remove_2x.png);
}
.is_2x .selector_container td.selector_dropdown {
  background-image: url(/images/darr_dd_out_2x.gif);
}
.is_2x .disabled.selector_container td.selector_dropdown {
  background-image: url(/images/darr_dd_disabled_2x.gif);
}
.is_2x .video_share_icon {
  background-image: url(/images/icons/videoexporticons_2x.png?1);
}
.is_2x .video_upload_progress {
  background-image: url(/images/progress_grad_flat_2x.gif?1);
  background-size: 10px 20px;
}
.is_2x .video_upload_cancel,
.is_2x .video_upload_cancel_white {
  background-image: url(/images/icons/video_cancel_upload_2x.png);
  background-size: 10px 22px;
}
.is_2x .video_upload_privacy_arrow,
.is_2x .mv_more_arrow {
  background-image: url(/images/icons/dropdown_arrow_2x.png);
  background-size: 8px 4px;
}
.is_2x .video_upload_ok {
  background-image: url(/images/ok_2x.png);
  background-size: 12px 10px;
}
.is_2x .win_app_bar_img {
  background-image: url(/images/win8_header_logo_2x.png);
  background-size: 21px 22px;
}
.is_2x .audio_new_sticker {
  background-image: url(/images/icons/new_audio_en_2x.png);
  background-size: 58px 58px;
}
.is_2x .audio_sticker_ru {
  background-image: url(/images/icons/new_audio_ru_2x.png);
}
.is_2x .audio_sticker_ua {
  background-image: url(/images/icons/new_audio_ua_2x.png);
}
.is_2x .ads_intro_section_label.label_ru,
.is_2x .apps_sticker_ru {
  background-image: url(/images/ads_intro_label_new_ru_2x.png);
  background-size: 60px 60px;
}
.is_2x .ads_intro_section_label.label_en,
.is_2x .apps_sticker_en {
  background-image: url(/images/ads_intro_label_new_en_2x.png);
  background-size: 60px 60px;
}
.is_2x .ads_intro_section_label.label_ua,
.is_2x .apps_sticker_ua {
  background-image: url(/images/ads_intro_label_new_ua_2x.png);
  background-size: 60px 60px;
}
.is_2x .pv_filter_font_icon {
  background-image: url(/images/icons/switch_fonts_2x.png);
  background-size: 17px 25px;
}
.is_2x .checkin_big {
  background-image: url(/images/icons/checkin_big_2x.png);
  background-size: 17px 22px;
}
.is_2x #groups_ad_withdraw_logo {
  background-image: url(/images/socialcentrum_2x.png);
  background-size: 248px 47px;
}
.is_2x .feedback_photo_icon {
  background-image: url(/images/feedback_color_2x.png?4);
  background-size: 44px 116px;
}
.is_2x .feedback_unread_bar {
  background-image: url(/images/feedback_old_arrow_2x.png);
  background-size: 7px 9px;
}
.is_2x .wk_medal_gold,
.is_2x .wk_medal_silver,
.is_2x .wk_medal_bronze {
  background-image: url(/images/medals_2x.png);
  background-size: 48px 16px;
}
.is_2x .im_unread_bar_text {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAYAAABrXO8xAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIQCwU4lxlwOgAAAGlJREFUOMtjZEAD69evP/znH6MNshgL0/8jgYGBtshiTOga0TXhEsPQSCwY1TioNDKuXrvhP31tZGBgYCDV1tDgAEZGGIdYzaHBAYxwG4nVDNOEoRGfZmRNWDVi04yuCS9YvXbDf3xOBwDgJimfGMllIwAAAABJRU5ErkJggg==);
  background-size: 7px 9px;
}
.is_2x .im_unread_info_pic {
  background-image: url(/images/pics/newunread_2x.png);
  background-size: 110px 110px;
}
.is_2x div#wl_post_actions_wrap i.wl_post_like_icon,
.is_2x .wk_view_footer i.wl_post_like_icon,
.is_2x .mv_liked_icon {
  background-image: url(/images/icons/like_widget_2x.png?1);
  background-size: 37px 42px;
}
.is_2x .emoji_sprite {
  background-image: url(/images/emoji_sprite_2x.png?10);
  background-size: 149px 77px;
}
.is_2x .im_stickers_store_close .close_icon {
  background-image: url(/images/stickers_close_2x.png);
  background-size: 46px 46px;
}
.is_2x .im_find_mail {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnFJREFUeNq0lk1IVFEUx50ppTKL7EtaiBYFRe1atI3EhRaISIStJBELFxG5SnAVSB9Eiz4UUUIpA40IpYKQEsFVRAsRqo2FWvYx1KLow5l+B87I43DnvnnDeODH8517nf8755577o1d6hstyME2wCHYCVshBp9hFqbam2oTmf5xdUShbdAMx6Aww5yly/1jj3n2IDxvB+MRxOrgAdR7xMRWwVEYRvhEroIt0AFrInxgEZxH9FxUwRoVtPYbJuEO9MML+OWY14jo8fRLLKRoNmsai41/DK7DN9Zp2ckPb+RxGhrM/D/ikzUNi7DJIdYHnSJmJ/OD36GLP6860tsSllKZVGt8L+FW2Bogeo/HuHFXk4Fin+ABKDG+XkhlWTS9jgAO+gR3m/efGmFWRpRvtBkEbZdPsNS8L0IyYqP4aIvQJ/jPvBfm0AKLbBfyCdp0lMH6bJUoEPnAcuP+5BOcdrSsmgjRHYa1xjfjE3wLc8bXrM0gLDo5TdqMW/bta5+glP99RyFdg00eMdlKV2CHGRqmcpfCjqcJOGsaxD4Y0v75FBKBqKrgFGy3aweDYb1UDtZux8IHLampSmmqXRn7C2eI7pXvAC7VFlYekgER2OIZlxPlQlosUy+V9bkNFY6xhQhV+k6KDLHnviuGiN3Uu0qB45SQqI/ASdivdxlrMyDN+wliSd+dRhb9hqOHig3oh4g9U+TjKjWlcW19s4h89YWdFixRsT2OOXf1sLUm1ZkIHsDZWFzblYjtdYwP6b7Lm8W1wa5zjI3oyZ3Kt6Dso1Z4H/A/hK58iwW3xRcV/QCP4OJKiNkqXdRL04+VEhP7L8AANkmXhyWXlSsAAAAASUVORK5CYII=);
  background-size: 14px 14px;
}
.is_2x .settings_history_thumb,
.is_2x .app_pay_image.bonus {
  background-image: url(/images/icons/payments_s_2x.png);
  background-size: 30px 231px;
}
.is_2x .ads_status_image_span {
  background-image: url(/images/icons/ad_status_new_2x.png);
  background-size: 11px 220px;
}
.is_2x .chats_sp {
  background-image: url(/images/icons/chats_2x.png?13);
}
.is_2x .public_avatar.no_avatar,
.is_2x #page_avatar.public_no_avatar,
.is_2x #page_avatar.group_no_avatar {
  background-image: url(/images/community_400.gif);
  background-size: 200px 200px;
}
.is_2x .apps_edit_add_icon,
.is_2x .video_upload_add_icon {
  background-image: url(/images/big_plus_2x.png);
  background-size: 22px 22px;
}
.is_2x .im_chat .icon {
  background-image: url(/images/icons/multichat_icon_2x.png);
  background-size: 17px 11px;
}
.is_2x .app_rate,
.is_2x .app_layer_rating .app_rate {
  background-image: url(/images/icons/app_stars_2x.png?1);
  background-size: 13px 224px;
}
.is_2x .apps_genre_arrow {
  background-image: url(/images/icons/apps_dropdown_arrow_2x.png);
  background-size: 8px 4px;
}
.is_2x .apps_scroll_left,
.is_2x .apps_scroll_right {
  background-image: url(/images/icons/apps_arrows_new_2x.png);
  background-size: 18px 58px;
}
.is_2x .apps_settings_stats,
.is_2x .apps_settings_payments {
  background-image: url(/images/icons/apps_admin_icons_2x.png?1);
  background-size: 18px 36px;
}
.is_2x .apps_featured_shadow {
  background-image: url(/images/app_featured_shadow_2x.png);
  background-size: 448px 276px;
}
.is_2x.is_rtl1 .apps_featured_shadow {
  background-image: url(/images/app_featured_shadow_rtl_2x.png);
  background-size: 448px 276px;
}
.is_2x .apps_slide_trigger_arrow {
  background: url(/images/icons/app_screen_arrow_2x.png);
  background-size: 17px 56px;
}
.is_2x .apps_slide_trigger {
  background: url(/images/icons/app_screen_shadow_2x.png?1);
  background-size: 260px 1px;
}
.is_2x .apps_i_btn_bg {
  background-image: url(/images/backlink_2x.png) !important;
  background-size: 20px 150px !important;
}
.is_2x .settings_otp_box_step1,
.is_2x .settings_otp_box_step2,
.is_2x .settings_otp_box_step3,
.is_2x .settings_otp_box_step1_en,
.is_2x .settings_otp_box_step2_en,
.is_2x .settings_otp_box_step3_en {
  background-size: 152px 152px;
}
.is_2x .settings_otp_box_step1 {
  background-image: url(/images/pics/authcheck_1ru_2x.png?1);
}
.is_2x .settings_otp_box_step2 {
  background-image: url(/images/pics/authcheck_2ru_2x.png?1);
}
.is_2x .settings_otp_box_step3 {
  background-image: url(/images/pics/authcheck_3ru_2x.png?1);
}
.is_2x .settings_otp_box_step1_en {
  background-image: url(/images/pics/authcheck_1en_2x.png?1);
}
.is_2x .settings_otp_box_step2_en {
  background-image: url(/images/pics/authcheck_2en_2x.png?1);
}
.is_2x .settings_otp_box_step3_en {
  background-image: url(/images/pics/authcheck_3en_2x.png?1);
}
.is_2x .web_cam_photo_icon {
  background: url(/images/icons/webcam_2x.png?2) left 0px no-repeat;
  background-size: 17px 19px;
  background-position: 50% 50%;
}
.is_2x .feed_top_info_pic {
  background-image: url(/images/pics/authcheck_info_2x.png);
  background-size: 110px 110px;
}
.is_2x .apps_sms_tt .toup .top_pointer {
  background-image: url(/images/tooltip_arrow_up_gray_2x.gif);
  background-size: 11px 8px;
}
.is_2x .join_tabs li,
.is_2x .join_tabs li.join_tabs_last .join_tabs_arrow,
.is_2x .join_tabs li.back_link:hover .join_tabs_arrow {
  background-image: url(/images/join_tabs_2x.png?3);
  background-size: 16px 700px;
}
.is_2x .join_invite_img {
  background-image: url(/images/join/invite_confirm_2x.png);
  background-size: 160px 160px;
}
.is_2x .join_invite_img {
  background-image: url(/images/join/invite_confirm_2x.png);
  background-size: 160px 160px;
}
.is_2x .join_school_img {
  background-image: url(/images/join/school_f_2x.png);
  background-size: 160px 160px;
}
.is_2x .join_university_img {
  background-image: url(/images/join/university_f_2x.png);
  background-size: 160px 160px;
}
.is_2x .join_import_img {
  background-image: url(/images/join/import_f_2x.png);
  background-size: 160px 160px;
}
.is_2x .join_finish_img,
.is_2x .validation_img,
.is_2x .actualize_phone_box .layerbox_img {
  background-image: url(/images/join/finish_f_2x.png);
  background-size: 160px 160px;
}
.is_2x .push_validation_img {
  background-image: url(/images/push_check_2x.png);
  background-size: 160px 160px;
}
.is_2x .mdd-rtl.mdd-wrap .mdd-item-selected,
.is_2x .mdd-rtl.mdd-wrap .mdd-item-selected:hover {
  background: #edf1f5 url(/images/flydead_flat_2x.gif?1) no-repeat 0% 2px;
  text-align: right;
  background-size: 14px 90px;
}
.is_2x .mdd-wrap .mdd-arrow {
  background: url(/images/flydead_flat_2x.gif) no-repeat right 2px;
  background-size: 14px 90px;
}
.is_2x .mdd-wrap .mdd-item-selected.mdd-arrow,
.is_2x .mdd-wrap .mdd-item-selected.mdd-arrow:hover {
  background: url(/images/flydead_flat_2x.gif) no-repeat right 2px;
  background-size: 14px 90px;
}
.is_2x #ios .login_app_device_screen {
  background-image: url(/images/login/ios_ru_2x.png);
  background-size: 168px 259px;
}
.is_2x #android .login_app_device_screen {
  background-image: url(/images/login/android_ru_2x.png);
  background-size: 168px 259px;
}
.is_2x #wp .login_app_device_screen {
  background-image: url(/images/login/wp_ru_2x.png);
  background-size: 168px 259px;
}
.is_2x .login_app_download_icon {
  background-image: url(/images/login/platforms_2x.png);
  background-size: 18px 67px;
}
.is_2x .login_mobile_device_mock {
  background-image: url(/images/mobile_2x.png);
  background-size: 258px 418px;
}
.is_2x .login_mobile_lvi {
  background: url(//m.vk.com/images/online_2x.png) no-repeat 1px center;
  background-size: 18px 12px;
}
.is_2x .login_mobile_arr {
  background: url(//m.vk.com/images/profile_arrow_2x.png) no-repeat center;
  background-size: 9px 13px;
}
.is_2x .login_mobile_logo {
  background: url(/images/login/s_logo_2x.png) no-repeat 0 center;
  background-size: 106px 22px;
}
.is_2x .login_mobile_top {
  background: url(/images/login/s_notify_2x.png) no-repeat 0 center;
  background-size: 15px 12px;
}
.is_2x .lang_table .lang_status {
  background-image: url(/images/lang_status_2x.png);
  background-size: 13px 22px;
}
.is_2x .lang_table .lang_health_indicator {
  background-image: url(/images/lang_indicators_2x.png);
  background-size: 16px 54px;
}
.is_2x .wall_fixed .wall_fixed_more_arrow,
.is_2x .wall_fixed .wall_fixed_more_arrow_back {
  background-image: url(/images/icons/wall_fixed_more_arrows_2x.gif);
  background-size: 12px 24px;
}
.is_2x .adm_additem_tab .adm_additem_tab_icon {
  background-image: url(/images/add_item_db_icons_2x.png?v2);
  background-size: 44px 360px;
}
.is_2x .gifts_scroll_left,
.is_2x .gifts_scroll_right {
  background-image: url(/images/icons/gifts_arrows_2x.png?2);
  background-size: 40px 30px;
}
.is_2x .gifts_box_title_back,
.is_2x .video_upload_title_back {
  background-image: url(/images/icons/box_back_2x.png);
  background-size: 9px 14px;
}
.is_2x #gift_tt_hide {
  background-image: url(/images/icons/thin_close_2x.png);
  background-size: 11px 11px;
}
.is_2x .wk_contest_view #samsung_gs5_img {
  background-image: url(/images/contests/sgs5_2x.jpg);
  background-size: 500px 264px;
}
.is_2x input.dev_top_input {
  background-image: url(/images/icons/dev_head_magglass_2x.png);
  background-size: 13px 13px;
}
.is_2x .app_pay_filter.text {
  background-image: url(/images/head_magglass_2x.png);
  background-size: 28px 56px;
}
.is_2x input.dev_wide_input {
  background-image: url(/images/dev_magglass_2x.png) !important;
  background-size: 14px 14px !important;
}
.is_2x .dev_home_link {
  background-image: url(/images/dev_logo_vk_2x.png);
  background-size: 32px 18px;
}
.is_2x .dev_sect_icon {
  background-image: url(/images/icons/dev_icons_2x.png?3);
  background-size: 92px 248px;
}
.is_2x .dev_method_crumbs {
  background-image: url(/images/breadcrumbs_2x.png);
  background-size: 16px 14px;
}
.is_2x .dev_page_acts a {
  background-image: url(/images/doc_icons_2x.png);
  background-size: 20px 80px;
}
.is_2x #dev_section_menu,
.is_2x .dev_section_dd .dd_menu_header div {
  background-image: url(/images/dev_dropdown_arrow_2x.png?1);
  background-size: 22px 24px;
}
.is_2x.dev #stl_text {
  background-image: url(/images/dev_toplink_2x.png);
  background-size: 15px 45px;
}
body.dev.is_2x .tickets_side_tt .tail,
body.dev.is_2x .priv_h_arrow,
.is_2x .apps_edit_side_tt_pointer,
.is_2x .apps_edit_bottom_tt_pointer {
  background-image: url(/images/dev_ddtooltip_2x.png?1);
  background-size: 12px 11px;
}
.is_2x .dev_info_msg {
  background-image: url(/images/warn_2x.png);
  background-size: 41px 35px;
}
.is_2x .page_wm {
  background-image: url(/images/icons/yt_watermark_2x.png);
  background-size: 57px 25px;
}
.is_2x .page_vimeo {
  background-image: url(/images/icons/vimeo_watermark_2x.png);
  background-size: 54px 15px;
}
.is_2x .page_rutube {
  background-image: url(/images/icons/rutube_watermark_2x.png);
  background-size: 52px 13px;
}
.is_2x .page_coub {
  background-image: url(/images/icons/coub_watermark_2x.png);
  background-size: 52px 13px;
}
.is_2x #pv_safari_hint .pv_safari_webgl_screens#pv_screen_ru {
  background-image: url(/images/filters/hint/safari_webgl_ru_2x.png);
  background-size: 660px 325px;
}
.is_2x #pv_safari_hint .pv_safari_webgl_screens#pv_screen_en {
  background-image: url(/images/filters/hint/safari_webgl_en_2x.png);
  background-size: 660px 325px;
}
.is_2x .pe_actions .pe_action > div {
  background-image: url(/images/icons/filter_tools_pe_2x.png?7);
  background-size: 47px 140px;
}
.is_2x .pe_text_input .pe_text_font_changer {
  background-image: url(/images/icons/switch_fonts_pe_2x.png?2);
  background-size: 17px 26px;
}
.is_2x .pe_blur_input .pe_blurtype_changer {
  background-image: url(/images/icons/filter_tools_pe_2x.png?7);
  background-size: 47px 140px;
}
.is_2x .pe_canvas_wrap .pe_crop_area .pe_crop_apply_wrap .pe_crop_apply_button {
  background-image: url(/images/icons/filter_tools_pe_2x.png?7);
  background-size: 47px 140px;
}
.is_2x .pe_loader {
  background: url(/images/upload_4x.gif) no-repeat 50% 50%;
  background-size: 64px 16px;
}
.is_2x #pv_edit_actions .idd_item_icon {
  background-image: url(/images/icons/photo_actions_2x.png?4);
  background-size: 20px 160px;
}
.is_2x .pvs_actions .pvs_action > div {
  background-image: url(/images/icons/photo_controls_2x.png?1);
  background-size: 21px 63px;
}
.is_2x .apps_edit_cashout_method_img {
  background-image: url(/images/icons/apps_cashout_2x.png);
  background-size: 45px 139px;
}
.is_2x .page_media_link_sh {
  background-image: url(/images/link_shadow_2x.png);
  background-size: 388px 76px;
}
.is_2x .page_media_link_icon {
  background-image: url(/images/icons/photo_lnk_2x.png);
  background-size: 7px 10px;
}
.is_2x .validation_device_thumb {
  background-image: url(/images/icons/vk_app_2x.png);
  background-size: 29px 29px;
}
.is_2x .validation_device_thumb_android {
  background-image: url(/images/icons/android_app_2x.png);
  background-size: 29px 29px;
}
.is_2x .validation_device_thumb_android_ru {
  background-image: url(/images/icons/android_ru_app_2x.png);
  background-size: 29px 29px;
}
.is_2x .el_mask .el_mask_progress_wrap .el_mask_progress,
.is_2x .translation-progress,
.is_2x .secondary.flat_btn_lock {
  background-image: url(/images/upload_2x.gif);
  background-size: 32px 8px;
}
.is_2x .idd_wrap .idd_arrow,
.is_2x .idd_popup .idd_header.idd_arrow,
.video_extended_search_toggle .video_extended_search_toggle_icon {
  background-image: url(/images/flydead_flat_2x.gif);
  background-size: 14px 90px;
}
.is_2x .idd_items_wrap .idd_sublist,
.is_2x .idd_popup .idd_item.idd_sublist {
  background-image: url(/images/icons/idd_cascade_arrow_2x.png);
  background-size: 11px 8px;
}
.is_2x .im_stickers_banners_wrap .isb_arrow {
  background-image: url(/images/icons/store_arrows_2x.png?1);
  background-size: 38px 29px;
}
.is_2x #apps_collection37_wrap {
  background-image: url(/images/apps_ny2014_bkg_2x.png?1);
  background-size: 560px 226px;
}
.is_2x #video_info_tutorial .video_info_tutorial_nav_btn div {
  background-image: url(/images/tutorials/arrow_tutorial_2x.png);
  background-size: 100%;
}
.is_2x .video_info_banner .video_info_banner_image {
  background: url(/images/tutorials/video/video_dog_2x.png) no-repeat left top;
  background-size: 100%;
}
.is_2x .profile_frdd_text,
.is_2x .ddreq_header_inner {
  background-image: url(/images/profile_arrs_2x.png?1);
  background-size: 11px 63px;
}
.is_2x .friends_dd_item.checked,
.is_2x .ddreq_cat.checked {
  background-image: url(/images/icons/dropdown_check_2x.png);
  background-size: 13px 10px;
}
