#rtl_css {
  display: none;
}
body.is_rtl1 {
  direction: rtl;
  unicode-bidi: embed;
}
.is_rtl1 .scroll_fix,
.is_rtl1 #layer,
.is_rtl1 #box_layer,
.is_rtl1 #wk_layer {
  direction: rtl;
  text-align: right;
}
.is_rtl1 .box_controls .button_wrap,
.is_rtl1 .box_x_button {
  float: left;
}
.is_rtl1 .flat_tab_on,
.flat_tab,
.is_rtl1 .flat_tab_on a,
.flat_tab a {
  float: right;
}
.is_rtl1 .fl_l {
  float: right;
}
.is_rtl1 .fl_r {
  float: left;
}
.is_rtl1 .ta_l {
  text-align: right;
}
.is_rtl1 .ta_r {
  text-align: left;
}
.is_rtl1 .homelink,
.is_rtl1 .shah,
.is_rtl1 .unl {
  left: auto;
  right: 0px;
  padding: 8px 14px 0px 0px;
}
.is_rtl1 .vklink {
  padding: 11px 17px 10px;
}
.is_rtl1 .shah.vklink {
  padding-top: 12px;
}
.is_rtl1 .unl {
  padding-top: 0px;
}
.is_rtl1 .checkbox div,
.is_rtl1 .radiobtn div {
  float: right;
  margin-right: 0px;
  margin-left: 5px;
}
body.dev.is_rtl1 #page_wrap .checkbox div {
  margin-right: 0px;
  margin-left: 7px;
}
.is_rtl1 #side_bar {
  padding: 5px 4px 10px 0px;
}
.is_rtl1 #page_body {
  padding: 0px 0px 0px 15px;
}
.is_rtl1 #fmenu {
  right: auto;
  left: 0px;
}
.is_rtl1 #gsearch {
  right: auto;
  left: 14px;
}
.is_rtl1 #search_ext_cont {
  right: auto;
  left: 14px;
}
.is_rtl1 .top_feed {
  right: 50px;
}
.is_rtl1 #search_menu a {
  text-align: left;
}
.is_rtl1 #search_menu_header {
  text-align: left;
  padding: 2px 0px 4px 4px;
}
.is_rtl1 #search_darr {
  background: #ffffff url("/images/darrRTL.gif") no-repeat right 4px;
}
.is_rtl1 #search_a_menu:hover #search_darr,
.is_rtl1 #search_a_menu.hover #search_darr {
  background: #ffffff url("/images/darrRTL.gif") no-repeat right -22px;
}
.is_rtl1 #quick_search div.s_photo {
  margin: 1px 0px 0px 10px;
}
.is_rtl1 #search_sub_menu .p_item {
  padding: 6px 7px 0px 0px;
  border-right: none;
}
.is_rtl1 #search_sub_menu .p_item.p_right {
  padding: 6px 7px 0px 0px;
  border-right: 1px solid #CCD3DA;
}
.is_rtl1 div.search_shadow_right1 {
  top: auto;
}
.is_rtl1 #quick_search .s_down_text {
  float: right;
}
.is_rtl1 div.search_shadow_right2 {
  top: auto;
}
.is_rtl1 .profile_info_link,
.is_rtl1 #profile_groups_link {
  padding: 8px 127px 8px 0px;
}
.is_rtl1 #profile_view_as .info {
  margin-left: 0px;
  margin-right: 145px;
}
.is_rtl1 .selector_container td.selector input {
  float: right;
  padding-right: 3px !important;
  padding-left: 1px !important;
}
.is_rtl1 .selector_container td.selector_dropdown {
  border-right: 1px solid #FFFFFF;
  border-left: none;
}
.is_rtl1 .selector_focused.selector_container td.selector_dropdown {
  border-right: 1px solid #D2DBE0;
  border-left: none;
}
.is_rtl1 .big.selector_container td.selector {
  padding-right: 3px;
  padding-left: 0;
}
.is_rtl1 .big.selector_container td.selector input {
  padding-right: 7px !important;
  padding-left: 0 !important;
}
.is_rtl1 .big.selector_container td.selector .token {
  float: right;
  margin-right: 0px;
  margin-left: 3px;
  padding-right: 7px !important;
  padding-left: 3px !important;
}
.is_rtl1 .selector_container td.selector .token span.x,
.is_rtl1 .selector_container td.selector .token span.x_hover {
  margin-right: 2px !important;
  margin-left: 0px !important;
}
.is_rtl1 .big.selector_focused.selector_container td.selector_dropdown {
  border-right-color: transparent;
}
.is_rtl1 .result_list ul li {
  text-align: right;
  padding-right: 10px;
  padding-left: 0px;
}
.is_rtl1 .selector_container td.selector .placeholder_wrap2 {
  right: 3px;
  left: auto;
}
.is_rtl1 .big.selector_container td.selector .placeholder_wrap2 {
  right: 7px;
  left: auto;
}
@-moz-document url-prefix() {
  .is_rtl1 .selector_container td.selector .placeholder_wrap2 {
    right: 4px;
    left: auto;
  }
}
.is_rtl1 .wall_module .like_wrap div.no_likes {
  margin-right: 3px;
  margin-left: 0px;
}
.is_rtl1 .wall_module .like_count {
  margin-right: 0px;
  margin-left: 3px;
}
.is_rtl1 .wall_module .published_by {
  padding-right: 12px;
}
.is_rtl1 .wall_tt div.thumb {
  margin-right: 0px;
  margin-left: 10px;
}
.is_rtl1 .share_tt table.toup .top_pointer {
  margin-left: 0px;
  margin-right: 15px;
}
.is_rtl1 .wall_tt table.toup .top_pointer,
.is_rtl1 .wall_tt table.toup1 .bottom_pointer {
  margin-left: 0px;
  margin-right: 64px;
}
.is_rtl1 .mobile_tt table.toup .top_pointer,
.is_rtl1 .mobile_tt table.toup1 .bottom_pointer {
  margin-left: 0px;
  margin-right: 32px;
}
.is_rtl1 .mobile_tt_right table.toup .top_pointer,
.is_rtl1 .mobile_tt_right table.toup1 .bottom_pointer {
  margin-left: 0px;
  margin-right: 275px;
}
.is_rtl1 .fwd_reply_tt table.toup .top_pointer,
.is_rtl1 .fwd_reply_tt table.toup1 .bottom_pointer {
  margin-left: 0px;
  margin-right: 309px;
}
.is_rtl1 .gifts_tt .toup .top_pointer,
.is_rtl1 .gifts_tt .toup1 .bottom_pointer {
  margin-left: 0px;
  margin-right: 91px;
}
.is_rtl1 .module_inverted_loading #gifts_module_header,
.is_rtl1 .gifts_inverted_loading .profile_gifts_send {
  background-position: left 5px;
  padding-right: 2px;
  padding-left: 23px;
}
.is_rtl1 .wall_module .media_preview .share b,
.is_rtl1 .wall_module .media_preview .poll b,
.is_rtl1 .wall_module .media_desc b {
  background-position: right -237px;
}
.is_rtl1 .wall_module .media_preview b.postpone {
  background-position: right -334px;
}
.is_rtl1 .wall_module .media_desc b.topic {
  background-position: right -192px;
}
.is_rtl1 .wall_module .media_desc b.group {
  background-position: right -45px;
}
.is_rtl1 .wall_module .media_preview .poll b {
  background-position: right -208px;
}
.is_rtl1 .wall_module .media_desc .video {
  background-position: right -75px;
}
.is_rtl1 .wall_module .media_desc b.doc {
  background-position: right -280px;
}
.is_rtl1 .wall_module .media_desc b.note,
.is_rtl1 .wall_module .media_preview .note b {
  background-position: right -134px;
}
.is_rtl1 .wall_module .page_media_video .video div.video_play_inline,
.is_rtl1 .wall_module .page_media_full_video .video div.video_play_inline {
  right: 150px;
  left: auto;
}
.is_rtl1 .wide_wall_module .page_media_video .video div.video_play_inline,
.is_rtl1 .wall_module .page_media_full_video .video div.video_play_inline {
  right: 225px;
  left: auto;
}
.is_rtl1 .wall_module .post_thumbs_num1 .page_media_thumb1,
.is_rtl1 .wall_module .post_thumbs_num3 .page_media_thumb1,
.is_rtl1 .wall_module .post_thumbs_num4 .page_media_thumb1,
.is_rtl1 .wall_module .post_thumbs_num2 .page_media_thumb1,
.is_rtl1 .wall_module .post_thumbs_num2 .page_media_thumb2 {
  float: right;
}
.wall_module .dld {
  padding-left: 4px;
  padding-right: 60px;
}
.is_rtl1 .wall_module .reply .dld {
  padding-left: 4px;
  padding-right: 41px;
}
.is_rtl1 .pv_comment .dld {
  padding-left: 4px;
  padding-right: 41px;
}
.is_rtl1 .other_acts .header span.other {
  padding-right: 0px;
  padding-left: 12px;
}
.is_rtl1 .head_nav #qsearch_border {
  background: none;
}
.is_rtl1 .head_nav {
  padding: 0px 0px 0px 8px;
}
.is_rtl1 #page_header .left,
.is_rtl1 #page_header.p_head1 .left {
  width: 10px;
}
.is_rtl1 #page_header .right {
  width: 134px;
}
.is_rtl1 #page_header.p_head1 .right {
  width: 48px;
  background: #4e729a url(/images/hat_vk_rtl.gif) 100% -1px;
}
.is_rtl1 .wall_module .author {
  padding-right: 0px;
  padding-left: 4px;
}
.is_rtl1 .wall_module .published_by {
  margin-right: 0px;
  margin-left: 2px;
  padding-left: 0px;
  padding-right: 12px;
  background: url(/images/icons/published_rtl.gif) no-repeat right 3px;
}
.is_rtl1 #profile_actions a span.other {
  padding-right: 0px;
  padding-left: 12px;
  background-position: left 6px;
}
.is_rtl1 .other_acts .header span {
  padding-right: 0px;
  padding-left: 12px;
  background-position: left 6px;
}
.is_rtl1 .pv_cont .narrow_column {
  margin-left: 0px;
  border-left: 0px;
  padding-left: 0px;
  margin-right: 20px;
  border-right: 1px solid #CCC;
  padding-right: 20px;
}
.is_rtl1 #stl_text {
  background-position: right 3px;
  margin: 0 15px 0 31px;
}
.is_rtl1 #stl_left .down {
  background-position: right -7px;
}
.is_rtl1 #stl_left .back {
  background-position: right -40px;
}
.is_rtl1 #privacy_dropdown .header div {
  padding-right: 4px;
  padding-left: 21px;
  background-position: 0px 2px;
}
.is_rtl1 #privacy_dropdown .to_up .header div {
  background-position: 0px -75px;
}
.is_rtl1 #privacy_dropdown .to_up .l_header div {
  background-position: 0px -58px;
}
.is_rtl1 #privacy_dropdown .item,
.is_rtl1 #privacy_dropdown .item_sel,
.is_rtl1 #privacy_dropdown .item_sel_plus {
  padding-right: 5px;
  padding-left: 21px;
}
.is_rtl1 #privacy_dropdown .item_sel,
.is_rtl1 #privacy_dropdown .item_sel_plus {
  padding-right: 5px;
  padding-left: 21px;
}
.is_rtl1 #privacy_dropdown .item_sel_plus {
  background-position: 5px -32px;
}
.is_rtl1 #privacy_dropdown .l_header div {
  padding-right: 4px;
  padding-left: 16px;
  background-position: 0px -16px;
}
.is_rtl1 #privacy_dropdown .l_item,
.is_rtl1 #privacy_dropdown .l_item_sel {
  padding-right: 22px;
  padding-left: 3px;
}
.is_rtl1 #privacy_dropdown .l_item_sel {
  background-image: url(/images/dropdead_checkRTL.gif);
  background-position: 100% 2px;
}
.is_rtl1 #privacy_custom_box .plus_friends,
.is_rtl1 #privacy_custom_box .minus_friends {
  padding-right: 20px;
  padding-left: 0px;
}
.is_rtl1 #privacy_custom_box .plus_friends {
  background-position: 100% -3px;
}
.is_rtl1 #privacy_custom_box .minus_friends {
  background-position: 100% -1px;
}
.is_rtl1 .left_hide_button {
  margin: 4px 117px 0px 0px;
}
.is_rtl1 .places_module .place_row {
  padding: 5px 10px 6px 0px;
}
.is_rtl1 .places_module .icon {
  background-position: right -165px;
}
.is_rtl1 .places_module .place_title small {
  margin-left: 0px;
  margin-right: 3px;
}
.is_rtl1 .public_places_list .title span.type {
  margin-left: 0px;
  margin-right: 5px;
}
.is_rtl1 .page_add_place_box .label {
  padding-right: 0px;
  padding-left: 10px;
}
.is_rtl1 #friends .main_panel {
  border-right: none;
  border-left: 1px solid #D9E1E7;
}
.is_rtl1 #friends .common .common_friends_label,
.is_rtl1 #friends .common .common_friends,
.is_rtl1 #friends .common .controls {
  padding-left: 0px;
  padding-right: 60px;
}
.is_rtl1 #friends .create_list {
  margin-left: 0px;
  margin-right: 550px;
}
.is_rtl1 #friends .user_block .info {
  padding-left: 0px;
  padding-right: 10px;
}
.is_rtl1 #friends .sections_block .side_filter {
  background-position: 8px center;
}
/* Tabs */
.is_rtl1 ul.t0 li {
  float: right;
}
.is_rtl1 ul.t0 a {
  margin-right: 0px;
  margin-left: 5px;
  float: right;
}
.is_rtl1 ul.t0 .t_r {
  float: left;
}
.is_rtl1 #profile_class_hint .pointer {
  background-position: right top;
}
.is_rtl1 #profile_class_hint .content {
  border-width: 1px 0px 1px 1px;
}
.is_rtl1 .photo_edit_result {
  padding: 15px 160px 15px 25px;
}
.is_rtl1 #top_back_link {
  padding-left: 9px;
  padding-right: 25px;
  background-position: right -115px;
}
.is_rtl1 #invite_hint_close {
  right: auto;
  left: 3px;
}
.is_rtl1 #wk_content {
  clear: right;
}
.is_rtl1 .wk_right {
  padding-right: 0px;
  padding-left: 1px;
}
.is_rtl1 a.wpost_owner_head_thumb {
  margin-left: 15px;
  margin-right: 0px;
}
.is_rtl1 #wpost_post .post_comments_icon {
  margin-left: 2px;
  margin-right: 0px;
}
.is_rtl1 #wpost_post .post_like_icon,
.is_rtl1 #wpost_post .post_share_icon,
.is_rtl1 #wpost_post .post_comments_icon {
  padding-right: 0px;
  margin-left: 6px;
}
.is_rtl1 #wpost_post .post_like .no_likes,
.is_rtl1 #wpost_post .post_share.no_shares .post_share_icon {
  padding-right: 0px;
  margin-left: 2px;
}
.is_rtl1 .wall_module #submit_post .checkbox {
  margin-left: 0px;
  margin-right: 10px;
}
.is_rtl1 .page_actions a span.other {
  background-position: left 6px;
  padding-right: 0px;
  padding-left: 12px;
}
.is_rtl1 .group_wiki_hider {
  padding-right: 125px;
  padding-left: 0px;
}
.is_rtl1 .priv_h_arrow_img {
  margin-left: -8px;
}
.is_rtl1 .priv_h_arrow {
  left: auto;
  right: 3px;
}
body.dev.is_rtl1 .priv_h_arrow {
  background-position: -6px 0px;
  margin-right: 4px;
  margin-left: 0px;
}
.is_rtl1 .group_edit_addr_label {
  padding-left: 0px;
  padding-right: 6px;
}
.is_rtl1 #group_edit_about_addr {
  padding-left: 0px;
  padding-right: 10px;
}
.is_rtl1 #groups_list_search {
  padding-left: 40px;
  padding-right: 20px;
  background-position: 590px 6px;
}
.is_rtl1 #groups_loading {
  left: 0px;
  margin-left: 30px;
}
.is_rtl1 #groups_reset_search {
  left: 0px;
  margin-left: 27px;
}
.is_rtl1 .audio_list {
  padding: 10px 10px 10px 0px;
}
.is_rtl1 .audio_wrap .main_panel {
  border-right: none;
  border-left: 1px solid #DAE2E8;
}
.is_rtl1 .audio_add_new {
  padding: 5px 10px 0 0;
}
.is_rtl1 .audio_add_new span {
  background: url(/images/icons/audio_iconset.gif) 8px -15px no-repeat;
}
.is_rtl1 .audio_search .search_progress {
  margin-left: 0px;
  margin-right: -41px;
}
.is_rtl1 .audio_search .search_reset {
  margin-left: 0px;
  margin-right: -23px;
}
.is_rtl1 .audio_search .s_search,
.is_rtl1 #pad_audio_search input.pad_search {
  background: #ffffff url(/images/magglassRTL.png) no-repeat 286px 6px;
}
.is_rtl1 .audio_filter.loading,
.is_rtl1 .audio_filter_selected.loading {
  background-position: 8px center;
}
.is_rtl1 .olist.audio_album {
  padding-right: 0px;
  padding-left: 5px;
}
.is_rtl1 .audio_friends_search_btn {
  background-position: 5px 7px;
}
.is_rtl1 .audio_friends_search_input.text {
  background-position: 4px 6px;
}
.is_rtl1 .audio_filter .label {
  padding: 6px 11px 7px 24px;
}
.is_rtl1 .audio_filter div.icon_wrap_arrow {
  right: auto;
  left: 0px;
}
.is_rtl1 #invite_hint_img {
  background-position: right top;
}
.is_rtl1 .file_button .file_input {
  right: auto;
  left: 0px;
}
.is_rtl1 .photo_file_cancel {
  right: auto;
  left: 0px;
}
.is_rtl1 .group_voting_percent {
  border: solid #D8DFE5;
  border-width: 1px 0px 0px 1px;
}
.is_rtl1 #fw_one_replies_wrap {
  padding: 8px 80px 0px 27px;
}
.is_rtl1 #fw_one_replies_wrap.fwn_replies {
  padding: 8px 20px 0px;
}
.is_rtl1 #fwr_form {
  padding-left: 27px;
  padding-right: 80px;
}
.is_rtl1 .fwr_note #fwr_form {
  padding-left: 20px;
  padding-right: 20px;
}
/* apps */
.is_rtl1 .app_tabs.t_bar {
  padding: 11px 10px 0px 0px;
}
.is_rtl1 .app_tabs ul.t0 li.fl_r {
  float: left;
}
.is_rtl1 td.apps_recent_td {
  padding-right: 15px;
  padding-left: 0px;
}
.is_rtl1 td.apps_feed_td {
  padding-right: 4px;
  padding-left: 0px;
}
.is_rtl1 .apps_recent_row {
  margin: 0px 0px 12px 13px;
}
.is_rtl1 .apps_search_wrap .s_search {
  padding: 5px 20px 6px 40px;
  background-position: 210px 6px;
}
.is_rtl1 .app_info,
.app_search_info {
  padding-left: 0px;
  padding-right: 5px;
}
.is_rtl1 .app_hide {
  padding: 0px 6px 0px 3px;
}
.is_rtl1 .apps_access_item_info {
  padding-left: 0px;
  padding-right: 46px;
}
.is_rtl1 .apps_access_icon {
  margin-right: 0px;
  margin-left: 15px;
}
.is_rtl1 .apps_recent_info {
  padding-right: 50px;
  padding-left: 0px;
  padding-top: 2px;
}
.is_rtl1 .app_ads_image_h {
  padding-left: 0px;
  padding-right: 10px;
}
.is_rtl1 .apps_ads_info {
  padding: 0px 10px 0px 0px;
}
.is_rtl1 #apps_ratings {
  margin: 1px 8px 0px 1px;
}
.is_rtl1 .app_rate.half {
  background-position: 0px -24px;
}
.is_rtl1 .apps_featured_rate .app_rate.half {
  background-position: 0px -198px;
}
.is_rtl1 .app_layer_rating .app_rate.half {
  background-position: -1px -144px;
}
.is_rtl1 #apps_ratings.over .app_rate.half {
  background-position: 0px -72px;
}
.is_rtl1 .app_rate_tt .tail_wrap {
  left: 277px;
}
.is_rtl1 .app_rate_tt .tail {
  background-position: -8px 0;
}
.is_rtl1 .app_rate_percent {
  padding-right: 6px;
  padding-left: 0px;
}
.is_rtl1 #apps_search_wrap a#apps_type_genres {
  padding-right: 13px;
  padding-left: 6px;
}
.is_rtl1 .apps_featured_shadow {
  background: url(/images/app_featured_shadow_rtl.png) 0px 0px no-repeat;
}
.is_rtl1 .apps_request_buttons a {
  margin-left: 8px;
  margin-right: 0px;
}
.is_rtl1 .apps_frtt_row {
  margin: 0px 7px 7px 0px;
}
.is_rtl1 .apps_edit_run_panel {
  border-left: 1px solid #dfe4ed;
  border-right: none;
}
.is_rtl1 .apps_edit_cat {
  padding: 5px 0px 0px 24px;
}
.is_rtl1 .apps_edit_table .apps_edit_i {
  background-position: 474px 12px;
}
.is_rtl1 .apps_edit_table .app_pay_input {
  margin-right: 0px;
  margin-left: 10px;
}
.is_rtl1 .apps_edit_nav_label {
  padding-right: 13px;
  padding-left: 0px;
}
.is_rtl1 .app_pay_image {
  margin-right: 0px;
  margin-left: 10px;
}
.is_rtl1 .app_pay_filter.text {
  background-position: 202px -29px;
}
.is_rtl1 td.apps_edit_label,
.is_rtl1 .apps_edit_table .label {
  padding-right: 0px;
  padding-left: 10px;
}
.is_rtl1 .app_status_msg .icon,
.is_rtl1 .app_info_msg .icon,
.is_rtl1 .app_error_msg .icon {
  margin: 0 4px 0 30px;
}
.is_rtl1 .app_comment .info,
.is_rtl1 .app_comment .status {
  padding-left: 0px;
  padding-right: 15px;
}
.is_rtl1 div.apps_edit_header {
  padding: 20px 175px 6px 0px;
}
.is_rtl1 .apps_edit_side_tt_pointer {
  left: auto;
  right: -5px;
  background-position: -6px 0;
}
.is_rtl1 .apps_edit_request_field {
  padding: 4px 0px 0px 15px;
}
.is_rtl1 .apps_edit_request_user {
  padding: 4px 9px 6px 0px;
}
.is_rtl1 .apps_edit_requests_data input {
  padding-left: 9px;
  padding-right: 0px;
}
.is_rtl1 .apps_edit_requests_data input.accept {
  padding: 5px 9px 7px;
}
.is_rtl1 .apps_edit_cont_row.active > .apps_edit_cont_name_c > input {
  margin: 0 2px 0 0;
}
.is_rtl1 .apps_edit_cont_row.request.active > .apps_edit_cont_name_c > input {
  margin: 0 -2px 0 0;
}
/* audioPlayer */
.is_rtl1 #gp_info {
  padding: 3px 0px 5px 8px;
}
.is_rtl1 .board_tt table.toup .top_pointer {
  margin-right: 84px;
  margin-left: 0px;
}
.is_rtl1 .board_tt table.toup1 .bottom_pointer {
  margin-right: 84px;
  margin-left: 0px;
}
/* profile_edit.css */
.is_rtl1 .pedit_general_label {
  padding-left: 10px;
  padding-right: 0;
}
.is_rtl1 .pedit_bday,
.is_rtl1 .pedit_bmonth {
  padding: 0 0 0 8px;
}
.is_rtl1 .selector_container .result_list,
.is_rtl1 .selector_container .result_list_shadow {
  left: auto;
  right: 0;
}
.is_rtl1 .pedit_controls {
  padding: 15px 205px 0 0;
}
.is_rtl1 #pedit_interests .pedit_controls {
  padding: 15px 170px 0 0;
}
.is_rtl1 .pedit_label {
  padding-left: 10px;
  padding-right: 0;
}
.is_rtl1 .pedit_interests_label {
  padding-left: 10px;
  padding-right: 0;
}
.is_rtl1 .pit_bday,
.pit_bmonth {
  padding-right: 0px;
  padding-left: 5px;
}
.is_rtl1 .login_sure {
  padding-left: 0px;
  padding-right: 90px;
}
.is_rtl1 .top_info_bar .info .aligned_text {
  padding-left: 26px;
  padding-right: 157px;
  text-align: right;
}
.is_rtl1 #profile_editor .header,
.is_rtl1 #add_uni_link,
.is_rtl1 #add_school_link,
.is_rtl1 #add_work_link,
.is_rtl1 #add_military_link {
  margin-right: 240px;
  margin-left: 0px;
}
.is_rtl1 #pedit_education .pedit_controls,
.is_rtl1 #pedit_career .pedit_controls,
.is_rtl1 #pedit_military .pedit_controls {
  padding-right: 240px;
  padding-left: 0px;
}
.is_rtl1 .pedit_job_progress {
  margin-right: 450px;
  margin-left: 0px;
}
/* Settings - settings.css */
.is_rtl1 .settings_section {
  margin: 0 113px 25px 0;
}
.is_rtl1 .settings_label {
  padding: 5px 0 3px 15px;
}
.is_rtl1 .settings_row_button_wrap {
  padding-left: 0;
  padding-right: 140px;
}
.is_rtl1 .settings_bl_name {
  padding: 5px 10px 0 0;
}
.is_rtl1 .settings_bl_label {
  padding-left: 0;
  padding-right: 2px;
}
.is_rtl1 .settings_all_services {
  padding: 4px 140px 0 0;
}
.is_rtl1 .settings_name_moved_wrap {
  margin-right: 140px;
  margin-left: 0;
}
/* Mail - mail.css */
.is_rtl1 #mail_bar #s_search {
  background: #ffffff url(/images/magglass.png) no-repeat 130px 6px;
  padding: 5px 20px 5px 5px;
}
.is_rtl1 .mail_attach_photo,
.is_rtl1 .mail_attach_video,
.is_rtl1 .mail_attach_audio,
.is_rtl1 .mail_attach_mail,
.is_rtl1 .mail_attach_doc,
.is_rtl1 .mail_attach_geo {
  margin: 3px 0 2px 5px;
  float: right;
}
/* Feed - fee.css */
.is_rtl1 #feed_menu {
  left: auto;
  right: 470px;
}
.is_rtl1 .feed_post_field_wrap .post_upload_wrap {
  right: auto;
  left: 5px;
}
.is_rtl1 .feed_post_field_wrap .post_upload_min_wrap {
  right: auto;
  left: 0px;
}
.is_rtl1 .feed_filter_icon {
  margin: 1px 4px 0 0;
}
.is_rtl1 b.feed_gr_icon,
.is_rtl1 b.feed_ev_icon,
.is_rtl1 b.feed_tp_icon,
.is_rtl1 b.feed_nt_icon {
  float: right;
  margin: 2px 0 0 4px;
}
.is_rtl1 .feed_filter_title {
  padding-left: 0;
  padding-right: 7px;
}
.is_rtl1 .feedback_grouped_row {
  padding: 10px 0 0 25px;
}
.is_rtl1 .feedback_row {
  padding: 8px 0 0 30px;
}
.is_rtl1 .feedback_like_wrap {
  margin: -15px 584px 0 0;
}
.is_rtl1 .feedback_del_wrap {
  margin: 1px 585px 0 0;
}
.is_rtl1 #feed_rate_slider_wrap {
  left: 32px;
  right: auto;
}
.is_rtl1 #feed_rate_slider {
  left: 0;
  position: absolute;
}
/* IM - im.css */
.is_rtl1 .im_tab,
.is_rtl1 .im_tab_selected,
.is_rtl1 .im_tab_over {
  float: right;
}
.is_rtl1 div.dialogs_inline_chatter {
  margin: 0 0px 4px 4px;
  float: right;
}
.is_rtl1 .im_fwd_log_body div.wrapped,
.is_rtl1 .im_log_body div.wrapped {
  padding-left: 0px;
  padding-right: 4px;
  margin-left: 0px;
  margin-right: -4px;
}
.is_rtl1 .im_editable {
  padding: 3px 3px 3px 23px;
}
.is_rtl1 #im_smile {
  margin: 1px 333px 0px 0px;
}
.is_rtl1 .emoji_tt_wrap {
  margin: -128px 303px 0px 0px;
}
.is_rtl1 .emoji_pointer {
  left: auto;
  right: 95px;
}
.is_rtl1 .im_emoji_bg {
  margin: -4px -4px 0px 0px;
}
.is_rtl1 .im_tab3 {
  padding-left: 5px;
  padding-right: 2px;
}
.is_rtl1 .dialogs_msg_body .dialogs_inline_author {
  margin: 3px 0 2px 10px;
}
.is_rtl1 #im_media_preview .im_media_x,
.is_rtl1 #im_media_dpreview .im_media_x,
.is_rtl1 #im_media_mpreview .im_media_x {
  margin-left: 0px;
  margin-right: -15px;
}
.is_rtl1 .im_send_cont {
  margin-right: 0px;
  margin-left: 2px;
}
.is_rtl1 .im_rcem_cont {
  padding-left: 0px;
  padding-right: 4px;
}
.is_rtl1 .dialogs_del_wrap {
  right: auto;
  left: 15px;
}
.is_rtl1 .im_fwd_log_wrap,
.is_rtl1 .im_wall_log_wrap {
  border-left: 0px;
  padding-left: 0px;
  border-right: 2px solid #C3D1E0;
  padding-right: 10px;
}
.is_rtl1 .im_attach_photo,
.is_rtl1 .im_attach_video,
.is_rtl1 .im_attach_doc,
.is_rtl1 .im_attach_mail,
.is_rtl1 .im_attach_audio,
.is_rtl1 .im_attach_geo {
  float: right;
  margin: 3px 0 2px 5px;
}
.is_rtl1 .im_fwd_log_author .im_log_author_chat_thumb {
  margin-right: 0;
  margin-left: 11px;
}
.is_rtl1 #im_peer_controls {
  padding: 8px 67px 0 15px;
}
.is_rtl1 td#im_user_holder {
  padding-right: 0px;
  padding-left: 10px;
}
.is_rtl1 .im_status_online {
  margin-left: 17px;
}
.is_rtl1 td#im_peer_holders {
  padding-left: 0;
  padding-right: 10px;
}
.is_rtl1 .im_peer_mini_holder:nth-child(2) {
  margin-right: 0;
  margin-left: 60px;
}
.is_rtl1 .im_photo_holder {
  margin-right: 0;
  margin-left: 8px;
}
.is_rtl1 .im_peer_mini_holder .im_photo_holder {
  margin-right: 0;
  margin-left: 4px;
}
.is_rtl1 #im_status,
.is_rtl1 #im_rcpt {
  padding: 6px 7px 0 0;
}
.is_rtl1 #im_filter {
  padding: 5px 20px 4px 20px;
  background: #ffffff url(/images/magglass.png) no-repeat 328px 6px;
}
.is_rtl1 .im_submit_tail_wrap {
  left: auto;
  right: 233px;
}
.is_rtl1 .im_submit_tail {
  background-position: 0 0;
}
.is_rtl1 #im_submit_hint_opts .radiobtn div {
  margin-right: 0;
  margin-left: 5px;
}
.is_rtl1 .im_switch_notify_pointer {
  left: auto;
  right: 20px;
}
.is_rtl1 #im_filter_reset {
  margin-left: 0;
  margin-right: -23px;
}
.is_rtl1 .media_mail_icon {
  float: right;
  margin-left: 3px;
  margin-right: 0px;
}
.is_rtl1 .im_preview_mail_wrap .media_mail_icon {
  margin-left: 3px;
}
.is_rtl1 .im_friend img {
  padding-right: 0;
  padding-left: 6px;
}
.is_rtl1 #im_friends_all_wrap {
  border-right: 0;
  border-left: 1px solid #DBDEE5;
}
/* Notifier - notifier.css */
.is_rtl1 .fc_tab_close_wrap,
.is_rtl1 .fc_tab_min_wrap,
.is_rtl1 .fc_tab_max_wrap {
  margin: 0 4px 0 0;
}
.is_rtl1 .fc_contact_name {
  padding: 0 8px 0 0;
}
.is_rtl1 div.fc_clist_filter_wrap {
  background: #ffffff url(/images/magglass.png) no-repeat 182px 7px;
  padding: 6px 22px 4px 4px;
}
.is_rtl1 div.fc_clist_filter {
  padding-right: 0;
  padding-left: 15px;
}
.is_rtl1 .fc_clist_online {
  margin: -1px -15px 0 0;
}
.is_rtl1 .fc_msgs_date {
  padding: 0 4px 4px 0;
}
.is_rtl1 .fc_msg {
  padding: 0 3px 3px 0;
}
.is_rtl1 .fc_msg_author_name {
  padding: 0 3px 3px 0;
}
/* Wall upload - page.css */
.is_rtl1 .wall_module a.published_by_photo {
  margin-right: 0;
  margin-left: 8px;
}
.is_rtl1 .wall_module #submit_post .checkbox,
.is_rtl1 .wall_module #submit_post .checkbox_pic {
  margin: 6px 10px 0px 0;
}
.is_rtl1 .wall_module .delete_post {
  left: 0;
  right: auto;
}
.is_rtl1 .post_upload_wrap {
  right: auto;
  left: 10px;
}
/* top search */
.is_rtl1 #ts_wrap {
  left: auto;
  right: 144px;
}
.is_rtl1 #ts_wrap.vk {
  left: 45px;
  right: auto;
}
.is_rtl1 #ts_cont_wrap {
  left: auto;
  right: 147px;
}
.is_rtl1 #ts_cont_wrap.vk {
  right: auto;
  left: 1px;
}
*:first-child + html .is_rtl1 #ts_cont_wrap,
* html .is_rtl1 #ts_cont_wrap {
  left: 0px;
  right: auto;
}
.is_rtl1 .ts_contact_name {
  padding: 0 8px 0 0;
}
.is_rtl1 .chat_onl {
  right: auto;
  padding: 0px 0px 0px 11px;
  background: url(/images/icons/online_friends.gif) left no-repeat;
}
.is_rtl1 #ts_input {
  padding: 4px 23px 3px 40px;
  background: url(/images/search_icon_d.gif) no-repeat 152px -11px;
}
.is_rtl1 .ts.dark #ts_input {
  background: url(/images/search_icon_d.gif) no-repeat 152px 5px;
}
.is_rtl1 #ts_wrap.vk #ts_input {
  background: url(/images/search_icon.gif?1) no-repeat 112px 5px;
}
.is_rtl1 div.ts_input_wrap2 {
  margin-right: 0px;
  margin-left: 62px;
}
.is_rtl1 .ts_settings {
  padding: 12px 18px 15px 19px;
  background-position: 6px 9px;
}
.is_rtl1 .ts_contact_status {
  margin: -2px 4px 0 0;
}
.is_rtl1 .ts_search_link .ts_contact_status {
  margin-top: 0px;
}
.is_rtl1 .ts_contact.active.go .ts_contact_status {
  width: 12px;
}
.is_rtl1 .ts_contact.active.write .ts_contact_status,
.is_rtl1 .ts_search_link .ts_contact_status {
  width: 12px;
  right: auto;
  left: 9px;
}
.is_rtl1 .ts_contact_online .ts_contact_status {
  right: auto;
  left: 10px;
}
.is_rtl1 .ts_contact_mobile .ts_contact_status {
  right: auto;
  left: 9px;
}
.is_rtl1 .login_blocked_activity_info {
  margin-left: 0px;
  margin-right: 40px;
}
.is_rtl1 .request_result_msg {
  text-align: right;
}
.is_rtl1 #search_query_wrap.wide .search_submit {
  margin-left: 0px;
  margin-right: 8px;
}
.is_rtl1 #search_query {
  padding: 5px 20px 5px 40px;
  background-position: 493px 6px;
}
.is_rtl1 #search_query_reset {
  margin: 0 -18px 0 0;
}
.is_rtl1 #search_query_wrap.wide #search_query_progress {
  margin-left: 0;
  margin-right: -41px;
}
.is_rtl1 .search_subtab1 {
  margin: 10px 0 0 5px;
}
.is_rtl1 .search_subtab1.fl_r {
  margin: 10px 5px 0 0;
}
.is_rtl1 .search_video_checkbox {
  margin: 13px 0px 0px 12px;
}
.is_rtl1 .videos_row .info {
  padding: 2px 10px 0 0;
}
.is_rtl1 .video_row_info_play,
.is_rtl1 .search_video_row_info_play {
  margin-left: auto;
  margin-right: 126px;
}
.is_rtl1 .video_row_controls,
.is_rtl1 .video_album_controls,
.is_rtl1 .search_video_row_add,
.is_rtl1 .video_row_add {
  left: 6px;
  right: auto;
}
.is_rtl1 .video_raw_info_name,
.is_rtl1 .search_video_raw_info_name {
  padding-left: 34px;
  padding-right: 0px;
}
.is_rtl1 .video_row_duration,
.is_rtl1 .search_video_row_duration {
  left: 7px;
  right: auto;
}
.is_rtl1 .video_album_count_icon {
  background-position: 5px -90px;
  margin-left: 0px;
  margin-right: -14px;
}
.is_rtl1 .video_is_private {
  margin-left: 0px;
  margin-right: 4px;
}
.is_rtl1 .video_addition_options .checkbox div {
  margin: 0px 0px 0px 8px;
}
.is_rtl1 #mv_wide {
  text-align: right;
}
.is_rtl1 .mv_commtext {
  margin-left: 20px;
}
.is_rtl1 #mv_like_count {
  margin-right: 0px;
  margin-left: 3px;
}
.is_rtl1 #results .groups_row .info,
.is_rtl1 #results .three_col_row .info {
  padding-left: 0px;
  padding-right: 10px;
}
.is_rtl1 .group_row_info {
  padding-left: 0px;
  padding-right: 10px;
}
.is_rtl1 #search_content .audios_row {
  padding: 10px 20px 0 4px;
}
.is_rtl1 #search_content .audios_row .repeat_wrap {
  left: auto;
  right: -3px;
}
.is_rtl1 #search_content .area .audio_add_wrap {
  margin: 4px 0px 4px 4px;
}
.is_rtl1 .search_results td.results,
.is_rtl1 .search_people td.results {
  border-right: none;
  border-left: 1px solid #DAE2E8;
}
.is_rtl1 .filter_shut div.arrow,
.is_rtl1 .filter_open div.arrow {
  padding-left: 0px;
  padding-right: 6px;
}
.is_rtl1 #audio.new .audio .play_new {
  margin: 0px;
}
.is_rtl1 .audio .duration {
  padding: 8px 0px 7px 7px;
}
.is_rtl1 .audio .area .actions {
  padding-left: 5px;
  padding-right: 10px;
  right: auto;
  left: 0px;
}
.is_rtl1 .audio_add_anim {
  left: auto;
  right: 0px;
}
.is_rtl1 .checkbox_container table td.checkbox_label,
.is_rtl1 .radiobtn_container table td.radiobtn_label {
  text-align: right;
}
.is_rtl1 .login_blocked_reason_info {
  margin-left: 0;
  margin-right: 45px;
}
/* Profile profile.css */
.is_rtl1 .profile_msg_split .cut_left {
  float: right;
}
.is_rtl1 .profile_msg_split .cut_right {
  float: right;
}
.is_rtl1 .profile_msg_split .profile_btn_cut_left {
  border-left: 1px solid #7496B9;
  border-right: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.is_rtl1 .profile_msg_split .profile_btn_cut_right {
  border-right: 1px solid #5E82A7;
  border-left: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.is_rtl1 div.olist_select_wrap button {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.is_rtl1 .profile_calls_btn {
  margin-left: 0;
  margin-right: 4px;
}
.is_rtl1 .audio_search div.abutton_wrap button,
.is_rtl1 #pad_audio_search div.abutton_wrap button {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.is_rtl1 .wall_module .post_info {
  margin-left: 0px;
  margin-right: 60px;
}
.is_rtl1 .wall_module .reply_info {
  margin-left: 0px;
  margin-right: 39px;
}
.is_rtl1 .wide_wall_module .reply_info {
  margin-left: 0px;
  margin-right: 61px;
}
.is_rtl1 .wall_module .reply_box_open .reply_box {
  margin-left: 0;
  margin-right: -6px;
}
.is_rtl1 .wall_module .reply_box_open .reply_form {
  margin-left: 0px;
  margin-right: 38px;
}
.is_rtl1 .wide_wall_module .reply_box_open .reply_form {
  margin-left: 0px;
  margin-right: 62px;
}
.is_rtl1 .wall_module .reply_field_tail {
  display: none;
}
.reply_button_wrap {
  padding-right: 0;
  padding-left: 5px;
  zoom: 1;
}
.is_rtl1 #reply_submit_hint_opts .radiobtn div {
  margin: 2px 0 6px 5px;
}
.is_rtl1 div.feed_post_field {
  margin-left: 0;
  margin-right: 42px;
}
.is_rtl1 .post_like {
  right: auto;
  left: 0px;
}
.is_rtl1 .wall_module div.page_media_link_desc_wrap {
  padding-left: 0;
  padding-right: 10px;
}
.is_rtl1 .wall_module .page_media_thumbed_link {
  margin: 5px 3px 5px 0;
  border-left: 0;
  border-right: 2px solid #C3D1E0;
  padding-left: 0;
  padding-right: 5px;
}
.is_rtl1 .wall_module .like_wrap i.no_likes,
.is_rtl1 .wall_module .post_like i.no_likes {
  margin-right: 3px;
  margin-left: 0px;
}
.is_rtl1 div.fc_tab_txt_self {
  margin-left: 0px;
  margin-right: -36px;
}
.is_rtl1 div.fc_tab_txt {
  padding: 3px 39px 3px 3px;
}
.is_rtl1 .wide_wall_module a.page_post_thumb_wrap,
.is_rtl1 .wide_wall_module a.page_post_thumb_unsized {
  margin: 0 0 6px 6px;
}
.is_rtl1 a.page_post_thumb_wrap,
.is_rtl1 a.page_post_thumb_unsized,
.is_rtl1 .feedback_row a.page_post_thumb_wrap,
.is_rtl1 .feedback_row a.page_post_thumb_unsized {
  margin: 0 0 3px 3px;
}
.is_rtl1 .page_post_sized_thumbs a.page_post_thumb_last_column,
.is_rtl1 .feedback_row a.page_post_thumb_last_column {
  margin-left: 0;
}
.is_rtl1 .page_post_sized_thumbs a.page_post_thumb_last_row,
.is_rtl1 .page_post_sized_thumbs span.page_post_thumb_last_row {
  margin-bottom: 0;
}
.is_rtl1 .wall_album_photos {
  margin-left: 0;
  margin-right: 3px;
}
.is_rtl1 .wide_wall_module .wall_album_photos {
  margin-left: 0;
  margin-right: 6px;
}
.is_rtl1 .login_mobile_new {
  margin-left: 0px;
  margin-right: 7px;
}
.is_rtl1 .login_mobile_top_new {
  padding-left: 0px;
  padding-right: 5px;
}
.is_rtl1 #audio.new .audio_list {
  padding: 0 13px 13px 0;
}
.is_rtl1 .audio_list .actions {
  padding-left: 0px;
  padding-right: 10px;
}
.is_rtl1 .audio_friend_name,
.is_rtl1 .audio_friend_name_now,
.is_rtl1 .audio_friend_now {
  padding: 0 8px 0 0;
}
.is_rtl1 .audio_table .audio .title_wrap {
  float: right;
}
.is_rtl1 #pad_audio_search {
  margin-left: -1px;
  margin-right: 0px;
}
.is_rtl1 .audio_search div.abutton_wrap,
.is_rtl1 #pad_audio_search div.abutton_wrap {
  left: 1px;
}
.is_rtl1 .audio_search div.abutton_wrap .button_blue,
.is_rtl1 #pad_audio_search div.abutton_wrap .button_blue {
  -webkit-border-radius: 2px 0 0 2px;
  -khtml-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.is_rtl1 .abutton_wrap .arrow,
.is_rtl1 .dd_menu_stype_act .arrow {
  margin-left: 0px;
  margin-right: 6px;
}
.is_rtl1 #audio.new .actions {
  right: auto;
  left: 0px;
}
.is_rtl1 #audio.new .audio_edit_wrap,
.is_rtl1 #audio.new .audio_remove_wrap,
.is_rtl1 #audio.new .audio_add_wrap {
  margin: 6px 0 6px 6px;
}
.is_rtl1 .audio_filter div.icon_wrap {
  right: auto;
  left: -1px;
}
.is_rtl1 .audio_filter.loading,
.is_rtl1 .audio_filter.selected.loading {
  background-position: 7px center;
}
.is_rtl1 #ac_play,
.is_rtl1 #pd_play {
  margin: 0 2px 0 4px;
}
.is_rtl1 .audio_current .info {
  margin-left: 0px;
  margin-right: 10px;
}
.is_rtl1 #ac_vol,
.is_rtl1 #pd_vol {
  margin-left: 0px;
  margin-right: 11px;
}
.is_rtl1 .ac_slider {
  right: auto;
  left: -4px;
}
.is_rtl1 #ac .info,
.is_rtl1 #pd .info {
  margin-left: 0px;
  margin-right: 10px;
}
.is_rtl1 #ac .duration,
.is_rtl1 #pd .duration {
  margin-left: 66px;
  margin-right: 0px;
}
.is_rtl1 .ttb .top_pointer,
.is_rtl1 .ttb .bottom_pointer {
  float: right;
}
.is_rtl1 #pad_arrow {
  left: auto;
  right: -10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAYAAADpPU2iAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEHSURBVHjaYvgPBGt3Hf/PwMDACsRMQMwMooHCDNgwQACBFCADZgYCACCAWJDYbEAMsokRiH8xMjKCTPyHrgEggECCYLBu7xmQYiEgFgRiDiBmhzqTGdlJAAEE14CkSQKqkRtJE9xPAAGEogFJkxS6JpgGgADC0IBDEytME0AAYdWApEkSiAWAmAumASCAcGpA0iQMswWkASCACNkgh6wBFGIAAYTPDypALItuA0AA4QoldSBWQPcDyAaAAGLAYbIiEEsjhRIHLAIBAogBi5vl0BRzIcc4QAAxIKVWESAWR4ppLmzJAyCAkBPfHyCGJbYfQPwbmtZ+I6c9gABC1oAs8RNX8gYIMAB16z+vM7O/CQAAAABJRU5ErkJggg==);
}
.is_rtl1 #pad_arrow.right {
  width: 12px;
  height: 17px;
  left: -10px;
  right: auto;
  top: 17px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAYAAADpPU2iAAAAr0lEQVR42pWSTQoCMQxGS0NROpuxCv7hoCB4eD2A4NqNp+kNZr5KAyHYMA48uvleMmnqXPvzgOoZ7s/3mHMe3QwhzBF8DXYglrMlcMUFWIIVSI/X5xvWghfhUjmBnQxrQYcPOiyFIP65GdZCGa4H+1ZYC6X62gqzQFIAw18dwAlcrRlIzwDO4GbdEtVF8S0dweVXJ73hqKRBz9R6FpE3DbZgYz2+ILqlSm8JJOgYFiaDlASbG44/fAAAAABJRU5ErkJggg%3D%3D) no-repeat;
}
.is_rtl1 #pad_arrow.left {
  width: 12px;
  height: 17px;
  left: auto;
  right: -10px;
  top: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAYAAADpPU2iAAAArUlEQVR42pWSTQrCQAyFQ4eh4mz8A6uiKAgeXg8guHbjaeYGbQYivkkTxcK3e9880oRyzv31/uyJKAEBqD8QZsxCmDJRcIUVs2Y6kFqRQiUUbo9XkQ7CTqQEbaESQDozJyVNTAGkC3NkNjLbp0ULqmnPLKUlmg3GTCgEVwDprwY9A32bYQt/KbqCEW6rjRvhzgg33qZLcC6LGp+FuqX3GaTRq44Q4UU7bAjNL2EAU9kEmwVnt3EAAAAASUVORK5CYII%3D) no-repeat;
}
.is_rtl1 #pad_side_filters_wrap {
  left: 0px;
}
.is_rtl1 #pad_playlist_panel {
  border-right: none;
  border-left: 1px solid #DAE2E8;
  padding: 14px 13px 13px 0px;
}
body.pads.is_rtl1 #side_bar a.left_row {
  padding: 0px 6px 0px 0px;
}
.is_rtl1 .pad_fr_info {
  margin-left: 0px;
  margin-right: 85px;
}
.is_rtl1 .pad_gr_info {
  margin-left: 0px;
  margin-right: 110px;
}
.is_rtl1 .pad_ph_tagger,
.is_rtl1 .pad_vid_tagger {
  margin-left: 8px;
  margin-right: 0;
}
.is_rtl1 .pad_msg_data {
  margin-right: 60px;
  margin-left: 0;
}
.is_rtl1 .pad_msga_data,
.is_rtl1 .pad_nwsa_data {
  margin-left: 0;
  margin-right: 49px;
}
.is_rtl1 .pad_msga_arrow,
.is_rtl1 .pad_nwsa_arrow {
  left: auto;
  right: 20px;
}
.is_rtl1 div.im_chatbox_mem_photo {
  padding-right: 0px;
  padding-left: 15px;
}
.is_rtl1 .sel_lang {
  padding-right: 30px;
  padding-left: 0px;
}
.is_rtl1 .lang_box_row_label {
  padding-right: 50px;
  padding-left: 0px;
  background-position: right center;
}
.is_rtl1 .pad_ap_right {
  margin: 0px 10px 10px 0px;
}
.is_rtl1 .pad_decl {
  margin-left: 0px;
  margin-right: 10px;
}
.is_rtl1 .pad_ph_info,
.is_rtl1 .pad_vid_info {
  margin-left: 0px;
  margin-right: 60px;
}
.is_rtl1 #reg_bar_content {
  padding: 10px 120px 10px 0px;
}
.is_rtl1 #reg_bar_btn {
  padding-right: 14px;
  padding-left: 2px;
}
.is_rtl1 #reg_bar_with_arr {
  padding-right: 0px;
  padding-left: 25px;
}
.is_rtl1 #mail_box_topic {
  margin-left: 0px;
  margin-right: 26px;
}
.is_rtl1 #mail_box_ava .wdd_img_half .wdd_img {
  margin-left: 0px;
  margin-right: -8px;
}
.is_rtl1 #dark_box_ava {
  margin-left: 0px;
  margin-right: -26px;
}
.is_rtl1 #dark_box_ava .wdd_img_half .wdd_img {
  margin-left: 0px;
  margin-right: -8px;
}
.is_rtl1 .im_photo_holder {
  margin-left: 8px;
  margin-right: 0px;
}
.is_rtl1 #owner_photo_bubble_in {
  padding-left: 0px;
  padding-right: 20px;
  background-position: right -1px;
}
.is_rtl1 #owner_photo_rotate_c {
  right: auto;
  left: 0px;
}
.is_rtl1 .pv_filter_icon,
.is_rtl1 .pv_filter_blur .pv_filter_icon {
  margin-left: 0px;
  margin-right: 8px;
}
.is_rtl1 .pv_crop_cancel {
  margin: 11px 56px 0px 0px;
}
.is_rtl1 #docs_choose_upload_area_label {
  padding-left: 0px;
  padding-right: 27px;
  background-position: right 0px;
}
.is_rtl1 .docs_add_new span {
  background-position: 7px -280px;
}
.is_rtl1 .docs_item_icon {
  padding: 3px 17px 0px 0px;
  background-position: 32px 7px;
}
.is_rtl1 .tdd_search .tdd_control {
  padding-right: 18px;
}
.is_rtl1 #docs_search_bar .tdd_control {
  padding-left: 35px;
  padding-right: 18px;
  background-position: 423px 7px;
}
.is_rtl1 .docs_side_panel {
  border-left: none;
  border-right: 1px solid #dae1e8;
}
.is_rtl1 .docs_search_bar .docs_loading_bar {
  margin: 8px 401px 0px 0px;
}
.is_rtl1 .docs_reset {
  margin: 1px 418px 0px 0px;
}
.is_rtl1 .tdd_x {
  margin: 0px 5px 0px 1px;
}
.is_rtl1 .olist_actions .olist_filter {
  border-left-width: 1px;
  border-right-width: 0px;
}
.is_rtl1 input.olist_filter {
  padding: 5px 20px 4px 4px;
  background-position: 150px 6px;
}
.is_rtl1 div.olist_select_wrap .button_blue {
  -webkit-border-radius: 0 2px 2px 0;
  -khtml-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.is_rtl1 .join_finish_tt_pointer {
  left: auto;
  right: -7px;
  background-position: -8px 0px;
}
.is_rtl1 .page_media_poll .page_poll_row_percent {
  padding: 2px 6px 0 0;
}
.is_rtl1 .wk_poll_stats_wrap .wk_poll_row_percent {
  padding-left: 0px;
  padding-right: 4px;
}
.is_rtl1 .wk_poll_usr {
  margin-left: 6px;
  margin-right: 0px;
}
.is_rtl1 .like_tt table.toup1 .bottom_pointer,
.is_rtl1 .mention_tt table.toup1 .bottom_pointer,
.is_rtl1 .poll_tt table.toup1 .bottom_pointer {
  margin-right: 64px;
  margin-left: 0px;
}
.is_rtl1 .like_tt table.toup .top_pointer,
.is_rtl1 .mention_tt table.toup .top_pointer,
.is_rtl1 .poll_tt table.toup .top_pointer {
  margin-right: 64px;
  margin-left: 0px;
}
.is_rtl1 .like_tt.apps_tt table.toup1 .bottom_pointer,
.is_rtl1 .like_tt.apps_tt table.toup .top_pointer {
  margin-right: 68px;
  margin-left: 0px;
}
.is_rtl1 .like_share_widget_icon {
  margin-left: 0px;
  margin-right: 7px;
}
.is_rtl1 .like_share_widget_tt .tail_wrap {
  left: auto;
  right: 17px;
}
.is_rtl1 .apps_cat_row .app_delete_row {
  left: 0px;
  right: auto;
}
.is_rtl1 .medadd_h,
.is_rtl1 .medadd_c {
  padding-left: 0px;
  padding-right: 20px;
}
.is_rtl1 .medadd_aud {
  padding-right: 0px;
  padding-left: 10px;
}
.is_rtl1 .medadd_aud_play {
  margin-right: 0px;
  margin-left: 8px;
}
.is_rtl1 .wall_module #wall_postponed_link .wall_postponed_link_arrow {
  background-position: 0px -34px;
}
.is_rtl1 .wall_module #wall_postponed_msg_hide .wall_postponed_link_arrow {
  background-position: 0px -22px;
}
.is_rtl1 .post_media_link_preview_wrap .button_blue {
  margin: -4px 10px 0 0;
}
.is_rtl1 .medadd_h_note {
  background-position: right -132px;
}
.is_rtl1 .medadd_h_doc {
  background-position: right -278px;
}
.is_rtl1 .medadd_h_poll {
  background-position: right -206px;
}
.is_rtl1 .medadd_h_link,
.is_rtl1 .medadd_h_page {
  background-position: right -235px;
}
.is_rtl1 .medadd_h_timer {
  background-position: right -332px;
}
.is_rtl1 .medadd_h_mail {
  background-position: right -292px;
}
.is_rtl1 .datepicker_control {
  background-position: left center;
}
.is_rtl1 .medadd_c_timersett .checkbox_status_export,
.is_rtl1 .medadd_c_timersett .checkbox_facebook_export,
.is_rtl1 .medadd_c_timersett .checkbox {
  margin-left: 10px;
  margin-right: 0px;
}
.is_rtl1 .docs_choose_def_icon {
  background-position: 31px 7px;
  padding: 3px 17px 0px 0px;
}
.is_rtl1 #layer_stl_text {
  margin: 0 15px 0 31px;
  background-position: right 3px;
}
.is_rtl1 #layer_stl_text.down {
  background-position: right -9px;
}
.is_rtl1 .page_media_poll_desc {
  padding-left: 0px;
  padding-right: 5px;
}
.is_rtl1 .page_album_title {
  margin-left: 0px;
  margin-right: 6px;
}
.is_rtl1 #quick_login {
  padding: 3px 9px 0px 0px;
}
.is_rtl1 #pv_reply_as_group {
  margin-left: 0px;
  margin-right: 10px;
}
.is_rtl1 .im_to_end {
  background-position: left 0px;
}
.is_rtl1 .im_important_toggler {
  margin-left: 0px;
  margin-right: -22px;
}
.is_rtl1 .im_upload_wrap,
.is_rtl1 .emoji_smile {
  left: 0px;
  right: auto;
}
.is_rtl1 .emoji_smile_icon_promo {
  left: 2px;
  right: auto;
}
.is_rtl1 .emoji_shop_icon_promo {
  left: -2px;
  right: auto;
}
.is_rtl1 .emoji_shop_icon_badge {
  left: -6px;
  right: auto;
}
.is_rtl1 #page_header.p_head1 .right {
  width: 48px;
  background: #4e729a url(/images/hatf_vk_rtl.gif?1) 100% -1px;
}
.is_rtl1 #ts_input {
  padding: 4px 20px 3px 41px;
  background-position: 149px -11px;
}
.is_rtl1 .index_fb_logo {
  border-right: 0;
  border-left: 1px solid #5B78A4;
}
.is_rtl1 .index_fb_l {
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 27px;
  margin-left: 0;
  text-align: right;
  border-left: 0;
  border-right: 1px solid #6985B4;
}
.is_rtl1 .index_fb_btn button:hover .index_fb_logo {
  border-right: 0;
  border-left: 1px solid #5B78A4;
}
.is_rtl1 .index_fb_btn button:active .index_fb_logo {
  border-right: 0;
  border-left: 1px solid #5B78A4;
}
.is_rtl1 .index_fb_btn button:active .index_fb_l {
  border-left: 0;
  border-right: 1px solid #6985B4;
  margin-left: 0;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 12px;
}
.is_rtl1 .index_or {
  margin-left: 0;
  margin-right: 185px;
}
.is_rtl1 #box_layer_wrap.box_layer_hidden,
.is_rtl1 .box_layer_hidden {
  left: auto;
  right: -10000px;
}
.is_rtl1 .wall_module .post_actions,
.is_rtl1 .wall_module .reply_actions,
.is_rtl1 .post_full_like {
  right: auto;
  left: 0;
}
.is_rtl1 .pvs_fs {
  left: 50px;
  right: auto;
}
.is_rtl1 #pv_fs_bottomleft {
  right: 10px;
  left: auto;
}
.is_rtl1 #pv_fs_slide_check {
  background-position: 130px 0px;
  width: 130px;
  text-align: left;
  padding: 15px 36px 15px 15px;
}
.is_rtl1 .pv_fs_slide_on #pv_fs_slide_check {
  background-position: 130px -47px;
}
.is_rtl1 #pv_fs_topright {
  left: 10px;
  right: auto;
}
.is_rtl1 #pv_fs_slide_speed_ctrl {
  left: 0px;
  right: auto;
}
.is_rtl1 #pv_fs_slide_speed:hover #pv_fs_slide_speed_ctrl,
.is_rtl1 .pv_fs_slide_edit #pv_fs_slide_speed_ctrl {
  left: -5px;
  right: auto;
}
.is_rtl1 .dev_mlist_item {
  padding: 4px 10px 5px 24px;
}
.is_rtl1 input.dev_top_input {
  padding: 7px 27px 7px 7px;
  background-position: 150px 8px;
}
.is_rtl1 .dev_home_link {
  padding-left: 15px;
  padding-right: 51px;
  width: 73px;
  background-position: 97px 15px;
}
.is_rtl1 .dev_nav a.nav.nav_selected,
.is_rtl1 .dev_nav a.nav.nav_selected:hover {
  border-left: 0px;
  border-right: 2px solid #6486aa;
  padding-left: 23px;
  padding-right: 21px;
}
.is_rtl1 .dev_nav.anim a.nav.nav_selected,
.is_rtl1 .dev_nav.anim a.nav.nav_selected:hover {
  padding-right: 23px;
  border-right: 0px;
}
.is_rtl1 .dev_nav a.nav.submenu {
  padding-left: 23px;
  padding-right: 36px;
}
.is_rtl1 .dev_nav a.nav.submenu.nav_selected,
.is_rtl1 .dev_nav a.nav.submenu.nav_selected:hover {
  padding-left: 23px;
  padding-right: 34px;
}
.is_rtl1 .dev_nav.anim a.nav.submenu.nav_selected,
.is_rtl1 .dev_nav.anim a.nav.submenu.nav_selected:hover {
  padding-right: 36px;
}
.is_rtl1 .dev_const_params {
  border-right: none;
  border-left: 1px solid #e9eef3;
}
.is_rtl1 #dev_left_nav_mark {
  left: auto;
  right: 0px;
}
.is_rtl1 #dev_method_narrow {
  margin-left: 0px;
  margin-right: 11px;
}
.is_rtl1 .dev_page_acts {
  margin-left: auto;
  margin-right: 709px;
}
.is_rtl1.no_wrap_cont .dev_page_acts {
  margin-left: auto;
  margin-right: 739px;
}
.is_rtl1 .dev_side_tt_arr {
  left: -4px;
  right: auto;
  background: url('/images/blacktip.gif') -1px 0px no-repeat;
}
.is_rtl1 .dev_footer_copy {
  padding-left: 20px;
  padding-right: 10px;
}
.is_rtl1 .dev_footer_lang {
  padding-right: 20px;
  padding-left: 9px;
}
.is_rtl1 .dev_parts_list {
  border-left: 1px solid #eef3fa;
  border-right: none;
}
.is_rtl1 .dev_info_msg {
  padding-left: 0px;
  padding-right: 60px;
  background-position: right 6px;
}
body.dev.is_rtl1 .paginated_table td.paginated_table_cell.first_column {
  padding-left: 8px;
  padding-right: 18px;
}
body.dev.is_rtl1 .paginated_table td.paginated_table_cell.last_column {
  padding-right: 8px;
  padding-left: 18px;
}
.is_rtl1 #tickets_title {
  padding: 7px 7px 8px 50px;
}
body.dev.is_rtl1 #tickets_title {
  padding: 5px 7px 7px 50px;
}
body.dev.is_rtl1 .tu_thumb {
  margin-right: 8px;
  margin-left: 13px;
}
.is_rtl1 .tu_info {
  padding: 7px 6px 0px 15px;
}
body.dev.is_rtl1 .tu_info {
  padding: 7px 0px 0px 15px;
}
.is_rtl1 .tickets_side_tt.title .tail_wrap,
.is_rtl1 .tickets_side_tt.text .tail_wrap {
  left: -5px;
  right: auto;
}
.is_rtl1 .tickets_side_tt .tail,
body.dev.is_rtl1 .tickets_side_tt .tail {
  background-position: 0px 0px;
}
body.dev.is_rtl1 .app_edit_block_header .app_edit_dev_header {
  margin-left: 30px;
  margin-right: 0px;
}
.is_rtl1 .tickets_dmca_buttons .button_gray {
  margin-left: 0px;
  margin-right: 10px;
}
.is_rtl1 .bugs_author_name {
  padding-right: 8px;
  padding-left: 0px;
  margin-left: -5px;
  margin-right: 0px;
}
.is_rtl1 input.dev_wide_input {
  background-position: 681px 17px !important;
}
.is_rtl1 .app_search.manage .search_reset,
.is_rtl1 .bugs_search_reset {
  margin-right: -47px;
  margin-left: 0px;
}
.is_rtl1 #apps_edit_reset_search {
  margin-left: 40px;
  left: 0px;
}
.is_rtl1 .bugs_search_progress,
.is_rtl1 .app_search.manage .search_progress {
  margin-left: 0px;
  margin-right: -60px;
}
.is_rtl1 #app_edit_cont #apps_addr_result {
  margin: 5px 288px 0px 0px;
}
.is_rtl1 #settings_addr_table,
.is_rtl1 #validation_phone_table {
  direction: ltr;
}
.is_rtl1 #validation_phone_table #validation_phone {
  direction: ltr;
  text-align: left;
}
.is_rtl1 #validation_other_phone {
  margin-left: 0px;
  margin-right: 145px;
}
.is_rtl1 #validation_phone_prefix {
  padding: 5px 0px 4px 5px;
  direction: rtl;
}
.is_rtl1 .im_stickers_act_gift,
.is_rtl1 .im_stickers_act_done.im_stickers_act_gift:active,
.is_rtl1.is_2x .im_stickers_act_done.im_stickers_act_gift:active {
  margin-left: 7px;
  margin-right: 0;
}
.is_rtl1 .im_sticker_bl_act {
  padding-right: 4px;
  padding-left: 0;
}
.is_rtl1 .im_stickers_act_done .emoji_sprite {
  margin-right: 5px;
  margin-left: 0;
}
.is_rtl1 .im_stickers_act_gift .emoji_sprite {
  margin-right: 0;
}
.is_rtl1 .im_stickerpack_img_wrap {
  margin-left: 10px;
  margin-right: 0;
}
.is_rtl1 .im_stickerpack_info .im_stickers_act_gift,
.is_rtl1 .im_stickerpack_info .im_stickers_act_done.im_stickers_act_gift:active {
  margin-right: 10px;
  margin-left: 0;
  padding-left: 12px!important;
  padding-right: 14px!important;
}
.is_rtl1 .im_stickerpack_info .im_stickers_act_gift .emoji_sprite {
  margin-right: 9px;
  margin-left: 0;
}
.is_rtl1 .im_sticker_bl_promo {
  margin-right: 4px;
  margin-left: 0;
}
.is_rtl1 .im_stickers_close {
  left: 0;
  right: auto;
}
