#tags_dd_css {
  display: none;
}

.tdd_control {
  padding: 0px;
  font-size: 1em;
  border: 1px solid #C5C8CF;
  background: #FFFFFF;
}

.tdd_control .input_back_content {
  padding: 2px 2px 2px 2px;
  line-height: 1.18em;
}

.tdd_search .tdd_control {
  background: white url('/images/magglass.png') no-repeat 5px 7px;
  padding-left: 18px;
}

.tdd_input {
  outline: none;
  border: none;
  font-family: "Tahoma";
  font-size: 1em;
  padding: 3px 5px;
  margin: 2px 0px;
  line-height: 1.18em;
  background: transparent;
  font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}
.tdd_input::-ms-clear {
  display: none;
}

.tdd_tag {
  background: #DAE2E8;
  white-space: nowrap;
  padding: 3px 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 2px;
  height: 14px;
  color: #000000;
}

.tdd_x {
  margin: 0px 1px 0px 5px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 11px;
  height: 11px;
}

.tdd_x_c {
  background: url('/images/pics/im_tabx.gif?1') 0 0;
  width: 11px;
  height: 11px;
  margin-top: 1px;
}

.tdd_input_cont {
  margin-left: 1px;
}

.tdd_suggest {
  clear: both;
  border: 1px solid #C5C8CF;
  border-top: none;
  display: none;
  position: absolute;
  background: #FFFFFF;
  z-index: 100;
}

.tdd_suggest_items {
  max-height: 200px;
  *height: expression(document.body.clientHeight < 200 ? "200px": "auto");
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  padding-top: 1px;
}

.tdd_item {
  padding: 4px 7px;
  display: block;
  color: #000000;
}
.tdd_item:hover {
  text-decoration: none;
}

.tdd_active {
  background: #587DA1;
  color: white;
  border: 1px solid #2A5883;
  z-index: 1;
  margin-top: -1px;
  padding: 4px 6px;
}

/* scrollbars */
.tdd_scrollbar_cont {
  width: 7px;
  height: 100%;
  margin-top: 3px;
  position: absolute;
}
.tdd_scrollbar_inner {
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  width: 6px;
  height: 26px;
  margin-left: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.tdd_scrollbar_inner:hover,
.tdd_scrollbar_hovered {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.tdd_scrollbar_top {
  position: absolute;
  height: 3px;
  margin-top: -1px;
  background: #555555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  display: none;
}
.tdd_scrollbar_bottom {
  position: absolute;
  height: 3px;
  margin-top: -2px;
  background: #555555;
  opacity: 0.12;
  filter: alpha(opacity=12);
}
#docs_file_type .radiobtn {
  margin: 8px 0px;
}
.tdd_bottom1, .tdd_bottom2 {
  background: #000;
  height: 1px;
  overflow: hidden;
  position: absolute;
  margin-top: 1px;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.tdd_bottom2 {
  margin-top: 2px;
  opacity: 0.05;
  filter: alpha(opacity=5);
}
