#tasks_css {
  display: none;
}
#tasks_content .b {
  font-weight: bold;
}
/* Tasks tabs */
.task_tabs {
  border-bottom: 1px solid #DAE1E8;
  height: 24px;
  list-style-type: none;
  margin: 0pt;
  padding: 0px 7px;
  vertical-align: bottom;
}
.task_tab_active {
  background-color: #FFFFFF;
  border-color: #C3CAD2;
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  float: left;
  height: 24px;
  margin: 0px 3px -1px;
  text-align: center;
  position: relative;
}
.task_tab_active a {
  float: left;
  height: 21px;
  line-height: 1.9em;
  padding: 0 10px;
  text-decoration: none;
}
.task_tab {
  background-color: #F5F7FA;
  border-color: #C3CAD2;
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  float: left;
  height: 23px;
  margin: 0px 3px;
  text-align: center;
}
.task_tab a {
  border-bottom: 2px solid #EEF0F3;
  float: left;
  text-decoration: none;
  padding: 0 10px;
  height: 21px;
  line-height: 1.9em;
}
.task_tab a:hover {
  background-color: #FFFFFF;
  text-decoration: none;
}
.task_tab_active,
.task_tab,
.task_tab a:hover {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/* Tasks blocks */
#tasks_wrap {
  background-color: #F7F7F7;
}
#tasks_tabs {
  background-color: #F7F7F7;
  padding-top: 12px;
}
#tasks_right {
  float: right;
  width: 166px;
  vertical-align: top;
  padding-top: 22px;
  background-color: #F7F7F7;
}
#tasks_left {
  float: left;
  width: 655px;
}
#tasks_content {
  background-color: #FFF;
  padding: 0px 10px 10px;
  border-right: 1px solid #DAE1E8;
  min-height: 500px;
}
#tasks_loading {
  display: none;
  float: right;
  padding: 0px 8px;
}
#tasks_loading_wrap {
  height: 13px;
}
#tasks_filters {
  padding: 0px 10px 10px;
}
#tasks_content #summary {
  border-bottom: 1px solid #E7EAED;
  color: #47688D;
  padding: 29px 0 4px;
}
.tasks_summary {
  font-weight: bold;
}
.tasks_summary_extra {
  margin: -3px 0 -4px;
}
.tasks_pages_loading {
  padding: 6px 5px 5px;
}
#pages_loading_top,
#pages_loading_bottom {
  display: none;
}
input.search {
  height: 13px;
  padding-top: 4px;
  padding-left: 19px;
  width: 122px;
  background: #ffffff url(/images/magglass.png) no-repeat 4px 4px;
}
.tasks_filter_sep {
  border-bottom: 1px solid #DAE2E8;
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
}
.tasks_not_found {
  color: #777777;
  font-size: 1.09em;
  line-height: 200%;
  padding: 100px 0;
  text-align: center;
}
.tasks_comment {
  padding: 10px 0;
  border-bottom: 1px solid #E7EAED;
}
.tasks_action {
  padding-bottom: 6px;
}
.tasks_action.first {
  padding-top: 10px;
}
.tasks_action.last {
  border-bottom: 1px solid #E7EAED;
  padding-bottom: 10px;
}
.tasks_done {
  padding-left: 60px;
}
.tasks_view_done {
  padding-left: 42px;
}
.answered .tasks_comment {
  border-bottom: none;
}
.tasks_comment_added {
  padding: 0px 0 10px 60px;
  border-bottom: 1px solid #E7EAED;
}
.tasks_reply {
  padding-top: 10px;
  border-top: 1px solid #E7EAED;
}
.answered .tasks_comment {
  padding-bottom: 2px;
}
.answered .tasks_reply .tasks_comm_cont {
  width: 418px;
}
#tasks_content #feed .answered .tasks_reply .tasks_comm_cont {
  width: 399px;
}
.tasks_image_div {
  width: 60px;
  height: 50px;
}
.tasks_image_div img {
  height: 50px;
}
.tasks_icon_div {
  width: 60px;
  padding-top: 4px;
}
.tasks_icon_div div {
  background: url("/images/tasks_icons.gif") no-repeat scroll 36px 0 transparent;
  height: 14px;
}
.tasks_comm_title .mem_link {
  font-weight: bold;
}
.tasks_comm_cont {
  width: 478px;
}
#tasks_content #feed .tasks_comm_cont {
  width: 459px;
}
#tasks_content #feed .warning .tasks_comm_cont {
  width: 574px;
}
.tasks_comm_text {
  padding: 3px 0px 5px;
  line-height: 140%;
  word-wrap: break-word;
}
.tasks_comm_actions {
  font-size: 0.9em;
}
.tasks_date_link {
  width: 95px;
  color: #999;
  font-size: 0.9em;
  text-align: right;
  padding-top: 0px;
}
.tasks_unsubscribe {
  width: 14px;
  padding: 0px 0px 0px 5px;
}
.tasks_action .tasks_unsubscribe {
  padding-top: 3px;
}
.tasks_action .tasks_date_link {
  padding-top: 3px;
}
.tasks_unsubscribe div {
  background: url("/images/hide_left.gif") no-repeat scroll 0px -1px #ffffff;
  cursor: pointer;
  height: 14px;
  width: 14px;
  visibility: hidden;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.over .tasks_unsubscribe div {
  visibility: visible;
}
.tasks_reply_box {
  padding: 6px 7px;
  background: #F7F7F7;
  border-bottom: 1px solid #E1E7ED;
}
.tasks_reply_msg {
  width: 611px;
  height: 14px;
  margin: 0;
}
.tasks_reply_to_title {
  padding: 12px 10px 0px;
  color: #2B587A;
}
.tasks_feed_filter {
  cursor: pointer;
  margin-bottom: 2px;
  padding: 5px 0;
  clear: left;
}
.tasks_feed_filter.over {
  background-color: #DAE1E8;
}
.filter_check {
  width: 13px;
  height: 12px;
  background: url(/images/icons/check_balanced.gif) no-repeat 0 0;
  visibility: hidden;
}
.checked .filter_check {
  visibility: visible;
}
.filter_title {
  padding-left: 7px;
  width: 121px;
  *width: 118px;
  color: #2B587A;
}
a.tasks_more {
  display: block;
  padding: 10px 0px;
  text-align: center;
}
a.tasks_more:hover {
  text-decoration: none;
  background-color: #DAE1E8;
}
.tasks_preview_img {
  max-width: 1024px;
}
#tasks_content #settings_sections {
  padding: 34px 0 0;
}
.tasks_sections_title {
  width: 150px;
  text-align: right;
  padding: 4px 10px 0;
  color: #777777;
}
.tasks_row {
  padding: 8px 0;
  border-bottom: 1px solid #E7EAED;
}
.tasks_middle {
  /*#position: absolute;*/
  /*#top: 50%;*/
  display: table-cell;
  vertical-align: middle;
}
.tasks_inner {
  /*#top: -50%*/
  /*#position: relative;*/
}
.tasks_row_title,
.tasks_row_comments,
.tasks_row_tags,
.tasks_row_priority,
.tasks_row_developer,
.tasks_row_subscribe,
.tasks_row_date {
  display: table;
  height: 32px;
  /*#position: relative;*/
}
.tasks_row_title {
  width: 255px;
  padding: 0 5px;
}
.tasks_row_comments {
  width: 95px;
}
.tasks_row_tags {
  width: 102px;
  color: #777;
}
.tasks_row_tags a {
  color: #777;
}
.tasks_row_priority {
  width: 40px;
  text-align: center;
}
.tasks_row_developer {
  width: 37px;
  height: 32px;
}
.tasks_row_developer .tasks_inner {
  height: 32px;
}
.tasks_row_developer img {
  width: 32px;
}
.tasks_row_deadline {
  font-weight: bold;
  text-align: center;
}
.tasks_row_deadline.late,
#task_time_left .late {
  color: #AA3333;
}
.tasks_row_deadline.early,
#task_time_left .early {
  color: #37702A;
}
.tasks_row_date {
  width: 93px;
  text-align: center;
  color: #777;
}
.tasks_row_subscribe {
  width: 80px;
  text-align: right;
  padding-right: 5px;
}
.tasks_row.status1,
.tasks_row.status2 {
  background-color: #F7F7F7;
}
.tasks_row.status5 {
  background-color: #F4F7FF;
}
.tasks_filter {
  margin-bottom: 6px;
}
.tasks_section_filter {
  border: 1px solid #F7F7F7;
  padding: 4px 5px 4px 10px;
  overflow: hidden;
  cursor: pointer;
  color: #2B587A;
}
.tasks_section_filter.over {
  background-color: #E1E7ED;
  border: 1px solid #E1E7ED;
}
.tasks_section_filter.selected {
  background-color: #5e82a8;
  border: 1px solid #517295;
}
.tasks_section_filter.selected {
  color: #FFFFFF;
}
#tasks_section_filters {
  margin: 10px 0;
}
#tasks_section_filters a {
  text-decoration: none;
}
#task_summary {
  border-bottom: 1px solid #E7EAED;
  padding: 20px 0 10px;
}
#tasks_title {
  color: #47688D;
  font-size: 1.18em;
  font-weight: bold;
  padding-left: 5px;
  width: 490px;
}
.tasks_sys_img {
  background: url("/images/tasks_icons.gif") no-repeat scroll 0 0 transparent;
  height: 13px;
  margin: 1px 7px 0 0;
  width: 14px;
  float: left;
}
.tasks_view_priority {
  color: #777;
  padding-left: 10px;
  font-size: 1em;
  font-weight: normal;
}
#tasks_deadline {
  width: 130px;
  font-size: 1.09em;
}
#task_actions {
  width: 140px;
  padding: 10px 0;
}
#task_info {
  width: 480px;
  padding: 10px 5px 10px 0;
}
#task_browser,
#task_date,
#task_link {
  padding-top: 10px;
}
#task_browser .label,
#task_date,
#task_header {
  color: #777777;
}
#task_description {
  padding-top: 20px;
  line-height: 140%;
  word-wrap: break-word;
}
#task_link a {
  background-image: url("/images/wikiextarr.gif");
  background-position: right 4px;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.task_action {
  padding: 5px 10px;
  overflow: hidden;
  cursor: pointer;
  color: #2B587A;
}
.task_action.over {
  background-color: #E1E7ED;
}
.task_action_sep {
  border-bottom: 1px solid #E1E7ED;
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
}
#task_content {
  padding: 0 0 10px 5px;
}
.tasks_access_title {
  padding: 2px 0 5px 10px;
  color: #777777;
}
.tasks_access_row {
  padding: 2px 5px 2px 10px;
}
.tasks_access_all {
  padding: 2px 5px 2px 5px;
}
#task_images_wrap {
  padding: 5px 0px 5px;
  border-top: 1px solid #E1E7ED;
}
.tasks_image_row {
  margin: 5px 10px 5px 0px;
  height: 75px;
  min-width: 32px;
  overflow: hidden;
  border: 1px solid #DAE1E8;
  cursor: pointer;
}
.tasks_image_row img {
  max-width: 130px;
}
.tasks_image_bg_id {
  position: absolute;
  font-size: 0.9em;
  margin: 2px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 2px 3px;
}
.tasks_image_id {
  position: absolute;
  font-size: 0.9em;
  margin: 2px;
  color: #2B587A;
  border: 1px solid transparent;
  padding: 2px 3px;
}
.tasks_remove_image {
  position: relative;
  display: none;
}
.tasks_remove_img_bg {
  position: absolute;
  left: -19px;
  width: 13px;
  height: 13px;
  font-size: 0.9em;
  margin: 2px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
.tasks_remove_img {
  position: absolute;
  left: -19px;
  width: 13px;
  height: 13px;
  font-size: 0.9em;
  margin: 2px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  background: url('/images/tasks_icons.gif') no-repeat scroll -1px -68px;
}
#screenshot_error {
  margin-bottom: 15px;
  display: none;
}
.tasks_box_msg {
  margin-bottom: 15px;
}
.tasks_move_label {
  padding: 4px 10px 0 0;
}
.tasks_view_image {
  width: 42px;
  height: 32px;
}
.tasks_view_image img {
  width: 32px;
}
.tasks_view_icon {
  width: 42px;
  padding-top: 4px;
}
.tasks_view_icon div {
  background: url("/images/tasks_icons.gif") no-repeat scroll 18px 0 transparent;
  height: 14px;
}
.tasks_view_comment,
.tasks_view_action {
  padding: 9px 0;
  border-bottom: 1px solid #E7EAED;
}
.tasks_comments_row {
  display: none;
  border-bottom: 1px solid #E7EAED;
}
.tasks_preview_comment {
  padding: 6px 0;
  border-bottom: 1px solid #E7EAED;
}
.tasks_view_action {
  color: #555555;
}
.tasks_view_comment .date {
  color: #777777;
  font-size: 0.9em;
}
.tasks_preview_comment .date {
  color: #777777;
  font-size: 0.9em;
  padding-top: 5px;
}
.tasks_preview_comment .tasks_comm_title {
  padding-right: 4px;
}
.tasks_view_comm_cont {
  width: 435px;
}
.tasks_preview_comm_cont {
  margin-top: -2px;
  width: 591px;
}
#tasks_content #comments_summary,
#tasks_content #support_summary {
  border-bottom: 1px solid #E7EAED;
  color: #47688D;
  padding: 13px 0 4px;
}
#task_add_comment {
  padding-top: 5px;
}
#task_add_comment textarea {
  width: 472px;
  height: 70px;
}
.task_reply_to {
  padding: 12px 10px 0px;
  color: #2B587A;
}
.tasks_edit_comment {
  width: 435px;
  margin: -1px 0 0 -2px;
  padding: 0 1px;
  line-height: 140%;
}
#edit_task .label {
  width: 80px;
  padding: 4px 0 1px;
  color: #555555;
}
#edit_task .value {
  padding-bottom: 7px;
}
#edit_task .extra {
  padding-top: 3px;
  display: none;
}
#edit_task textarea {
  width: 380px;
  height: 170px;
}
#edit_task .value input.text {
  border: 1px solid #C0CAD5;
  width: 200px;
}
#edit_task .privacy_control {
  width: 380px;
  padding-top: 1px;
}
#edit_task #preview {
  border: 1px solid #C0CAD5;
  margin: 6px 0 0;
  padding: 3px;
  width: 380px;
  display: none;
}
#edit_task .date {
  padding-top: 5px;
}
#edit_task .checkbox_container table {
  margin-top: 2px;
  margin-bottom: 3px;
}
#edit_task_detailed {
  display: none;
}
#edit_task_description .value {
  line-height: 0;
}
.tasks_preview_header {
  display: block;
  cursor: pointer;
  background: #F7F7F7;
  border-bottom: 1px solid #E7EAED;
  height: 13px;
  padding: 8px;
}
a.tasks_preview_header:hover {
  text-decoration: none;
}
.tasks_preview_h_text {
  text-align: center;
}
.tasks_prg {
  margin: 0px auto;
  display: none;
  width: 32px;
  height: 13px;
  background: url(/images/upload.gif) no-repeat 50% 50%;
}
#tasks_content .stats_menu_items {
  float: right;
  margin-top: 29px;
}
#tasks_content .stats_menu_items .active {
  font-weight: bold;
}
#tasks_content .stats_head {
  border-bottom: 1px solid #DAE1E8;
  color: #47688D;
  font-weight: bold;
  margin: 0px;
  padding: 29px 0 4px;
  text-align: left;
}
#tasks_content .summary_tabs {
  margin-bottom: 20px;
}
#tasks_upload_box {
  padding: 20px;
}
#tasks_upload_photo {
  margin: 15px 0 0;
  text-align: center;
}
.tasks_upload_progress_wrap {
  width: 250px;
  height: 18px;
  margin: auto;
  background: #FFF;
  border: 1px solid #CCC;
}
.tasks_upload_progress {
  height: 18px;
  background: #597da3 url(/images/progress_grad.gif) repeat;
  border: 1px solid #45688E;
  margin: -1px;
}
#tasks_left .stats_flash_wrap {
  height: 425px;
}
#task_support #support {
  padding: 10px 0;
  line-height: 160%;
}
#task_support #support .listing {
  padding-top: 5px;
}
#task_support #support a {
  max-width: 350px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tasks_support_bind {
  line-height: 160%;
  padding: 2px 0 5px;
}
.tasks_ticket_row {
  height: 17px;
  clear: both;
}
.tasks_ticket_author {
  color: #777;
  margin: 0 2px 0 5px;
}
.tasks_ticket_unbind {
  margin-top: 3px;
  margin-left: 3px;
  background: url("/images/hide_left.gif") no-repeat scroll 0px -1px #ffffff;
  cursor: pointer;
  height: 14px;
  width: 14px;
  visibility: hidden;
  opacity: 0.5;
  clear: right;
  filter: alpha(opacity=50);
}
li.over .tasks_ticket_unbind {
  visibility: visible;
}
#task_support #support .tasks_view_icon {
  width: 40px;
}
#task_support #support .tasks_view_icon div {
  background-position: 16px -28px;
}
#tasks_support_binding {
  height: 13px;
  width: 378px;
  padding: 5px;
  outline: none;
}
#edit_task .radiobtn {
  color: #000;
  padding: 4px 0;
}
#edit_task .radiobtn div {
  margin-right: 5px;
}
#tasks_content pre {
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#task_closed_autoanswer {
  width: 373px;
  height: 70px;
}
#task_closed_autoanswer_addressing_m {
  margin: 0px 1px 1px 0px;
}
#task_support a.my {
  color: #008800;
}
#tasks_support_reply_chk {
  margin: 10px 0px 3px;
}
#tasks_support_reply_wrap {
  padding-top: 5px;
  display: none;
}
#tasks_support_reply_wrap blockquote {
  margin-bottom: 0px;
  padding-right: 0px;
}
#redmine_key {
  width: 138px;
  margin: 10px 0;
}
