#translation_css {
  display: none;
}

span.translationinfo {
  color: #777;
}
i.translated, i.untranslated {
  cursor: copy;
  font-style: normal;
}
i.translated {
  border-bottom: 1px dotted #555;
}
i i.translated {
  border-bottom: 1px solid #000;
}
i.untranslated {
  border-bottom: 1px dotted #FF0000;
}
i i.untranslated {
  border-bottom: 1px solid #FF0000;
}
.tokens a {
  border-bottom: 1px dotted;
}
.tokens a:hover {
  border-bottom: 1px solid;
}
blockquote {
  border-left:3px solid #EEE;
  margin:10px 0 10px 0px;
  padding:2px 6px;
  color: #000;
}
.inlineTransBox {
  border: 1px solid #ADBBCA;
  margin: 20px auto;
  padding: 0;
  text-align: left;
  width: 791px;
}
.inlineTransBox li {
  margin-bottom:10px;
}
.inlineTransBox h5 {
  margin-top: 0px;
  font-size: 1.18em;
}
.hidden {
  visibility: hidden;
}

#translation_inv_wrap {
  background: #F7F7F7;
  padding: 6px 9px;
  height: 30px;
  overflow: hidden;
  line-height: 130%;
}
#translation_inv_text div {
  text-align: center;
}
#translation_inv_box {
  display: none;
  text-align: center;
  margin-top: 4px;
}
#translation_inv_controls {
  display: none;
}
#translation_inv_progress {
  margin: 7px auto 0px;
}
.translation_box {
  padding: 14px;
  text-align: center;
}
.translation_box .button_gray {
  margin-top: 8px;
}
.translation_box a.button_link:hover {
  text-decoration: none;
}
.translation_box .flat_button {
  width: 150px;
  margin-top: 6px;
}
.translation_box .help {
  padding: 10px 46px;
  text-align: left;
}
.translation_inl_box h6 {
  border: none;
  font-size: 1.18em;
  color: #36638E;
  margin: 10px 0px 0px;
  padding: 0px 0px 5px;
}
.translation_inl_box .error {
  display: none;
  margin-bottom: 10px;
}
.translation_inl_box .controls {
  font-size: 0.9em;
  padding: 3px 3px 0px 0px;
}
#translation_inl_additional {
  display: none;
}
#translation_ext_wiki {
  color: #777;
}
#translation_all .loading {
  text-align: center;
  padding: 20px;
}
#translation_all h5 {
  font-size: 1.18em;
  color: #36638E;
  margin: 0px 0px 6px 8px;
}
#translation_all {
  border: 1px solid #ADBBCA;
  margin: 20px auto;
  padding: 0px;
  width: 791px;
}
#translation_all .wrap {
  border: 10px solid #DAE2E8;
  padding: 20px;
}
#translation_all .clear_fix a {
  font-size: 0.9em;
}
#translation_all li {
  margin-bottom: 10px;
}
#translation_all small {
  color: #AAA;
  float: right;
}



#en_translation_cut {
  padding: 10px 0 0;
  display: none;
}

.wide_toggle {
  cursor: pointer;
  color: #6A7989;
  background: #E9EDF1;
  padding: 9px 0px 8px;
  text-align: center;
  font-size: 11px;
  margin-top: 5px;
}

.toggle_link {
  color: #7285A4;
  font-weight: bold;
  cursor: pointer;
}
.toggle_link:hover {
  color: #45688E;
}

.key_info {
  line-height: 160%;
  margin: 7px 0 15px;
}

.info_key {
  color: #777;
}

#historyWrap {
  margin-top: 10px;
}


.tabs_wrap {
  padding: 15px 0 0 0;
}

.keys-content * {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.keys-summary {
  margin-bottom: 15px;
  font-weight: bold;
  color: #45688E;
  margin-left: -30px;
  border-bottom: 1px solid #DAE1E8;
  padding-bottom: 4px;
  width: 646px;
}

#keys-summary-text {
  margin-left: 15px;
}

.keys-list {
  padding: 0 0 0 30px;
  line-height: 140%;
  color: #333;
  width: 630px;
  float: left;
  margin-top: 15px;
}
.keys-list .key-row {
  padding: 5px;
  display: list-item;
  list-style-type: square;
  cursor: pointer;
  color: #758EAC;
  clear: both;
  margin-bottom: 3px;
}
.keys-list .key-row.untranslated {
  background-color: #FFF7DD;
}
.keys-list .key-row:hover {
  background-color: #F5F5F5;
}
.keys-list .key-row.untranslated:hover {
  background-color: #FAF0CF;
}
.keys-list .key-row .description {
  float: right;
  color: #ACACAC;
}
.keys-list .key-row .row-value-empty {
  color: #888;
}
.keys-list #key-rows {
  padding-bottom: 10px;
}

.keys-menu {
  float: right;
  padding: 14px;
  background-color: #F7F7F7;
  width: 190px;
}

#quick-search-input {
  width: 100%;
  padding: 5px;
}



#add-new-key {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.keys-filters {
  padding: 10px 0;
  border-bottom: 1px solid #DFDFDF;
  margin-bottom: 10px;
}

.section-item {
  color: #2B587A;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  display: block;
  height: 29px;
  white-space: nowrap;
}
.section-item:hover {
  text-decoration: none;
  background: #E1E7ED;
}
.section-item.selected {
  background: #5e82a8;
  color: white;
}
.section-item.selected:hover {
  background: #5e82a8;
  color: white;
}
.section-item .untranslated-badge {
  display: inline-block;
  background-color: #D5DDE5;
  color: #45688E;
  padding: 4px 5px;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 5px;
  font-size: 10px;
}
.section-item.selected .untranslated-badge {
  color: white;
  background-color: #89A4C3;
}
.section-item .section-name {
  display: inline-block;
  margin-top: 3px;
}

#progress-spinner {
  display: inline-block;
}

#key-edit-dialog {
  background-color: #F7F7F7;
}

#key-edit-dialog h2 {
  border: none;
  margin-bottom: 5px;
}

#key-edit-dialog input, #key-edit-dialog textarea {
  -padding: 7px 5px 8px;
}

#key-edit-dialog #new_key_prefix {
}

#key-edit-dialog .tokens {
  margin-top: 1px;
}
#key-edit-dialog .tokens span {
  padding: 3px 4px;
  cursor: pointer;
}
#key-edit-dialog .tokens span.prep-token {
  color: #607282;
}
#key-edit-dialog .tokens span:hover {
  background-color: #DFDFDF;
}

#key-edit-dialog .dialog-field {
  padding: 5px 0;
}
#key-edit-dialog .dialog-field-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  width: 100px;
}
#key-edit-dialog .dialog-field-value {
  display: inline-block;
  margin-left: 8px;
}
#key-edit-dialog .new-key-section-prefix {
  color: #666;
  display: inline-block;
}

#key-edit-dialog #section-newkey input#key {
  width: 200px;
}

#key-edit-dialog .original-phrase-wrap {
  background-color: white;
  padding: 20px 30px;
  max-height: 250px;
  overflow: auto;
}
#key-edit-dialog .ru_en_translation_wrap {
  margin-top: 8px;
}
#key-edit-dialog #ru_en_phrases_wrap {
  margin-top: 10px;
}
#key-edit-dialog .key_info {
  line-height: 160%;
  margin: 7px 0 15px;
}
#key-edit-dialog .info_key {
  color: #999;
}
#key-edit-dialog .key_info_wrap {
  padding: 10px 30px;
}
#key-edit-dialog .edit-sections-wrap {
  padding: 10px 30px 10px 30px;
}
#key-edit-dialog .edit-section {
  margin-bottom: 20px;
}
#key-edit-dialog textarea {
  width: 532px;
  height: 50px;
  line-height: 140%;
}
.code-font {
  font-family: Monaco, "Courier New", Courier, monospace !important;
  font-size: 12px !important;
  line-height: 140%;
}

#key-edit-dialog .history-items {
  max-height: 140px;
  overflow: auto;
}
#key-edit-dialog .history-item {
  margin-bottom: 10px;
}
#key-edit-dialog .history-item .history-item-author {
  display: inline-block;
}
#key-edit-dialog .history-item .history-item-date {
  display: inline-block;
  color: #999;
  margin-left: 10px;
}
#key-edit-dialog .history-item .history-item-phrase {
  padding: 7px 10px 7px 41px;
}
#key-edit-dialog .history-item .history-item-photo {
  float: left;
  width: 30px;
  margin-right: 10px;
  border-radius: 3px;
}

#key-edit-dialog .extended-wiki-enabled {
  position: absolute;
  right: 34px;
  background-color: rgb(245, 242, 167);
  padding: 3px 10px;
  opacity: 0.0;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#key-edit-dialog .extended-wiki-enabled.enabled {
  opacity: 1.0;
}

#key-edit-dialog .action_controls_wrap {
  display: inline-block;
  vertical-align: top;
}
#key-edit-dialog .action_input_wrap {
  display: inline-block;
  vertical-align: top;
}
#key-edit-dialog .action_input_wrap input[name=inputText] {
  margin: 0;
  height: 18px;
  padding: 0px 2px;
  width: 150px;
}
#key-edit-dialog .action_key_label {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
}
#key-edit-dialog .action_button {
  margin-left: 8px;
}
#key-edit-dialog input.clone_key_name {
  width: 160px;
}
#key-edit-dialog input.move_key_name {
  width: 160px;
}
#key-edit-dialog #action_clone_prefix {
  display: inline-block;
  line-height: 20px;
  color: #888;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 5px;
}
#key-edit-dialog #action_move_prefix {
  display: inline-block;
  line-height: 20px;
  color: #888;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 5px;
}
#key-edit-dialog .key_action_button_wrap {
  display: inline-block;
  margin-top: -1px;
}
#key-edit-dialog img#actionProgressSpinned {
  margin-top: 8px;
  margin-left: 10px;
}

#key-edit-dialog .wide_toggle {
  background: #E3E9EF;
  color: #6A788A;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin-bottom: 16px;
}
#key-edit-dialog .wide_toggle:hover {
  background: #DAE2E9;
  color: #616e7e;
}

#key-edit-dialog .sms-count-text {
  float: right;
  margin-right: 2px;
}

#history_and_parameters {
  display: none;
}

.phrase-label {
  vertical-align: top;
  color: #777;
}
.phrase-value {
  vertical-align: top;
  padding-left: 10px;
}

.toggle_link {
  color: #7285A4;
  font-weight: bold;
  cursor: pointer;
}
.toggle_link:hover {
  color: #45688E;
}

.context_flat_button {
  padding: 4px 8px 5px;
  cursor: pointer;
  color: #2B587A;
  display: inline-block;
}

.context_flat_button:hover {
  background: #E0E3E7;
}

.error-box {
  padding: 23px 30px;
  background-color: #F5D4C8;
  color: #682929;
  display: none;
}

.translation-progress {
  background-image: url(/images/upload.gif);
  width: 32px;
  height: 8px;
}
#key-edit-dialog .translation-progress {
  position: absolute;
  right: 28px;
  margin-top: -15px;
}

.lang-chooser {
  display: inline-block;
  font-weight: normal;
  float: right;
  margin-right: 20px;
}

#function_type_dd {
  position: absolute;
  right: 30px;
  margin-top: -20px;
  color: #2B587A;
}


.lang_table {
  padding: 20px 20px;
}
.lang_table .flag_cell {
  padding: 4px 0px;
  width: 34px;
  vertical-align: top;
}
.lang_status {
  background-image: url(/images/lang_status.png);
  width: 13px;
  height: 11px;
  margin: 0 auto;
}
.lang_status.lang_enabled_status {
  background-position: 0px 0px;
}
.lang_status.lang_approved_status {
  background-position: 0px -11px;
}
.lang_status.lang_disabled_status {
  height: 0px;
  width: 0px;
}
.lang_table .na_value {
  color: #999;
  display: block;
  text-align: center;
}

.lang_health_indicator {
  background-image: url(/images/lang_indicators.png);
  width: 16px;
  height: 12px;
  margin: 0 auto;
}
.lang_health_indicator.none {
  background-position: 0px 0px;
}
.lang_health_indicator.red {
  background-position: 0px -14px;
}
.lang_health_indicator.yellow {
  background-position: 0px -28px;
}
.lang_health_indicator.green {
  background-position: 0px -42px;
}

.table_legend {
  padding: 10px 20px;
  display: inline-block;
  vertical-align: top;
}
.table_legend .lang_health_indicator {
  display: inline-block;
  vertical-align: top;
}
.table_legend .legend_text {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 6px;
}
.table_legend .lang_status {
  display: inline-block;
}
