#uncommon_css {
  display: none;
}
.message_page {
  padding: 50px;
}
.message_page .title {
  background: #DAE2E8;
  color: #45688E;
  border-top: 1px solid #B1BDD6;
  font-weight: bold;
  padding: 3px 11px;
}
.message_page .body {
  background: #F7F7F7;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #DAE2E8;
  padding: 15px 25px;
}
.message_page .button_blue {
  display: block;
  margin: 15px auto 0px;
  width: 100px;
}
.message_page .button_blue button {
  width: 100%;
}
.top_info_bar {
  border-bottom: 1px solid #d7cf9e;
  background-color: #fff8cc;
}
.top_info_bar .info {
  padding: 8px;
  text-align: center;
}
.top_info_bar .info .text {
  width: 740px;
  margin: 0px auto;
}
.top_info_bar .info .aligned_text {
  padding-right: 26px;
  padding-left: 157px;
  text-align: left;
  padding-top: 0px;
  margin: 0px auto;
  width: 608px;
  line-height: 160%;
}
.top_info_wrap .hide_button {
  cursor: pointer;
  position: relative;
  z-index: 5;
  margin: 6px 10px 0px;
  background: url(/images/pics/statusx_op.gif) 2px 4px no-repeat;
  opacity: 0.7;
  filter: alpha(opacity=70);
  height: 19px;
  width: 15px;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.top_info_wrap .hide_button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#custom_bar.top_info_wrap .hide_button,
#custom_bar_high.top_info_wrap .hide_button,
#win_app_bar.top_info_wrap .hide_button {
  margin-top: 14px;
}
.confirm_mail .info div,
.top_info_bar .info div {
  padding-top: 5px;
}
.confirm_mail .info div.text,
.top_info_bar .info div.text {
  padding-top: 0px;
}
.top_info_bar_blue {
  border-bottom: 1px solid #B8C7D3;
  background-color: #F2F4FF;
}
.top_info_bar_blue .info {
  line-height: 150%;
}
.top_info_bar_blue .info div {
  line-height: 100%;
}
#change_mail_box {
  padding: 10px 0px 0px;
}
#change_mail_box .clear_fix {
  padding-bottom: 10px;
}
#change_mail_box .label {
  color: #777;
  padding: 4px 10px 0px;
  text-align: right;
  width: 120px;
}
#change_mail_box .labeled {
  width: 210px;
}
#change_mail_box .error {
  display: none;
}
#change_mail_box .labeled .text {
  width: 202px;
  margin: 0px;
}
#change_mail_box .msg {
  margin-bottom: 10px;
}
.settings_box_container .label {
  padding: 5px 15px 3px 0;
  width: 95px;
  clear: both;
}
.settings_box_container .labeled {
  width: 260px;
  padding: 2px 0 3px 0;
}
.settings_box_container .labeled input {
  width: 160px;
}
.settings_box_container .labeled span {
  padding-top: 5px;
  display: block;
  color: #555;
}
#email_bind_error {
  margin-bottom: 16px;
  display: none;
  line-height: 160%;
  text-align: left;
}
#welcome_translator {
  margin: 15px 0 5px;
}
#welcome_translator .cell {
  vertical-align: top;
}
#welcome_translator .text {
  padding: 4px 5px 10px;
}
#welcome_translator .label.text {
  color: #777;
  padding: 4px 10px 10px;
}
#welcome_translator textarea {
  width: 313px;
  height: 100px;
}
#phone_validation_box .msg {
  display: none;
  margin-bottom: 10px;
}
#phone_validation_box .clear_fix {
  padding: 10px 0px;
}
#phone_validation_box .label {
  padding: 4px 10px 0px;
  color: #777;
  width: 150px;
}
#phone_validation_box .labeled {
  width: 200px;
}
#phone_validation_box .labeled input {
  width: 150px;
}
#phone_validation_box .labeled small {
  color: #777;
}
#phone_validation_box .info {
  padding-top: 10px;
}
#phone_validation_box .info a {
  font-weight: bold;
}
#phone_validation_box .info div,
#phone_validation_complaint {
  display: none;
}
#security_check {
  padding: 17px 30px 18px 30px;
  line-height: 140%;
}
#security_check .label {
  color: #777;
  font-size: 1em;
  width: 190px;
  padding: 0px 10px;
}
#security_check .phone_postfix {
  color: #777;
  font-size: 1em;
  padding: 0px 10px;
}
#security_check #logout_lnk {
  margin: 0px 10px;
}
#security_check #logout_lnk:hover {
  text-decoration: none;
}
#check_change {
  margin-bottom: 10px;
  line-height: 160%;
}
#check_msg {
  margin-bottom: 10px;
}
#change_phone_cont {
  margin-top: 15px;
}
#restore_cancel_error {
  display: none;
  margin-bottom: 10px;
}
#restore_cancel_box {
  line-height: 140%;
}
#restore_cancel_box .clear_fix {
  padding: 10px 0px;
}
#restore_cancel_box .label {
  padding: 4px 10px 0px;
  color: #777;
  width: 150px;
}
#restore_cancel_box .labeled {
  width: 200px;
}
#restore_cancel_box .labeled input {
  width: 150px;
}
#vk_com_only .info {
  padding: 8px;
  text-align: center;
  line-height: 160%;
}
.vk_com_only_about {
  line-height: 160%;
  font-size: 1.09em;
  padding: 10px 15px;
}
.vk_com_only_header {
  font-size: 1.18em;
  font-weight: bold;
  color: #45688E;
  padding: 10px 15px 9px;
}
ul.vk_com_only_good {
  font-size: 1.09em;
  line-height: 1.72em;
  padding-left: 45px;
}
.is_rtl1 ul.vk_com_only_good {
  padding-left: 0px;
  padding-right: 45px;
}
.vk_com_only_img {
  width: 320px;
  height: 160px;
  background: url(/images/join/vkcomonly.gif) no-repeat;
  margin: 10px auto;
}
.vk_com_only_hide {
  text-align: center;
  padding: 21px 0px 10px;
}
#validation_box {
  line-height: 160%;
}
#validation_box h2 {
  font-size: 1.09em;
}
.validation_text {
  width: 460px;
  margin: 20px auto 21px;
  text-align: center;
  font-size: 1.09em;
}
.validation_row {
  width: 154px;
  margin: 0px auto 10px;
}
.validation_label {
  padding: 6px 0px 10px 0px;
  font-weight: bold;
  font-size: 1.09em;
  color: #45688E;
}
#validation_submit_result {
  display: none;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 4px 11px 5px;
  text-align: left;
}
#validation_phone,
#validation_code,
#validation_password {
  width: 144px;
  outline: none;
}
#validation_other_phone {
  position: absolute;
  margin: -22px 0px 0px 165px;
}
.validation_submit_row {
  width: 154px;
  margin: 11px auto 0px;
}
.validation_row input.validation_readonly,
.validation_readonly_wrap {
  background: #E1E7ED!important;
}
.validation_no_code,
.validation_skip {
  padding-top: 10px;
  text-align: center;
}
.validation_no_code {
  color: #777;
  text-align: center;
}
.validation_img {
  width: 160px;
  height: 160px;
  background-image: url(/images/join/finish_f.png);
  margin: 20px auto 0;
}
#validation_phone_table {
  border: 1px solid #C0CAD5;
  width: 154px;
  background-color: #fff;
}
#validation_phone_prefix {
  vertical-align: top;
  width: 1px;
  color: #777;
  font-size: 1.09em;
  padding: 5px 1px 4px 5px;
  line-height: 15px;
}
.validation_readonly_wrap #validation_phone_prefix {
  color: #000;
}
.validation_phone_field {
  vertical-align: top;
  width: 100%;
  padding: 4px 0px 0px;
}
#validation_phone_table #validation_phone {
  width: 100%;
  outline: none;
  border: 0px;
  padding: 0px;
  margin: 0px -1px;
  background: transparent;
}
#validation_country_row .selector_container td.selector {
  padding-top: 5px;
  padding-bottom: 2px;
}
#validation_country_row .disabled.selector_container .selector_dropdown {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
}
.validation_tt_pointer {
  behavior: url(/js/iepngfix.htc);
  background: url(/images/ddtooltip.png) 0 0 no-repeat;
  width: 8px;
  height: 11px;
  position: absolute;
  left: -7px;
  overflow: hidden;
  z-index: 10;
  top: 31px;
}
.is_rtl1 .validation_tt_pointer {
  left: auto;
  right: -7px;
  background-position: -8px 0;
}
.validation_tt table .tt_text {
  line-height: 120%;
  color: #000;
  padding: 10px;
  width: 200px;
}
.validation_phone_tt table div.tt_text {
  width: 220px;
}
.validation_resend_box {
  line-height: 160%;
}
.validation_robot {
  width: 160px;
  height: 160px;
  margin: -7px auto -9px;
  background: url(/images/join/robot.gif) no-repeat;
}
.validation_password_box {
  padding: 25px;
  padding-bottom: 35px;
}
.validation_password_box .validation_text {
  margin-top: 0;
  width: 350px;
}
.validation_password_box .validation_row,
.validation_password_box .validation_submit_row {
  width: 160px;
}
.validation_password_box #validation_password {
  width: 150px;
}
#validation_box_topic_wrap {
  background: #597BA5;
  padding: 10px 10px 11px;
  position: relative;
  overflow: hidden;
}
.validation_box_close {
  padding: 17px 26px 18px;
  margin: -10px -10px -11px;
  color: #C7D7E9;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
.validation_box_close:hover {
  color: #FFF;
  text-decoration: none;
}
#validation_box_topic {
  color: #FFF;
  padding: 7px 16px;
  margin-left: 26px;
  font-weight: bold;
  font-size: 1.09em;
}
#validation_box_ava {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: -1px;
}
#validation_box_ava .wdd_img {
  width: 32px;
}
#validation_box_ava .wdd_img_full {
  width: 32px;
  height: 32px;
}
.push_activation_box .validation_row,
.push_activation_box .validation_submit_row {
  width: 154px;
}
.font_medium .push_activation_box .validation_row,
.font_medium .push_activation_box .validation_submit_row {
  width: 164px;
}
#push_validation_no_push {
  text-align: center;
}
#push_validation_options {
  padding: 10px 0 0 10px;
}
#push_validation_options ul.listing {
  margin: 0;
  padding-left: 10px;
}
#push_validation_result {
  margin: 20px 0 0 0;
  color: #777;
  text-align: center;
}
.push_validation_img {
  width: 160px;
  height: 160px;
  background-image: url(/images/push_check.png);
  margin: 20px auto 0;
}
.push_validation_box .validation_row,
.push_validation_box .validation_submit_row {
  width: 170px;
}
.push_validation_box #validation_code {
  width: 160px;
}
.push_validation_box .validation_text {
  margin-bottom: 15px;
}
.validation_devices_wrap {
  margin-bottom: 20px;
}
#validation_device_row .radiobtn,
.validation_devices_wrap .radiobtn {
  margin-bottom: 12px;
  width: 250px;
  font-weight: bold;
}
#validation_device_row .radiobtn.disabled,
.validation_devices_wrap .radiobtn.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.validation_devices_wrap .radiobtn div {
  margin-left: 14px;
  margin-right: 10px;
}
.validation_device_notice {
  display: block;
  padding: 2px 0 0 19px;
  color: #777;
  font-weight: normal;
}
.validation_device_notice a {
  font-size: 0.91em;
}
.validation_devices_wrap .validation_device_notice {
  padding-left: 39px;
}
.validation_device_thumb {
  background: url(/images/icons/vk_app.png) no-repeat 0 0;
  width: 29px;
  height: 29px;
  margin-right: 10px;
}
.validation_device_thumb_android {
  background-image: url(/images/icons/android_app.png);
}
.validation_device_thumb_android_ru {
  background-image: url(/images/icons/android_ru_app.png);
}
.validation_device_info {
  color: #777;
  line-height: 120%;
}
.validation_device_info_name {
  padding-bottom: 2px;
  color: #000;
  font-weight: bold;
}
.validation_no_push {
  display: block;
  font-size: 1.09em;
  text-align: center;
  margin-top: 15px;
}
#validation_send_phone {
  padding: 7px 7px;
}
/* binding email */
.bindmail_img {
  margin: 20px 0 15px 0;
  text-align: center;
}
.bindmail_desc {
  padding: 0 30px;
}
.bindmail_form {
  padding: 15px 85px 22px;
  background-color: #F0F0F0;
  text-align: center;
}
.bindmail_label {
  padding-bottom: 15px;
  font-weight: bold;
  color: #45688E;
}
.bindmail_controls {
  margin: 0 auto;
  width: 195px;
}
.bindmail_controls #bind_email {
  margin-bottom: 10px;
  width: 187px;
  font-size: 1.09em!important;
}
#bindemail_error {
  margin: 0 -55px 10px;
  padding: 4px 11px;
  font-weight: normal;
  text-align: left;
  display: none;
}
#bindmail_button {
  font-size: 1.09em;
}
.login_bad_link_box {
  padding: 10px;
  font-size: 13px;
  line-height: 160%;
}
.login_bad_link_header {
  font-size: 15px;
  font-weight: bold;
  color: #45688E;
  padding-bottom: 20px;
}
.login_bad_link {
  white-space: nowrap;
}
.login_bad_link_text {
  padding-bottom: 20px;
}
.login_bad_link_pic {
  text-align: center;
  padding-bottom: 20px;
}
.login_bad_link_img {
  width: 225px;
  height: 160px;
}
.login_bad_link_button button {
  font-size: 13px;
  white-space: nowrap;
}
.login_bad_link_cancel {
  font-size: 13px;
  margin: 0px 20px;
  white-space: nowrap;
}
.login_bad_link_buttons {
  width: 100%;
}
.login_bad_link_buttons td {
  width: 50%;
  text-align: center;
}
#save_fv_bar,
#chrome_bar,
#win_app_bar,
#custom_bar {
  height: 48px;
  position: relative;
  overflow: visible;
}
#custom_bar_high {
  height: 128px;
  position: relative;
  overflow: visible;
}
.hide_button_good {
  *display: none;
}
.hide_button_ie6 {
  display: none;
  *display: block;
}
#save_fv_bar_content,
#chrome_bar_content {
  color: #5E7488;
  font-size: 12px;
  font-weight: bold;
  height: 36px;
  padding-top: 12px;
  text-align: center;
  margin-left: 40px;
}
#custom_bar_content,
#win_app_bar_content {
  color: #69839f;
  font-size: 12px;
  font-weight: bold;
  height: 32px;
  padding-top: 16px;
  text-align: center;
  margin-left: 40px;
}
#custom_bar_high_content {
  color: #69839f;
  height: 82px;
  font-size: 12px;
  padding-top: 16px;
  text-align: center;
  line-height: 180%;
}
#save_fv_bar_bg,
#chrome_bar_bg,
#win_app_bar_bg,
#custom_bar_bg {
  background: url(/images/chrome_bar.gif) repeat-x left top;
  margin-top: -48px;
  height: 52px;
}
#custom_bar_high_bg {
  margin-top: -18px;
  height: 92px;
}
.chrome_bar_a {
  color: #3E698F;
}
.custom_bar_a,
.win_app_bar_a {
  color: #45688e;
}
.chrome_bar_img {
  width: 39px;
  height: 27px;
  background: url(/images/chrome_icon.gif) no-repeat center center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.win_app_bar_img {
  width: 21px;
  height: 22px;
  background: url(/images/win8_header_logo.png) no-repeat center center;
  margin-right: 9px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  top: -3px;
}
#save_fv_bar_content .button_blue,
#save_fv_bar_content .button_gray {
  margin-left: 10px;
}
.save_fv_bar_label {
  display: inline-block;
  padding: 5px 0 0;
  vertical-align: top;
}
.validation_last_wrap {
  padding: 30px;
}
.validation_last_header {
  font-weight: bold;
  font-size: 15px;
  color: #45688E;
  padding-bottom: 16px;
}
.validation_last_text {
  font-size: 13px;
  padding-bottom: 20px;
  line-height: 160%;
}
.validation_last_buttons {
  margin-top: 15px;
  width: 100%;
}
div.validation_last_button button {
  font-size: 13px;
}
div.validation_last_button .button {
  padding: 7px 10px;
  font-size: 13px;
}
.validation_last_sep {
  width: 15px;
}
.lang_box_row {
  display: block;
  padding: 0 10px;
}
.lang_box_row:hover {
  background-color: #EDF0F4;
  text-decoration: none;
}
.lang_box_row_label {
  display: block;
  padding-left: 50px;
  height: 42px;
  line-height: 42px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 34px 26px;
  color: #426A87;
  font-weight: bold;
}
.lang_selected .lang_box_row_label {
  color: #333333;
}
.lang_selected:hover {
  background-color: transparent!important;
  cursor: default;
}
.shorten_page {
  padding: 115px 15px;
}
.shorten_about {
  padding-bottom: 50px;
  text-align: center;
  font-size: 12px;
  line-height: 160%;
}
.shorten_page .button_big button {
  font-size: 12px;
}
.shorten_row {
  width: 278px;
  margin: 0px auto;
}
.shorten_input {
  padding: 15px 0px;
}
#shorten_link {
  width: 268px;
}
.shorten_result {
  height: 35px;
  overflow: hidden;
  margin-top: 15px;
}
#shorten_error,
#shorten_result {
  display: none;
}
#shorten_short {
  font-size: 19px;
  font-weight: bold;
  padding: 5px 4px;
  width: 268px;
  background: #E1E7ED;
}
.layerbox {
  line-height: 160%;
}
.layerbox h2 {
  font-size: 1.09em;
}
.layerbox_text {
  width: 413px;
  margin: 20px auto 21px;
  text-align: center;
  font-size: 1.09em;
}
.layerbox_row {
  width: 134px;
  margin: 0px auto 10px;
}
.layerbox_label {
  padding: 6px 0px 10px 0px;
  font-weight: bold;
  font-size: 1.09em;
  color: #45688E;
}
#layerbox_submit_result {
  display: none;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 4px 11px 5px;
  text-align: left;
}
.layerbox_submit_row {
  width: 134px;
  margin: 11px auto 0px;
}
.layerbox_img {
  margin: 20px 0 0 0;
  text-align: center;
}
.layerbox .inp_sep {
  padding-right: 5px;
}
#birthday_box .layerbox_row,
#birthday_box .layerbox_submit_row {
  width: 220px;
}
#city_box .layerbox_row,
#city_box .layerbox_submit_row {
  width: 150px;
}
#city_box_country_row {
  position: relative;
}
#city_box_country_progress {
  display: none;
  margin: 7px 8px;
  position: absolute;
  left: 150px;
}
#actualize_box .layerbox_row,
#actualize_box .layerbox_submit_row {
  width: 270px;
}
#actualize_box_inp {
  width: 248px;
}
#actualize_box .layerbox_left_btn_td {
  padding-right: 5px;
}
#actualize_box .layerbox_right_btn_td {
  padding-left: 5px;
}
.is_rtl1 #actualize_box .layerbox_left_btn_td {
  padding-right: 0;
  padding-left: 5px;
}
.is_rtl1 #actualize_box .layerbox_right_btn_td {
  padding-right: 5px;
  padding-left: 0;
}
#actualize_box_show_lnk {
  position: absolute;
  right: 10px;
  top: 6px;
}
.is_rtl1 #actualize_box_show_lnk {
  right: auto;
  left: 10px;
}
#actualize_box .layerbox_img {
  width: 100%;
  height: 160px;
}
.actualize_phone_box .layerbox_img {
  background: url(/images/join/finish_f.png) no-repeat 50% 0;
}
.actualize_email1_box .layerbox_img {
  background: url(/images/pics/email.png) no-repeat 50% 0;
}
.actualize_email2_box .layerbox_img {
  background: url(/images/pics/email2.png) no-repeat 50% 0;
}
.actualize_email_en_box .layerbox_img {
  background: url(/images/pics/email_en.png) no-repeat 50% 0;
}
/* password change */
.passchange_img {
  margin-top: 20px;
  text-align: center;
}
.passchange_desc {
  padding: 0 30px;
}
#passchange_form {
  padding: 15px 85px 22px;
  background-color: #F0F0F0;
  text-align: center;
}
.passchange_label {
  padding-bottom: 15px;
  font-weight: bold;
  color: #45688E;
}
.passchange_email {
  margin: 0 auto 15px;
  width: 187px;
  padding: 3px;
  border: 1px solid #C0CAD5;
  font-size: 1.09em !important;
  background: #E1E7ED;
}
.passchange_controls {
  margin: 0 auto;
  width: 195px;
}
#passchange_wrap {
  padding-bottom: 15px;
}
#passchange_input {
  width: 187px;
  font-size: 1.09em !important;
}
#passchange_error {
  margin: 15px 15px 0px;
  padding: 4px 11px;
  font-weight: normal;
  display: none;
}
#passchange_button {
  font-size: 1.09em;
}
#passchange_about {
  position: absolute;
  margin-top: -1px;
  height: 5px;
  width: 195px;
  overflow: hidden;
}
.passchange_level0 {
  display: none;
}
.passchange_level1 {
  background: #CD4849;
  width: 25%;
}
.passchange_level2 {
  background: #FF762D;
  width: 50%;
}
.passchange_level3 {
  background: #C9B72D;
  width: 75%;
}
.passchange_level4 {
  background: #60B92B;
  width: 100%;
}
#passchange_strength {
  color: #777;
}
.passchange_about {
  padding: 2px 0 3px;
  font-size: 0.9em;
  color: #777;
}
#audios_list .audio_edited a {
  color: #777777;
}
#left_other_rows {
  margin-top: -21px;
  display: none;
  overflow: hidden;
  background: #FFF;
  position: relative;
}
.posts_limit_header {
  margin-bottom: 10px;
  font-size: 1.09em;
  font-weight: bold;
  color: #45668e;
}
.posts_limit_notice {
  padding-bottom: 20px;
  line-height: 160%;
}
.posts_limit_notice .listing {
  padding-left: 24px;
}
.posts_limit_label {
  padding-top: 7px;
  color: #777;
  width: 100px;
}
#posts_limit_error {
  margin-bottom: 10px;
}
#posts_limit_comment {
  width: 300px;
  height: 50px;
}
