#widget_auth_css {
  display: none;
}

.auth_widget_head {
  background: #5B7FA6;
  padding: 4px 5px 4px 8px;
  color: #FFFFFF;
  font-weight: bold;
  vertical-align: middle;
  height: 18px;
}
.auth_head_icon {
  height: 18px;
  width: 18px;
  overflow: hidden;
}
.auth_logo {
  background: url(/images/icons/w_comments_logo.png) 0px 0px no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
}
.is_2x .auth_logo {
  background-image: url(/images/icons/w_comments_logo_2x.png);
}
.auth_widget_head a {
  line-height: 16px;
  vertical-align: top;
}
.auth_widget_head .fl_r {
  font-weight: normal;
}
.auth_widget_head span {
  line-height: 16px;
  vertical-align:top;
}
.auth_widget_head span img {
  vertical-align: top;
  margin-top: 5px;
  margin-left: 5px;
}
.auth_widget_head a.moderLink {
  color: #A9B8CB;
  margin-left: 5px;
}

.auth_user_pic {
  overflow: hidden;
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 4px;
}
.auth_user_pic img {
  width: 25px;
  height: 25px;
}
.auth_user_info {
  float: left;
  padding-left: 8px;
  padding-top: 2px;
  color: #999999;
  font-size: 11px;
  font-weight: normal;
}
.auth_user_info .name {
  display: block;
  font-size: 11px;
}
.auth_user_info a:hover {
  text-decoration: underline;
  color: #2B587A;
}
.auth_user_info .logout {
  color: #888888;
}
.auth_user_info .logout:hover {
  text-decoration: underline;
  color: #888888;
}
.auth_friends_list {
  background: #FFFFFF;
  border-top: 1px solid #ccd3da;
  padding: 4px 8px 8px 8px;
}
.friend {
  margin-right: 5px;
}
#auth_user_block {
  *height: 29px;
}
.auth_not_authed {
  color: #888888;
  text-align: center;
  padding: 10px 4px;
}
